USE [spring12052023]
GO
/****** Object:  StoredProcedure [dbo].[ReportesApp_Combusible_Registrar_UnidadesBloqueadas]    Script Date: 07/17/2023 08:36:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Kevin Garcia
-- Create date: 28-03-2023
-- Description:	Registra y libera una unidad bloqueada por ruta
-- =============================================
/*
exec ReportesApp_Combusible_Registrar_UnidadesBloqueadas @Accion=1,@idTracto=5129,@xmlRuta=N'<?xml version="1.0" encoding="UTF-8"?><r><rutas ID="1158" descripcion=" CALLAO - ICA - CALLAO" /><rutas ID="1040" descripcion="ALM. SEABOARD - ALM. MOLINORTE (MOCHE)" /></r>',@MotivoBloqueo=N'dfgdfhdfhdff',@Usuario=N'GREYES'
*/

ALTER PROCEDURE [dbo].[ReportesApp_Combusible_Registrar_UnidadesBloqueadas]
@Accion INT,
@Usuario VARCHAR(30),
@xmlRuta VARCHAR(MAX),
@IdTracto INT,
@MotivoBloqueo VARCHAR(200)
AS	
DECLARE @exito VARCHAR(MAX)	
DECLARE @correlativo INT
DECLARE @c2 INT
DECLARE @Nro INT
DECLARE @IdRuta INT
DECLARE @idoc INT
DECLARE @TEMP_RUTA TABLE(
		Correlativo INT,
		IdRuta INT,
		Descripcion VARCHAR(250))

SET @Exito = '0 = Unidad bloqueada.'

SET @correlativo = (SELECT MAX(Correlativo) FROM @TEMP_RUTA)
SET @correlativo = ISNULL(@correlativo,0) + 1 
SET @c2 = (SELECT MAX(idBloqueo) FROM ReportesApp_Combustible_UnidadesBloqueadasXRuta_Registro)
SET @c2 = ISNULL(@c2,0) + 1 
SET @Nro = 0

BEGIN TRAN
BEGIN TRY		
	IF @Accion = 1 BEGIN   --Registra un nuevo bloqueo por ruta.
		IF (@xmlRuta IS NOT NULL) BEGIN
			EXEC sp_xml_preparedocument @idoc OUTPUT, @xmlRuta
			INSERT INTO @TEMP_RUTA(Correlativo, IdRuta, Descripcion)
			SELECT ROW_NUMBER() OVER(ORDER BY @correlativo ASC),* FROM OPENXML(@idoc,N'/r/rutas')
			WITH (ID INT, descripcion VARCHAR(250));
			EXEC sp_xml_removedocument @idoc;
		END
		
		WHILE (@Nro <= (SELECT MAX(Correlativo) FROM @TEMP_RUTA)) BEGIN
			IF EXISTS(SELECT * FROM ReportesApp_Combustible_UnidadesBloqueadasXRuta WHERE IdTracto = @IdTracto AND IdRuta = (SELECT IdRuta FROM @TEMP_RUTA WHERE Correlativo = @Nro)) BEGIN
				DECLARE @PLACA VARCHAR(50)
				DECLARE @RUTA VARCHAR(250)
				SET @PLACA = (SELECT Numeroplaca from OP_TR_Vehiculo WHERE @IdTracto = IdVehiculo) 
				SET @RUTA = (SELECT Descripcion FROM OP_TR_Ruta WHERE IdRuta = (SELECT IdRuta FROM @TEMP_RUTA WHERE Correlativo = @Nro))
				SET @Exito = '-1 = La placa '+ @PLACA +' ya tiene bloqueada(s) esta(s) ruta(s).'
				ROLLBACK
				GOTO Terminar
			END
			ELSE BEGIN
				INSERT INTO ReportesApp_Combustible_UnidadesBloqueadasXRuta(IdTracto,IdRuta,MotivoBloqueo,FHBloqueo,UserBloqueo)
				SELECT @idTracto, R.IdRuta, @MotivoBloqueo, GETDATE(), @Usuario FROM @TEMP_RUTA R
				WHERE R.Correlativo = @Nro
			END
			SET @Nro = @Nro + 1
		END
		
		INSERT INTO ReportesApp_Combustible_UnidadesBloqueadasXRuta_Registro(idBloqueo,idTracto,MotivoBloqueo,FHBloqueo,Usuario)
		VALUES(@c2, @IdTracto, @MotivoBloqueo, GETDATE(), @Usuario)
	END
-----------------------------------------------------------------------------------------------------------------------------
	IF @Accion = 2 BEGIN   --Libera la unidad bloqueada y luego mando a la tabla historico
		INSERT INTO ReportesApp_Combustible_UnidadesBloqueadasXRuta_Historico 
		SELECT IdTracto,IdRuta,MotivoBloqueo,GETDATE(),UserBloqueo from ReportesApp_Combustible_UnidadesBloqueadasXRuta 
		WHERE IdTracto = @IdTracto AND MotivoBloqueo = @MotivoBloqueo
		
		DELETE FROM ReportesApp_Combustible_UnidadesBloqueadasXRuta_Registro
		WHERE IdTracto = @IdTracto AND MotivoBloqueo = @MotivoBloqueo
				
		DELETE FROM ReportesApp_Combustible_UnidadesBloqueadasXRuta
		WHERE IdTracto = @IdTracto AND MotivoBloqueo = @MotivoBloqueo
		
		SET @exito = '0 = Unidad liberada exitosamente.'
	END	
END TRY

BEGIN CATCH
	SET @exito = RTRIM(LTRIM(STR(ERROR_NUMBER()))) + '=' + ERROR_MESSAGE()
	ROLLBACK
	GOTO Terminar
END CATCH

IF @@TRANCOUNT > 0
	COMMIT;
	--ROLLBACK
	
TERMINAR:
IF LEFT(@Exito,1)='-' OR cast(left(@Exito,1) AS INT)>0 BEGIN
	DECLARE @storedProcedureName VARCHAR(100)
	SELECT @storedProcedureName = OBJECT_NAME(@@PROCID)
	SET @exito = @exito + CHAR(13)+CHAR(13)+'SP Name: '+@storedProcedureName
END

SELECT @exito exito

-----------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Kevin Garcia 
-- Create date: 28-03-2023
-- Description:	Lista las unidades bloqueadas por ruta
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Combusible_Listar_UnidadesBloqueadas]
AS	
BEGIN 
	SELECT BLOC.IdTracto, VEH.NumeroPlaca, BLOC.FHBloqueo AS 'FechaBloqueo', BLOC.MotivoBloqueo, BLOC.Usuario AS 'Usuario'
	FROM ReportesApp_Combustible_UnidadesBloqueadasXRuta_Registro BLOC
	LEFT JOIN OP_TR_Vehiculo VEH ON BLOC.IdTracto = VEH.IdVehiculo
	ORDER BY BLOC.FHBloqueo DESC
END	

-----------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Kevin Garcia
-- Create date: 29-03-2023
-- Description:	Buscar mediante la placa las unidades bloqueadas
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Combusible_Buscar_UnidadesBloqueadas]
@Placa VARCHAR(7)
AS
BEGIN
	SELECT BLOC.idBloqueo, BLOC.IdTracto, VEH.NumeroPlaca, BLOC.FHBloqueo AS 'FechaBloqueo', BLOC.MotivoBloqueo, BLOC.Usuario AS 'Usuario'
	FROM ReportesApp_Combustible_UnidadesBloqueadasXRuta_Registro BLOC
	LEFT JOIN OP_TR_Vehiculo VEH ON BLOC.idTracto = VEH.IdVehiculo
	WHERE (@Placa IS NULL OR VEH.NumeroPlaca LIKE '%' + @Placa + '%')
	ORDER BY BLOC.FHBloqueo DESC
END

-----------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 18-07-2023
-- Description:	LISTAR REGISTRO DE UNIDADES BLOQUEADAS X RUTA
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Combusible_ListarRegistro_UnidadesBloqueadas]
@IdTracto INT,
@MotivoBloqueo VARCHAR(200)
AS	
BEGIN 
	SELECT BLOC.IdRuta,BLOC.IdTracto,VEH.NumeroPlaca,RUT.Descripcion + ' ('+RUT.Codigo+')' as Ruta,BLOC.FHBloqueo AS FechaBloqueo,SUBSTRING(CAST(BLOC.FHBloqueo AS VARCHAR(50)),12,11) AS HoraBloqueo,
	BLOC.MotivoBloqueo,BLOC.UserBloqueo FROM ReportesApp_Combustible_UnidadesBloqueadasXRuta BLOC
	LEFT JOIN OP_TR_Vehiculo VEH ON BLOC.IdTracto = VEH.IdVehiculo
	LEFT JOIN OP_TR_Ruta RUT ON RUT.IdRuta = BLOC.IdRuta
	WHERE BLOC.IdTracto = @IdTracto
	ORDER BY BLOC.FHBloqueo DESC
END	

-----------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 18-07-2023
-- Description:	LISTAR REGISTRO DE UNIDADES BLOQUEADAS X RUTA
-- =============================================
CREATE PROCEDURE [dbo].[ReportesApp_Combusible_ListarHistorial_UnidadesBloqueadas]
@FECHINI VARCHAR(10),
@FECHFIN VARCHAR(10),
@TRACTO VARCHAR(10)
AS	
BEGIN 
	DECLARE @FINICIO DATETIME = @FECHINI
	DECLARE @FFIN DATETIME = @FECHFIN + ' 23:59'	
	
	SELECT BLOC.IdRuta,BLOC.IdTracto,VEH.NumeroPlaca,RUT.Descripcion as Ruta,BLOC.FechaAnulado AS FechaAnulado,
	BLOC.MotivoBloqueo,BLOC.UsuarioAnulado FROM ReportesApp_Combustible_UnidadesBloqueadasXRuta_Historico BLOC
	LEFT JOIN OP_TR_Vehiculo VEH ON BLOC.IdTracto = VEH.IdVehiculo
	LEFT JOIN OP_TR_Ruta RUT ON RUT.IdRuta = BLOC.IdRuta
	WHERE BLOC.FechaAnulado BETWEEN @FINICIO AND @FFIN 
	AND REPLACE(REPLACE(VEH.NumeroPlaca,'-',''),'.','') LIKE '%'+REPLACE(REPLACE(@TRACTO,'-',''),'.','') +'%'
	ORDER BY CONVERT(DATETIME,BLOC.FechaAnulado) DESC
END

-----------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 25-04-2023
-- Description:	ELIMINAR RUTAS BLOQUEADAS DE UNIDADES
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Combusible_EliminarRuta_UnidadesBloqueadas]
@IdRuta INT,
@IdTracto INT,
@MotivoBloqueo VARCHAR(MAX)
AS	
DECLARE @exito VARCHAR(MAX)	

SET @exito = '0 = Unidad liberada exitosamente.'

BEGIN TRAN
BEGIN TRY
	INSERT INTO ReportesApp_Combustible_UnidadesBloqueadasXRuta_Historico 
	SELECT IdTracto,IdRuta,MotivoBloqueo,GETDATE(),UserBloqueo
	FROM ReportesApp_Combustible_UnidadesBloqueadasXRuta 
	WHERE IdTracto = @IdTracto AND IdRuta = @IdRuta AND MotivoBloqueo = @MotivoBloqueo
		
	DELETE FROM ReportesApp_Combustible_UnidadesBloqueadasXRuta
	WHERE IdTracto = @IdTracto AND IdRuta = @IdRuta AND MotivoBloqueo = @MotivoBloqueo

	IF ((SELECT COUNT(*) FROM ReportesApp_Combustible_UnidadesBloqueadasXRuta
	WHERE IdTracto = @IdTracto AND MotivoBloqueo = @MotivoBloqueo) = 0) BEGIN
		DELETE FROM ReportesApp_Combustible_UnidadesBloqueadasXRuta_Registro
		WHERE IdTracto = @IdTracto AND MotivoBloqueo = @MotivoBloqueo 
	END
END TRY

BEGIN CATCH
	SET @exito = RTRIM(LTRIM(STR(ERROR_NUMBER()))) + '=' + ERROR_MESSAGE()
	ROLLBACK
	GOTO Terminar
END CATCH

IF @@TRANCOUNT > 0
	COMMIT;
	--ROLLBACK
	
TERMINAR:
IF LEFT(@Exito,1)='-' OR cast(left(@Exito,1) AS INT)>0 BEGIN
	DECLARE @storedProcedureName VARCHAR(100)
	SELECT @storedProcedureName = OBJECT_NAME(@@PROCID)
	SET @exito = @exito + CHAR(13)+CHAR(13)+'SP Name: '+@storedProcedureName
END

SELECT @exito exito
