USE [spring]
GO
/****** Object:  StoredProcedure [dbo].[ReportesApp_Operaciones_Capacitaciones_RegistrarEditarDocumentos]    Script Date: 08/07/2026 12:14:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 17-04-2026
-- Description:	INSERTAR DOCUMENTOS CAPACITACION
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Operaciones_Capacitaciones_RegistrarEditarDocumentos]
@Opcion INT,
@idCapacitacion INT,
@Capacitacion VARCHAR(500),
@Fecha DATE,
@Base VARCHAR(50),
@Instructor VARCHAR(500),
@Archivo VARBINARY(MAX),
@Titulo VARCHAR(500),
@Extension VARCHAR(100),
@Usuario VARCHAR(20)
AS
DECLARE @Exito VARCHAR(MAX)
DECLARE @correlativo INT

BEGIN TRAN
BEGIN TRY
	IF (@Opcion = 1) BEGIN		-- REGISTRAR CAPACITACION
		SET @correlativo = (SELECT MAX(idCapacitacion) FROM ReportesApp_Operaciones_Capacitaciones_Cabecera)
		SET @correlativo = ISNULL(@correlativo,0) + 1
		
		INSERT INTO ReportesApp_Operaciones_Capacitaciones_Cabecera(idCapacitacion,Capacitacion,Fecha,Base,Instructor,Archivo,Titulo,Extension,
		UsuarioCreacion,FechaCreacion,UsuarioModificacion,FechaModificacion)
		VALUES (@correlativo,@Capacitacion,@Fecha,@Base,@Instructor,@Archivo,@Titulo,@Extension,@Usuario,GETDATE(),@Usuario,GETDATE())

		IF (EXISTS(SELECT * FROM ReportesApp_Operaciones_Capacitaciones_Detalle WHERE idCapacitacion = 0)) BEGIN
			UPDATE ReportesApp_Operaciones_Capacitaciones_Detalle
			SET idCapacitacion = @correlativo
			WHERE idCapacitacion = 0
		END

		SET @Exito = '0 = Capacitación registrada correctamente.'
	END

	IF (@Opcion = 2) BEGIN		-- EDITAR CAPACITACION
		UPDATE ReportesApp_Operaciones_Capacitaciones_Cabecera
		SET Capacitacion = @Capacitacion, Fecha = @Fecha, Base = @Base, Instructor = @Instructor, Archivo = @Archivo, Titulo = @Titulo,
		Extension = @Extension, UsuarioModificacion = @Usuario, FechaModificacion = GETDATE()
		WHERE idCapacitacion = @idCapacitacion

		IF (EXISTS(SELECT * FROM ReportesApp_Operaciones_Capacitaciones_Detalle WHERE idCapacitacion = 0)) BEGIN
			UPDATE ReportesApp_Operaciones_Capacitaciones_Detalle
			SET idCapacitacion = @idCapacitacion
			WHERE idCapacitacion = 0
		END
		
		SET @Exito = '0 = Capacitación actualizada correctamente.'
	END

	IF (@Opcion = 3) BEGIN		-- ELIMINAR CAPACITACION
		IF EXISTS(SELECT * FROM ReportesApp_Operaciones_Capacitaciones_Detalle WHERE idCapacitacion = @idCapacitacion) BEGIN
			SET @Exito = '-1 = No puede eliminar una capacitación con asistentes registrados.'
			ROLLBACK
			GOTO Terminar
		END
		ELSE BEGIN
			DELETE FROM ReportesApp_Operaciones_Capacitaciones_Cabecera
			WHERE idCapacitacion = @idCapacitacion

			DELETE FROM ReportesApp_Operaciones_Capacitaciones_Detalle
			WHERE idCapacitacion = @idCapacitacion

			SET @Exito = '0 = Capacitación eliminada correctamente.'
		END
	END
END TRY

BEGIN CATCH
	SET @exito = RTRIM(LTRIM(STR(ERROR_NUMBER()))) + '=' + ERROR_MESSAGE()
	ROLLBACK
	GOTO Terminar
END CATCH

IF @@TRANCOUNT > 0 
	COMMIT;
    --ROLLBACK
    
TERMINAR:
IF LEFT(@Exito,1)='-' OR cast(left(@Exito,1) AS INT)<0
BEGIN
	DECLARE @storedProcedureName VARCHAR(100)
	SELECT @storedProcedureName = OBJECT_NAME(@@PROCID)
	SET @exito = @exito + CHAR(13)+CHAR(13)+'SP Name: '+@storedProcedureName
END
SELECT @exito exito

-------------------------------------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 08-07-2026
-- Description:	INSERTAR ASISTENTES CAPACITACION
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Operaciones_Capacitaciones_RegistrarAsistentes]
@Opcion INT,
@idCapacitacion INT,
@idCapacitacionD INT,
@idConductor INT,
@Examen INT,
@Estado VARCHAR(50),
@Teoria INT,
@Revision INT,
@Circuito INT
AS
DECLARE @Exito VARCHAR(MAX)
DECLARE @correlativo INT

BEGIN TRAN
BEGIN TRY
	IF (@Opcion = 1) BEGIN		-- INGRESAR ASISTENTE
		IF (EXISTS(SELECT * FROM ReportesApp_Operaciones_Capacitaciones_Detalle WHERE idCapacitacion = @idCapacitacion
		AND idConductor = @idConductor)) BEGIN
			UPDATE ReportesApp_Operaciones_Capacitaciones_Detalle
			SET Examen = @Examen, Estado = @Estado, Teoria = @Teoria, Revision = @Revision, Circuito = @Circuito
			WHERE idCapacitacion = @idCapacitacion AND idConductor = @idConductor
		END
		ELSE BEGIN
			SET @correlativo = (SELECT MAX(idCapacitacionD) FROM ReportesApp_Operaciones_Capacitaciones_Detalle WHERE idCapacitacion = @idCapacitacion)
			SET @correlativo = ISNULL(@correlativo,0) + 1

			INSERT INTO ReportesApp_Operaciones_Capacitaciones_Detalle(idCapacitacionD,idCapacitacion,idConductor,
			Examen,Estado,Teoria,Revision,Circuito)
			VALUES(@correlativo,@idCapacitacion,@idConductor,@Examen,@Estado,@Teoria,@Revision,@Circuito)
		END

		SET @Exito = '0 = Asistente registrado.'
	END

	IF (@Opcion = 2) BEGIN		-- ELIMINAR ASISTENTE
		DELETE FROM ReportesApp_Operaciones_Capacitaciones_Detalle
		WHERE idCapacitacion = @idCapacitacion AND idCapacitacionD = @idCapacitacionD
		
		SET @Exito = '0 = Asistente eliminado.'
	END
END TRY

BEGIN CATCH
	SET @exito = RTRIM(LTRIM(STR(ERROR_NUMBER()))) + '=' + ERROR_MESSAGE()
	ROLLBACK
	GOTO Terminar
END CATCH

IF @@TRANCOUNT > 0 
	COMMIT;
    --ROLLBACK
    
TERMINAR:
IF LEFT(@Exito,1)='-' OR cast(left(@Exito,1) AS INT)<0
BEGIN
	DECLARE @storedProcedureName VARCHAR(100)
	SELECT @storedProcedureName = OBJECT_NAME(@@PROCID)
	SET @exito = @exito + CHAR(13)+CHAR(13)+'SP Name: '+@storedProcedureName
END
SELECT @exito exito

--------------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 09-07-2026
-- Description:	LISTAR ASISTENTES CAPACITACION
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Operaciones_Capacitaciones_ListarAsistentes]
@idCapacitacion INT
AS
BEGIN
	SET NOCOUNT ON

	SELECT CD.idCapacitacion, CD.idCapacitacionD, RTRIM(P.NombreCompleto) AS 'CONDUCTOR',
	CASE WHEN CD.Teoria = 1 THEN 'SÍ' ELSE 'NO' END AS 'BLOQUEO_TEORICO',
	CASE WHEN CD.Revision = 1 THEN 'SÍ' ELSE 'NO' END AS 'REVISIÓN_VISUAL',
	CASE WHEN CD.Circuito = 1 THEN 'SÍ' ELSE 'NO' END AS 'CIRCUITO_CONDUCCION',
	CD.Examen AS 'NOTA', CD.Estado AS 'ESTADO'
	FROM ReportesApp_Operaciones_Capacitaciones_Detalle CD
	LEFT JOIN OP_TR_CONDUCTOR C ON C.idConductor = CD.idConductor
	LEFT JOIN PersonaMast P ON P.Persona = C.IdPersona
	WHERE CD.idCapacitacion = @idCapacitacion
	ORDER BY CD.idCapacitacionD
END

-------------------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 17-04-2026
-- Description:	LISTAR DOCUMENTOS CAPACITACION
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Operaciones_Capacitaciones_ListarDocumentos]
@Titulo VARCHAR(500),
@Conductor VARCHAR(500),
@FechaInicio VARCHAR(11),
@FechaFin VARCHAR(11)
AS
DECLARE @FINICIO DATETIME = @FechaInicio
DECLARE @FFIN DATETIME = @FechaFin + ' 23:59'
BEGIN
	SET NOCOUNT ON

	SELECT C.idCapacitacion AS 'NRO', C.Fecha AS 'FECHA', C.Capacitacion AS 'CAPACITACION', C.Base AS 'BASE', 
	C.Instructor AS 'INSTRUCTOR', C.Titulo AS 'TITULO', C.Extension AS 'EXTENSION', 'Vista Previa' AS 'VISTA PREVIA',
	'Descargar' AS 'DOCUMENTO', RTRIM(P.NombreCompleto) AS 'CONDUCTOR',
	CASE WHEN D.Teoria = 1 THEN 'SÍ' ELSE 'NO' END AS 'BLOQUEO_TEORICO', CASE WHEN D.Revision = 1 THEN 'SÍ' ELSE 'NO' END AS 'REVISIÓN_VISUAL',
	CASE WHEN D.Circuito = 1 THEN 'SÍ' ELSE 'NO' END AS 'CIRCUITO_CONDUCCION', ISNULL(D.Examen,0) AS 'NOTA', D.Estado AS 'ESTADO',
	C.UsuarioCreacion, C.FechaCreacion 
	FROM ReportesApp_Operaciones_Capacitaciones_Cabecera C 
	LEFT JOIN ReportesApp_Operaciones_Capacitaciones_Detalle D ON D.idCapacitacion = C.idCapacitacion
	LEFT JOIN OP_TR_CONDUCTOR CD ON CD.idConductor = D.idConductor
	LEFT JOIN PersonaMast P ON P.Persona = CD.IdPersona
	WHERE (@Titulo IS NULL OR C.Capacitacion IS NULL OR C.Capacitacion LIKE '%' + @Titulo + '%') AND (@Conductor IS NULL OR RTRIM(P.NombreCompleto) IS NULL OR
	RTRIM(P.NombreCompleto) LIKE '%' + @Conductor + '%') AND (C.Fecha BETWEEN @FINICIO AND @FFIN)
	ORDER BY C.idCapacitacion DESC
END





SELECT * FROM ReportesApp_Operaciones_Capacitaciones_Cabecera
SELECT * FROM ReportesApp_Operaciones_Capacitaciones_Detalle