-- Crear tabla ReportesApp_RRHH_Vacaciones_Registro

-- Crear tabla ReportesApp_RRHH_Vacaciones_CorreoAreas y llenarla

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 21-08-2023
-- Description:	LISTAR AREAS
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_RRHH_Vacaciones_ListarAreas]
@Accion INT
AS
BEGIN
	IF @Accion = 1 BEGIN     --LISTAR AREAS
		SELECT Area, Nombre FROM AS_Area WHERE Area != 999 ORDER BY Area ASC
	END
END

-----------------------------------------------

ALTER TABLE ReportesApp_RRHH_Vacaciones_CorreoAreas
ADD CONSTRAINT EnlazarAreas FOREIGN KEY (idArea)
REFERENCES AS_Area(Area)

-----------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 21-08-2023
-- Description:	INSERTAR VACACIONES
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_RRHH_Vacaciones_InsertarVacaciones]
@Persona INT,
@FechaInicio DATETIME,
@FechaFin DATETIME,
@TotalDias INT,
@xml VARCHAR(MAX),
@DiasAnticipacion INT,
@Alerta INT,
@Todos INT,
@Reemplazo INT
AS
DECLARE @Exito VARCHAR(MAX)
DECLARE @correlativo INT
DECLARE @idoc INT
DECLARE @TEMP_Area TABLE(
		Marca BIT,
		Codigo INT,
		Area VARCHAR(100))

SET @Exito = '0 = Vacaciones del empleado registradas.'

SET @correlativo = (SELECT MAX(idVacaciones) FROM ReportesApp_RRHH_Vacaciones_Registro WHERE Persona = @Persona)
SET @correlativo = ISNULL(@correlativo,0) + 1

IF (@Reemplazo = 0) BEGIN
	SET @Reemplazo = NULL
END

IF(EXISTS(SELECT * FROM ReportesApp_RRHH_Vacaciones_Registro WHERE ((@FechaInicio BETWEEN FechaInicio AND FechaFin) OR (@FechaFin BETWEEN FechaInicio AND FechaFin)) AND (Persona = @Persona))) BEGIN
	SET @Exito = '-1 = Este empleado ya tiene vacaciones registradas en esa fecha.'
	GOTO Terminar
END

IF(@Persona = @Reemplazo) BEGIN
	SET @Exito = '-2 = No puede reemplazar al mismo personal.'
	GOTO Terminar
END

IF(@xml != '') BEGIN
	EXEC sp_xml_preparedocument @idoc OUTPUT, @xml
	
	INSERT INTO @TEMP_Area(Marca, Codigo, Area)
		SELECT Marca, Codigo, Area
		FROM OPENXML(@idoc,'/r/d',1)
		WITH (Marca BIT, Codigo INT, Area VARCHAR(100))
END

BEGIN TRAN
BEGIN TRY
	IF (@Todos = 0) BEGIN
		INSERT INTO ReportesApp_RRHH_Vacaciones_Registro(idVacaciones, Persona, FechaInicio, FechaFin, TotalDias, idArea, DiasAnticipacion, Alerta, Reemplazo)
		SELECT @correlativo, @Persona, @FechaInicio, @FechaFin, @TotalDias, A.Codigo, @DiasAnticipacion, @Alerta, @Reemplazo
		FROM @TEMP_Area A
	END
	ELSE BEGIN
		INSERT INTO ReportesApp_RRHH_Vacaciones_Registro(idVacaciones, Persona, FechaInicio, FechaFin, TotalDias, idArea, DiasAnticipacion, Alerta, Reemplazo)
		VALUES(@correlativo, @Persona, @FechaInicio, @FechaFin, @TotalDias, 999, @DiasAnticipacion, @Alerta, @Reemplazo)
	END
END TRY

BEGIN CATCH
	SET @exito = RTRIM(LTRIM(STR(ERROR_NUMBER()))) + '=' + ERROR_MESSAGE()
	ROLLBACK
	GOTO Terminar
END CATCH

IF @@TRANCOUNT > 0 
	COMMIT;
    --ROLLBACK
    
TERMINAR:
IF LEFT(@Exito,1)='-' OR cast(left(@Exito,1) AS INT)<0
BEGIN
	DECLARE @storedProcedureName VARCHAR(100)
	SELECT @storedProcedureName = OBJECT_NAME(@@PROCID)
	SET @exito = @exito + CHAR(13)+CHAR(13)+'SP Name: '+@storedProcedureName
END
SELECT @exito exito

-----------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 21-08-2023
-- Description:	LISTAR REGISTROS DE VACACIONES
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_RRHH_Vacaciones_ListarVacaciones]
@Nombre VARCHAR(300),
@Accion INT
AS
BEGIN
	IF @Accion = 1 BEGIN     --LISTAR PROGRAMACIONES
		SELECT DISTINCT V.idVacaciones, V.Persona, P.NombreCompleto AS 'Empleado', A1.Description AS 'Area', LTRIM(RTRIM(C1.Descripcion)) AS 'Cargo',
		V.FechaInicio AS 'FechaInicio', V.FechaFin AS 'FechaFin', V.TotalDias AS 'Duracion (Dias)', R.NombreCompleto AS 'Reemplazo', A2.Description AS 'AreaReemplazo',
		LTRIM(RTRIM(C2.Descripcion)) AS 'CargoReemplazo', V.DiasAnticipacion AS 'DiasAnticipacion',
		(SELECT CASE V.Alerta WHEN 1 THEN 'SÍ' WHEN 0 THEN 'NO' END) AS 'Alerta'
		FROM ReportesApp_RRHH_Vacaciones_Registro V
		LEFT JOIN PersonaMast P ON P.Persona = V.Persona
		LEFT JOIN PersonaMast R ON R.Persona = V.Reemplazo
		LEFT JOIN EmpleadoMast E1 ON P.Persona = E1.Empleado
		LEFT JOIN EmpleadoMast E2 ON R.Persona = E2.Empleado
		LEFT JOIN departmentmst A1 on E1.DeptoOrganizacion = A1.Department
		LEFT JOIN hr_puestoempresa C1 on C1.CodigoPuesto = E1.CodigoCargo
		LEFT JOIN departmentmst A2 on E2.DeptoOrganizacion = A2.Department
		LEFT JOIN hr_puestoempresa C2 on C2.CodigoPuesto = E2.CodigoCargo
		LEFT JOIN AS_Area A ON A.Area = V.idArea
		WHERE (GETDATE() <= V.FechaInicio) AND (V.FechaInicio IS NOT NULL) AND (E1.Estado = 'A') AND (E2.Estado IS NULL OR E2.Estado = 'A')
		AND (P.NombreCompleto IS NULL OR P.NombreCompleto LIKE '%' + @Nombre + '%')
		ORDER BY V.FechaInicio
	END

	IF @Accion = 2 BEGIN     --LISTAR VACACIONES PENDIENTES
		SELECT  Compañía, Area, Cargo, Nombre, FechaIngreso, [2022-2023], [2023-2024], Total FROM
		(
			SELECT PV.EMPLEADO AS 'Codigo', CM.DescripcionCorta AS 'Compañía', LTRIM(RTRIM(P.NOMBRECOMPLETO)) AS 'Nombre',
			A1.Description AS 'Area', LTRIM(RTRIM(C1.Descripcion)) AS 'Cargo', CONVERT(VARCHAR,FORMAT(E.FECHAINGRESO, 'dd/MM/yyyy')) AS 'FechaIngreso',
			(CONVERT(VARCHAR(4),PV.ANO)+'-'+CONVERT(VARCHAR(4),CONVERT(INT,PV.ANO) + 1)) AS 'Año',
			CONVERT(INT,PV.DERECHO - PV.TOTALUTILIZADOS) AS 'Pendientes'
			FROM PR_VACACIONPERIODO PV, EMPLEADOMAST E, PERSONAMAST P, COMPANIAMAST CM, departmentmst A1, hr_puestoempresa C1
			WHERE (PV.EMPLEADO = E.EMPLEADO) AND (PV.COMPANIASOCIO = E.COMPANIASOCIO) AND (A1.Department = E.DeptoOrganizacion)
			AND (C1.CodigoPuesto = E.CodigoCargo) AND (E.EMPLEADO = P.PERSONA) AND (CONVERT(CHAR(6),E.COMPANIASOCIO) = CM.COMPANIACODIGO)
			AND (PV.PENDIENTES <> 0) AND E.TipoPlanilla in ('EM','OB','PR') AND E.Estado = 'A' AND E.EstadoEmpleado = '0'
			AND (DATEADD(YEAR,(CONVERT(INT,PV.ANO) + 1) - YEAR(E.FECHAINGRESO),E.FECHAINGRESO) <= EOMONTH(GETDATE()))
			AND ((SELECT SUM(DiasUtilizacion) FROM PR_VacacionUtilizacion WHERE PR_VacacionUtilizacion.Empleado = PV.EMPLEADO and PR_VacacionUtilizacion.NumeroPeriodo = PV.NumeroPeriodo AND PR_VacacionUtilizacion.CompaniaSocio = E.COMPANIASOCIO) IS NULL
			OR (SELECT SUM(DiasUtilizacion) FROM PR_VacacionUtilizacion WHERE PR_VacacionUtilizacion.Empleado = PV.EMPLEADO and PR_VacacionUtilizacion.NumeroPeriodo = PV.NumeroPeriodo AND PR_VacacionUtilizacion.CompaniaSocio = E.COMPANIASOCIO) < 30)
			AND (P.NombreCompleto IS NULL OR P.NombreCompleto LIKE '%' + @Nombre + '%')
		) AS Vacaciones
		PIVOT (SUM(Pendientes)
		FOR Año IN ([2022-2023],[2023-2024])) AS PVT
		CROSS APPLY (SELECT ISNULL([2022-2023],0)+ISNULL([2023-2024],0) AS Total) T
		WHERE T.Total != 0.00;
	END

	IF @Accion = 3 BEGIN     --EXPORTAR VACACIONES PENDIENTES
		SELECT Compañía, Area, Cargo, Nombre, FechaIngreso, [2022-2023], [2023-2024], Total, FechaInicio, FechaFin, Dias, Reemplazo FROM
		(
			SELECT PV.EMPLEADO AS 'Codigo', CM.DescripcionCorta AS 'Compañía', LTRIM(RTRIM(P.NOMBRECOMPLETO)) AS 'Nombre',
			A1.Description AS 'Area', LTRIM(RTRIM(C1.Descripcion)) AS 'Cargo', CONVERT(VARCHAR,FORMAT(E.FECHAINGRESO, 'dd/MM/yyyy')) AS 'FechaIngreso',
			(CONVERT(VARCHAR(4),PV.ANO)+'-'+CONVERT(VARCHAR(4),CONVERT(INT,PV.ANO) + 1)) AS 'Año', 
			CONVERT(INT,PV.DERECHO - PV.TOTALUTILIZADOS) AS 'Pendientes', R.NombreCompleto AS 'Reemplazo',
			CONVERT(VARCHAR,FORMAT(V.FechaInicio, 'dd/MM/yyyy')) AS 'FechaInicio', CONVERT(VARCHAR,FORMAT(V.FechaFin, 'dd/MM/yyyy')) AS 'FechaFin',
			V.TotalDias AS 'Dias' FROM PR_VACACIONPERIODO PV
			INNER JOIN EMPLEADOMAST E ON (PV.EMPLEADO = E.EMPLEADO) AND (PV.COMPANIASOCIO = E.COMPANIASOCIO)
			INNER JOIN PERSONAMAST P ON E.EMPLEADO = P.PERSONA
			INNER JOIN COMPANIAMAST CM ON CONVERT(CHAR(6),E.COMPANIASOCIO) = CM.COMPANIACODIGO
			INNER JOIN departmentmst A1 ON A1.Department = E.DeptoOrganizacion
			INNER JOIN hr_puestoempresa C1 ON C1.CodigoPuesto = E.CodigoCargo
			LEFT JOIN ReportesApp_RRHH_Vacaciones_Registro V ON PV.EMPLEADO = V.Persona
			LEFT JOIN PersonaMast R ON R.Persona = V.Reemplazo
			WHERE (PV.PENDIENTES <> 0) AND E.TipoPlanilla in ('EM','OB','PR') AND E.Estado = 'A' AND E.EstadoEmpleado = '0'
			AND (DATEADD(YEAR,(CONVERT(INT,PV.ANO) + 1) - YEAR(E.FECHAINGRESO),E.FECHAINGRESO) <= EOMONTH(GETDATE()))
			AND ((SELECT SUM(DiasUtilizacion) FROM PR_VacacionUtilizacion WHERE PR_VacacionUtilizacion.Empleado = PV.EMPLEADO and PR_VacacionUtilizacion.NumeroPeriodo = PV.NumeroPeriodo AND PR_VacacionUtilizacion.CompaniaSocio = E.COMPANIASOCIO) IS NULL
			OR (SELECT SUM(DiasUtilizacion) FROM PR_VacacionUtilizacion WHERE PR_VacacionUtilizacion.Empleado = PV.EMPLEADO and PR_VacacionUtilizacion.NumeroPeriodo = PV.NumeroPeriodo AND PR_VacacionUtilizacion.CompaniaSocio = E.COMPANIASOCIO) < 30)
			AND (P.NombreCompleto IS NULL OR P.NombreCompleto LIKE '%' + @Nombre + '%')
		) AS Vacaciones
		PIVOT (SUM(Pendientes)
		FOR Año IN ([2022-2023],[2023-2024])) AS PVT
		CROSS APPLY (SELECT ISNULL([2022-2023],0)+ISNULL([2023-2024],0) AS Total) T
		WHERE T.Total != 0.00 /*AND (FechaInicio IS NULL OR FechaInicio > GETDATE())*/;
	END
END

-----------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 22-08-2023
-- Description:	ELIMINAR REGISTROS DE VACACIONES
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_RRHH_Vacaciones_EliminarVacaciones]
@Persona INT,
@idVacaciones INT
AS
DECLARE @Exito VARCHAR(MAX)

SET @Exito = '0 = Registro eliminado.'

IF (@idVacaciones = 0)
BEGIN
	SET @Exito = '-1 = El Registro seleccionado no existe.'
	GOTO Terminar
END

BEGIN TRAN
BEGIN TRY
	DELETE FROM ReportesApp_RRHH_Vacaciones_Registro
	WHERE Persona = @Persona AND idVacaciones = @idVacaciones
END TRY

BEGIN CATCH
	SET @exito = RTRIM(LTRIM(STR(ERROR_NUMBER()))) + '=' + ERROR_MESSAGE()
	ROLLBACK
	GOTO Terminar
END CATCH

IF @@TRANCOUNT > 0 
	COMMIT;
    --ROLLBACK
    
TERMINAR:
IF LEFT(@Exito,1)='-' OR cast(left(@Exito,1) AS INT)<0
BEGIN
	DECLARE @storedProcedureName VARCHAR(100)
	SELECT @storedProcedureName = OBJECT_NAME(@@PROCID)
	SET @exito = @exito + CHAR(13)+CHAR(13)+'SP Name: '+@storedProcedureName
END
SELECT @exito exito

-----------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 04-08-2023
-- Description:	ALERTAR VACACIONES PENDIENTES
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_RRHH_Vacaciones_AlertarVacaciones]
AS
BEGIN
	DECLARE @Mensaje AS VARCHAR(MAX), @Asunto VARCHAR(300), @destinatarios VARCHAR(500), @Area VARCHAR(100)
	DECLARE @Contador INT, @ContadorArea INT
	DECLARE @VacacionesPendientes VARCHAR(MAX) = ''

	SELECT @VacacionesPendientes = @VacacionesPendientes + '<tr>'
								  + '<td style="background-color: #EEE8AA">' + P.NombreCompleto + '</td>'
								  + '<td style="background-color: #EEE8AA">' + A1.Description + '</td>'
								  + '<td style="background-color: #EEE8AA">' + LTRIM(RTRIM(C1.Descripcion)) + '</td>'
								  + '<td style="background-color: #EEE8AA">' + CONVERT(VARCHAR,V.TotalDias) + '</td>'
								  + '<td style="background-color: #EEE8AA">' + CONVERT(CHAR(10),V.FechaInicio,103)+' '+RIGHT(RTRIM(CONVERT(CHAR(26),V.FechaInicio,22)),12) + '</td>'
								  + '<td style="background-color: #EEE8AA">' + CONVERT(CHAR(10),V.FechaFin,103)+' '+RIGHT(RTRIM(CONVERT(CHAR(26),V.FechaFin,22)),12) + '</td>'
								  + '<td style="background-color: #EEE8AA">' + ISNULL(R.NombreCompleto,'-') + '</td>'
								  + '<td style="background-color: #EEE8AA">' + ISNULL(LTRIM(RTRIM(C2.Descripcion)),'-') + '</td>'
								  + '</tr>' 
	FROM ReportesApp_RRHH_Vacaciones_Registro V
	LEFT JOIN PersonaMast P ON P.Persona = V.Persona
	LEFT JOIN PersonaMast R ON R.Persona = V.Reemplazo
	LEFT JOIN EmpleadoMast E1 ON P.Persona = E1.Empleado
	LEFT JOIN EmpleadoMast E2 ON R.Persona = E2.Empleado
	LEFT JOIN departmentmst A1 on E1.DeptoOrganizacion = A1.Department
	LEFT JOIN hr_puestoempresa C1 on C1.CodigoPuesto = E1.CodigoCargo
	LEFT JOIN departmentmst A2 on E2.DeptoOrganizacion = A2.Department
	LEFT JOIN hr_puestoempresa C2 on C2.CodigoPuesto = E2.CodigoCargo
	LEFT JOIN AS_Area A ON A.Area = V.idArea
	WHERE (CONVERT(DATE,V.FechaInicio) = CONVERT(DATE,DATEADD(DAY,V.DiasAnticipacion,GETDATE()))) AND (V.Alerta = 1)

	SET @Asunto = 'VACACIONES PROGRAMADAS'

	SET @Mensaje = '<p><h2>AVISO DE VACACIONES PROGRAMADAS</h2></p>'
				  +'<p>Se les comunica que los siguientes miembros del personal están próximos a tomar su correspondiente periodo vacacional. </p>'
				  + '<p><table border="1" cellspacing="1" cellpadding="1" >
					    <tr>
						    <td align="center" style="background-color:red; color: white"><b>NOMBRE COMPLETO</b></td>
							<td align="center" style="background-color:red; color: white"><b>ÁREA</b></td>
							<td align="center" style="background-color:red; color: white"><b>PUESTO</b></td>
							<td align="center" style="background-color:red; color: white"><b>TIEMPO (DÍAS)</b></td>
							<td align="center" style="background-color:red; color: white"><b>FECHA INICIO</b></td>
							<td align="center" style="background-color:red; color: white"><b>FECHA FIN</b></td>
							<td align="center" style="background-color:red; color: white"><b>REEMPLAZO</b></td>
							<td align="center" style="background-color:red; color: white"><b>PUESTO REEMPLAZO</b></td>
						</tr>
						<tbody>'
						+ ISNULL(@VacacionesPendientes, '') 	
						+'</tbody>
						</table>
					</p>'
				  +'<p>Ante cualquier coordinación o pendiente sobre sus labores favor de comunicarse con sus respectivos reemplazos. </p>'
				  +'<p>Fecha de envío: '+CONVERT(CHAR(10),GETDATE(),103)+RIGHT(RTRIM(CONVERT(CHAR(26),GETDATE(),22)),12)+'</p>'
				  +'<BR>'
				  +'<p><font face="verdana" size="2" color="DarkRed">Tecnologías de la Información - GRUPO TRANSPESA</font></p>'
	
	EXEC msdb.dbo.sp_send_dbmail 
		 @profile_name='AVISODESISTEMA', -- REAL: @profile_name = 'AVISODESISTEMA',  -- PRUEBAS: @profile_name = 'AVISODELSISTEMA',
		 @recipients = 'grupotranspesa@transpesa.com.pe',
		 --@blind_copy_recipients = 'asistenteauditoria@transpesa.com.pe;jrojas@transpesa.com.pe;desarrollo@transpesa.com.pe;desarrollo2@transpesa.com.pe;' 
		 @subject = @Asunto,
		 @body_format = 'HTML',
		 @body = @Mensaje	
END

-----------------------------------------------

--exec sp_dbcmptlevel 'spring12052023', 90