SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Angel J. Guerra
-- Create date: 05.Agosto.2022
-- Description:	Registrar PRECIOS
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Logistica_PreciosTerceros_Registrar ]
@Opcion INT,
@IdFecha DATETIME, 
@IdCliente INT,
@Precio DECIMAL(16,6), 
@Lugar varchar(50),
@Usuario VARCHAR(20)
AS
DECLARE @exito VARCHAR(MAX)
DECLARE @Proveedor VARCHAR(200)

SET @exito = '0= Registro Exitoso!'

BEGIN TRAN
BEGIN TRY
	SET @Proveedor = (SELECT p.BUSQUEDA FROM PersonaMast P WHERE P.Persona = @IdCliente)

	IF @Opcion = 1 BEGIN
		IF EXISTS(SELECT * FROM ReportesApp_Combustible_TicketTercero_CostoProveedor 
						   WHERE IDFECHA = @IdFecha and IdCliente =@IdCliente and lugar = @Lugar) BEGIN
			SET @exito = '-1= El precio ya esta registrado'
			ROLLBACK
			GOTO Terminar
		END

		/*IF NOT EXISTS(SELECT * FROM ReportesApp_Combustible_TicketTercero_CostoProveedor WHERE IDFECHA = @IdFecha-1 and IdCliente =@IdCliente and lugar = @Lugar)
		BEGIN
			SET @exito = '-1= No puedes registrar el precio porqe hay fechas pasadas sin precio.'
			ROLLBACK
			GOTO Terminar
		END*/
		
		INSERT INTO ReportesApp_Combustible_TicketTercero_CostoProveedor (IDFECHA,IdCliente,PrecioUnitario,lugar,UsuarioCrea,FHCrea)
		VALUES(@IdFecha,@IdCliente,@Precio,@Lugar,@Usuario,GETDATE())
		SET @exito = '0= Registro Exitoso!'	
	END
	
	IF @Opcion = 2 BEGIN
		IF EXISTS(SELECT Precio FROM ReportesApp_Combustible_TicketsTercero WHERE CAST(FechaDespacho AS DATE) = CAST(@IdFecha AS DATE)
				  AND Empresa = @Proveedor AND Lugar = @Lugar) BEGIN
			SET @exito = '-2 = No puede modificar esta fecha porque ya tiene un registro en el KARDEX.'
			ROLLBACK
			GOTO Terminar
		END
		ELSE BEGIN	
			UPDATE ReportesApp_Combustible_TicketTercero_CostoProveedor
			SET PrecioUnitario = @Precio, lugar = @Lugar, UsuarioCrea = @Usuario, FHModifica = GETDATE()
			WHERE IdFecha =  @IdFecha AND IdCliente = @IdCliente
		
			SET @exito = '0= Actualizacion Exitosa!'
		END			
	END

	IF @Opcion = 3 BEGIN
		IF EXISTS(SELECT Precio FROM ReportesApp_Combustible_TicketsTercero WHERE CAST(FechaDespacho AS DATE) = CAST(@IdFecha AS DATE)
				  AND Empresa = @Proveedor AND Lugar = @Lugar) BEGIN
			SET @exito = '-3 = No puede eliminar esta fecha porque ya tiene un registro en el KARDEX.'
			ROLLBACK
			GOTO Terminar
		END
		ELSE BEGIN		
			DELETE FROM ReportesApp_Combustible_TicketTercero_CostoProveedor
			WHERE IdFecha =  @IdFecha AND IdCliente = @IdCliente
		
			SET @exito = '0= Eliminado Correctamente!'	
		END		
	END
	
	IF HOST_NAME() IN ('DESKTOP-FNO4LB1', 'JTORIBIO') BEGIN
		SET @exito = '777= TEST OK'
		ROLLBACK
		GOTO Terminar
	END
END TRY
	
BEGIN CATCH
	SET @exito = RTRIM(LTRIM(STR(ERROR_NUMBER()))) + '=' + ERROR_MESSAGE()
	ROLLBACK
	GOTO Terminar		
END CATCH

IF @@TRANCOUNT > 0
	COMMIT;

TERMINAR:
IF LEFT(@Exito,1)='-' OR cast(left(@Exito,1) AS INT)>0 BEGIN
	DECLARE @storedProcedureName VARCHAR(100)
	SELECT @storedProcedureName = OBJECT_NAME(@@PROCID)
	SET @exito = @exito + CHAR(13)+CHAR(13)+'SP Name: '+@storedProcedureName
END

SELECT @exito exito

------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Angel J. Guerra
-- Create date: 05.Agosto.2022
-- Description:	Listar PRECIOS
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Logistica_PreciosTerceros]
@IdCliente VARCHAR(10),
@Lugar varchar(100)
AS
BEGIN
	SELECT TOP(50) PR.IdFecha, PR.IdCliente, p.BUSQUEDA Proveedor, pr.lugar Lugar, PR.PrecioUnitario, ROUND((PR.PrecioUnitario * 0.18) + PR.PrecioUnitario,2) AS Precio_IGV,
	PR.UsuarioCrea, PR.FHCrea FechaCrea   
	FROM ReportesApp_Combustible_TicketTercero_CostoProveedor PR 
	INNER JOIN PersonaMast P ON PR.IdCliente = P.Persona 
	WHERE PR.IdCliente = @IdCliente and Lugar = @Lugar
	ORDER BY PR.IDFECHA DESC
END

------------------------------------------------

-- MODIFICAR ReportesApp_Operaciones_DespachosTerceros_Registrar
