
-- MODIFICAR ReportesApp_Operacion_ControlDocumentos

-- MODIFICAR ReportesApp_Operacion_ControlDocumentos_Historial

-- AÑADIR USUARIO EN ReportesApp_Operaciones_LlenadoControlesControlDocumentos 

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ing. Jordyn Toribio Esquivel
-- Create date: 28.Mayo.2022
-- Description:	Registrar Documentos
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Operaciones_ControlDocumentos_Registrar]  
@Compania VARCHAR(30), 
@Sucursal VARCHAR(10),
@TipoRelacion VARCHAR(05), 
@IdRelacion INT,
@IdTipoDocumento INT, 
@Codigo VARCHAR(80), 
@CentroCosto VARCHAR(20),
@SituacionRenovacion VARCHAR(05) = 'VI',
@FechaEmision DATE,
@FechaInicioValidez DATE,
@FechaFinValidez DATE,
@EsVencimiento BIT,
@Moneda VARCHAR(05) = NULL,
@FactorImpuesto NUMERIC(12,6) = NULL,
@MontoAfecto NUMERIC(12,6) = NULL,
@MontoImpuesto NUMERIC(12,6) = NULL,
@MontoLN NUMERIC(12,6) = NULL,
@EsAfectoValidacion INT = 1, 
@UsuarioCrea VARCHAR(30),
@DirectorioLocal VARCHAR(500),
@DirectorioNube VARCHAR(500),
@Observacion VARCHAR(200) = NULL,
@Categoria INT = NULL
AS
DECLARE @exito varchar(max)

SET @exito = '0= Registro Exitoso!'

BEGIN TRAN
	BEGIN TRY
		
		DECLARE @NroDocumento INT = 0
		DECLARE @TipoCambio NUMERIC(12,4)
		
		SET @NroDocumento = (SELECT MAX(IdDocumento) FROM ReportesApp_Operacion_ControlDocumentos)
		SET @NroDocumento = ISNULL(@NroDocumento, 0) + 1
			
		SELECT @TipoCambio =  FactorVenta FROM TipoCambioMast WITH(NOLOCK) WHERE FechaCambio = @FechaEmision	
		SET @TipoCambio = ISNULL(@TipoCambio, 0.00)
		
		IF @EsVencimiento = 0
		BEGIN
			SET @FechaFinValidez = NULL
		END
		
		DECLARE @ValDocumento INT = null
		
		IF EXISTS(	SELECT * 
					FROM ReportesApp_Operacion_ControlDocumentos
					WHERE TipoDocumento = @IdTipoDocumento
						AND IdRelacion = @IdRelacion
						AND Relacion = @TipoRelacion
					)
		BEGIN
			
			declare @Relacion varchar(20)
			
			IF @TipoRelacion = 'CD'
			BEGIN
				SET @Relacion = 'este conductor. ' 
			END
			ELSE
			BEGIN
				SET @Relacion = 'esta unidad. ' 
			END
			
			SET @exito = '-1= Ya existe este tipo de documento para ' + @Relacion
			ROLLBACK
			GOTO Terminar
		
		END
		

		INSERT INTO ReportesApp_Operacion_ControlDocumentos(IdDocumento, Compania, Sucursal, Relacion, IdRelacion, TipoDocumento, Codigo,
															CentroCosto, SituacionRenovacion, FechaEmision,	FechaInicioValidez,	FechaFinValidez, EsVencimiento,
															Moneda,	TipoCambio,	FactorImpuesto,	MontoAfecto, MontoImpuesto,	MontoLN, MontoDolares,
															Anulado, EsAfectoValidacion, UsuarioCrea, FechaCrea, Observacion, Categoria, DirectorioLocal, DirectorioNube)
													VALUES(@NroDocumento, @Compania, @Sucursal, @TipoRelacion, @IdRelacion, @IdTipoDocumento, @Codigo,
															@CentroCosto, @SituacionRenovacion, @FechaEmision, @FechaInicioValidez, @FechaFinValidez, @EsVencimiento,
															@Moneda, @TipoCambio, @FactorImpuesto, @MontoLN*1.18, @MontoImpuesto, @MontoLN, @MontoLN*@TipoCambio,
															0, @EsAfectoValidacion, @UsuarioCrea, GETDATE(), @Observacion, @Categoria, @DirectorioLocal, @DirectorioNube)

		IF HOST_NAME() IN ('', 'JTORIBIO')
		BEGIN
			SET @exito = '777= TEST OK'
			ROLLBACK
			GOTO Terminar
		END
	
	END TRY
	BEGIN CATCH

				SET @exito = RTRIM(LTRIM(STR(ERROR_NUMBER()))) + '=' + ERROR_MESSAGE()
				ROLLBACK
				GOTO Terminar
				
	END CATCH

IF @@TRANCOUNT > 0
	COMMIT;

TERMINAR:
IF LEFT(@Exito,1)='-' OR cast(left(@Exito,1) AS INT)>0 BEGIN
	DECLARE @storedProcedureName VARCHAR(100)
	SELECT @storedProcedureName = OBJECT_NAME(@@PROCID)
	SET @exito = @exito + CHAR(13)+CHAR(13)+'SP Name: '+@storedProcedureName
END

SELECT @exito exito

------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ing. Jordyn Toribio Esquivel
-- Create date: 28.Mayo.2022
-- Description:	Actualizar Documentos
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Operaciones_ControlDocumentos_Actualizar]  
@IdDocumento VARCHAR(30), 
@Compania VARCHAR(30), 
@Sucursal VARCHAR(10),
@TipoRelacion VARCHAR(05), 
@IdRelacion INT,
@IdTipoDocumento INT, 
@Codigo VARCHAR(80), 
@CentroCosto VARCHAR(20) = 0,
@SituacionRenovacion VARCHAR(05) = 'VI',
@FechaEmision DATE,
@FechaInicioValidez DATE,
@FechaFinValidez DATE,
@EsVencimiento BIT,
@Moneda VARCHAR(05) = NULL,
@FactorImpuesto NUMERIC(12,6) = NULL,
@MontoAfecto NUMERIC(12,6) = NULL,
@MontoImpuesto NUMERIC(12,6) = NULL,
@MontoLN NUMERIC(12,6) = NULL,
@EsAfectoValidacion INT = 1, 
@UsuarioActualiza VARCHAR(30),
@DirectorioLocal VARCHAR(500),
@DirectorioNube VARCHAR(500),
@Observacion VARCHAR(200) = NULL,
@Categoria INT = NULL
AS
DECLARE @exito varchar(max)
SET @exito = '0= Actualizado Exitoso!'

BEGIN TRAN
	BEGIN TRY
	
		IF @Categoria = 0
		BEGIN
			SET @Categoria = NULL
		END
		
		DECLARE @FFinValidezAnt DATE
		DECLARE @FEmisionValidezAnt DATE
		DECLARE @FInicioValidezAnt DATE
		
		SELECT @FFinValidezAnt = r.FechaFinValidez, @FEmisionValidezAnt = r.FechaEmision, @FInicioValidezAnt = r.FechaInicioValidez
		FROM ReportesApp_Operacion_ControlDocumentos r
		WHERE r.IdDocumento = @IdDocumento
		
		
		DECLARE @TipoCambio NUMERIC(12,4)
				
		SELECT @TipoCambio =  FactorVenta FROM TipoCambioMast WITH(NOLOCK) WHERE FechaCambio = @FechaEmision	
		SET @TipoCambio = ISNULL(@TipoCambio, 0.00)
		
		IF @EsVencimiento = 0
		BEGIN
			SET @FechaFinValidez = NULL
		END
		
		
		DECLARE @ValDocumento INT = null
		
		IF EXISTS(	SELECT * 
					FROM ReportesApp_Operacion_ControlDocumentos
					WHERE TipoDocumento = @IdTipoDocumento
						AND IdRelacion = @IdRelacion
						AND Relacion = @TipoRelacion
						AND IdDocumento not in (@IdDocumento)
					)
		BEGIN
			
			DECLARE @Relacion VARCHAR(20)
			
			IF @TipoRelacion = 'CD'
			BEGIN
				SET @Relacion = 'este conductor. ' 
			END
			ELSE
			BEGIN
				SET @Relacion = 'esta unidad. ' 
			END
			
			SET @exito = '-1= Ya existe este tipo de documento para ' + @Relacion
			ROLLBACK
			GOTO Terminar
		
		END

		UPDATE r SET r.Compania = @Compania,
					r.Sucursal = @Sucursal,
					r.Relacion = @TipoRelacion,
					r.IdRelacion = @IdRelacion,
					r.TipoDocumento = @IdTipoDocumento,
					r.Codigo = @Codigo,
					r.CentroCosto = @CentroCosto,
					r.SituacionRenovacion = @SituacionRenovacion,
					r.FechaEmision = @FechaEmision,
					r.FechaInicioValidez = @FechaInicioValidez,
					r.FechaFinValidez =	@FechaFinValidez,
					r.EsVencimiento = @EsVencimiento,
					r.Moneda = @Moneda,
					r.FactorImpuesto = @FactorImpuesto,
					r.MontoAfecto =	@MontoAfecto,
					r.MontoImpuesto = @MontoImpuesto,
					r.MontoLN =	@MontoLN,
					r.EsAfectoValidacion = @EsAfectoValidacion, 
					r.UsuarioModifica =	@UsuarioActualiza,
					r.FechaModifica = GETDATE(),
					r.DirectorioLocal = @DirectorioLocal,
					r.DirectorioNube = @DirectorioNube,
					r.Observacion = @Observacion,
					r.Categoria = @Categoria
		FROM ReportesApp_Operacion_ControlDocumentos r
		WHERE r.IdDocumento = @IdDocumento
		
			
		
		DECLARE @NroDoc INT = 0
		SELECT TOP 1 @NroDoc =  IdDocHistorial
		FROM ReportesApp_Operacion_ControlDocumentos_Historial
		ORDER BY IdDocHistorial DESC
		
		SET @NroDoc = ISNULL(@NroDoc, 0) + 1
		
		INSERT INTO ReportesApp_Operacion_ControlDocumentos_Historial(IdDocHistorial, IdDocumento, Compania, Sucursal, Relacion, IdRelacion, TipoDocumento, Codigo,
															CentroCosto, SituacionRenovacion, FechaEmision,	FechaInicioValidez,	FechaFinValidez, EsVencimiento,
															Moneda,	TipoCambio,	FactorImpuesto,	MontoAfecto, MontoImpuesto,	MontoLN, MontoDolares,
															EsAfectoValidacion, UsuarioCrea, FechaCrea, Observacion,
															FechaEmisionAnt, FechaInicioValidezAnt, FechaFinValidezAnt, HostName, Categoria, DirectorioLocal, DirectorioNube)
													VALUES(@NroDoc, @IdDocumento, @Compania, @Sucursal, @TipoRelacion, @IdRelacion, @IdTipoDocumento, @Codigo,
															@CentroCosto, @SituacionRenovacion, @FechaEmision, @FechaInicioValidez, @FechaFinValidez, @EsVencimiento,
															@Moneda, @TipoCambio, @FactorImpuesto, @MontoLN, @MontoImpuesto, @MontoLN, @MontoLN*@TipoCambio,
															@EsAfectoValidacion, @UsuarioActualiza, GETDATE(), @Observacion,
															@FFinValidezAnt, @FEmisionValidezAnt, @FInicioValidezAnt, Host_Name(), @Categoria, @DirectorioLocal, @DirectorioNube)
		IF HOST_NAME() IN ('DESKTOP-FNO4LB1')
		BEGIN
			SET @exito = '777= TEST OK'
			ROLLBACK
			GOTO Terminar
		END
	
	END TRY
	BEGIN CATCH

		SET @exito = RTRIM(LTRIM(STR(ERROR_NUMBER()))) + '=' + ERROR_MESSAGE()
		ROLLBACK
		GOTO Terminar
				
	END CATCH

IF @@TRANCOUNT > 0
	COMMIT;

TERMINAR:
IF LEFT(@Exito,1)='-' OR cast(left(@Exito,1) AS INT)>0 BEGIN
	DECLARE @storedProcedureName VARCHAR(100)
	SELECT @storedProcedureName = OBJECT_NAME(@@PROCID)
	SET @exito = @exito + CHAR(13)+CHAR(13)+'SP Name: '+@storedProcedureName
END

SELECT @exito exito

------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ========================================================
-- Author:		Ing. Jordyn Toribio Esquivel
-- Create date: 28.Mayo.2022
-- Description:	Listar Documentos de Unidades y conductores
-- =========================================================
/*
EXEC ReportesApp_Operaciones_ControlDocumentos_Listar
@Compania = '100000',
@TipoDocumento = 0, 
@TipoFiltro = 2,
@Filtro = null

exec ReportesApp_Operaciones_ControlDocumentos_Listar @Compania=N'100000',@TipoDocumento=0,@TipoFiltro=0,@Filtro=N'',@TipoUnidad=0
exec ReportesApp_Operaciones_ControlDocumentos_Listar @Compania=N'100000',@TipoDocumento=0,@TipoFiltro=1,@Filtro=N'',@TipoUnidad=0 // PLACA
exec ReportesApp_Operaciones_ControlDocumentos_Listar @Compania=N'100000',@TipoDocumento=0,@TipoFiltro=2,@Filtro=N'',@TipoUnidad=0 // CONDUCTOR
exec ReportesApp_Operaciones_ControlDocumentos_Listar @Compania=N'100000',@TipoDocumento=0,@TipoFiltro=1,@Filtro=N'',@TipoUnidad=0
*/

ALTER PROCEDURE [dbo].[ReportesApp_Operaciones_ControlDocumentos_Listar] 
@Compania VARCHAR(10) = '1000000',
@TipoDocumento INT = 0, --0:Todos
@TipoFiltro INT = 0, -- 0:Todos, 1: Placa 2: Conductores
@Filtro VARCHAR(10) = NULL,
@TipoUnidad INT = 0
AS
BEGIN
	
	IF @Filtro IS NULL
	BEGIN
		SET @Filtro = ''
	END
		
	SELECT 'OPERACION'= CASE WHEN @TipoFiltro = 2 or @TipoFiltro = 0 THEN 
								  CASE WHEN C.CodigoEnapu = '1' THEN 'TOLVAS'
									  WHEN C.CodigoEnapu = '2' THEN 'LINDLEY'
									  WHEN C.CodigoEnapu = '3' THEN 'LIMAGAS'
									  WHEN C.CodigoEnapu = '4' THEN 'GENERAL'
									  WHEN C.CodigoEnapu = '5' OR C.CodigoEnapu IS NULL THEN 'SIN OPERACION'
									  WHEN C.CodigoEnapu = '6' THEN 'MAQ/CAMIONETAS'
									  WHEN C.CodigoEnapu = '9' THEN 'LOCAL' 
						           END 
					      ELSE CASE WHEN @TipoFiltro = 1 THEN '' END END ,*
	FROM(
		SELECT 
		DOC.IDDOCUMENTO, DOC.Compania, DOC.Sucursal, S.DescripcionLocal AS UBICACION, 
			CASE WHEN DOC.RELACION = 'VH' THEN 'VH'
				WHEN DOC.RELACION = 'CD' THEN 'CD'
				ELSE 'OTROS'
			END RELACION, 
			CASE WHEN DOC.RELACION = 'CD' THEN 'CONDUCTOR'
				ELSE 'OTROS'
			END TIPO,
			DOC.Relacion AS TIPO_RELACION,
			(CASE DOC.RELACION WHEN 'VH' THEN (SELECT CODIGO FROM OP_TR_VEHICULO WITH(NOLOCK) WHERE IDVEHICULO = DOC.IDRELACION) 
								WHEN 'CD' THEN (SELECT '' FROM PersonaMast WITH(NOLOCK) WHERE Persona = DOC.IDRELACION) 
								WHEN 'CT' THEN (SELECT CODIGO FROM OP_GE_CONTRATO WITH(NOLOCK) WHERE IDCONTRATO = DOC.IDRELACION) 
								ELSE CONVERT(VARCHAR(80), '') 
			END) AS RELACION_CODIGO, DOC.IdRelacion, --PROVEEDOR.DocumentoIdentidad as DNI,
			(CASE DOC.RELACION WHEN 'VH' THEN (SELECT NumeroPlaca FROM OP_TR_VEHICULO WITH(NOLOCK) WHERE IDVEHICULO = DOC.IDRELACION) 
								WHEN 'CD' THEN (SELECT rtrim(NombreCompleto) FROM PersonaMast WITH(NOLOCK) WHERE Persona = DOC.IDRELACION) 
								WHEN 'CT' THEN (SELECT DESCRIPCION FROM OP_GE_CONTRATO WITH(NOLOCK) WHERE IDCONTRATO = DOC.IDRELACION) 
								ELSE CONVERT(VARCHAR(80), '') 
			END) AS RELACION_NOMBRE, DOC.TipoDocumento,  
			TD.Descripcion AS TIPO_DOCUMENTO, DOC.CODIGO,   
			DOC.FECHAEMISION FECHA_EMISION, DOC.FECHAINICIOVALIDEZ FECHA_INICIO_VALIDEZ, DOC.FECHAFINVALIDEZ FECHA_FIN_VALIDEZ,
			DOC.EsVencimiento as TIENE_VENCIMIENTO,
			(CASE WHEN FECHAFINVALIDEZ IS NULL OR DATEDIFF (D, GETDATE(), FECHAFINVALIDEZ) > TD.DiasAlerta THEN 1 
				  WHEN FECHAFINVALIDEZ IS NOT NULL AND DATEDIFF (D, GETDATE(), FECHAFINVALIDEZ ) <= TD.DiasAlerta AND DATEDIFF (D, GETDATE(), FECHAFINVALIDEZ ) > 0 THEN 2 
				  ELSE 3 
			END) AS SEMAFORO, 
			(CASE WHEN FECHAFINVALIDEZ IS NULL OR DATEDIFF (D, GETDATE(), FECHAFINVALIDEZ) > TD.DiasAlerta THEN 'VIGENTE' 
				  WHEN FECHAFINVALIDEZ IS NOT NULL AND DATEDIFF (D, GETDATE(), FECHAFINVALIDEZ ) <= TD.DiasAlerta AND DATEDIFF (D, GETDATE(), FECHAFINVALIDEZ ) > 0 THEN 'POR VENCER' 
				  ELSE 'NO VIGENTE' 
			END) AS SEMAFORO_DESCRIPCION,
			DATEDIFF (DAY, GETDATE(), DOC.FECHAFINVALIDEZ) AS  DIAS,
			RTRIM(DOC.CENTROCOSTO) CENTRO_COSTO, RTRIM(CC.LocalName) AS CENTROCOSTO_DESCRIPCION,  
			DOC.MONEDA, DOC.MONTOLN MONTO_TOTAL, DOC.EsAfectoValidacion AS ES_AFECTOVALIDACION,
			'' AS Marca, '' AS TipoVehiculo, DOC.DirectorioLocal AS 'DIRECTORIO_LOCAL', DOC.DirectorioNube AS 'DIRECTORIO_NUBE', ISNULL(DOC.Observacion, '') OBSERVACION,
			CASE WHEN DOC.Categoria = 1 THEN 'APTO' 
				  WHEN DOC.Categoria = 2 THEN 'APTO CON RESTRICCION'
				  WHEN DOC.Categoria = 3 THEN 'NO APTO' 
				  ELSE '' 
			END CATEGORIA,
			ISNULL(DOC.Categoria, 0) IdCategoria
		FROM ReportesApp_Operacion_ControlDocumentos DOC WITH(NOLOCK) 
			INNER JOIN PERSONAMAST AS P WITH(NOLOCK) ON P.PERSONA = DOC.IdRelacion 
			INNER JOIN EmpleadoMast EM WITH(NOLOCK) ON EM.EMPLEADO = P.Persona
			INNER JOIN ReportesApp_Operacion_TiposDocumentos TD WITH(NOLOCK) ON TD.IdTipoDocumento = DOC.TipoDocumento 
			INNER JOIN AC_COSTCENTERMST CC WITH(NOLOCK) ON CC.CostCenter = DOC.CentroCosto
			INNER JOIN AC_Sucursal S WITH(NOLOCK) ON S.Sucursal = DOC.SUCURSAL
			
		WHERE DOC.Anulado = 0 
			AND DOC.Compania = @Compania
			AND ((@TipoFiltro = 0)
					OR (@TipoFiltro = 2 AND DOC.RELACION = 'CD')
				)
			AND (@TipoDocumento = 0 or (DOC.TipoDocumento = @TipoDocumento))
			AND DOC.Relacion = 'CD'
			AND P.Estado = 'A'
			AND EM.ESTADO = 'A'
						
		UNION
		
		SELECT  DOC.IDDOCUMENTO, DOC.Compania, DOC.Sucursal, S.DescripcionLocal AS SUCURSAL_DESCRIPCION, 
			CASE WHEN DOC.RELACION = 'VH' THEN 'VH'
				WHEN DOC.RELACION = 'CD' THEN 'CD'
				ELSE 'OTROS'
			END RELACION, 
			CASE WHEN DOC.RELACION = 'VH' THEN VH.SubTipo
				WHEN DOC.RELACION = 'CD' THEN 'CONDUCTOR'
				ELSE 'OTROS'
			END TIPO,
			DOC.Relacion AS TIPO_RELACION,
			(CASE DOC.RELACION WHEN 'VH' THEN (SELECT CODIGO FROM OP_TR_VEHICULO WITH(NOLOCK) WHERE IDVEHICULO = DOC.IDRELACION) 
								WHEN 'CD' THEN (SELECT '' FROM PersonaMast WITH(NOLOCK) WHERE Persona = DOC.IDRELACION) 
								WHEN 'CT' THEN (SELECT CODIGO FROM OP_GE_CONTRATO WITH(NOLOCK) WHERE IDCONTRATO = DOC.IDRELACION) 
								ELSE CONVERT(VARCHAR(80), '') 
			END) AS RELACION_CODIGO, DOC.IdRelacion, -- PROVEEDOR.DocumentoIdentidad as DNI,
			(CASE DOC.RELACION WHEN 'VH' THEN (SELECT NumeroPlaca FROM OP_TR_VEHICULO WITH(NOLOCK) WHERE IDVEHICULO = DOC.IDRELACION) 
								WHEN 'CD' THEN (SELECT rtrim(NombreCompleto) FROM PersonaMast WITH(NOLOCK) WHERE Persona = DOC.IDRELACION) 
								WHEN 'CT' THEN (SELECT DESCRIPCION FROM OP_GE_CONTRATO WITH(NOLOCK) WHERE IDCONTRATO = DOC.IDRELACION) 
								ELSE CONVERT(VARCHAR(80), '') 
			END) AS RELACION_NOMBRE, DOC.TipoDocumento,  
			TD.Descripcion AS TIPO_DOCUMENTO, DOC.CODIGO,   
			DOC.FECHAEMISION FECHA_EMISION, DOC.FECHAINICIOVALIDEZ FECHA_INICIO_VALIDEZ, DOC.FECHAFINVALIDEZ FECHA_FIN_VALIDEZ,
			DOC.EsVencimiento as TIENE_VENCIMIENTO,
			(CASE WHEN FECHAFINVALIDEZ IS NULL OR DATEDIFF (D, GETDATE(), FECHAFINVALIDEZ) > TD.DiasAlerta THEN 1 
				  WHEN FECHAFINVALIDEZ IS NOT NULL AND DATEDIFF (D, GETDATE(), FECHAFINVALIDEZ ) <= TD.DiasAlerta AND DATEDIFF (D, GETDATE(), FECHAFINVALIDEZ ) > 0 THEN 2 
				  ELSE 3 
			END) AS SEMAFORO, 
			(CASE WHEN FECHAFINVALIDEZ IS NULL OR DATEDIFF (D, GETDATE(), FECHAFINVALIDEZ) > TD.DiasAlerta THEN 'VIGENTE' 
				  WHEN FECHAFINVALIDEZ IS NOT NULL AND DATEDIFF (D, GETDATE(), FECHAFINVALIDEZ ) <= TD.DiasAlerta AND DATEDIFF (D, GETDATE(), FECHAFINVALIDEZ ) > 0 THEN 'POR VENCER' 
				  ELSE 'NO VIGENTE' 
			END) AS SEMAFORO_DESCRIPCION,
			DATEDIFF (DAY, GETDATE(), DOC.FECHAFINVALIDEZ) AS  DIAS,
			RTRIM(DOC.CENTROCOSTO) CENTRO_COSTO, RTRIM(CC.LocalName) AS CENTROCOSTO_DESCRIPCION,  
			DOC.MONEDA, DOC.MONTOLN MONTO_TOTAL, DOC.EsAfectoValidacion AS ES_AFECTOVALIDACION,
			VH.MarcaDescripcion AS Marca, VH.Tipo AS TipoVehiculo, DOC.DirectorioLocal AS 'DIRECTORIO_LOCAL', DOC.DirectorioNube AS 'DIRECTORIO_NUBE', ISNULL(DOC.Observacion, '') OBSERVACION,
			CASE WHEN DOC.Categoria = 1 THEN 'APTO' 
				  WHEN DOC.Categoria= 2 THEN 'APTO CON RESTRICCION'
				  WHEN DOC.Categoria = 3 THEN 'NO APTO' 
				  ELSE '' 
			END CATEGORIA,
			ISNULL(DOC.Categoria, 0) IdCategoria
		FROM ReportesApp_Operacion_ControlDocumentos DOC WITH(NOLOCK) 
			INNER JOIN ReportesApp_Operacion_TiposDocumentos TD WITH(NOLOCK) ON TD.IdTipoDocumento = DOC.TipoDocumento 
			INNER JOIN AC_COSTCENTERMST CC WITH(NOLOCK) ON CC.CostCenter = DOC.CentroCosto
			INNER JOIN AC_Sucursal S WITH(NOLOCK) ON S.Sucursal = DOC.SUCURSAL
			INNER JOIN ( SELECT V.*, TIPOVEHICULO.Descripcion AS 'Tipo', MM.Descripcion AS MarcaDescripcion, 
							T.Descripcion SubTipo, T.SubTipoVehiculo IdSubTipo
						FROM OP_TR_VEHICULO V WITH(NOLOCK) --ON V.IdVehiculo = DOC.IdRelacion
							INNER JOIN OP_TR_SubTipoVehiculo T ON T.SubTipoVehiculo = V.SubTipoVehiculo
							INNER JOIN  ME_MaquinaMarca MM ON MM.Marca = V.Marca
							INNER JOIN GE_VARIOS AS TIPOVEHICULO WITH(NOLOCK) ON TIPOVEHICULO.SECUENCIAL = V.TIPOVEHICULO 
																AND TIPOVEHICULO.CODIGOTABLA = 'TIPOVEHICULO'
							WHERE V.Estado = '2'
						) VH ON VH.IdVehiculo = DOC.IdRelacion 
		WHERE DOC.Anulado = 0 
			AND DOC.Compania = @Compania
			AND ((@TipoFiltro = 0)
					OR (@TipoFiltro = 1 AND DOC.RELACION = 'VH' AND (@TipoUnidad = 0 OR VH.IdSubTipo = @TipoUnidad))
					OR (@TipoFiltro = 2 AND DOC.RELACION = 'CD')
				)
			AND (@TipoDocumento = 0 or (DOC.TipoDocumento = @TipoDocumento))
			AND DOC.Relacion = 'VH'
			AND VH.Estado = 2
			AND VH.IndTercero = 'P'
		
	) X 
	LEFT JOIN OP_TR_Conductor C ON X.IdRelacion = C.IdPersona and C.Estado = 'A'
	WHERE X.RELACION_NOMBRE LIKE '%' + @Filtro + '%' 
	ORDER BY X.FECHA_FIN_VALIDEZ, X.CODIGO, X.RELACION_NOMBRE ASC
END