
-- REVISAR TABLA ReportesApp_Operacion_ControlDocumentos_Historial

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 18-09-2023
-- Description:	LISTAR HISTORIAL DE DOCUMENTOS
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Operaciones_ControlDocumentos_ListarHistorial]
@Opcion INT,
@NombreConductor VARCHAR(150),
@FECHINI VARCHAR(10),
@FECHFIN VARCHAR(10)
AS
BEGIN
	DECLARE @FINICIO DATETIME = @FECHINI
	DECLARE @FFIN DATETIME = @FECHFIN + ' 23:59'	

	IF (@Opcion = 1) BEGIN  -- LISTAR CONDUCTORES
		SELECT H.IdDocHistorial, H.IdDocumento, (CASE WHEN H.Relacion = 'CD' THEN 'CONDUCTOR' ELSE 'OTROS' END) AS 'TIPO',
		(SELECT rtrim(NombreCompleto) FROM PersonaMast WITH(NOLOCK) WHERE Persona = H.IdRelacion) AS 'RELACION_NOMBRE', TD.Descripcion AS 'TIPO_DOCUMENTO', H.Codigo AS 'CODIGO',
		H.FechaEmision AS 'FECHA_EMISION', H.FechaInicioValidez AS 'FECHA_INICIO_VALIDEZ', H.FechaFinValidez AS 'FECHA_FIN_VALIDEZ',
		H.FechaInicioValidezAnt AS 'FECHA_EMISION_ANT',  H.FechaFinValidezAnt AS 'FECHA_INICIO_VALIDEZ_ANT', H.FechaEmisionAnt AS 'FECHA_FIN_VALIDEZ_ANT',
		(CASE WHEN H.EsVencimiento = 0 THEN 'NO' ELSE 'SI' END) AS 'TIENE_VENCIMIENTO', H.FechaCrea AS 'ULTIMA_MODIFICACION', H.UsuarioCrea AS 'ULTIMO_USUARIO'
		FROM ReportesApp_Operacion_ControlDocumentos_Historial H LEFT JOIN ReportesApp_Operacion_TiposDocumentos TD WITH(NOLOCK) ON TD.IdTipoDocumento = H.TipoDocumento 
		WHERE Relacion = 'CD' AND (H.FechaEmision != H.FechaInicioValidezAnt OR H.FechaFinValidezAnt != H.FechaInicioValidez OR H.FechaEmisionAnt != H.FechaFinValidez)
		AND (@NombreConductor IS NULL OR (SELECT rtrim(NombreCompleto) FROM PersonaMast WITH(NOLOCK) WHERE Persona = H.IdRelacion) LIKE '%' + @NombreConductor + '%')
		AND (H.FechaCrea BETWEEN @FINICIO AND @FFIN)
		ORDER BY 'ULTIMA_MODIFICACION' DESC
	END
	
	IF (@Opcion = 2) BEGIN  -- LISTAR VEHICULOS
		SELECT H.IdDocHistorial, H.IdDocumento,
		(SELECT T.Descripcion FROM OP_TR_VEHICULO V LEFT JOIN OP_TR_SubTipoVehiculo T ON T.SubTipoVehiculo = V.SubTipoVehiculo WHERE V.IDVEHICULO = H.IdRelacion) AS 'TIPO',
		(SELECT NumeroPlaca FROM OP_TR_VEHICULO WITH(NOLOCK) WHERE IDVEHICULO = H.IdRelacion) AS 'RELACION_NOMBRE', TD.Descripcion AS 'TIPO_DOCUMENTO',
		H.Codigo AS 'CODIGO', H.FechaEmision AS 'FECHA_EMISION', H.FechaInicioValidez AS 'FECHA_INICIO_VALIDEZ', H.FechaFinValidez AS 'FECHA_FIN_VALIDEZ',
		H.FechaInicioValidezAnt AS 'FECHA_EMISION_ANT',  H.FechaFinValidezAnt AS 'FECHA_INICIO_VALIDEZ_ANT', H.FechaEmisionAnt AS 'FECHA_FIN_VALIDEZ_ANT',
		(CASE WHEN H.EsVencimiento = 0 THEN 'NO' ELSE 'SI' END) AS 'TIENE_VENCIMIENTO', H.FechaCrea AS 'ULTIMA_MODIFICACION', H.UsuarioCrea AS 'ULTIMO_USUARIO'
		FROM ReportesApp_Operacion_ControlDocumentos_Historial H LEFT JOIN ReportesApp_Operacion_TiposDocumentos TD WITH(NOLOCK) ON TD.IdTipoDocumento = H.TipoDocumento 
		WHERE Relacion = 'VH' AND (H.FechaEmision != H.FechaInicioValidezAnt OR H.FechaFinValidezAnt != H.FechaInicioValidez OR H.FechaEmisionAnt != H.FechaFinValidez)
		AND (@NombreConductor IS NULL OR (SELECT NumeroPlaca FROM OP_TR_VEHICULO WITH(NOLOCK) WHERE IDVEHICULO = H.IdRelacion) LIKE '%' + @NombreConductor + '%')
		AND (H.FechaCrea BETWEEN @FINICIO AND @FFIN)
		ORDER BY 'ULTIMA_MODIFICACION' DESC
	END
END

-----------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ing. Jordyn Toribio Esquivel
-- Create date: 28.Mayo.2022
-- Description:	Actualizar Documentos
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Operaciones_ControlDocumentos_Actualizar]  
@IdDocumento VARCHAR(30), 
@Compania VARCHAR(30), 
@Sucursal VARCHAR(10),
@TipoRelacion VARCHAR(05), 
@IdRelacion INT,
@IdTipoDocumento INT, 
@Codigo VARCHAR(80), 
@CentroCosto VARCHAR(20) = 0,
@SituacionRenovacion VARCHAR(05) = 'VI',
@FechaEmision DATE,
@FechaInicioValidez DATE,
@FechaFinValidez DATE,
@EsVencimiento BIT,
@Moneda VARCHAR(05) = NULL,
@FactorImpuesto NUMERIC(12,6) = NULL,
@MontoAfecto NUMERIC(12,6) = NULL,
@MontoImpuesto NUMERIC(12,6) = NULL,
@MontoLN NUMERIC(12,6) = NULL,
@EsAfectoValidacion INT = 1, 
@UsuarioActualiza VARCHAR(30),
@DirectorioLocal VARCHAR(500),
@DirectorioNube VARCHAR(500),
@Observacion VARCHAR(200) = NULL,
@Categoria INT = NULL
AS
DECLARE @exito varchar(max)

DECLARE @AntFEmision DATE
DECLARE @AntFInicio DATE
DECLARE @AntFFin DATE
SELECT @AntFFin = r.FechaFinValidez, @AntFEmision = r.FechaEmision, @AntFInicio = r.FechaInicioValidez
FROM ReportesApp_Operacion_ControlDocumentos r WHERE r.IdDocumento = @IdDocumento

IF ((@FechaEmision < @AntFEmision) OR (@FechaInicioValidez < @AntFInicio) OR (@FechaFinValidez < @AntFFin)) BEGIN
	SET @Exito = '-2 = No puede ingresar una fecha vencida.'
	GOTO Terminar
END

SET @exito = '0= Actualizado Exitoso!'

BEGIN TRAN
	BEGIN TRY
		IF @Categoria = 0 BEGIN
			SET @Categoria = NULL
		END
		
		DECLARE @FFinValidezAnt DATE
		DECLARE @FEmisionValidezAnt DATE
		DECLARE @FInicioValidezAnt DATE
		SELECT @FFinValidezAnt = r.FechaFinValidez, @FEmisionValidezAnt = r.FechaEmision, @FInicioValidezAnt = r.FechaInicioValidez
		FROM ReportesApp_Operacion_ControlDocumentos r
		WHERE r.IdDocumento = @IdDocumento
		
		DECLARE @TipoCambio NUMERIC(12,4)
		SELECT @TipoCambio =  FactorVenta FROM TipoCambioMast WITH(NOLOCK) WHERE FechaCambio = @FechaEmision	
		SET @TipoCambio = ISNULL(@TipoCambio, 0.00)
		
		IF @EsVencimiento = 0 BEGIN
			SET @FechaFinValidez = NULL
		END
		
		DECLARE @ValDocumento INT = null
		IF EXISTS(SELECT * FROM ReportesApp_Operacion_ControlDocumentos WHERE TipoDocumento = @IdTipoDocumento
				  AND IdRelacion = @IdRelacion AND Relacion = @TipoRelacion AND IdDocumento not in (@IdDocumento)) BEGIN
			DECLARE @Relacion VARCHAR(20)
			
			IF @TipoRelacion = 'CD' BEGIN
				SET @Relacion = 'este conductor. ' 
			END
			ELSE BEGIN
				SET @Relacion = 'esta unidad. ' 
			END
			
			SET @exito = '-1= Ya existe este tipo de documento para ' + @Relacion
			ROLLBACK
			GOTO Terminar
		END

		UPDATE r SET r.Compania = @Compania,
					r.Sucursal = @Sucursal,
					r.Relacion = @TipoRelacion,
					r.IdRelacion = @IdRelacion,
					r.TipoDocumento = @IdTipoDocumento,
					r.Codigo = @Codigo,
					r.CentroCosto = @CentroCosto,
					r.SituacionRenovacion = @SituacionRenovacion,
					r.FechaEmision = @FechaEmision,
					r.FechaInicioValidez = @FechaInicioValidez,
					r.FechaFinValidez =	@FechaFinValidez,
					r.EsVencimiento = @EsVencimiento,
					r.Moneda = @Moneda,
					r.FactorImpuesto = @FactorImpuesto,
					r.MontoAfecto =	@MontoAfecto,
					r.MontoImpuesto = @MontoImpuesto,
					r.MontoLN =	@MontoLN,
					r.EsAfectoValidacion = @EsAfectoValidacion, 
					r.UsuarioModifica =	@UsuarioActualiza,
					r.FechaModifica = GETDATE(),
					r.DirectorioLocal = @DirectorioLocal,
					r.DirectorioNube = @DirectorioNube,
					r.Observacion = @Observacion,
					r.Categoria = @Categoria
		FROM ReportesApp_Operacion_ControlDocumentos r
		WHERE r.IdDocumento = @IdDocumento
		
		DECLARE @NroDoc INT = 0
		SELECT TOP 1 @NroDoc =  IdDocHistorial
		FROM ReportesApp_Operacion_ControlDocumentos_Historial
		ORDER BY IdDocHistorial DESC
		
		SET @NroDoc = ISNULL(@NroDoc, 0) + 1
		INSERT INTO ReportesApp_Operacion_ControlDocumentos_Historial(IdDocHistorial, IdDocumento, Compania, Sucursal, Relacion, IdRelacion, TipoDocumento, Codigo,
															CentroCosto, SituacionRenovacion, FechaEmision,	FechaInicioValidez,	FechaFinValidez, EsVencimiento,
															Moneda,	TipoCambio,	FactorImpuesto,	MontoAfecto, MontoImpuesto,	MontoLN, MontoDolares,
															EsAfectoValidacion, UsuarioCrea, FechaCrea, Observacion,
															FechaEmisionAnt, FechaInicioValidezAnt, FechaFinValidezAnt, HostName, Categoria, DirectorioLocal, DirectorioNube)
													VALUES(@NroDoc, @IdDocumento, @Compania, @Sucursal, @TipoRelacion, @IdRelacion, @IdTipoDocumento, @Codigo,
															@CentroCosto, @SituacionRenovacion, @FechaEmision, @FechaInicioValidez, @FechaFinValidez, @EsVencimiento,
															@Moneda, @TipoCambio, @FactorImpuesto, @MontoLN, @MontoImpuesto, @MontoLN, @MontoLN*@TipoCambio,
															@EsAfectoValidacion, @UsuarioActualiza, GETDATE(), @Observacion,
															@FFinValidezAnt, @FEmisionValidezAnt, @FInicioValidezAnt, Host_Name(), @Categoria, @DirectorioLocal, @DirectorioNube)
		
		-- GENERAR CORREO --
		IF ((@FechaEmision != @AntFEmision) OR (@FechaInicioValidez != @AntFInicio) OR (@FechaFinValidez != @AntFFin)) BEGIN
			DECLARE @TablaRenovaciones TABLE(FECHA_EMISION_ANT DATETIME, FECHA_EMISION DATETIME, FECHA_INICIO_VALIDEZ_ANT DATETIME, FECHA_INICIO_VALIDEZ DATETIME,
											 FECHA_FIN_VALIDEZ_ANT DATETIME, FECHA_FIN_VALIDEZ DATETIME, ENLACE_LOCAL VARCHAR(10), ENLACE_NUBE VARCHAR(10), ULTIMO_USUARIO VARCHAR(50),
											 ULTIMA_MODIFICACION DATETIME)
			INSERT INTO @TablaRenovaciones
			SELECT TOP(1) H.FechaInicioValidezAnt, H.FechaEmision, H.FechaFinValidezAnt, H.FechaInicioValidez, H.FechaEmisionAnt, H.FechaFinValidez,
			(CASE WHEN H.DirectorioLocal = '' THEN 'NO' ELSE 'SÍ' END), (CASE WHEN H.DirectorioNube = '' THEN 'NO' ELSE 'SÍ' END), H.UsuarioCrea, H.FechaCrea
			FROM ReportesApp_Operacion_ControlDocumentos_Historial H
			WHERE H.IdDocHistorial = @NroDoc

			IF (SELECT COUNT(FECHA_EMISION_ANT) FROM @TablaRenovaciones) > 0 BEGIN
				DECLARE @TablaHTML VARCHAR(MAX)='', @J INT=1, @IMAX INT
				DECLARE @TablaCabHTML VARCHAR(MAX)='', @TablaCuerpoHTML VARCHAR(MAX)=''

				SET @IMAX=(SELECT COUNT(FECHA_EMISION_ANT) FROM @TablaRenovaciones)

				SET @TablaCabHTML =
				'<TABLE BORDER=''1''>'
				+'<TR>'
				+'<TD style="background-color:yellow" >FECHA_EMISION</TD>'
				+'<TD style="background-color:yellow" >FECHA_INICIO</TD>'
				+'<TD style="background-color:yellow" >FECHA_FIN</TD>'
				+'<TD style="background-color:orange" >FECHA_EMISION_ANTERIOR</TD>'
				+'<TD style="background-color:orange" >FECHA_INICIO_ANTERIOR</TD>'
				+'<TD style="background-color:orange" >FECHA_FIN_ANTERIOR</TD>'
				+'<TD style="background-color:cyan" >RUTA_LOCAL</TD>'
				+'<TD style="background-color:cyan" >RUTA_NUBE</TD>'
				+'<TD style="background-color:cyan" >ULTIMA_MODIFICACION</TD>'
				+'<TD style="background-color:cyan" >ULTIMO_USUARIO</TD></TR>'

				WHILE @J <= @IMAX BEGIN
					SET @TablaCuerpoHTML=@TablaCuerpoHTML+(SELECT '<TR>'
										+'<TD>'+CONVERT(VARCHAR,T.FECHA_EMISION,103)+'</TD>'
										+'<TD>'+CONVERT(VARCHAR,T.FECHA_INICIO_VALIDEZ,103)+'</TD>'
										+'<TD>'+ISNULL(CONVERT(VARCHAR,T.FECHA_FIN_VALIDEZ,103),'-')+'</TD>'
										+'<TD>'+CONVERT(VARCHAR,T.FECHA_EMISION_ANT,103)+'</TD>'
										+'<TD>'+CONVERT(VARCHAR,T.FECHA_INICIO_VALIDEZ_ANT,103)+'</TD>'
										+'<TD>'+ISNULL(CONVERT(VARCHAR,T.FECHA_FIN_VALIDEZ_ANT,103),'-')+'</TD>'
										+'<TD>'+T.ENLACE_LOCAL+'</TD>'
										+'<TD>'+T.ENLACE_NUBE+'</TD>'
										+'<TD>'+CONVERT(CHAR(10),ULTIMA_MODIFICACION,103)+RIGHT(RTRIM(CONVERT(CHAR(26),ULTIMA_MODIFICACION,22)),12)+'</TD>'
										+'<TD>'+T.ULTIMO_USUARIO+'</TD>'
										+'</TR>'
										FROM @TablaRenovaciones T) 
					  SET @J = @J + 1
				END
				 
				SET @TablaHTML = @TablaHTML + @TablaCabHTML + @TablaCuerpoHTML+'</TABLE>'

				DECLARE @w_CodEmpresa CHAR(2), @NombreEmpresa VARCHAR(150),@NombrePlanilla VARCHAR(50)
				DECLARE @Mensaje AS VARCHAR(MAX),@Asunto VARCHAR(300),@UsuarioReg VARCHAR(50), @destinatarios VARCHAR(500)

				DECLARE @NombreC VARCHAR(150) 
				DECLARE @TipoDocumentoC VARCHAR(150)
				DECLARE @CodigoC VARCHAR(100)

				IF (@TipoRelacion = 'CD') BEGIN
					SET @NombreC = (SELECT rtrim(P.NombreCompleto) FROM ReportesApp_Operacion_ControlDocumentos_Historial H
									LEFT JOIN PersonaMast P ON P.Persona = H.IdRelacion WHERE H.IdDocHistorial = @NroDoc)
					SET @TipoDocumentoC = (SELECT TD.Descripcion FROM ReportesApp_Operacion_ControlDocumentos_Historial H
										  LEFT JOIN ReportesApp_Operacion_TiposDocumentos TD ON TD.IdTipoDocumento = H.TipoDocumento WHERE H.IdDocHistorial = @NroDoc)
					SET @CodigoC = (SELECT H.Codigo FROM ReportesApp_Operacion_ControlDocumentos_Historial H WHERE H.IdDocHistorial = @NroDoc)
				
					SET @Asunto='RENOVACIÓN DE DOCUMENTO DE CONDUCTOR'
					SET @Mensaje =  '<p><h1>RENOVACIÓN DE DOCUMENTO DE CONDUCTOR</h1></p>'
									+'<p>Nombre del Conductor: '+@NombreC+'</p>'
									+'<p>Tipo de Documento: '+@TipoDocumentoC+'</p>'
									+'<p>Código de Documento: '+@CodigoC+'</p>'
									+'<BR>'
									+'<p>'+@TablaHTML+'</p>'
									+'<p>FH Envío: '+CONVERT(CHAR(10),GETDATE(),103)+RIGHT(RTRIM(CONVERT(CHAR(26),GETDATE(),22)),12)+'</p>'
									+'<BR>'
									+'<p><font face="verdana" size="2" color="DarkRed">Tecnologías de la Información - GRUPO TRANSPESA</font></p>'

					SET @destinatarios = 'gerenciaoperaciones@transpesa.com.pe; talentohumano@transpesa.com.pe; lleython@transpesa.com.pe; dpesantes@transpesa.com.pe; tolvas@transpesa.com.pe'
				END

				IF (@TipoRelacion = 'VH') BEGIN
					SET @NombreC = (SELECT V.NumeroPlaca FROM ReportesApp_Operacion_ControlDocumentos_Historial H
									LEFT JOIN OP_TR_VEHICULO V ON V.IDVEHICULO = H.IdRelacion WHERE H.IdDocHistorial = @NroDoc)
					SET @TipoDocumentoC = (SELECT TD.Descripcion FROM ReportesApp_Operacion_ControlDocumentos_Historial H
										  LEFT JOIN ReportesApp_Operacion_TiposDocumentos TD ON TD.IdTipoDocumento = H.TipoDocumento WHERE H.IdDocHistorial = @NroDoc)
					SET @CodigoC = (SELECT H.Codigo FROM ReportesApp_Operacion_ControlDocumentos_Historial H WHERE H.IdDocHistorial = @NroDoc)
				
					SET @Asunto='RENOVACIÓN DE DOCUMENTO DE VEHÍCULO'
					SET @Mensaje =  '<p><h1>RENOVACIÓN DE DOCUMENTO DE VEHÍCULO</h1></p>'
									+'<p>Placa del Vehículo: '+@NombreC+'</p>'
									+'<p>Tipo de Documento: '+@TipoDocumentoC+'</p>'
									+'<p>Código de Documento: '+@CodigoC+'</p>'
									+'<BR>'
									+'<p>'+@TablaHTML+'</p>'
									+'<p>FH Envío: '+CONVERT(CHAR(10),GETDATE(),103)+RIGHT(RTRIM(CONVERT(CHAR(26),GETDATE(),22)),12)+'</p>'
									+'<BR>'
									+'<p><font face="verdana" size="2" color="DarkRed">Tecnologías de la Información - GRUPO TRANSPESA</font></p>'

					SET @destinatarios = 'gerenciaoperaciones@transpesa.com.pe; lleython@transpesa.com.pe; dpesantes@transpesa.com.pe; tolvas@transpesa.com.pe'
				END

				EXEC msdb.dbo.sp_send_dbmail 
				@profile_name='AVISODESISTEMA', -- REAL: @profile_name = 'AVISODESISTEMA',
				@recipients=@destinatarios,
				--@blind_copy_recipients='desarrollo2@transpesa.com.pe', 
				@subject=@Asunto,
				@body_format = 'HTML', 
				@body=@Mensaje
			END
		END

		IF HOST_NAME() IN ('DESKTOP-FNO4LB1')
		BEGIN
			SET @exito = '777= TEST OK'
			ROLLBACK
			GOTO Terminar
		END
	END TRY
	
	BEGIN CATCH
		SET @exito = RTRIM(LTRIM(STR(ERROR_NUMBER()))) + '=' + ERROR_MESSAGE()
		ROLLBACK
		GOTO Terminar	
	END CATCH

IF @@TRANCOUNT > 0
	COMMIT;

TERMINAR:
IF LEFT(@Exito,1)='-' OR cast(left(@Exito,1) AS INT)>0 BEGIN
	DECLARE @storedProcedureName VARCHAR(100)
	SELECT @storedProcedureName = OBJECT_NAME(@@PROCID)
	SET @exito = @exito + CHAR(13)+CHAR(13)+'SP Name: '+@storedProcedureName
END

SELECT @exito exito