
-- UPDATE Usuario SET Estado = 'A' WHERE Usuario = 'DEMO'

-- MODIFICAR TABLA ReportesApp_Mantenimiento_Herramientas Y LLENARLA

-- CREAR TABLA ReportesApp_Mantenimiento_Herramientas_Almacen Y LLENARLA

--001 - TRUJILLO, 002 - LIMA
/*
UPDATE ReportesApp_Mantenimiento_Herramientas
SET Almacen = '001'
*/

-----------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		ING. JOEL ROJAS RODRIGUEZ
-- Create date: 03/08/2021
-- Description:	REGISTRA HERRAMIENTAS PARA CONTROL
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Mantenimiento_ControlHerramientas_HerramientaRegistra]
@Descripcion VARCHAR(50)='',
@CodigoItemAlmacen CHAR(20)='',
@CodigoInterno CHAR(20)='',
@EsDeAlmacen BIT=0,
@IDCategoria INT,
@CodAlmacen CHAR(3) = '',
@UserRegistra VARCHAR(20)
AS
DECLARE @exito varchar(max)

SET @exito='0=Registro Exitoso!'

IF EXISTS(SELECT TOP 1 (1) FROM ReportesApp_Mantenimiento_Herramientas WHERE RTRIM(LTRIM(CodigoInterno))=RTRIM(LTRIM(@CodigoInterno)) AND Descripcion=RTRIM(LTRIM(@Descripcion))) BEGIN
	SET @exito='-1=Ya existe herramienta con Codigo: '+RTRIM(LTRIM(@CodigoInterno))+' y Descripcion: '+RTRIM(LTRIM(@Descripcion))
	GOTO Terminar
END

BEGIN TRAN
BEGIN TRY
	IF (@UserRegistra IN ('FLINARES', 'PNAVARRO','RCORZO','JALBAN')) BEGIN
		INSERT INTO ReportesApp_Mantenimiento_Herramientas(Descripcion, IDCategoria, CodigoItemAlmacen,CodigoInterno,EsDeAlmacen,Estado,Almacen,UserRegistra,FHRegistra)
		VALUES(RTRIM(@Descripcion),@IDCategoria,@CodigoItemAlmacen,@CodigoInterno, @EsDeAlmacen,1,'002',@UserRegistra,GETDATE())
	END
	ELSE BEGIN
		INSERT INTO ReportesApp_Mantenimiento_Herramientas(Descripcion, IDCategoria, CodigoItemAlmacen,CodigoInterno,EsDeAlmacen,Estado,Almacen,UserRegistra,FHRegistra)
		VALUES(RTRIM(@Descripcion),@IDCategoria,@CodigoItemAlmacen,@CodigoInterno, @EsDeAlmacen,1,'001',@UserRegistra,GETDATE())
	END
END TRY

BEGIN CATCH
	SET @exito = RTRIM(LTRIM(STR(ERROR_NUMBER()))) + '=' + ERROR_MESSAGE()
	ROLLBACK
	GOTO Terminar		
END CATCH

IF @@TRANCOUNT > 0
	COMMIT;

TERMINAR:
IF LEFT(@Exito,1)='-' OR cast(left(@Exito,1) as int)>0 BEGIN
	DECLARE @storedProcedureName VARCHAR(100)
	SELECT @storedProcedureName = OBJECT_NAME(@@PROCID)
	SET @exito = @exito + CHAR(13)+CHAR(13)+'SP Name: '+@storedProcedureName
END

SELECT @exito exito

-----------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		ING. JOEL ROJAS RODRIGUEZ
-- Create date: 23/07/2021
-- Description:	LISTAR HERRAMIENTAS DE ALMACEN GENERAL
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Mantenimiento_ControlHerramientas_Herramientas_Listar]
@opcion int=1, --1) Solo Disponibles  2) Lista General
@Usuario VARCHAR(50)
AS
IF @opcion=1 BEGIN
	IF (@Usuario IN ('FLINARES','PNAVARRO','RCORZO','JALBAN','MROBLES')) BEGIN
		SELECT 
			Htas.IdHerramienta,
			(CASE WHEN Htas.Almacen = '001' THEN 'TRUJILLO' ELSE 'LIMA' END) AS 'Sucursal',
			Htas.CodigoInterno,
			RTRIM(Htas.Descripcion)as 'Descripcion',
			cat.Descripcion Categoria,
			Htas.CodigoItemAlmacen,
			Htas.EsDeAlmacen,
		CASE WHEN Htas.Estado=0 THEN 'INACTIVO' ELSE 'ACTIVO' END Estado
		FROM ReportesApp_Mantenimiento_Herramientas Htas
		LEFT JOIN ReportesApp_Mantenimiento_HerramientaPersona HtaPer ON HtaPer.IdHerramienta=Htas.IdHerramienta
		LEFT JOIN ReportesApp_Mantenimiento_Herramientas_Categoria cat ON cat.IDCategoria=Htas.IDCategoria
		WHERE HtaPer.Persona IS NULL AND Htas.Almacen = '002'
		ORDER BY Descripcion
	END
	ELSE BEGIN
		SELECT 
			Htas.IdHerramienta,
			(CASE WHEN Htas.Almacen = '001' THEN 'TRUJILLO' ELSE 'LIMA' END) AS 'Sucursal',
			Htas.CodigoInterno,
			RTRIM(Htas.Descripcion)as 'Descripcion',
			cat.Descripcion Categoria,
			Htas.CodigoItemAlmacen,
			Htas.EsDeAlmacen,
		CASE WHEN Htas.Estado=0 THEN 'INACTIVO' ELSE 'ACTIVO' END Estado
		FROM ReportesApp_Mantenimiento_Herramientas Htas
		LEFT JOIN ReportesApp_Mantenimiento_HerramientaPersona HtaPer ON HtaPer.IdHerramienta=Htas.IdHerramienta
		LEFT JOIN ReportesApp_Mantenimiento_Herramientas_Categoria cat ON cat.IDCategoria=Htas.IDCategoria
		WHERE HtaPer.Persona IS NULL AND Htas.Almacen = '001'
		ORDER BY Descripcion
	END
END

IF @opcion=2
BEGIN
	SELECT 
		ROW_NUMBER() OVER(ORDER BY cat.Descripcion ASC) AS Item,
		Htas.IdHerramienta,
		(CASE WHEN Htas.Almacen = '001' THEN 'TRUJILLO' ELSE 'LIMA' END) AS 'Sucursal',
		Htas.CodigoInterno,
		RTRIM(Htas.Descripcion)as 'Descripcion',
		cat.Descripcion Categoria,
		Htas.CodigoItemAlmacen,
		CASE WHEN Htas.Estado=0 THEN 'INACTIVO' ELSE 'ACTIVO' END Estado,
		P.NombreCompleto Trabajador,
		HtaPer.FHoraRegistra FHPrestamo
	FROM ReportesApp_Mantenimiento_Herramientas Htas
	LEFT JOIN ReportesApp_Mantenimiento_HerramientaPersona HtaPer ON HtaPer.IdHerramienta=Htas.IdHerramienta
	LEFT JOIN PersonaMast P ON P.Persona=HtaPer.Persona
	LEFT JOIN ReportesApp_Mantenimiento_Herramientas_Categoria cat ON cat.IDCategoria=Htas.IDCategoria
	ORDER BY Categoria ASC, Descripcion
END

-----------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		ING. JOEL ROJAS RODRIGUEZ
-- Create date: 10/08/2021
-- Description:	LISTAR  VINCULO PERSONA - HERRAMIENTA
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Mantenimiento_ControlHerramientas_PersonaHta_Listar]
@Persona INT,
@Usuario VARCHAR(15)
AS
IF (@Usuario IN ('FLINARES','PNAVARRO','RCORZO','JALBAN','MROBLES')) BEGIN
	SELECT HtaPer.Persona,HtaPer.IDHerramienta, Replace(P.NombreCompleto,',','')  Trabajador, RTRIM(hta.Descripcion) Herramienta, Cat.Descripcion Categoria, hta.CodigoInterno, hta.CodigoItemAlmacen CodigoAlmacen, HtaPer.FHoraRegistra FH_Entrega  
	FROM ReportesApp_Mantenimiento_HerramientaPersona HtaPer
	INNER JOIN PersonaMast P ON P.Persona=HtaPer.Persona
	INNER JOIN ReportesApp_Mantenimiento_Herramientas Hta ON Hta.IdHerramienta = HtaPer.IdHerramienta
	LEFT JOIN ReportesApp_Mantenimiento_Herramientas_Categoria Cat ON Cat.IDCategoria=Hta.IDCategoria
	WHERE (HtaPer.Persona = @Persona OR @Persona=0) AND ((Hta.Almacen = '002') OR (HtaPer.Persona IN (64,20711,20712,9983)))
	ORDER BY HtaPer.FHoraRegistra DESC
END
ELSE BEGIN
	SELECT HtaPer.Persona,HtaPer.IDHerramienta, Replace(P.NombreCompleto,',','')  Trabajador, RTRIM(hta.Descripcion) Herramienta, Cat.Descripcion Categoria, hta.CodigoInterno, hta.CodigoItemAlmacen CodigoAlmacen, HtaPer.FHoraRegistra FH_Entrega  
	FROM ReportesApp_Mantenimiento_HerramientaPersona HtaPer
	INNER JOIN PersonaMast P ON P.Persona=HtaPer.Persona
	INNER JOIN ReportesApp_Mantenimiento_Herramientas Hta ON Hta.IdHerramienta = HtaPer.IdHerramienta
	LEFT JOIN ReportesApp_Mantenimiento_Herramientas_Categoria Cat ON Cat.IDCategoria=Hta.IDCategoria
	WHERE (HtaPer.Persona = @Persona OR @Persona=0) AND ((Hta.Almacen = '001') AND (HtaPer.Persona  NOT IN (64,20711,20712,9983)))
	ORDER BY HtaPer.FHoraRegistra DESC
END

-----------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		ING. JOEL ROJAS RODRIGUEZ
-- Create date: 10/08/2021
-- Description:	REGISTRA VINCULO HERRAMIENTA > PERSONA
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Mantenimiento_ControlHerramientas_HerramPersona_Vincular]
@IDHerramienta int,
@Persona int,
@Opcion int, --1=Vincula, 2=Desvincula
@UserRegistra VARCHAR(20)
AS
DECLARE @Almacen CHAR(3)
DECLARE @exito varchar(max)

IF @Opcion=1 BEGIN
	SET @exito='0=Registro Exitoso!'
END
ELSE BEGIN
	SET @exito='0=Desvinculación Exitosa!'
END

SET @Almacen = (SELECT Almacen FROM ReportesApp_Mantenimiento_Herramientas WHERE IdHerramienta=@IDHerramienta)

IF @Opcion=1 BEGIN
	IF EXISTS(SELECT TOP 1(1) FROM ReportesApp_Mantenimiento_HerramientaPersona WHERE IdHerramienta=@IDHerramienta) BEGIN
		SET @exito='-1=La herramienta ya se encuentra asignada, no puede asignarla a la Persona: '+CAST(@Persona AS VARCHAR)
		GOTO Terminar
	END	 
END 

BEGIN TRAN
BEGIN TRY
	IF @Opcion=1 BEGIN
		IF ((@Almacen = '001' AND @Persona IN (64,20711,20712,9983)) OR (@Almacen = '002' AND @Persona NOT IN (64,20711,20712,9983))) BEGIN
			SET @exito='-2 = La persona seleccionada no es de esta sucursal.'
			ROLLBACK
			GOTO Terminar
		END
		
		INSERT INTO ReportesApp_Mantenimiento_HerramientaPersona(IdHerramienta,Persona ,UserRegistra,FHoraRegistra)
		VALUES(@IDHerramienta,@Persona,@UserRegistra,GETDATE())
	END
	ELSE BEGIN
		INSERT INTO ReportesApp_Mantenimiento_HerramientaPersona_Desvinculada(IdHerramienta,Persona ,UserRegistra,FHoraRegistra,UserDesvincula,FHoraDesvincula)
		SELECT IdHerramienta,Persona,UserRegistra,FHoraRegistra, @UserRegistra,GETDATE() FROM ReportesApp_Mantenimiento_HerramientaPersona  WHERE IdHerramienta=@IDHerramienta AND Persona=@Persona
			   
		DELETE FROM ReportesApp_Mantenimiento_HerramientaPersona WHERE IdHerramienta=@IDHerramienta AND Persona=@Persona
	END
END TRY

BEGIN CATCH
	SET @exito = RTRIM(LTRIM(STR(ERROR_NUMBER()))) + '=' + ERROR_MESSAGE()
	ROLLBACK
	GOTO Terminar	
END CATCH

IF @@TRANCOUNT > 0
	COMMIT;

TERMINAR:
IF LEFT(@Exito,1)='-' OR cast(left(@Exito,1) as int)>0 BEGIN
	DECLARE @storedProcedureName VARCHAR(100)
	SELECT @storedProcedureName = OBJECT_NAME(@@PROCID)
	SET @exito = @exito + CHAR(13)+CHAR(13)+'SP Name: '+@storedProcedureName
END

SELECT @exito exito

-----------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 16-10-2023
-- Description:	LISTAR HERRAMIENTAS POR ALMACÉN
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Mantenimiento_ControlHerramientas_ListarHerramientasXAlmacen]
@Usuario VARCHAR(50)
AS
BEGIN
	IF (@Usuario IN ('FLINARES','PNAVARRO','RCORZO','JALBAN')) BEGIN
		SELECT LTRIM(RTRIM(A.AlmacenCodigo)) + ' - ' + AM.DescripcionLocal AS 'Almacen', M.Item, M.DescripcionLocal AS 'Descripcion',
		(SELECT MAX(H.CodigoInterno) FROM ReportesApp_Mantenimiento_Herramientas H WHERE LTRIM(RTRIM(H.CodigoItemAlmacen)) = LTRIM(RTRIM(M.Item))) AS 'CodigoInternoMAX',
		M.UnidadCodigo FROM WH_ItemAlmacen A
		LEFT JOIN WH_ItemMast M WITH(NOLOCK) ON A.Item = M.Item
		LEFT JOIN WH_AlmacenMast AM WITH(NOLOCK) ON AM.AlmacenCodigo = A.AlmacenCodigo
		WHERE (A.AlmacenCodigo = 'A024')
	END
	ELSE BEGIN
		SELECT LTRIM(RTRIM(A.AlmacenCodigo)) + ' - ' + AM.DescripcionLocal AS 'Almacen', M.Item, M.DescripcionLocal AS 'Descripcion',
		(SELECT MAX(H.CodigoInterno) FROM ReportesApp_Mantenimiento_Herramientas H WHERE LTRIM(RTRIM(H.CodigoItemAlmacen)) = LTRIM(RTRIM(M.Item))) AS 'CodigoInternoMAX',
		M.UnidadCodigo FROM WH_ItemAlmacen A
		LEFT JOIN WH_ItemMast M WITH(NOLOCK) ON A.Item = M.Item
		LEFT JOIN WH_AlmacenMast AM WITH(NOLOCK) ON AM.AlmacenCodigo = A.AlmacenCodigo
		WHERE (A.AlmacenCodigo = 'A023')
	END
END

-----------------------------------------------

SELECT WH_AlmacenMast.AlmacenCodigo, WH_AlmacenMast.CompaniaSocio, WH_AlmacenMast.DescripcionLocal, WH_AlmacenMast.TipoAlmacen, WH_AlmacenMast.AlmacenVentaFlag,
	   WH_AlmacenMast.AlmacenProduccionFlag, WH_AlmacenMast.UnidadNegocio, WH_AlmacenMast.Sucursal, WH_AlmacenMast.AlmacenCommodityFlag, WH_AlmacenMast.DescripcionIngles
FROM WH_AlmacenMast
WHERE (WH_AlmacenMast.Estado = 'A')

/*
INSERT INTO WH_ItemAlmacen (Item, Condicion, AlmacenCodigo, StockPedido, StockMinimo, StockMaximo, StockPuntoReorden, TiempoEspera, UltimaFechaModif, UltimoUsuario)
SELECT CONVERT(CHAR(20),[Codigo Item Almacen]), '0', 'A024', 0, 0, 0, 0, 0, GETDATE(), 'SYSTEM' FROM [$HerramientasImportar]

INSERT INTO WH_ItemAlmacenLote (Item, Condicion, AlmacenCodigo, Lote, FechaIngreso, FechaVencimiento, StockIngreso, StockActual, StockComprometido)
SELECT CONVERT(CHAR(20),[Codigo Item Almacen]), '0', 'A024', '00', GETDATE(), GETDATE(), [Stock], [Stock], 0 FROM [$HerramientasImportar]
*/

SELECT WH_ItemMast.DescripcionLocal,WH_ItemMast.UnidadCodigo,WH_ItemMast.CodigoInterno,WH_ItemMast.NumeroDeParte,WH_ItemAlmacen.Item,WH_ItemAlmacen.Condicion,
	   WH_ItemAlmacen.UbicacionFisica,WH_ItemAlmacenLote.StockActual,WH_ItemAlmacen.AlmacenCodigo
FROM WH_ItemMast,WH_ItemAlmacen,WH_ItemAlmacenLote
WHERE (WH_ItemAlmacen.Item = WH_ItemAlmacenLote.Item) and (WH_ItemAlmacen.Condicion = WH_ItemAlmacenLote.Condicion) and
	  (WH_ItemAlmacen.AlmacenCodigo = WH_ItemAlmacenLote.AlmacenCodigo) and (WH_ItemAlmacenLote.Item = WH_ItemMast.Item) and
	  ((WH_ItemAlmacen.AlmacenCodigo = 'A024')) AND WH_ItemAlmacen.Condicion = '0'
ORDER BY WH_ItemAlmacen.UbicacionFisica, WH_ItemAlmacenLote.Item, WH_ItemAlmacen.Condicion

SELECT * FROM WH_ItemAlmacen WHERE AlmacenCodigo = 'A024'
SELECT * FROM WH_ItemAlmacenLote WHERE AlmacenCodigo = 'A024'

------------------------------------------------------