
-- UPDATE Usuario SET Estado = 'A' WHERE Usuario = 'DEMO'

-- CREAR TABLA ReportesApp_Operacion_ClienteProveedor_Contratos

-- CREAR TABLA ReportesApp_Operacion_ClienteProveedor_AreasAsignadas

-- CREAR TABLA ReportesApp_Operacion_ClienteProveedor_TipoContrato Y LLENARLA

-- CREAR TABLA ReportesApp_Operacion_ClienteProveedor_TipoPersonal Y LLENARLA

-- MODIFICAR TABLA ReportesApp_Operacion_ClienteProveedor_ContactosCabecera

-- CREAR TABLA ReportesApp_Operacion_ClienteProveedor_Companias Y LLENARLA

-- CREAR TABLA ReportesApp_Operacion_ClienteProveedor_Adendas

------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 19-10-2023
-- Description:	LISTAR TIPOS DE CONTRATOS
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Operaciones_ClientesProveedores_ListarTipoContratos]
@Accion INT
AS
BEGIN
	IF (@Accion = 1) BEGIN   -- LISTAR TIPO CONTRATO
		SELECT idTipoContrato, Descripcion
		FROM ReportesApp_Operacion_ClienteProveedor_TipoContrato
	END
	
	IF (@Accion = 2) BEGIN   -- LISTAR TIPO PERSONAL
		SELECT idTipoPersonal, Descripcion
		FROM ReportesApp_Operacion_ClienteProveedor_TipoPersonal
		ORDER BY idTipoPersonal
	END

	IF (@Accion = 3) BEGIN   -- TODAS
		SELECT IdCompania, Nombre
		FROM ReportesApp_Operacion_ClienteProveedor_Companias
		ORDER BY IdCompania
	END

	IF (@Accion = 4) BEGIN   -- LISTAR COMPAÑIAS
		SELECT IdCompania, Nombre
		FROM ReportesApp_Operacion_ClienteProveedor_Companias
		WHERE IdCompania != 0
	END
END

-----------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 12-10-2023
-- Description:	AÑADIR, MODIFICAR Y ELIMINAR CONTRATOS
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Operaciones_ClientesProveedores_AgregaModificaContrato]
@Accion INT,
@Tipo CHAR(1),
@IdContrato INT,
@IdPersona INT,
@IdContacto INT,
@IdContactoDetalle INT,
@IdTipoContrato INT,
@Titulo VARCHAR(250),
@Descripcion VARCHAR(250),
@Consideracion VARCHAR(250),
@Beneficio VARCHAR(250),
@FechaInicio DATE,
@FechaFin DATE,
@DiasAlerta INT,
@Todos INT,
@xml VARCHAR(MAX),
@RutaEnlace VARCHAR(500),
@Validacion BIT,
@Usuario VARCHAR(20)
AS	
DECLARE @exito VARCHAR(MAX)
BEGIN TRAN
BEGIN TRY
	IF (@Accion = 1) BEGIN   -- AGREGAR NUEVO CONTRATO
		DECLARE @idoc INT
		DECLARE @correlativoContrato INT
		DECLARE @correlativoDetalle INT
		DECLARE @correlativoAreas INT

		IF (@FechaInicio > @FechaFin)
		BEGIN
			SET @Exito = '-1 = La Fecha Inicio es mayor a la Fecha Fin.'
			ROLLBACK
			GOTO Terminar
		END

		IF (@DiasAlerta > DATEDIFF(DAY,@FechaInicio,@FechaFin))
		BEGIN
			SET @Exito = '-2 = El valor de "DiasAlerta" no es válido.'
			ROLLBACK
			GOTO Terminar
		END

		IF(@Todos = 0 AND @xml != '') BEGIN
			EXEC sp_xml_preparedocument @idoc OUTPUT, @xml

			SET @correlativoAreas = (SELECT MAX(idAreasAsignadas) FROM ReportesApp_Operacion_ClienteProveedor_AreasAsignadas)
			SET @correlativoAreas = ISNULL(@correlativoAreas,0) + 1
			
			INSERT INTO ReportesApp_Operacion_ClienteProveedor_AreasAsignadas(Marca,CodAreaSpring,Area)
			SELECT Marca,Codigo,Area
			FROM OPENXML(@idoc,'/r/d',1)
			WITH (Marca BIT, Codigo INT, Area VARCHAR(100))

			UPDATE A
			SET A.idAreasAsignadas = @correlativoAreas, A.Correo = C.CorreoArea
			FROM ReportesApp_Operacion_ClienteProveedor_AreasAsignadas A
			LEFT JOIN ReportesApp_RRHH_SolicitudesPersonal_Areas C ON C.CodAreaSpring = A.CodAreaSpring
			WHERE idAreasAsignadas IS NULL
		END

		IF (@Todos = 1 AND (@xml != '' OR @xml = '')) BEGIN
			SET @correlativoAreas = (SELECT MAX(idAreasAsignadas) FROM ReportesApp_Operacion_ClienteProveedor_AreasAsignadas)
			SET @correlativoAreas = ISNULL(@correlativoAreas,0) + 1

			INSERT INTO ReportesApp_Operacion_ClienteProveedor_AreasAsignadas(idAreasAsignadas,CodAreaSpring,Area,Marca,Correo)
			VALUES (@correlativoAreas, 999, 'TODAS', 1, 'grupotranspesa@transpesa.com.pe')
		END

		SET @correlativoContrato = (SELECT MAX(IdContrato) FROM ReportesApp_Operacion_ClienteProveedor_Contratos)
		SET @correlativoContrato = ISNULL(@correlativoContrato,0) + 1

		SET @correlativoDetalle = (SELECT MAX(IdContactoDetalle) FROM ReportesApp_Operacion_ClienteProveedor_Contratos
								   WHERE IdPersona = @IdPersona AND Tipo = @Tipo AND IdContacto = @IdContacto)
		SET @correlativoDetalle = ISNULL(@correlativoDetalle,0) + 1

		INSERT INTO ReportesApp_Operacion_ClienteProveedor_Contratos(IdContrato,IdPersona,IdContacto,IdContactoDetalle,Tipo,IdTipoContrato,Titulo,Descripcion,Consideracion,
		Beneficios,FechaInicio,FechaFin,DiasAlerta,idAreasAsignadas,RutaEnlace,Validacion,UsuarioRegistra,FechaRegistra)
		VALUES (@correlativoContrato,@IdPersona,@IdContacto,@correlativoDetalle,@Tipo,@IdTipoContrato,@Titulo,@Descripcion,@Consideracion,@Beneficio,@FechaInicio,@FechaFin,
		@DiasAlerta,@correlativoAreas,@RutaEnlace,1,@Usuario,GETDATE())
		
		SET @exito = '0 = Contrato Añadido.'
	END

	IF (@Accion = 2) BEGIN   -- MODIFICAR CONTRATO
		DECLARE @idoc2 INT
		DECLARE @correlativoAreas2 INT

		IF (@FechaInicio > @FechaFin)
		BEGIN
			SET @Exito = '-1 = La Fecha Inicio es mayor a la Fecha Fin.'
			ROLLBACK
			GOTO Terminar
		END

		IF (@DiasAlerta > DATEDIFF(DAY,@FechaInicio,@FechaFin))
		BEGIN
			SET @Exito = '-2 = El valor de "DiasAlerta" no es válido.'
			ROLLBACK
			GOTO Terminar
		END

		IF(@Todos = 0 AND @xml != '') BEGIN
			DELETE FROM ReportesApp_Operacion_ClienteProveedor_AreasAsignadas
			WHERE idAreasAsignadas = (SELECT idAreasAsignadas FROM ReportesApp_Operacion_ClienteProveedor_Contratos WHERE IdContrato = @IdContrato)

			EXEC sp_xml_preparedocument @idoc2 OUTPUT, @xml

			SET @correlativoAreas2 = (SELECT MAX(idAreasAsignadas) FROM ReportesApp_Operacion_ClienteProveedor_AreasAsignadas)
			SET @correlativoAreas2 = ISNULL(@correlativoAreas2,0) + 1

			INSERT INTO ReportesApp_Operacion_ClienteProveedor_AreasAsignadas(Marca,CodAreaSpring,Area)
			SELECT Marca,Codigo,Area
			FROM OPENXML(@idoc2,'/r/d',1)
			WITH (Marca BIT, Codigo INT, Area VARCHAR(100))

			UPDATE A
			SET A.idAreasAsignadas = @correlativoAreas2, A.Correo = C.CorreoArea
			FROM ReportesApp_Operacion_ClienteProveedor_AreasAsignadas A
			LEFT JOIN ReportesApp_RRHH_SolicitudesPersonal_Areas C ON C.CodAreaSpring = A.CodAreaSpring
			WHERE idAreasAsignadas IS NULL
		END

		IF (@Todos = 1 AND (@xml != '' OR @xml = '')) BEGIN
			DELETE FROM ReportesApp_Operacion_ClienteProveedor_AreasAsignadas
			WHERE idAreasAsignadas = (SELECT idAreasAsignadas FROM ReportesApp_Operacion_ClienteProveedor_Contratos WHERE IdContrato = @IdContrato)

			SET @correlativoAreas2 = (SELECT MAX(idAreasAsignadas) FROM ReportesApp_Operacion_ClienteProveedor_AreasAsignadas)
			SET @correlativoAreas2 = ISNULL(@correlativoAreas2,0) + 1

			INSERT INTO ReportesApp_Operacion_ClienteProveedor_AreasAsignadas(idAreasAsignadas,CodAreaSpring,Area,Marca,Correo)
			VALUES (@correlativoAreas2, 999, 'TODAS', 1, 'grupotranspesa@transpesa.com.pe')
		END

		UPDATE ReportesApp_Operacion_ClienteProveedor_Contratos
		SET Tipo = @Tipo, IdTipoContrato = @IdTipoContrato, Titulo = @Titulo, Descripcion = @Descripcion, Consideracion = @Consideracion, Beneficios = @Beneficio,
			FechaInicio = @FechaInicio, FechaFin = @FechaFin, DiasAlerta = @DiasAlerta, idAreasAsignadas = @correlativoAreas2, RutaEnlace = @RutaEnlace,
			Validacion = @Validacion, UsuarioModifica = @Usuario, FechaModifica = GETDATE()      
		WHERE IdContrato = @IdContrato

		SET @exito = '0 = Contrato Actualizado.'
	END

	IF (@Accion = 3) BEGIN   -- ELIMINAR CONTRATO
		DELETE FROM ReportesApp_Operacion_ClienteProveedor_AreasAsignadas
		WHERE idAreasAsignadas = (SELECT idAreasAsignadas FROM ReportesApp_Operacion_ClienteProveedor_Contratos
							      WHERE IdPersona = @IdPersona AND Tipo = @Tipo AND IdContrato = @IdContrato AND IdContacto = @IdContacto AND IdContactoDetalle = @IdContactoDetalle)
		
		DELETE FROM ReportesApp_Operacion_ClienteProveedor_Contratos 
		WHERE IdPersona = @IdPersona AND Tipo = @Tipo AND IdContrato = @IdContrato AND IdContacto = @IdContacto AND IdContactoDetalle = @IdContactoDetalle
		
		SET @exito = '0 = Contrato Eliminado.'
	END
END TRY

BEGIN CATCH
	SET @exito = RTRIM(LTRIM(STR(ERROR_NUMBER()))) + '=' + ERROR_MESSAGE()
	ROLLBACK
	GOTO Terminar
END CATCH

IF @@TRANCOUNT > 0
	COMMIT;

TERMINAR:
IF LEFT(@Exito,1)='-' OR cast(left(@Exito,1) AS INT)>0 BEGIN
	DECLARE @storedProcedureName VARCHAR(100)
	SELECT @storedProcedureName = OBJECT_NAME(@@PROCID)
	SET @exito = @exito + CHAR(13)+CHAR(13)+'SP Name: '+@storedProcedureName
END

SELECT @exito exito

-----------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 19-10-2023
-- Description:	LISTAR CONTRATO
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Operaciones_ClientesProveedores_ListarContrato]
@IdContrato INT
AS
BEGIN
	SET NOCOUNT ON;
	SELECT TC.Descripcion 'TipoContrato',C.Titulo,C.Descripcion,C.Consideracion,C.Beneficios,C.FechaInicio,C.FechaFin,C.DiasAlerta,
	C.RutaEnlace,C.Validacion
	FROM ReportesApp_Operacion_ClienteProveedor_Contratos C
	LEFT JOIN ReportesApp_Operacion_ClienteProveedor_TipoContrato TC ON TC.idTipoContrato = C.IdTipoContrato
	WHERE IdContrato = @IdContrato
END

-----------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 19-10-2023
-- Description:	LISTAR AREAS INVOLUCRADAS
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Operaciones_ClientesProveedores_ListarAreasInvolucradas]
@IdContrato INT
AS
BEGIN
	SET NOCOUNT ON;
	SELECT Marca,CodAreaSpring,Area
	FROM ReportesApp_Operacion_ClienteProveedor_AreasAsignadas
	WHERE idAreasAsignadas = (SELECT idAreasAsignadas FROM ReportesApp_Operacion_ClienteProveedor_Contratos WHERE IdContrato = @IdContrato)
END

-----------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- exec [ReportesApp_Operaciones_ClientesProveedores_ContactosListar]
-- Creado por : Angel J. Guerra
-- Descripcion : Lista datos de los CONTACTOS de los clientes y proveedores
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Operaciones_ClientesProveedores_ContactosListar]
@IdPersona INT,
@Tipo CHAR(1),
@Opcion INT
AS
BEGIN
	IF (@Opcion = 1) BEGIN  -- LISTAR CONTACTOS
		SELECT IdRegistro,IdContacto,IdContactoDetalle 'N°',NombreContacto,Cargo,Telefono,Celular,Correo,Direccion,Lugar,UsuarioRegistra,FechaRegistro 'FechaRegistra',
		UsuarioModifica,FechaModifica
		FROM ReportesApp_Operacion_ClienteProveedor_Contactos
		WHERE IDPERSONA = @IdPersona AND TIPO = @tipo	
	END
	
	IF (@Opcion = 2) BEGIN  -- LISTAR CONTRATOS
		SELECT C.IdContrato,C.IdContacto,C.IdContactoDetalle 'N°',C.Tipo,TC.Descripcion 'TipoContrato',C.Titulo,C.Descripcion,C.Consideracion,C.Beneficios,
		C.FechaInicio,C.FechaFin,C.DiasAlerta,C.Validacion,C.RutaEnlace,C.UsuarioRegistra,C.FechaRegistra,C.UsuarioModifica,C.FechaModifica
		FROM ReportesApp_Operacion_ClienteProveedor_Contratos C
		LEFT JOIN ReportesApp_Operacion_ClienteProveedor_TipoContrato TC ON TC.idTipoContrato = C.IdTipoContrato
		WHERE IdPersona = @IdPersona AND Tipo = @tipo
	END
END

-----------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 30-10-2023
-- Description:	FILTRAR CONTRATOS
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Operaciones_ClientesProveedores_FiltrarContratos]
@TipoPersonal CHAR(1),
@NombrePersonal VARCHAR(250),
@FechaInicio VARCHAR(11),
@FechaFin VARCHAR(11),
@IdCompania INT,
@Valido BIT
AS
DECLARE @FINICIO DATETIME = @FechaInicio
DECLARE @FFIN DATETIME = @FechaFin + ' 23:59'
BEGIN
	IF (@IdCompania = 0) BEGIN
		IF (@TipoPersonal = 'X') BEGIN
			SELECT ROW_NUMBER() OVER(ORDER BY CT.IdContrato ASC) AS '#', CT.IdContrato, CT.IdContacto, CT.IdContactoDetalle, CT.IdPersona, CT.Validacion,
			C.IdCompania, C.Nombre AS 'Compañía', CT.Tipo, (CASE CT.Tipo WHEN 'C' THEN 'CLIENTE' ELSE 'PROVEEDOR' END) AS 'Persona', P.Documento AS 'RUC', P.NombreCompleto AS 'RazónSocial',
			P.Telefono, P.Celular, TC.Descripcion 'TipoContrato', CT.Titulo, CT.Descripcion, CT.Consideracion, CT.Beneficios, CT.FechaInicio, CT.FechaFin, CT.RutaEnlace
			FROM ReportesApp_Operacion_ClienteProveedor_Contratos CT
			LEFT JOIN PersonaMast P ON P.Persona = CT.IdPersona
			LEFT JOIN ReportesApp_Operacion_ClienteProveedor_TipoContrato TC ON TC.idTipoContrato = CT.IdTipoContrato
			LEFT JOIN ReportesApp_Operacion_ClienteProveedor_ContactosCabecera CC ON CC.IdContacto = CT.IdContacto 
			LEFT JOIN ReportesApp_Operacion_ClienteProveedor_Companias C ON C.IdCompania = CC.IdCompania
			WHERE (CT.FechaInicio IS NULL OR CT.FechaInicio BETWEEN @FINICIO AND @FFIN) AND (@NombrePersonal IS NULL OR P.NombreCompleto LIKE '%' + @NombrePersonal + '%') AND (CT.Validacion = @Valido)
			ORDER BY IdContrato DESC
		END
		ELSE BEGIN
			SELECT ROW_NUMBER() OVER(ORDER BY CT.IdContrato ASC) AS '#', CT.IdContrato, CT.IdContacto, CT.IdContactoDetalle, CT.IdPersona, CT.Validacion,
			C.IdCompania, C.Nombre AS 'Compañía', CT.Tipo, (CASE CT.Tipo WHEN 'C' THEN 'CLIENTE' ELSE 'PROVEEDOR' END) AS 'Persona', P.Documento AS 'RUC', P.NombreCompleto AS 'RazónSocial',
			P.Telefono, P.Celular, TC.Descripcion 'TipoContrato', CT.Titulo, CT.Descripcion, CT.Consideracion, CT.Beneficios, CT.FechaInicio, CT.FechaFin, CT.RutaEnlace
			FROM ReportesApp_Operacion_ClienteProveedor_Contratos CT
			LEFT JOIN PersonaMast P ON P.Persona = CT.IdPersona
			LEFT JOIN ReportesApp_Operacion_ClienteProveedor_TipoContrato TC ON TC.idTipoContrato = CT.IdTipoContrato
			LEFT JOIN ReportesApp_Operacion_ClienteProveedor_ContactosCabecera CC ON CC.IdContacto = CT.IdContacto 
			LEFT JOIN ReportesApp_Operacion_ClienteProveedor_Companias C ON C.IdCompania = CC.IdCompania
			WHERE (CT.FechaInicio IS NULL OR CT.FechaInicio BETWEEN @FINICIO AND @FFIN) AND (@NombrePersonal IS NULL OR P.NombreCompleto LIKE '%' + @NombrePersonal + '%') AND (CT.Validacion = @Valido) AND (CT.Tipo = @TipoPersonal)
			ORDER BY IdContrato DESC
		END
	END
	ELSE BEGIN
		IF (@TipoPersonal = 'X') BEGIN
			SELECT ROW_NUMBER() OVER(ORDER BY CT.IdContrato ASC) AS '#', CT.IdContrato, CT.IdContacto, CT.IdContactoDetalle, CT.IdPersona, CT.Validacion,
			C.IdCompania, C.Nombre AS 'Compañía', CT.Tipo, (CASE CT.Tipo WHEN 'C' THEN 'CLIENTE' ELSE 'PROVEEDOR' END) AS 'Persona', P.Documento AS 'RUC', P.NombreCompleto AS 'RazónSocial',
			P.Telefono, P.Celular, TC.Descripcion 'TipoContrato', CT.Titulo, CT.Descripcion, CT.Consideracion, CT.Beneficios, CT.FechaInicio, CT.FechaFin, CT.RutaEnlace
			FROM ReportesApp_Operacion_ClienteProveedor_Contratos CT
			LEFT JOIN PersonaMast P ON P.Persona = CT.IdPersona
			LEFT JOIN ReportesApp_Operacion_ClienteProveedor_TipoContrato TC ON TC.idTipoContrato = CT.IdTipoContrato
			LEFT JOIN ReportesApp_Operacion_ClienteProveedor_ContactosCabecera CC ON CC.IdContacto = CT.IdContacto 
			LEFT JOIN ReportesApp_Operacion_ClienteProveedor_Companias C ON C.IdCompania = CC.IdCompania
			WHERE (CT.FechaInicio IS NULL OR CT.FechaInicio BETWEEN @FINICIO AND @FFIN) AND (@NombrePersonal IS NULL OR P.NombreCompleto LIKE '%' + @NombrePersonal + '%') AND (CT.Validacion = @Valido) AND (C.idCompania = @IdCompania)
			ORDER BY IdContrato DESC
		END
		ELSE BEGIN
			SELECT ROW_NUMBER() OVER(ORDER BY CT.IdContrato ASC) AS '#', CT.IdContrato, CT.IdContacto, CT.IdContactoDetalle, CT.IdPersona, CT.Validacion,
			C.IdCompania, C.Nombre AS 'Compañía', CT.Tipo, (CASE CT.Tipo WHEN 'C' THEN 'CLIENTE' ELSE 'PROVEEDOR' END) AS 'Persona', P.Documento AS 'RUC', P.NombreCompleto AS 'RazónSocial',
			P.Telefono, P.Celular, TC.Descripcion 'TipoContrato', CT.Titulo, CT.Descripcion, CT.Consideracion, CT.Beneficios, CT.FechaInicio, CT.FechaFin, CT.RutaEnlace
			FROM ReportesApp_Operacion_ClienteProveedor_Contratos CT
			LEFT JOIN PersonaMast P ON P.Persona = CT.IdPersona
			LEFT JOIN ReportesApp_Operacion_ClienteProveedor_TipoContrato TC ON TC.idTipoContrato = CT.IdTipoContrato
			LEFT JOIN ReportesApp_Operacion_ClienteProveedor_ContactosCabecera CC ON CC.IdContacto = CT.IdContacto 
			LEFT JOIN ReportesApp_Operacion_ClienteProveedor_Companias C ON C.IdCompania = CC.IdCompania
			WHERE (CT.FechaInicio IS NULL OR CT.FechaInicio BETWEEN @FINICIO AND @FFIN) AND (@NombrePersonal IS NULL OR P.NombreCompleto LIKE '%' + @NombrePersonal + '%') AND (CT.Validacion = @Valido) AND (CT.Tipo = @TipoPersonal) AND (C.idCompania = @IdCompania)
			ORDER BY IdContrato DESC
		END
	END
END

-----------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 30-10-2023
-- Description:	ANULAR CONTRATO
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Operaciones_ClientesProveedores_AnularContratos]
@IdContrato INT,
@Validacion BIT,
@Usuario VARCHAR(20)
AS
DECLARE @exito VARCHAR(MAX)
SET @exito = '0 = Contrato Actualizado.'
BEGIN TRAN
BEGIN TRY
	SET NOCOUNT ON;
	UPDATE ReportesApp_Operacion_ClienteProveedor_Contratos
	SET Validacion = @Validacion, UsuarioModifica = @Usuario, FechaModifica = GETDATE()
	WHERE IdContrato = @IdContrato
END TRY

BEGIN CATCH
	SET @exito = RTRIM(LTRIM(STR(ERROR_NUMBER()))) + '=' + ERROR_MESSAGE()
	ROLLBACK
	GOTO Terminar
END CATCH

IF @@TRANCOUNT > 0
	COMMIT;

TERMINAR:
IF LEFT(@Exito,1)='-' OR cast(left(@Exito,1) AS INT)>0 BEGIN
	DECLARE @storedProcedureName VARCHAR(100)
	SELECT @storedProcedureName = OBJECT_NAME(@@PROCID)
	SET @exito = @exito + CHAR(13)+CHAR(13)+'SP Name: '+@storedProcedureName
END

SELECT @exito exito

-----------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 --=============================================
--exec [ReportesApp_Operaciones_ClientesProveedores_listar] 'P',20323
-- Creado por : Angel J. Guerra
-- Descripcion : Lista datos de los clientes y proveedores para contactos de Operaciones
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Operaciones_ClientesProveedores_CabeceraListar]
@tipo CHAR(1),
@IdPersona INT,
@IdCompania INT
AS
BEGIN
	IF @tipo = 'C' BEGIN
		SELECT pc.IdContacto, CASE WHEN P.Origen = 'TRUJ' THEN 'TRUJILLO' ELSE 'LIMA' END 'Origen', C.Nombre AS 'Compañía',
			'CLIENTE' AS 'Tipo', P.Persona 'IdPersona',
			CASE WHEN P.TipoDocumento = 'R' THEN 'RUC' ELSE 'DNI' END AS 'TipoDocumento'
			,LTRIM(RTRIM(P.DocumentoFiscal))'DocumentoFiscal' , LTRIM(RTRIM(P.Busqueda)) 'Razon Social',P.Telefono,P.Celular,P.DocumentoIdentidad , P.Estado 
			,LTRIM(RTRIM(D.DescripcionCorta))+' - '+LTRIM(RTRIM(PV.DescripcionCorta))+' - '+LTRIM(RTRIM(ZP.DescripcionCorta))'Lugar'
			,P.Direccion,PC.OBSERVACION
		FROM ReportesApp_Operacion_ClienteProveedor_ContactosCabecera PC 
			LEFT JOIN PersonaMast P ON PC.IDPERSONA = P.Persona
			LEFT JOIN Departamento D ON D.Departamento = P.Departamento
			LEFT JOIN Provincia PV ON PV.Provincia = P.Provincia AND PV.Departamento = P.Departamento
			LEFT JOIN ZonaPostal ZP ON ZP.CodigoPostal = P.CodigoPostal AND ZP.Departamento = P.Departamento AND ZP.Provincia = P.Provincia
			LEFT JOIN ReportesApp_Operacion_ClienteProveedor_Companias C ON C.IdCompania = PC.IdCompania
		WHERE  P.EsCliente = 'S' AND P.Estado = 'A'  AND PC.TIPO = 'C' AND PC.IdCompania = @IdCompania
		ORDER BY P.Busqueda 	
	END

	IF @tipo = 'P' BEGIN
		SELECT pc.IdContacto, CASE WHEN P.Origen = 'TRUJ' THEN 'TRUJILLO' ELSE 'LIMA' END 'Origen', C.Nombre AS 'Compañía',
			'PROVEEDOR' AS 'Tipo',P.Persona 'IdPersona',CASE WHEN P.TipoDocumento = 'R' THEN 'RUC' ELSE 'DNI' END AS 'TipoDocumento'
			,LTRIM(RTRIM(P.DocumentoFiscal))'DocumentoFiscal' , LTRIM(RTRIM(P.Busqueda)) 'Razon Social',P.Telefono,P.Celular,P.DocumentoIdentidad , P.Estado
			,LTRIM(RTRIM(D.DescripcionCorta))+' - '+LTRIM(RTRIM(PV.DescripcionCorta))+' - '+LTRIM(RTRIM(ZP.DescripcionCorta)) 'Lugar', 
			P.Direccion,PC.OBSERVACION
		FROM ReportesApp_Operacion_ClienteProveedor_ContactosCabecera PC 
			LEFT JOIN PersonaMast P ON PC.IDPERSONA = P.Persona
			LEFT JOIN Departamento D ON D.Departamento = P.Departamento
			LEFT JOIN Provincia PV ON PV.Provincia = P.Provincia AND PV.Departamento = P.Departamento
			LEFT JOIN ZonaPostal ZP ON ZP.CodigoPostal = P.CodigoPostal AND ZP.Departamento = P.Departamento AND ZP.Provincia = P.Provincia
			LEFT JOIN ReportesApp_Operacion_ClienteProveedor_Companias C ON C.IdCompania = PC.IdCompania
		WHERE  P.EsProveedor = 'S' AND P.Estado = 'A'  AND PC.TIPO = 'P' AND PC.IdCompania = @IdCompania
		ORDER BY P.Busqueda 
	END
END

-----------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 --=============================================
--exec [ReportesApp_Operaciones_ClientesProveedores_AgregaCabecera] 'P',20323
-- Creado por : Angel J. Guerra
-- Descripcion : Lista datos de los clientes y proveedores para contactos de Operaciones
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Operaciones_ClientesProveedores_AgregaCabecera]
@Accion int,
@TIPO CHAR(1),
@idregistro int,
@idpersona INT,
@IdCompania INT,
@Observacion VARCHAR(MAX),
@Usuario varchar(20)
AS	
DECLARE @exito varchar(max)	

BEGIN TRAN
BEGIN TRY
	/*ACCION PARA AGREGAR*/
	IF (@Accion = 1) BEGIN
		IF EXISTS(SELECT IDPERSONA FROM ReportesApp_Operacion_ClienteProveedor_ContactosCabecera WHERE IDPERSONA = @idpersona and Tipo = @TIPO) BEGIN
			SET @exito='-1= Ya se encuentra registrado..¡'
			ROLLBACK
			GOTO TERMINAR
		END
		
		IF @TIPO = 'C' BEGIN
			IF NOT EXISTS(SELECT PERSONA FROM PersonaMast WHERE PERSONA = @idpersona AND EsCliente ='S') BEGIN
				SET @exito='-2= LA PERSONA NO ES UN CLIENTE..¡'
				ROLLBACK
				GOTO TERMINAR			
			END
		END
		
		IF @TIPO = 'P' BEGIN
			IF NOT EXISTS(SELECT PERSONA FROM PersonaMast WHERE PERSONA = @idpersona AND EsProveedor ='S') BEGIN
				SET @exito='-3= LA PERSONA NO ES UN PROVEEDOR..¡'
				ROLLBACK
				GOTO TERMINAR			
			END
		END
		
		INSERT INTO ReportesApp_Operacion_ClienteProveedor_ContactosCabecera(IDPERSONA,TIPO,IdCompania,OBSERVACION,usuariocrea,fechacrea)
		VALUES (@idpersona,@TIPO,@IdCompania,@Observacion,@Usuario,GETDATE())
		SET @exito='0= Registro Exitoso...¡'
	END
	
	--ACCION PARA MODIFICAR
	IF (@Accion = 2) BEGIN 
		UPDATE ReportesApp_Operacion_ClienteProveedor_ContactosCabecera
		SET OBSERVACION = @Observacion ,USUARIOMODIFICA = @Usuario ,FECHAMODIFICA = GETDATE()
		WHERE Tipo = @TIPO AND IDCONTACTO = @idregistro AND IDPERSONA = @idpersona
		SET @exito='0= Contacto(s) Actualizado(s)...¡'
	END		
	
	--ACCION PARA QUITAR
	IF (@Accion = 3) BEGIN 
		IF EXISTS(SELECT * FROM ReportesApp_Operacion_ClienteProveedor_Contactos WHERE IdPersona = @idpersona) BEGIN
			SET @exito='-3= El registro a eliminar tiene Contactos asignados...¡'
			ROLLBACK
			GOTO TERMINAR
		END

		DELETE ReportesApp_Operacion_ClienteProveedor_ContactosCabecera
		WHERE IdPersona = @idpersona AND Tipo = @TIPO
		SET @exito='0= Contacto(s) Removido(s)...¡'
	END
		
	/*IF HOST_NAME() IN ('TI01-GT')
	BEGIN
		SET @exito = '777= TEST OK'
		ROLLBACK
		GOTO Terminar
	END*/			
END TRY

BEGIN CATCH
	SET @exito = RTRIM(LTRIM(STR(ERROR_NUMBER()))) + '=' + ERROR_MESSAGE()
	ROLLBACK
	GOTO Terminar
END CATCH

IF @@TRANCOUNT > 0
	COMMIT;

TERMINAR:
IF LEFT(@Exito,1)='-' OR cast(left(@Exito,1) AS INT)>0 BEGIN
	DECLARE @storedProcedureName VARCHAR(100)
	SELECT @storedProcedureName = OBJECT_NAME(@@PROCID)
	SET @exito = @exito + CHAR(13)+CHAR(13)+'SP Name: '+@storedProcedureName
END

SELECT @exito exito

-----------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 02-11-2023
-- Description:	INSERTAR ADENDA
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Operaciones_ClientesProveedores_InsertarAdenda]
@IdContrato INT,
@Titulo VARCHAR(250),
@Descripcion VARCHAR(250),
@Consideracion VARCHAR(250),
@Beneficios VARCHAR(250),
@FechaInicio DATE,
@FechaFin DATE,
@DiasAlerta INT,
@RutaEnlace VARCHAR(MAX),
@Usuario VARCHAR(20)
AS
DECLARE @correlativo INT
DECLARE @exito VARCHAR(MAX)

SET @exito = '0 = Contrato Actualizado.'
SET @correlativo = (SELECT MAX(idAdenda) FROM ReportesApp_Operacion_ClienteProveedor_Adendas WHERE idContrato = @IdContrato)
SET @correlativo = ISNULL(@correlativo,0) + 1

IF (@FechaInicio >= @FechaFin)
BEGIN
	SET @Exito = '-1 = La Fecha Inicio es mayor a la Fecha Fin.'
	GOTO Terminar
END

IF (@DiasAlerta > DATEDIFF(DAY,@FechaInicio,@FechaFin))
BEGIN
	SET @Exito = '-2 = El valor de "DiasAlerta" no es válido.'
	GOTO Terminar
END

BEGIN TRAN
BEGIN TRY
	SET NOCOUNT ON;
	INSERT INTO ReportesApp_Operacion_ClienteProveedor_Adendas(idAdenda,IdContrato,Titulo,Descripcion,Consideracion,Beneficios,FechaInicio,FechaFin,DiasAlerta,RutaEnlace,Estado,UsuarioRegistra,FechaRegistra)
	VALUES (@correlativo,@IdContrato,@Titulo,@Descripcion,@Consideracion,@Beneficios,@FechaInicio,@FechaFin,@DiasAlerta,@RutaEnlace,1,@Usuario,GETDATE())
END TRY

BEGIN CATCH
	SET @exito = RTRIM(LTRIM(STR(ERROR_NUMBER()))) + '=' + ERROR_MESSAGE()
	ROLLBACK
	GOTO Terminar
END CATCH

IF @@TRANCOUNT > 0
	COMMIT;

TERMINAR:
IF LEFT(@Exito,1)='-' OR cast(left(@Exito,1) AS INT)>0 BEGIN
	DECLARE @storedProcedureName VARCHAR(100)
	SELECT @storedProcedureName = OBJECT_NAME(@@PROCID)
	SET @exito = @exito + CHAR(13)+CHAR(13)+'SP Name: '+@storedProcedureName
END

SELECT @exito exito

-----------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 02-11-2023
-- Description:	LISTAR ADENDAS
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Operaciones_ClientesProveedores_ListarAdendas]
@Opcion INT,
@IdContrato INT
AS
BEGIN
	IF (@Opcion = 1) BEGIN		-- VER ADENDAS ACTIVAS
		SELECT A.idAdenda AS '#', A.IdContrato, A.Titulo, A.Descripcion, A.Consideracion, A.Beneficios, A.FechaInicio, A.FechaFin, A.RutaEnlace, A.Estado
		FROM ReportesApp_Operacion_ClienteProveedor_Adendas A
		WHERE A.IdContrato = @IdContrato AND A.Estado = 1
		ORDER BY A.idAdenda DESC
	END

	IF (@Opcion = 2) BEGIN		-- VER ADENDAS ANULADAS
		SELECT A.idAdenda AS '#', A.IdContrato, A.Titulo, A.Descripcion, A.Consideracion, A.Beneficios, A.FechaInicio, A.FechaFin, A.RutaEnlace, A.Estado
		FROM ReportesApp_Operacion_ClienteProveedor_Adendas A
		WHERE A.IdContrato = @IdContrato AND A.Estado = 0
		ORDER BY A.idAdenda DESC
	END
END

-----------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 02-11-2023
-- Description:	LISTAR ADENDA Y ELIMINAR
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Operaciones_ClientesProveedores_ModificarAdendas]
@Opcion INT,
@idAdenda INT,
@IdContrato INT
AS
BEGIN
	IF (@Opcion = 1) BEGIN		-- LISTAR ADENDA
		SELECT A.Titulo, A.Descripcion, A.Consideracion, A.Beneficios, A.FechaInicio, A.FechaFin, A.DiasAlerta, A.RutaEnlace
		FROM ReportesApp_Operacion_ClienteProveedor_Adendas A
		WHERE A.IdContrato = @IdContrato AND A.idAdenda = @idAdenda
	END

	IF (@Opcion = 2) BEGIN		-- ELIMINAR ADENDA
		UPDATE ReportesApp_Operacion_ClienteProveedor_Adendas
		SET Estado = 0
		WHERE IdContrato = @IdContrato AND idAdenda = @idAdenda
	END

	IF (@Opcion = 3) BEGIN		-- CONTAR ADENDAS POR CONTRATO
		SELECT COUNT(idAdenda) AS 'Nro' FROM ReportesApp_Operacion_ClienteProveedor_Adendas
		WHERE IdContrato = @IdContrato AND Estado = 1
	END

	IF (@Opcion = 4) BEGIN		-- RESTAURAR ADENDA
		UPDATE ReportesApp_Operacion_ClienteProveedor_Adendas
		SET Estado = 1
		WHERE IdContrato = @IdContrato AND idAdenda = @idAdenda
	END
END

-----------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 04-11-2023
-- Description:	ALERTAR VENCIMIENTO CONTRATO
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Operaciones_ClientesProveedores_AlertarVencimientoContrato]
AS
BEGIN
	DECLARE @Mensaje AS VARCHAR(MAX),@Asunto VARCHAR(300),@destinatarios VARCHAR(500)
	DECLARE @IdContrato INT, @NombrePersona VARCHAR(250), @CorreoArea VARCHAR(300), @Area VARCHAR(100), @Titulo VARCHAR(300), @FechaInicio VARCHAR(20), @FechaFin VARCHAR(20)
	DECLARE @Contador INT, @ContadorArea INT
	DECLARE @TEMP_CONTRATO TABLE(
		Numero INT,
		IdContrato INT)
	DECLARE @TEMP_CORREO TABLE(
		Numero INT,
		Contrato INT,
		Area VARCHAR(100),
		Correo VARCHAR(300))

	INSERT INTO @TEMP_CONTRATO(Numero, IdContrato)
	SELECT ROW_NUMBER() OVER(ORDER BY FechaFin ASC) AS Numero, IdContrato FROM ReportesApp_Operacion_ClienteProveedor_Contratos
	WHERE (DATEDIFF(DAY,GETDATE(),FechaFin) = DiasAlerta)

	SET @Contador = 1

	WHILE (@Contador <= (SELECT COUNT(Numero) FROM @TEMP_CONTRATO)) BEGIN
		SET @IdContrato = (SELECT IdContrato FROM @TEMP_CONTRATO WHERE @Contador = Numero)

		DELETE FROM @TEMP_CORREO
		INSERT INTO @TEMP_CORREO(Numero, Contrato, Area, Correo)
		SELECT ROW_NUMBER() OVER(ORDER BY A.Correo ASC), C.IdContrato, A.Area, A.Correo FROM ReportesApp_Operacion_ClienteProveedor_Contratos C
		LEFT JOIN ReportesApp_Operacion_ClienteProveedor_AreasAsignadas A
		ON C.idAreasAsignadas = A.idAreasAsignadas WHERE C.IdContrato = @IdContrato

		SET @ContadorArea = 1

		WHILE (@ContadorArea <= (SELECT COUNT(Numero) FROM @TEMP_CORREO)) BEGIN
			SET @NombrePersona = (SELECT LTRIM(RTRIM(P.Busqueda)) FROM ReportesApp_Operacion_ClienteProveedor_Contratos C LEFT JOIN PersonaMast P ON C.IdPersona = P.Persona
							  WHERE C.IdContrato = @IdContrato)
			SET @CorreoArea = (SELECT Correo FROM @TEMP_CORREO WHERE Numero = @ContadorArea)
			SET @Area = (SELECT Area FROM @TEMP_CORREO WHERE Numero = @ContadorArea)
			SET @Titulo = (SELECT C.Titulo FROM ReportesApp_Operacion_ClienteProveedor_Contratos C WHERE C.IdContrato = @IdContrato)
			SET @FechaInicio = (SELECT CONVERT(VARCHAR,C.FechaInicio,103) FROM ReportesApp_Operacion_ClienteProveedor_Contratos C WHERE C.IdContrato = @IdContrato)
			SET @FechaFin = (SELECT CONVERT(VARCHAR,C.FechaFin,103) FROM ReportesApp_Operacion_ClienteProveedor_Contratos C WHERE C.IdContrato = @IdContrato)

			SET @Asunto='AVISO DE VENCIMIENTO DE CONTRATO'
			SET @Mensaje = '<p><h2>VENCIMIENTO DE CONTRATO</h2></p>'
							+'<p>Buenos días, estimado(a)s.</p>'
							+'<p>Se les informa que el contrato titulado '
							+'<b>'+@Titulo+'</b>'
							+' que se acordó con '
							+'<b>'+@NombrePersona+'</b>'
			    			+' concerniente al área de '
							+'<b>'+@Area+'</b>'
							+' y que entró en vigencia el día '
							+'<b>'+@FechaInicio+'</b>'
							+' está por vencer el día '
							+'<b>'+@FechaFin+'</b>'
							+'.'+'</p>'
							+'<p>Se recomienda a los involucrados tomar las medidas correspondientes.</p>'
							+'<p>Fecha y hora de envío: '+CONVERT(CHAR(10),GETDATE(),103)+RIGHT(RTRIM(CONVERT(CHAR(26),GETDATE(),22)),12)+'</p>'
							+'<BR>'
							+'<p><font face="verdana" size="2" color="DarkRed">Tecnologías de la Información - GRUPO TRANSPESA</font></p>'
		
			SET @destinatarios = @CorreoArea + '; legal@transpesa.com.pe'
			
			EXEC msdb.dbo.sp_send_dbmail 
			@profile_name='AVISODELSISTEMA', -- REAL: @profile_name = 'AVISODESISTEMA',  -- PRUEBAS: @profile_name = 'AVISODELSISTEMA',
			@recipients='desarrollo2@transpesa.com.pe', --@destinatarios,
			--@blind_copy_recipients='desarrollo2@transpesa.com.pe', 
			@subject=@Asunto,
			@body_format = 'HTML', 
			@body=@Mensaje
			
			SET @ContadorArea = @ContadorArea + 1
		END

		SET @Contador = @Contador + 1
	END
END

-----------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 04-11-2023
-- Description:	ALERTAR VENCIMIENTO ADENDA
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Operaciones_ClientesProveedores_AlertarVencimientoAdendas]
AS
BEGIN
	DECLARE @Mensaje AS VARCHAR(MAX),@Asunto VARCHAR(300),@destinatarios VARCHAR(500)
	DECLARE @IdContrato INT, @IdAdenda INT, @NombrePersona VARCHAR(250), @CorreoArea VARCHAR(300), @Area VARCHAR(100), @TituloC VARCHAR(300), @TituloA VARCHAR(300), @FechaInicio VARCHAR(20), @FechaFin VARCHAR(20)
	DECLARE @Contador INT, @ContadorArea INT
	DECLARE @TEMP_ADENDA TABLE(
		Numero INT,
		IdContrato INT,
		IdAdenda INT)
	DECLARE @TEMP_CORREO TABLE(
		Numero INT,
		Contrato INT,
		Area VARCHAR(100),
		Correo VARCHAR(300))

	INSERT INTO @TEMP_ADENDA(Numero, IdContrato, IdAdenda)
	SELECT ROW_NUMBER() OVER(ORDER BY FechaFin ASC) AS Numero, IdContrato, idAdenda FROM ReportesApp_Operacion_ClienteProveedor_Adendas
	WHERE (DATEDIFF(DAY,GETDATE(),FechaFin) = DiasAlerta)

	SET @Contador = 1

	WHILE (@Contador <= (SELECT COUNT(Numero) FROM @TEMP_ADENDA)) BEGIN
		SET @IdContrato = (SELECT IdContrato FROM @TEMP_ADENDA WHERE @Contador = Numero)
		SET @IdAdenda = (SELECT IdAdenda FROM @TEMP_ADENDA WHERE @Contador = Numero)

		DELETE FROM @TEMP_CORREO
		INSERT INTO @TEMP_CORREO(Numero, Contrato, Area, Correo)
		SELECT ROW_NUMBER() OVER(ORDER BY A.Correo ASC), C.IdContrato, A.Area, A.Correo FROM ReportesApp_Operacion_ClienteProveedor_Contratos C
		LEFT JOIN ReportesApp_Operacion_ClienteProveedor_AreasAsignadas A
		ON C.idAreasAsignadas = A.idAreasAsignadas WHERE C.IdContrato = @IdContrato

		SET @ContadorArea = 1

		WHILE (@ContadorArea <= (SELECT COUNT(Numero) FROM @TEMP_CORREO)) BEGIN
			SET @NombrePersona = (SELECT LTRIM(RTRIM(P.Busqueda)) FROM ReportesApp_Operacion_ClienteProveedor_Contratos C LEFT JOIN PersonaMast P ON C.IdPersona = P.Persona
							      WHERE C.IdContrato = @IdContrato)
			SET @CorreoArea = (SELECT Correo FROM @TEMP_CORREO WHERE Numero = @ContadorArea)
			SET @Area = (SELECT Area FROM @TEMP_CORREO WHERE Numero = @ContadorArea)
			SET @TituloC = (SELECT C.Titulo FROM ReportesApp_Operacion_ClienteProveedor_Contratos C WHERE C.IdContrato = @IdContrato)
			SET @TituloA = (SELECT A.Titulo FROM ReportesApp_Operacion_ClienteProveedor_Adendas A WHERE A.IdContrato = @IdContrato AND A.idAdenda = @IdAdenda)
			SET @FechaInicio = (SELECT CONVERT(VARCHAR,A.FechaInicio,103) FROM ReportesApp_Operacion_ClienteProveedor_Adendas A WHERE A.IdContrato = @IdContrato AND A.idAdenda = @IdAdenda)
			SET @FechaFin = (SELECT CONVERT(VARCHAR,A.FechaFin,103) FROM ReportesApp_Operacion_ClienteProveedor_Adendas A WHERE A.IdContrato = @IdContrato AND A.idAdenda = @IdAdenda)

			SET @Asunto='AVISO DE VENCIMIENTO DE CONTRATO'
			SET @Mensaje = '<p><h2>VENCIMIENTO DE ADENDA DE CONTRATO</h2></p>'
							+'<p>Buenos días, estimado(a)s.</p>'
							+'<p>Se les informa que la adenda '
							+'<b>'+@TituloA+'</b>'
							+' del contrato titulado '
							+'<b>'+@TituloC+'</b>'
							+' que se acordó con '
							+'<b>'+@NombrePersona+'</b>'
			    			+' concerniente al área de '
							+'<b>'+@Area+'</b>'
							+' y que entró en vigencia el día '
							+'<b>'+@FechaInicio+'</b>'
							+' está por vencer el día '
							+'<b>'+@FechaFin+'</b>'
							+'.'+'</p>'
							+'<p>Se recomienda a los involucrados tomar las medidas correspondientes.</p>'
							+'<p>Fecha y hora de envío: '+CONVERT(CHAR(10),GETDATE(),103)+RIGHT(RTRIM(CONVERT(CHAR(26),GETDATE(),22)),12)+'</p>'
							+'<BR>'
							+'<p><font face="verdana" size="2" color="DarkRed">Tecnologías de la Información - GRUPO TRANSPESA</font></p>'
		
			SET @destinatarios = @CorreoArea + '; legal@transpesa.com.pe'
			
			EXEC msdb.dbo.sp_send_dbmail 
			@profile_name='AVISODELSISTEMA', -- REAL: @profile_name = 'AVISODESISTEMA',  -- PRUEBAS: @profile_name = 'AVISODELSISTEMA',
			@recipients='desarrollo2@transpesa.com.pe', --@destinatarios,
			--@blind_copy_recipients='desarrollo2@transpesa.com.pe', 
			@subject=@Asunto,
			@body_format = 'HTML', 
			@body=@Mensaje

			SET @ContadorArea = @ContadorArea + 1
		END

		SET @Contador = @Contador + 1
	END
END


EXEC ReportesApp_Operaciones_ClientesProveedores_AlertarVencimientoContrato
EXEC ReportesApp_Operaciones_ClientesProveedores_AlertarVencimientoAdendas

