
-- UPDATE Usuario SET Estado = 'A' WHERE Usuario = 'DEMO'

-----------------------------------------------

-- MODIFICAR ReportesApp_Seguridad_ControlCapacitaciones_ProgramaCapacitacion

-- CREAR ReportesApp_Seguridad_ControlCapacitaciones_Faltantes

-----------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 06-06-2023
-- Description:	LISTAR PERSONAL
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Mantenimiento_FallasMecanicas_ListarPersonalTransporte]
@Filtro VARCHAR(100)
AS
BEGIN
	/*
	DECLARE @TEMP_TERCEROS TABLE(Persona INT, NOMBRECOMPLETO VARCHAR(500), Busqueda VARCHAR(500), Documento VARCHAR(30))

	INSERT INTO @TEMP_TERCEROS
	VALUES (9999, 'NORIEGA CASTAÑEDA, CESAR', 'NORIEGA CASTAÑEDA, CESAR', '123456789')
	--,(9998, valor2_fila2, valor3_fila2);
	*/

	SELECT TOP(50) Persona, RTRIM(LTRIM(NombreCompleto)) AS 'NOMBRECOMPLETO', Busqueda, Documento
	FROM PersonaMast WITH(NOLOCK)
	WHERE (Estado = 'A') AND (RTRIM(LTRIM(NombreCompleto)) LIKE '%' + @Filtro + '%')
	ORDER BY NombreCompleto
END

-----------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 06-11-2023
-- Description:	LISTAR AREAS Y GRUPOS
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Seguridad_ControlCapacitaciones_ListarAreasGrupos]
@Opcion INT,
@idGrupo INT
AS
BEGIN
	IF (@Opcion = 1) BEGIN  -- LISTAR GRUPOS
		SELECT idGrupo, Descripcion FROM ReportesApp_Seguridad_ControlCapacitaciones_Grupos
	END

	IF (@Opcion = 2) BEGIN  -- LISTAR AREA-OPERACION - REGISTRAR
		SELECT idOperacion, Descripcion FROM ReportesApp_Seguridad_ControlCapacitaciones_OperacionArea
		WHERE idGrupo = @idGrupo
	END

	IF (@Opcion = 3) BEGIN  -- LISTAR TIPO DE CAPACITACIÓN
		SELECT idTipo, Descripcion FROM ReportesApp_Seguridad_ControlCapacitaciones_Tipos
	END

	IF (@Opcion = 4) BEGIN  -- LISTAR LUGAR DE CAPACITACIÓN
		SELECT idLugar, Descripcion FROM ReportesApp_Seguridad_ControlCapacitaciones_Lugar
	END
END

-----------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 16-11-2023
-- Description:	LISTAR COMBO
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Seguridad_ControlCapacitaciones_ListarCombo]
@Opcion INT
AS
BEGIN
	IF (@Opcion = 1) BEGIN  -- LISTAR DÍA
		SELECT idDia, Dia FROM ReportesApp_Seguridad_ControlCapacitaciones_Dia
	END

	IF (@Opcion = 2) BEGIN  -- LISTAR MES
		SELECT idMes, Mes FROM ReportesApp_Seguridad_ControlCapacitaciones_Mes
	END

	IF (@Opcion = 3) BEGIN  -- LISTAR LUGAR
		SELECT idLugar, Descripcion FROM ReportesApp_Seguridad_ControlCapacitaciones_Lugar
	END

	IF (@Opcion = 4) BEGIN  -- LISTAR PROCESO
		SELECT idProceso, Descripcion FROM ReportesApp_Seguridad_ControlCapacitaciones_Proceso
	END
END

-----------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 07-11-2023
-- Description:	LISTAR GRUPOS DE PERSONAL
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Seguridad_ControlCapacitaciones_ListarPersonal]
@Filtro VARCHAR(100)
AS
BEGIN
	SELECT GP.idPersona, RTRIM(LTRIM(P.NombreCompleto)) AS NombreCompleto, RTRIM(LTRIM(P.Documento)) AS Documento, GP.idGrupo, G.Descripcion, GP.idArea,
	AO.Descripcion, REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(PE.Descripcion,'Á','A'),'É','E'),'Í','I'),'Ó','O'),'Ú','U') AS Puesto
	FROM ReportesApp_Seguridad_ControlCapacitaciones_GrupoUsuarios GP
	LEFT JOIN PersonaMast P ON P.Persona = GP.idPersona
	LEFT JOIN ReportesApp_Seguridad_ControlCapacitaciones_Grupos G ON G.idGrupo = GP.idGrupo
	LEFT JOIN ReportesApp_Seguridad_ControlCapacitaciones_OperacionArea AO ON AO.idOperacion = GP.idArea
	LEFT JOIN EmpleadoMast EM ON P.Persona = EM.Empleado AND EM.Estado = 'A'
	LEFT JOIN HR_PuestoEmpresa PE ON PE.CodigoPuesto = EM.CodigoCargo
	WHERE (P.NombreCompleto LIKE '%' + @Filtro + '%') AND PE.Descripcion IS NOT NULL
	ORDER BY NombreCompleto
END

-----------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 06-11-2023
-- Description:	ASIGNAR GRUPOS A PERSONAL
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Seguridad_ControlCapacitaciones_AsignarGrupos]
@Persona INT,
@idGrupo INT,
@idOperacion INT
AS
DECLARE @exito VARCHAR(MAX)
DECLARE @correlativo INT

SET @exito = '0 = '

BEGIN TRAN
BEGIN TRY
	IF (EXISTS(SELECT * FROM ReportesApp_Seguridad_ControlCapacitaciones_GrupoUsuarios WHERE idPersona = @Persona)) BEGIN
		UPDATE ReportesApp_Seguridad_ControlCapacitaciones_GrupoUsuarios
		SET idGrupo = @idGrupo, idArea = @idOperacion
		WHERE idPersona = @Persona

		SET @exito = '0 = Grupo de personal actualizado.'
	END
	ELSE BEGIN
		INSERT INTO ReportesApp_Seguridad_ControlCapacitaciones_GrupoUsuarios (idPersona, idGrupo, idArea)
		VALUES (@Persona, @idGrupo, @idOperacion)

		SET @correlativo = (SELECT MAX(idFaltante) FROM ReportesApp_Seguridad_ControlCapacitaciones_Faltantes)
		SET @correlativo = ISNULL(@correlativo,0) + 1

		INSERT INTO ReportesApp_Seguridad_ControlCapacitaciones_Faltantes (idFaltante,Titulo,idTitulo,idPersona,idGrupo,idArea,Condicion,UsuarioRegistra,FechaRegistra)
		SELECT @correlativo, T.Descripcion, T.idTitulo, @Persona, @idGrupo, @idOperacion, 'SIN EVALUAR', 'GINOLI', GETDATE()
		FROM ReportesApp_Seguridad_ControlCapacitaciones_Titulos T
		
		SET @exito = '0 = Grupo de personal asignado.'
	END
END TRY

BEGIN CATCH
	SET @exito = RTRIM(LTRIM(STR(ERROR_NUMBER()))) + '=' + ERROR_MESSAGE()
	ROLLBACK
	GOTO Terminar
END CATCH

IF @@TRANCOUNT > 0
	COMMIT;

TERMINAR:
IF LEFT(@Exito,1)='-' OR cast(left(@Exito,1) AS INT)>0 BEGIN
	DECLARE @storedProcedureName VARCHAR(100)
	SELECT @storedProcedureName = OBJECT_NAME(@@PROCID)
	SET @exito = @exito + CHAR(13)+CHAR(13)+'SP Name: '+@storedProcedureName
END

SELECT @exito exito	

-----------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 07-11-2023
-- Description:	LISTAR ASISTENTES
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Seguridad_ControlCapacitaciones_ListarAsistentes]
@idCapacitacion INT
AS
BEGIN
	SELECT A.idAsistente AS '#', P.Documento AS 'DNI', P.NombreCompleto, G.Descripcion AS 'Grupo',
	AO.Descripcion AS 'Area', REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(PE.Descripcion,'Á','A'),'É','E'),'Í','I'),'Ó','O'),'Ú','U') AS 'Puesto',
	A.Nota, A.Condicion, A.UsuarioRegistra, A.FechaRegistra FROM ReportesApp_Seguridad_ControlCapacitaciones_Asistentes A
	LEFT JOIN PersonaMast P ON P.Persona = A.idPersona
	LEFT JOIN ReportesApp_Seguridad_ControlCapacitaciones_Grupos G ON G.idGrupo = A.idGrupo
	LEFT JOIN ReportesApp_Seguridad_ControlCapacitaciones_OperacionArea AO ON AO.idOperacion = A.idArea
	LEFT JOIN EmpleadoMast EM ON P.Persona = EM.Empleado AND EM.Estado = 'A'
	LEFT JOIN HR_PuestoEmpresa PE ON PE.CodigoPuesto = EM.CodigoCargo
	WHERE A.idCapacitacion = @idCapacitacion
	ORDER BY A.idAsistente DESC
END

-----------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 15-11-2023
-- Description:	LISTAR AREAS Y GRUPOS
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Seguridad_ControlCapacitaciones_ListarAreasPermisos]
@Opcion VARCHAR(5)
AS
BEGIN
	IF (@Opcion = 'TODOS') BEGIN
		SELECT idOperacion, Descripcion FROM ReportesApp_Seguridad_ControlCapacitaciones_OperacionArea
		WHERE idOperacion IN (0,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,24,25,26,27)
		ORDER BY idOperacion ASC
	END

	IF (@Opcion = 'ALM') BEGIN
		SELECT idOperacion, Descripcion FROM ReportesApp_Seguridad_ControlCapacitaciones_OperacionArea
		WHERE idOperacion IN (2)
		ORDER BY idOperacion ASC
	END

	IF (@Opcion = 'CON') BEGIN
		SELECT idOperacion, Descripcion FROM ReportesApp_Seguridad_ControlCapacitaciones_OperacionArea
		WHERE idOperacion IN (5)
		ORDER BY idOperacion ASC
	END

	IF (@Opcion = 'GTH') BEGIN
		SELECT idOperacion, Descripcion FROM ReportesApp_Seguridad_ControlCapacitaciones_OperacionArea
		WHERE idOperacion IN (7,14)
		ORDER BY idOperacion ASC
	END

	IF (@Opcion = 'MAN') BEGIN
		SELECT idOperacion, Descripcion FROM ReportesApp_Seguridad_ControlCapacitaciones_OperacionArea
		WHERE idOperacion IN (10)
		ORDER BY idOperacion ASC
	END

	IF (@Opcion = 'LND') BEGIN
		SELECT idOperacion, Descripcion FROM ReportesApp_Seguridad_ControlCapacitaciones_OperacionArea
		WHERE idOperacion IN (25)
		ORDER BY idOperacion ASC
	END

	IF (@Opcion = 'LMG') BEGIN
		SELECT idOperacion, Descripcion FROM ReportesApp_Seguridad_ControlCapacitaciones_OperacionArea
		WHERE idOperacion IN (24)
		ORDER BY idOperacion ASC
	END

	IF (@Opcion = 'TLV') BEGIN
		SELECT idOperacion, Descripcion FROM ReportesApp_Seguridad_ControlCapacitaciones_OperacionArea
		WHERE idOperacion IN (26)
		ORDER BY idOperacion ASC
	END

	IF (@Opcion = 'FNZ') BEGIN
		SELECT idOperacion, Descripcion FROM ReportesApp_Seguridad_ControlCapacitaciones_OperacionArea
		WHERE idOperacion IN (6)
		ORDER BY idOperacion ASC
	END

	IF (@Opcion = 'LOG') BEGIN
		SELECT idOperacion, Descripcion FROM ReportesApp_Seguridad_ControlCapacitaciones_OperacionArea
		WHERE idOperacion IN (9,3)
		ORDER BY idOperacion ASC
	END

	IF (@Opcion = 'COM') BEGIN
		SELECT idOperacion, Descripcion FROM ReportesApp_Seguridad_ControlCapacitaciones_OperacionArea
		WHERE idOperacion IN (4)
		ORDER BY idOperacion ASC
	END

	IF (@Opcion = 'TI') BEGIN
		SELECT idOperacion, Descripcion FROM ReportesApp_Seguridad_ControlCapacitaciones_OperacionArea
		WHERE idOperacion IN (16)
		ORDER BY idOperacion ASC
	END

	IF (@Opcion = 'LGL') BEGIN
		SELECT idOperacion, Descripcion FROM ReportesApp_Seguridad_ControlCapacitaciones_OperacionArea
		WHERE idOperacion IN (8)
		ORDER BY idOperacion ASC
	END

	IF (@Opcion = 'ADU') BEGIN
		SELECT idOperacion, Descripcion FROM ReportesApp_Seguridad_ControlCapacitaciones_OperacionArea
		WHERE idOperacion IN (27)
		ORDER BY idOperacion ASC
	END

	IF (@Opcion = 'PD') BEGIN
		SELECT idOperacion, Descripcion FROM ReportesApp_Seguridad_ControlCapacitaciones_OperacionArea
		WHERE idOperacion IN (13)
		ORDER BY idOperacion ASC
	END

	IF (@Opcion = 'OP') BEGIN
		SELECT idOperacion, Descripcion FROM ReportesApp_Seguridad_ControlCapacitaciones_OperacionArea
		WHERE idOperacion IN (11,24,25,26)
		ORDER BY idOperacion ASC
	END
END

-----------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 16-11-2023
-- Description:	LISTAR OPERACIONES Y GRUPOS
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Seguridad_ControlCapacitaciones_ListarOperacionGrupo]
AS
BEGIN
	SELECT OA.idOperacion, G.Descripcion AS 'GRUPO', OA.Descripcion AS 'OPERACION'
	FROM ReportesApp_Seguridad_ControlCapacitaciones_OperacionArea OA
	LEFT JOIN ReportesApp_Seguridad_ControlCapacitaciones_Grupos G ON G.idGrupo = OA.idGrupo
	WHERE OA.idOperacion NOT IN (0)
	ORDER BY OA.Descripcion
END

-----------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 16-11-2023
-- Description:	PROGRAMAR CAPACITACIÓN
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Seguridad_ControlCapacitaciones_ProgramarCapacitacion]
@Opcion INT,
@Tema VARCHAR(250),
@idProceso INT,
@L VARCHAR(1), @M VARCHAR(1), @X VARCHAR(2), @J VARCHAR(1), @V VARCHAR(1), @S VARCHAR(1),
@idMes INT,
@HoraInicio TIME(7),
@HoraFin TIME(7),
@idLugar INT,
@xml VARCHAR(MAX),
@Usuario VARCHAR(20)
AS
DECLARE @exito VARCHAR(MAX)
DECLARE @correlativoPC INT
DECLARE @correlativoPD INT
DECLARE @idoc INT
DECLARE @TEMP_AREAS TABLE(
		Marca BIT,
		idOperacion INT,
		Grupo VARCHAR(40),
		Area VARCHAR(40))
DECLARE @TEMP_PERSONAL TABLE(
		Marca2 BIT,
		idPersona INT,
		idGrupo INT,
		idArea INT,
		Area2 VARCHAR(250),
		Nombres VARCHAR(250))

SET @exito = '0 = Capacitación Programada'

IF (@HoraInicio >= @HoraFin) BEGIN
	SET @Exito = '-1 = La hora de inicio es mayor a la hora de término.'
	GOTO Terminar
END

BEGIN TRAN
BEGIN TRY
	SET @correlativoPC = (SELECT DISTINCT idTitulo FROM ReportesApp_Seguridad_ControlCapacitaciones_Titulos WHERE Descripcion = @Tema)
	SET @correlativoPD = ISNULL(@correlativoPD,1)

	IF (EXISTS(SELECT * FROM ReportesApp_Seguridad_ControlCapacitaciones_ProgramaCapacitacion WHERE Tema = @Tema)) BEGIN
		SET @correlativoPD = (SELECT COUNT(idProgramacion) FROM ReportesApp_Seguridad_ControlCapacitaciones_ProgramaCapacitacion WHERE idProgramacion = @correlativoPC)
		SET @correlativoPD = ISNULL(@correlativoPD,0) + 1
	END

	INSERT INTO ReportesApp_Seguridad_ControlCapacitaciones_ProgramaCapacitacion(idProgramacion,idPDetalle,idProceso,L,M,X,J,V,S,idMes,HoraInicio,HoraFin,
																				 Tema,idLugar,UsuarioCreacion,FechaCreacion)
	VALUES(@correlativoPC,@correlativoPD,@idProceso,@L,@M,@X,@J,@V,@S,@idMes,@HoraInicio,@HoraFin,@Tema,@idLugar,@Usuario,GETDATE())

	IF(@xml != '') BEGIN
		IF (@Opcion = 1) BEGIN
			IF ((SELECT COUNT(idProgramacion) FROM ReportesApp_Seguridad_ControlCapacitaciones_ProgramaCapacitacion WHERE idProgramacion = @correlativoPC AND idPDetalle = @correlativoPD) <= 1) BEGIN
				EXEC sp_xml_preparedocument @idoc OUTPUT, @xml

				INSERT INTO @TEMP_AREAS(Marca, idOperacion, Grupo, Area)
				SELECT Marca, idOperacion, Grupo, Area
				FROM OPENXML(@idoc,'/r/d',1)
				WITH (Marca BIT, idOperacion INT, Grupo VARCHAR(40), Area VARCHAR(40))

				INSERT INTO ReportesApp_Seguridad_ControlCapacitaciones_ProgramaAreas(idProgramaArea,idProgramacion,idPDetalle,idArea,Area,Grupo)
				SELECT ROW_NUMBER() OVER(ORDER BY A.idOperacion ASC), @correlativoPC,@correlativoPD,A.idOperacion, A.Area, A.Grupo FROM @TEMP_AREAS A
			END
		END

		IF (@Opcion = 2) BEGIN
			IF ((SELECT COUNT(idProgramacion) FROM ReportesApp_Seguridad_ControlCapacitaciones_ProgramaCapacitacion WHERE idProgramacion = @correlativoPC AND idPDetalle = @correlativoPD) <= 1) BEGIN
				EXEC sp_xml_preparedocument @idoc OUTPUT, @xml
				
				INSERT INTO @TEMP_PERSONAL(Marca2, idPersona, idGrupo, idArea, Area2, Nombres)
				SELECT Marca2, idPersona, idGrupo, idArea, Area2, Nombres
				FROM OPENXML(@idoc,'/r/d',1)
				WITH (Marca2 BIT, idPersona INT, idGrupo INT, idArea INT, Area2 VARCHAR(250), Nombres VARCHAR(250))

				INSERT INTO ReportesApp_Seguridad_ControlCapacitaciones_ProgramaPersonal(idProgramaArea,idProgramacion,idPDetalle,idPersona,idGrupo,idArea,Area,Nombres)
				SELECT ROW_NUMBER() OVER(ORDER BY P.idPersona ASC), @correlativoPC,@correlativoPD, P.idPersona, P.idGrupo, P.idArea, P.Area2, P.Nombres
				FROM @TEMP_PERSONAL P

				INSERT INTO ReportesApp_Seguridad_ControlCapacitaciones_Faltantes (idFaltante, idTitulo, Titulo, idPersona, idGrupo, idArea, Condicion, UsuarioRegistra, FechaRegistra)
				SELECT DISTINCT DENSE_RANK() OVER(ORDER BY P.idPersona ASC), @correlativoPC, @Tema, P.idPersona, P.idGrupo, P.idArea, 'SIN EVALUAR', @Usuario, GETDATE()
				FROM @TEMP_PERSONAL P
				ORDER BY P.idArea
			END
		END
	END
END TRY

BEGIN CATCH
	SET @exito = RTRIM(LTRIM(STR(ERROR_NUMBER()))) + '=' + ERROR_MESSAGE()
	ROLLBACK
	GOTO Terminar
END CATCH

IF @@TRANCOUNT > 0
	COMMIT;

TERMINAR:
IF LEFT(@Exito,1)='-' OR cast(left(@Exito,1) AS INT)>0 BEGIN
	DECLARE @storedProcedureName VARCHAR(100)
	SELECT @storedProcedureName = OBJECT_NAME(@@PROCID)
	SET @exito = @exito + CHAR(13)+CHAR(13)+'SP Name: '+@storedProcedureName
END

SELECT @exito exito

-----------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 16-11-2023
-- Description:	LISTAR OPERACIONES Y GRUPOS
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Seguridad_ControlCapacitaciones_ListarProgramaciones]
@TipoProg INT,
@Operacion VARCHAR(50)
AS
BEGIN
	IF (@TipoProg = 1) BEGIN
		IF (@Operacion = 'TODAS') BEGIN
			SELECT DISTINCT PC.idProgramacion AS 'Codigo', PC.idPDetalle AS 'Nro',
			PC.Tema, PA.Grupo, PA.Area, LTRIM(RTRIM(PC.L + ' ' + PC.M + ' ' + PC.X + ' ' + PC.J + ' ' + PC.V + ' ' + PC.S)) AS Dias,
			PC.HoraInicio, PC.HoraFin, P.Descripcion AS 'Proceso', L.Descripcion AS 'Lugar', PC.UsuarioCreacion, PC.FechaCreacion
			FROM ReportesApp_Seguridad_ControlCapacitaciones_ProgramaCapacitacion PC
			LEFT JOIN ReportesApp_Seguridad_ControlCapacitaciones_Mes M ON M.idMes = PC.idMes
			LEFT JOIN ReportesApp_Seguridad_ControlCapacitaciones_Lugar L ON L.idLugar = PC.idLugar
			LEFT JOIN ReportesApp_Seguridad_ControlCapacitaciones_Proceso P ON P.idProceso = PC.idProceso
			LEFT JOIN ReportesApp_Seguridad_ControlCapacitaciones_ProgramaAreas PA ON PA.idPDetalle = PC.idPDetalle AND PC.idProgramacion = PA.idProgramacion
			WHERE PC.idMes = MONTH(GETDATE()) AND (PA.Grupo IS NOT NULL)
			ORDER BY PC.idProgramacion DESC
		END
		ELSE BEGIN
			SELECT DISTINCT PC.idProgramacion AS 'Codigo', PC.idPDetalle AS 'Nro',
			PC.Tema, PA.Grupo, PA.Area, LTRIM(RTRIM(PC.L + ' ' + PC.M + ' ' + PC.X + ' ' + PC.J + ' ' + PC.V + ' ' + PC.S)) AS Dias,
			PC.HoraInicio, PC.HoraFin, P.Descripcion AS 'Proceso', L.Descripcion AS 'Lugar', PC.UsuarioCreacion, PC.FechaCreacion
			FROM ReportesApp_Seguridad_ControlCapacitaciones_ProgramaCapacitacion PC
			LEFT JOIN ReportesApp_Seguridad_ControlCapacitaciones_Mes M ON M.idMes = PC.idMes
			LEFT JOIN ReportesApp_Seguridad_ControlCapacitaciones_Lugar L ON L.idLugar = PC.idLugar
			LEFT JOIN ReportesApp_Seguridad_ControlCapacitaciones_Proceso P ON P.idProceso = PC.idProceso
			LEFT JOIN ReportesApp_Seguridad_ControlCapacitaciones_ProgramaAreas PA ON PA.idPDetalle = PC.idPDetalle AND PC.idProgramacion = PA.idProgramacion
			WHERE PC.idMes = MONTH(GETDATE()) AND (PA.Grupo IS NOT NULL) AND (PA.Area = @Operacion)
			ORDER BY PC.idProgramacion DESC
		END
	END

	IF (@TipoProg = 2) BEGIN
		IF (@Operacion = 'TODAS') BEGIN
			SELECT DISTINCT PC.idProgramacion AS 'Codigo', PC.idPDetalle AS 'Nro',
			PC.Tema, PP.Area, PP.Nombres, LTRIM(RTRIM(PC.L + ' ' + PC.M + ' ' + PC.X + ' ' + PC.J + ' ' + PC.V + ' ' + PC.S)) AS Dias,
			PC.HoraInicio, PC.HoraFin, P.Descripcion AS 'Proceso', L.Descripcion AS 'Lugar', PC.UsuarioCreacion, PC.FechaCreacion
			FROM ReportesApp_Seguridad_ControlCapacitaciones_ProgramaCapacitacion PC
			LEFT JOIN ReportesApp_Seguridad_ControlCapacitaciones_Mes M ON M.idMes = PC.idMes
			LEFT JOIN ReportesApp_Seguridad_ControlCapacitaciones_Lugar L ON L.idLugar = PC.idLugar
			LEFT JOIN ReportesApp_Seguridad_ControlCapacitaciones_Proceso P ON P.idProceso = PC.idProceso
			LEFT JOIN ReportesApp_Seguridad_ControlCapacitaciones_ProgramaPersonal PP ON PP.idPDetalle = PC.idPDetalle AND PC.idProgramacion = PP.idProgramacion
			WHERE PC.idMes = MONTH(GETDATE()) AND (PP.Nombres IS NOT NULL)
			ORDER BY PC.idProgramacion DESC
		END
		ELSE BEGIN
			SELECT DISTINCT PC.idProgramacion AS 'Codigo', PC.idPDetalle AS 'Nro',
			PC.Tema, PP.Area, PP.Nombres, LTRIM(RTRIM(PC.L + ' ' + PC.M + ' ' + PC.X + ' ' + PC.J + ' ' + PC.V + ' ' + PC.S)) AS Dias,
			PC.HoraInicio, PC.HoraFin, P.Descripcion AS 'Proceso', L.Descripcion AS 'Lugar', PC.UsuarioCreacion, PC.FechaCreacion
			FROM ReportesApp_Seguridad_ControlCapacitaciones_ProgramaCapacitacion PC
			LEFT JOIN ReportesApp_Seguridad_ControlCapacitaciones_Mes M ON M.idMes = PC.idMes
			LEFT JOIN ReportesApp_Seguridad_ControlCapacitaciones_Lugar L ON L.idLugar = PC.idLugar
			LEFT JOIN ReportesApp_Seguridad_ControlCapacitaciones_Proceso P ON P.idProceso = PC.idProceso
			LEFT JOIN ReportesApp_Seguridad_ControlCapacitaciones_ProgramaPersonal PP ON PP.idPDetalle = PC.idPDetalle AND PC.idProgramacion = PP.idProgramacion
			WHERE PC.idMes = MONTH(GETDATE()) AND (PP.Area = @Operacion) AND (PP.Nombres IS NOT NULL)
			ORDER BY PC.idProgramacion DESC
		END
	END
END

-----------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 16-11-2023
-- Description:	FILTRAR OPERACIONES Y GRUPOS
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Seguridad_ControlCapacitaciones_FiltrarProgramaciones]
@Tema VARCHAR(250)
AS
BEGIN
	SELECT TOP(20) T.idTitulo, T.Descripcion
	FROM ReportesApp_Seguridad_ControlCapacitaciones_Titulos T
	WHERE (T.Descripcion LIKE '%' + @Tema + '%')
END

-----------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 16-11-2023
-- Description:	PROGRAMAR CAPACITACIÓN
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Seguridad_ControlCapacitaciones_EliminarProgramacion]
@TipoProg INT,
@idProgramacion INT,
@idPDetalle INT
AS
DECLARE @exito VARCHAR(MAX)

SET @exito = '0 = Programación eliminada'

IF (EXISTS(SELECT * FROM ReportesApp_Seguridad_ControlCapacitaciones_RegistroCapacitaciones WHERE idProgramacion = @idProgramacion)) BEGIN
	SET @Exito = '-1 = No puede eliminar este tema porque tiene capacitaciones programadas.'
	GOTO Terminar
END

BEGIN TRAN
BEGIN TRY
	DELETE FROM ReportesApp_Seguridad_ControlCapacitaciones_ProgramaCapacitacion
	WHERE idProgramacion = @idProgramacion AND idPDetalle = @idPDetalle

	IF (@TipoProg = 1) BEGIN
		DELETE FROM ReportesApp_Seguridad_ControlCapacitaciones_ProgramaAreas
		WHERE idProgramacion = @idProgramacion AND idPDetalle = @idPDetalle
	END
	
	IF (@TipoProg = 2) BEGIN
		DELETE FROM ReportesApp_Seguridad_ControlCapacitaciones_ProgramaPersonal
		WHERE idProgramacion = @idProgramacion AND idPDetalle = @idPDetalle

		DECLARE @Titulo VARCHAR(350)
		SET @Titulo = (SELECT Tema FROM ReportesApp_Seguridad_ControlCapacitaciones_ProgramaCapacitacion WHERE idProgramacion = @idProgramacion AND idPDetalle = @idPDetalle)
		
		DELETE FROM ReportesApp_Seguridad_ControlCapacitaciones_Faltantes WHERE Titulo = @Titulo
	END
END TRY

BEGIN CATCH
	SET @exito = RTRIM(LTRIM(STR(ERROR_NUMBER()))) + '=' + ERROR_MESSAGE()
	ROLLBACK
	GOTO Terminar
END CATCH

IF @@TRANCOUNT > 0
	COMMIT;

TERMINAR:
IF LEFT(@Exito,1)='-' OR cast(left(@Exito,1) AS INT)>0 BEGIN
	DECLARE @storedProcedureName VARCHAR(100)
	SELECT @storedProcedureName = OBJECT_NAME(@@PROCID)
	SET @exito = @exito + CHAR(13)+CHAR(13)+'SP Name: '+@storedProcedureName
END

SELECT @exito exito

-----------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 06-11-2023
-- Description:	INSERTAR CAPACITACIÓN
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Seguridad_ControlCapacitaciones_InsertarModificarCapacitacion]
@Opcion INT,
@idCapacitacion INT,
@Titulo VARCHAR(250),
@idTipo INT,
@idLugar INT,
@Fecha DATE,
@Horas DECIMAL(8,2),
@Instructor VARCHAR(500),
@idProgramacion INT,
@idPDetalle INT,
@Usuario VARCHAR(20)
AS
DECLARE @exito VARCHAR(MAX)
SET @exito = '0'

/*
IF (@Fecha < DATEADD(DAY,-1,GETDATE())) BEGIN
	SET @Exito = '-1 = No puede ingresar fechas pasadas.'
	GOTO Terminar
END
*/

BEGIN TRAN
BEGIN TRY
	IF (@Opcion = 1) BEGIN		-- INSERTAR CAPACITACION
		DECLARE @correlativo INT

		SET @correlativo = (SELECT MAX(idCapacitacion) FROM ReportesApp_Seguridad_ControlCapacitaciones_RegistroCapacitaciones)
		SET @correlativo = ISNULL(@correlativo,0) + 1

		INSERT INTO ReportesApp_Seguridad_ControlCapacitaciones_RegistroCapacitaciones (idCapacitacion, Titulo, idTipo, idLugar, Fecha, Horas, Instructor, UsuarioRegistra, FechaRegistra)
		VALUES (@correlativo, @Titulo, @idTipo, @idLugar, @Fecha, @Horas, @Instructor, @Usuario, GETDATE())
		
		SET @exito = '0 = Capacitación ingresada.'
	END

	IF (@Opcion = 2) BEGIN		-- MODIFICAR CAPACITACION
		UPDATE ReportesApp_Seguridad_ControlCapacitaciones_RegistroCapacitaciones
		SET Fecha = @Fecha, Instructor = @Instructor, idTipo = @idTipo, UsuarioModifica = @Usuario, idLugar = @idLugar, Horas = @Horas, FechaModifica = GETDATE()
		WHERE idCapacitacion = @idCapacitacion

		SET @exito = '0 = Capacitación actualizada.'
	END
END TRY

BEGIN CATCH
	SET @exito = RTRIM(LTRIM(STR(ERROR_NUMBER()))) + '=' + ERROR_MESSAGE()
	ROLLBACK
	GOTO Terminar
END CATCH

IF @@TRANCOUNT > 0
	COMMIT;

TERMINAR:
IF LEFT(@Exito,1)='-' OR cast(left(@Exito,1) AS INT)>0 BEGIN
	DECLARE @storedProcedureName VARCHAR(100)
	SELECT @storedProcedureName = OBJECT_NAME(@@PROCID)
	SET @exito = @exito + CHAR(13)+CHAR(13)+'SP Name: '+@storedProcedureName
END

SELECT @exito exito

-------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 07-11-2023
-- Description:	FILTRAR CAPACITACION
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Seguridad_ControlCapacitaciones_FiltrarCapacitacion]
@idCapacitacion INT
AS
BEGIN
	SELECT C.idCapacitacion AS 'Codigo', C.Titulo, C.idTipo, T.Descripcion, C.idLugar, L.Descripcion AS 'Lugar', C.Fecha, C.Horas,
	C.Instructor AS 'NombreCompleto', C.UsuarioRegistra,
	CONVERT(CHAR(10),C.FechaRegistra,103)+RIGHT(RTRIM(CONVERT(CHAR(26),C.FechaRegistra,22)),12) AS 'FechaRegistra', C.UsuarioModifica,
	CONVERT(CHAR(10),C.FechaModifica,103)+RIGHT(RTRIM(CONVERT(CHAR(26),C.FechaModifica,22)),12) AS 'FechaModifica'
	FROM ReportesApp_Seguridad_ControlCapacitaciones_RegistroCapacitaciones C
	LEFT JOIN ReportesApp_Seguridad_ControlCapacitaciones_Tipos T ON C.idTipo = T.idTipo
	LEFT JOIN ReportesApp_Seguridad_ControlCapacitaciones_Lugar L ON C.idLugar = L.idLugar
	WHERE C.idCapacitacion = @idCapacitacion
END

--------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 07-11-2023
-- Description:	REGISTRAR ASISTENTES
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Seguridad_ControlCapacitaciones_RegistrarAsistente]
@Opcion INT,
@idAsistente INT,
@idCapacitacion INT,
@idPersona INT,
@idGrupo INT,
@idArea INT,
@Nota INT,
@Condicion VARCHAR(20),
@Usuario VARCHAR(20)
AS
DECLARE @exito VARCHAR(MAX)
DECLARE @correlativo INT
DECLARE @idTitulo INT
SET @exito = '0'

IF (@Nota > 20) BEGIN
	SET @Exito = '-1 = Solo puede ingresar notas de 0 a 20.'
	GOTO Terminar
END

IF (EXISTS(SELECT * FROM ReportesApp_Seguridad_ControlCapacitaciones_Asistentes WHERE idCapacitacion = @idCapacitacion AND idPersona = @idPersona)) BEGIN
	SET @Exito = '-2 = El personal seleccionado ya asistió a esta capacitación.'
	GOTO Terminar
END

BEGIN TRAN
BEGIN TRY
	IF (@Opcion = 1) BEGIN		--	INSERTAR ASISTENTE
		SET @correlativo = (SELECT MAX(idAsistente) FROM ReportesApp_Seguridad_ControlCapacitaciones_Asistentes WHERE idCapacitacion = @idCapacitacion)
		SET @correlativo = ISNULL(@correlativo,0) + 1

		SET @idTitulo = (SELECT MAX(idTitulo) FROM ReportesApp_Seguridad_ControlCapacitaciones_Faltantes WHERE Titulo = (SELECT Titulo FROM ReportesApp_Seguridad_ControlCapacitaciones_RegistroCapacitaciones WHERE idCapacitacion = @idCapacitacion))
		SET @idTitulo = ISNULL(@idTitulo,1)

		INSERT INTO ReportesApp_Seguridad_ControlCapacitaciones_Asistentes (idAsistente, idCapacitacion, idPersona, idGrupo, idArea, Nota, Condicion, UsuarioRegistra, FechaRegistra)
		VALUES(@correlativo, @idCapacitacion, @idPersona, @idGrupo, @idArea, @Nota, @Condicion, @Usuario, GETDATE())

		IF (EXISTS(SELECT * FROM ReportesApp_Seguridad_ControlCapacitaciones_Faltantes WHERE idPersona = @idPersona AND
			Titulo = (SELECT Titulo FROM ReportesApp_Seguridad_ControlCapacitaciones_RegistroCapacitaciones WHERE idCapacitacion = @idCapacitacion)
			AND idTitulo = @idTitulo AND Nota >= 11)) BEGIN
			SET @exito = '0 = Asistente registrado.'
		END
		ELSE BEGIN
			UPDATE ReportesApp_Seguridad_ControlCapacitaciones_Faltantes
			SET Nota = @Nota, Condicion = @Condicion, UsuarioModifica = @Usuario, FechaModifica = GETDATE(), idCapacitacion = @idCapacitacion
			WHERE idPersona = @idPersona AND Titulo = (SELECT Titulo FROM ReportesApp_Seguridad_ControlCapacitaciones_RegistroCapacitaciones WHERE idCapacitacion = @idCapacitacion) AND idTitulo = @idTitulo
		END
		SET @exito = '0 = Asistente registrado.'
	END

	IF (@Opcion = 2) BEGIN		-- BORRAR NOTA
		DELETE FROM ReportesApp_Seguridad_ControlCapacitaciones_Asistentes
		WHERE idAsistente = @idAsistente AND idCapacitacion = @idCapacitacion

		SET @idTitulo = (SELECT MAX(idTitulo) FROM ReportesApp_Seguridad_ControlCapacitaciones_Faltantes WHERE Titulo = (SELECT Titulo FROM ReportesApp_Seguridad_ControlCapacitaciones_RegistroCapacitaciones WHERE idCapacitacion = @idCapacitacion))
		SET @idTitulo = ISNULL(@idTitulo,1)
		
		UPDATE ReportesApp_Seguridad_ControlCapacitaciones_Faltantes
		SET Nota = NULL, Condicion = 'SIN EVALUAR', UsuarioModifica = @Usuario, FechaModifica = GETDATE(), idCapacitacion = NULL
		WHERE idPersona = @idPersona AND Titulo = (SELECT Titulo FROM ReportesApp_Seguridad_ControlCapacitaciones_RegistroCapacitaciones WHERE idCapacitacion = @idCapacitacion) AND idTitulo = @idTitulo

		SET @exito = '0 = Asistente eliminado.'
	END
END TRY

BEGIN CATCH
	SET @exito = RTRIM(LTRIM(STR(ERROR_NUMBER()))) + '=' + ERROR_MESSAGE()
	ROLLBACK
	GOTO Terminar
END CATCH

IF @@TRANCOUNT > 0
	COMMIT;

TERMINAR:
IF LEFT(@Exito,1)='-' OR cast(left(@Exito,1) AS INT)>0 BEGIN
	DECLARE @storedProcedureName VARCHAR(100)
	SELECT @storedProcedureName = OBJECT_NAME(@@PROCID)
	SET @exito = @exito + CHAR(13)+CHAR(13)+'SP Name: '+@storedProcedureName
END

SELECT @exito exito

--------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 20-11-2023
-- Description:	INGRESAR TITULO
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Seguridad_ControlCapacitaciones_InsertarTitulo]
@Especifico INT,
@Titulo VARCHAR(250),
@Usuario VARCHAR(20)
AS
DECLARE @exito VARCHAR(MAX)
DECLARE @correlativo INT
DECLARE @correlativoF INT

SET @exito = '0 = Tema de capacitación creado.'

IF (EXISTS(SELECT Descripcion FROM ReportesApp_Seguridad_ControlCapacitaciones_Titulos WHERE Descripcion = @Titulo AND MONTH(GETDATE()) = MONTH(FechaCreacion))) BEGIN
	SET @Exito = '-1 = Este tema ya fue creado.'
	GOTO Terminar
END

BEGIN TRAN
BEGIN TRY
	SET @correlativo = (SELECT MAX(idTitulo) FROM ReportesApp_Seguridad_ControlCapacitaciones_Titulos)
	SET @correlativo = ISNULL(@correlativo,0) + 1
	
	INSERT INTO ReportesApp_Seguridad_ControlCapacitaciones_Titulos (idTitulo, Descripcion, FechaCreacion)
	VALUES (@correlativo, @Titulo, GETDATE())

	IF (@Especifico = 0) BEGIN
		INSERT INTO ReportesApp_Seguridad_ControlCapacitaciones_Faltantes (idFaltante, idTitulo, Titulo, idPersona, idGrupo, idArea, Condicion, UsuarioRegistra, FechaRegistra)
		SELECT DISTINCT DENSE_RANK() OVER(ORDER BY GU.idPersona ASC), @correlativo, @Titulo, GU.idPersona, GU.idGrupo, GU.idArea, 'SIN EVALUAR', @Usuario, GETDATE()
		FROM ReportesApp_Seguridad_ControlCapacitaciones_GrupoUsuarios GU
		LEFT JOIN PersonaMast P ON P.Persona = GU.idPersona 
		LEFT JOIN EmpleadoMast E ON E.Empleado = P.Persona
		WHERE E.Estado = 'A'
		ORDER BY GU.idArea
	END
END TRY

BEGIN CATCH
	SET @exito = RTRIM(LTRIM(STR(ERROR_NUMBER()))) + '=' + ERROR_MESSAGE()
	ROLLBACK
	GOTO Terminar
END CATCH

IF @@TRANCOUNT > 0
	COMMIT;

TERMINAR:
IF LEFT(@Exito,1)='-' OR cast(left(@Exito,1) AS INT)>0 BEGIN
	DECLARE @storedProcedureName VARCHAR(100)
	SELECT @storedProcedureName = OBJECT_NAME(@@PROCID)
	SET @exito = @exito + CHAR(13)+CHAR(13)+'SP Name: '+@storedProcedureName
END

SELECT @exito exito

--------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 20-11-2023
-- Description:	FILTRAR OPERACIONES Y GRUPOS
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Seguridad_ControlCapacitaciones_FiltrarTemas]
@Tema VARCHAR(250)
AS
BEGIN
	SELECT TOP(20) idTitulo, Descripcion
	FROM ReportesApp_Seguridad_ControlCapacitaciones_Titulos
	WHERE (Descripcion LIKE '%' + @Tema + '%')
END

-----------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 17-11-2023
-- Description:	ELIMINAR CAPACITACIÓN
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Seguridad_ControlCapacitaciones_EliminarCapacitacion]
@idCapacitacion INT
AS
DECLARE @exito VARCHAR(MAX)

SET @exito = '0 = Capacitación eliminada'

IF (EXISTS(SELECT * FROM ReportesApp_Seguridad_ControlCapacitaciones_Asistentes WHERE idCapacitacion = @idCapacitacion)) BEGIN
	SET @Exito = '-1 = No puede eliminar esta capacitación porque tiene asistentes registrados.'
	GOTO Terminar
END

BEGIN TRAN
BEGIN TRY
	DELETE FROM ReportesApp_Seguridad_ControlCapacitaciones_RegistroCapacitaciones
	WHERE idCapacitacion = @idCapacitacion

	DELETE FROM ReportesApp_Seguridad_ControlCapacitaciones_Asistentes
	WHERE idCapacitacion = @idCapacitacion
END TRY

BEGIN CATCH
	SET @exito = RTRIM(LTRIM(STR(ERROR_NUMBER()))) + '=' + ERROR_MESSAGE()
	ROLLBACK
	GOTO Terminar
END CATCH

IF @@TRANCOUNT > 0
	COMMIT;

TERMINAR:
IF LEFT(@Exito,1)='-' OR cast(left(@Exito,1) AS INT)>0 BEGIN
	DECLARE @storedProcedureName VARCHAR(100)
	SELECT @storedProcedureName = OBJECT_NAME(@@PROCID)
	SET @exito = @exito + CHAR(13)+CHAR(13)+'SP Name: '+@storedProcedureName
END

SELECT @exito exito

-----------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 07-11-2023
-- Description:	LISTAR CAPACITACIONES
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Seguridad_ControlCapacitaciones_ListarCapacitaciones]
@Capacitacion VARCHAR(200),
@Instructor VARCHAR(200),
@Personal VARCHAR(200),
@FechaInicio VARCHAR(11),
@FechaFin VARCHAR(11),
@BuscarFecha INT,
@Operacion VARCHAR(50),
@Faltantes INT
AS
DECLARE @FINICIO DATETIME = @FechaInicio
DECLARE @FFIN DATETIME = @FechaFin + ' 23:59'
BEGIN
	IF (@Faltantes = 0) BEGIN
		IF (@Operacion = 'TODAS') BEGIN
			IF (@BuscarFecha = 1) BEGIN
				SELECT C.idCapacitacion AS 'Codigo', C.Titulo, T.Descripcion, L.Descripcion AS 'Lugar', CONVERT(VARCHAR,C.Fecha,103) AS 'Fecha', C.Horas,
				C.Instructor AS 'Instructor', A.idAsistente AS 'Asistente', P2.Documento AS 'DNI', P2.NombreCompleto, G.Descripcion AS 'Grupo',
				AO.Descripcion AS 'Area', REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(PE.Descripcion,'Á','A'),'É','E'),'Í','I'),'Ó','O'),'Ú','U') AS 'Puesto',
				A.Nota, A.Condicion, C.UsuarioRegistra, C.FechaRegistra, C.UsuarioModifica, C.FechaModifica
				FROM ReportesApp_Seguridad_ControlCapacitaciones_RegistroCapacitaciones C
				LEFT JOIN ReportesApp_Seguridad_ControlCapacitaciones_Tipos T ON C.idTipo = T.idTipo
				LEFT JOIN ReportesApp_Seguridad_ControlCapacitaciones_Lugar L ON C.idLugar = L.idLugar
				LEFT JOIN ReportesApp_Seguridad_ControlCapacitaciones_Asistentes A ON A.idCapacitacion = C.idCapacitacion
				LEFT JOIN PersonaMast P2 ON P2.Persona = A.idPersona
				LEFT JOIN ReportesApp_Seguridad_ControlCapacitaciones_Grupos G ON G.idGrupo = A.idGrupo
				LEFT JOIN ReportesApp_Seguridad_ControlCapacitaciones_OperacionArea AO ON AO.idOperacion = A.idArea
				LEFT JOIN EmpleadoMast EM ON P2.Persona = EM.Empleado AND EM.Estado = 'A'
				LEFT JOIN HR_PuestoEmpresa PE ON PE.CodigoPuesto = EM.CodigoCargo
				WHERE (C.Titulo IS NULL OR C.Titulo LIKE '%' + @Capacitacion + '%') AND (C.Fecha BETWEEN @FINICIO AND @FFIN) AND (A.Nota IS NULL OR A.Nota >= 11)
				AND (P2.NombreCompleto IS NULL OR P2.NombreCompleto LIKE '%' + @Personal + '%') AND (C.Instructor IS NULL OR C.Instructor LIKE '%' + @Instructor + '%')
				ORDER BY C.idCapacitacion DESC
			END
			ELSE BEGIN
				SELECT C.idCapacitacion AS 'Codigo', C.Titulo, T.Descripcion, L.Descripcion AS 'Lugar', CONVERT(VARCHAR,C.Fecha,103) AS 'Fecha', C.Horas,
				C.Instructor AS 'Instructor', A.idAsistente AS 'Asistente', P2.Documento AS 'DNI', P2.NombreCompleto, G.Descripcion AS 'Grupo',
				AO.Descripcion AS 'Area', REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(PE.Descripcion,'Á','A'),'É','E'),'Í','I'),'Ó','O'),'Ú','U') AS 'Puesto',
				A.Nota, A.Condicion, C.UsuarioRegistra, C.FechaRegistra, C.UsuarioModifica, C.FechaModifica
				FROM ReportesApp_Seguridad_ControlCapacitaciones_RegistroCapacitaciones C
				LEFT JOIN ReportesApp_Seguridad_ControlCapacitaciones_Tipos T ON C.idTipo = T.idTipo
				LEFT JOIN ReportesApp_Seguridad_ControlCapacitaciones_Lugar L ON C.idLugar = L.idLugar
				LEFT JOIN ReportesApp_Seguridad_ControlCapacitaciones_Asistentes A ON A.idCapacitacion = C.idCapacitacion
				LEFT JOIN PersonaMast P2 ON P2.Persona = A.idPersona
				LEFT JOIN ReportesApp_Seguridad_ControlCapacitaciones_Grupos G ON G.idGrupo = A.idGrupo
				LEFT JOIN ReportesApp_Seguridad_ControlCapacitaciones_OperacionArea AO ON AO.idOperacion = A.idArea
				LEFT JOIN EmpleadoMast EM ON P2.Persona = EM.Empleado AND EM.Estado = 'A'
				LEFT JOIN HR_PuestoEmpresa PE ON PE.CodigoPuesto = EM.CodigoCargo
				WHERE (C.Titulo LIKE '%' + @Capacitacion + '%') AND (P2.NombreCompleto LIKE '%' + @Personal + '%')
				AND (C.Instructor LIKE '%' + @Instructor + '%') AND (A.Nota IS NULL OR A.Nota >= 11)
				ORDER BY C.idCapacitacion DESC
			END
		END
		ELSE BEGIN
			IF (@BuscarFecha = 1) BEGIN
				SELECT C.idCapacitacion AS 'Codigo', C.Titulo, T.Descripcion, L.Descripcion AS 'Lugar', CONVERT(VARCHAR,C.Fecha,103) AS 'Fecha', C.Horas,
				C.Instructor AS 'Instructor', A.idAsistente AS 'Asistente', P2.Documento AS 'DNI', P2.NombreCompleto, G.Descripcion AS 'Grupo',
				AO.Descripcion AS 'Area', REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(PE.Descripcion,'Á','A'),'É','E'),'Í','I'),'Ó','O'),'Ú','U') AS 'Puesto',
				A.Nota, A.Condicion, C.UsuarioRegistra, C.FechaRegistra, C.UsuarioModifica, C.FechaModifica
				FROM ReportesApp_Seguridad_ControlCapacitaciones_RegistroCapacitaciones C
				LEFT JOIN ReportesApp_Seguridad_ControlCapacitaciones_Tipos T ON C.idTipo = T.idTipo
				LEFT JOIN ReportesApp_Seguridad_ControlCapacitaciones_Lugar L ON C.idLugar = L.idLugar
				LEFT JOIN ReportesApp_Seguridad_ControlCapacitaciones_Asistentes A ON A.idCapacitacion = C.idCapacitacion
				LEFT JOIN PersonaMast P2 ON P2.Persona = A.idPersona
				LEFT JOIN ReportesApp_Seguridad_ControlCapacitaciones_Grupos G ON G.idGrupo = A.idGrupo
				LEFT JOIN ReportesApp_Seguridad_ControlCapacitaciones_OperacionArea AO ON AO.idOperacion = A.idArea
				LEFT JOIN EmpleadoMast EM ON P2.Persona = EM.Empleado AND EM.Estado = 'A'
				LEFT JOIN HR_PuestoEmpresa PE ON PE.CodigoPuesto = EM.CodigoCargo
				WHERE (C.Titulo IS NULL OR C.Titulo LIKE '%' + @Capacitacion + '%') AND (C.Fecha BETWEEN @FINICIO AND @FFIN) AND (AO.Descripcion = @Operacion) AND (A.Nota IS NULL OR A.Nota >= 11)
				AND (P2.NombreCompleto IS NULL OR P2.NombreCompleto LIKE '%' + @Personal + '%') AND (C.Instructor IS NULL OR C.Instructor LIKE '%' + @Instructor + '%')
				ORDER BY C.idCapacitacion DESC
			END
			ELSE BEGIN
				SELECT C.idCapacitacion AS 'Codigo', C.Titulo, T.Descripcion, L.Descripcion AS 'Lugar', CONVERT(VARCHAR,C.Fecha,103) AS 'Fecha', C.Horas,
				C.Instructor AS 'Instructor', A.idAsistente AS 'Asistente', P2.Documento AS 'DNI', P2.NombreCompleto, G.Descripcion AS 'Grupo',
				AO.Descripcion AS 'Area', REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(PE.Descripcion,'Á','A'),'É','E'),'Í','I'),'Ó','O'),'Ú','U') AS 'Puesto',
				A.Nota, A.Condicion, C.UsuarioRegistra, C.FechaRegistra, C.UsuarioModifica, C.FechaModifica
				FROM ReportesApp_Seguridad_ControlCapacitaciones_RegistroCapacitaciones C
				LEFT JOIN ReportesApp_Seguridad_ControlCapacitaciones_Tipos T ON C.idTipo = T.idTipo
				LEFT JOIN ReportesApp_Seguridad_ControlCapacitaciones_Lugar L ON C.idLugar = L.idLugar
				LEFT JOIN  ReportesApp_Seguridad_ControlCapacitaciones_Asistentes A ON A.idCapacitacion = C.idCapacitacion
				LEFT JOIN PersonaMast P2 ON P2.Persona = A.idPersona
				LEFT JOIN ReportesApp_Seguridad_ControlCapacitaciones_Grupos G ON G.idGrupo = A.idGrupo
				LEFT JOIN ReportesApp_Seguridad_ControlCapacitaciones_OperacionArea AO ON AO.idOperacion = A.idArea
				LEFT JOIN EmpleadoMast EM ON P2.Persona = EM.Empleado AND EM.Estado = 'A'
				LEFT JOIN HR_PuestoEmpresa PE ON PE.CodigoPuesto = EM.CodigoCargo
				WHERE (C.Titulo LIKE '%' + @Capacitacion + '%') AND (P2.NombreCompleto LIKE '%' + @Personal + '%')
				AND (C.Instructor LIKE '%' + @Instructor + '%') AND (AO.Descripcion = @Operacion) AND (A.Nota IS NULL OR A.Nota >= 11)
				ORDER BY C.idCapacitacion DESC
			END
		END
	END
	ELSE BEGIN
		IF (@Operacion = 'TODAS') BEGIN
			(SELECT DISTINCT F.idTitulo, F.idCapacitacion AS 'Codigo', F.Titulo, F.FechaProgramacion, P2.Documento AS 'DNI', F.idPersona, P2.NombreCompleto,
			G.Descripcion AS 'Grupo', AO.Descripcion AS 'Area', REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(PE.Descripcion,'Á','A'),'É','E'),'Í','I'),'Ó','O'),'Ú','U') AS 'Puesto',
			F.Nota, F.Condicion
			FROM ReportesApp_Seguridad_ControlCapacitaciones_ProgramaAreas PA
			LEFT JOIN ReportesApp_Seguridad_ControlCapacitaciones_Faltantes F ON PA.idArea = F.idArea AND PA.idProgramacion = F.idTitulo
			LEFT JOIN PersonaMast P2 ON P2.Persona = F.idPersona
			LEFT JOIN ReportesApp_Seguridad_ControlCapacitaciones_Grupos G ON G.idGrupo = F.idGrupo
			LEFT JOIN ReportesApp_Seguridad_ControlCapacitaciones_OperacionArea AO ON AO.idOperacion = F.idArea
			LEFT JOIN EmpleadoMast EM ON P2.Persona = EM.Empleado AND EM.Estado = 'A'
			LEFT JOIN HR_PuestoEmpresa PE ON PE.CodigoPuesto = EM.CodigoCargo
			WHERE (F.Titulo LIKE '%' + @Capacitacion + '%') AND (F.Nota IS NULL OR F.Nota < 11) AND
				  (P2.NombreCompleto IS NULL OR P2.NombreCompleto LIKE '%' + @Personal + '%') AND (PE.Descripcion IS NOT NULL)) --AND (AO.Descripcion = @Operacion)
			UNION
			(SELECT DISTINCT F.idTitulo, F.idCapacitacion AS 'Codigo', F.Titulo, F.FechaProgramacion, P2.Documento AS 'DNI', F.idPersona, P2.NombreCompleto,
			G.Descripcion AS 'Grupo', AO.Descripcion AS 'Area', REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(PE.Descripcion,'Á','A'),'É','E'),'Í','I'),'Ó','O'),'Ú','U') AS 'Puesto',
			F.Nota, F.Condicion
			FROM ReportesApp_Seguridad_ControlCapacitaciones_ProgramaPersonal PA
			LEFT JOIN ReportesApp_Seguridad_ControlCapacitaciones_Faltantes F ON PA.idPersona = F.idPersona AND PA.idProgramacion = F.idTitulo
			LEFT JOIN PersonaMast P2 ON P2.Persona = F.idPersona
			LEFT JOIN ReportesApp_Seguridad_ControlCapacitaciones_Grupos G ON G.idGrupo = F.idGrupo
			LEFT JOIN ReportesApp_Seguridad_ControlCapacitaciones_OperacionArea AO ON AO.idOperacion = F.idArea
			LEFT JOIN EmpleadoMast EM ON P2.Persona = EM.Empleado AND EM.Estado = 'A'
			LEFT JOIN HR_PuestoEmpresa PE ON PE.CodigoPuesto = EM.CodigoCargo
			WHERE (F.Titulo LIKE '%' + @Capacitacion + '%') AND (F.Nota IS NULL OR F.Nota < 11) AND
				  (P2.NombreCompleto IS NULL OR P2.NombreCompleto LIKE '%' + @Personal + '%') AND (PE.Descripcion IS NOT NULL))
			ORDER BY F.idTitulo DESC
		END
		ELSE BEGIN
			(SELECT DISTINCT F.idTitulo, F.idCapacitacion AS 'Codigo', F.Titulo, F.FechaProgramacion, P2.Documento AS 'DNI', F.idPersona, P2.NombreCompleto,
			G.Descripcion AS 'Grupo', AO.Descripcion AS 'Area', REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(PE.Descripcion,'Á','A'),'É','E'),'Í','I'),'Ó','O'),'Ú','U') AS 'Puesto',
			F.Nota, F.Condicion
			FROM ReportesApp_Seguridad_ControlCapacitaciones_ProgramaAreas PA
			LEFT JOIN ReportesApp_Seguridad_ControlCapacitaciones_Faltantes F ON PA.idArea = F.idArea AND PA.idProgramacion = F.idTitulo
			LEFT JOIN PersonaMast P2 ON P2.Persona = F.idPersona
			LEFT JOIN ReportesApp_Seguridad_ControlCapacitaciones_Grupos G ON G.idGrupo = F.idGrupo
			LEFT JOIN ReportesApp_Seguridad_ControlCapacitaciones_OperacionArea AO ON AO.idOperacion = F.idArea
			LEFT JOIN EmpleadoMast EM ON P2.Persona = EM.Empleado AND EM.Estado = 'A'
			LEFT JOIN HR_PuestoEmpresa PE ON PE.CodigoPuesto = EM.CodigoCargo
			WHERE (F.Titulo LIKE '%' + @Capacitacion + '%') AND (F.Nota IS NULL OR F.Nota < 11) AND
				  (P2.NombreCompleto IS NULL OR P2.NombreCompleto LIKE '%' + @Personal + '%') AND (AO.Descripcion = @Operacion) AND (PE.Descripcion IS NOT NULL))
			UNION
			(SELECT DISTINCT F.idTitulo, F.idCapacitacion AS 'Codigo', F.Titulo, F.FechaProgramacion, P2.Documento AS 'DNI', F.idPersona, P2.NombreCompleto,
			G.Descripcion AS 'Grupo', AO.Descripcion AS 'Area', REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(PE.Descripcion,'Á','A'),'É','E'),'Í','I'),'Ó','O'),'Ú','U') AS 'Puesto',
			F.Nota, F.Condicion
			FROM ReportesApp_Seguridad_ControlCapacitaciones_ProgramaPersonal PA
			LEFT JOIN ReportesApp_Seguridad_ControlCapacitaciones_Faltantes F ON PA.idPersona = F.idPersona AND PA.idProgramacion = F.idTitulo
			LEFT JOIN PersonaMast P2 ON P2.Persona = F.idPersona
			LEFT JOIN ReportesApp_Seguridad_ControlCapacitaciones_Grupos G ON G.idGrupo = F.idGrupo
			LEFT JOIN ReportesApp_Seguridad_ControlCapacitaciones_OperacionArea AO ON AO.idOperacion = F.idArea
			LEFT JOIN EmpleadoMast EM ON P2.Persona = EM.Empleado AND EM.Estado = 'A'
			LEFT JOIN HR_PuestoEmpresa PE ON PE.CodigoPuesto = EM.CodigoCargo
			WHERE (F.Titulo LIKE '%' + @Capacitacion + '%') AND (F.Nota IS NULL OR F.Nota < 11) AND
				  (P2.NombreCompleto IS NULL OR P2.NombreCompleto LIKE '%' + @Personal + '%') AND (AO.Descripcion = @Operacion) AND (PE.Descripcion IS NOT NULL))
			ORDER BY F.idTitulo DESC
		END
	END
END

-----------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 29-11-2023
-- Description: PROGRAMAR CAPACITACION FALTANTE
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Seguridad_ControlCapacitaciones_ProgramarFechas]
@idPersonal INT,
@idTitulo INT,
@FechaProgramada DATETIME,
@Usuario VARCHAR(20)
AS
DECLARE @exito VARCHAR(MAX)
SET @Exito = '0 = Programación Registrada.'

IF (((SELECT UsuarioModifica FROM ReportesApp_Seguridad_ControlCapacitaciones_Faltantes WHERE idTitulo = @idTitulo AND idPersona = @idPersonal) IS NOT NULL)
	AND (@Usuario != 'GINOLI')) BEGIN
	SET @Exito = '-1 = No tiene autorización para reprogramar capacitaciones. Comunicarse con el encargado del área de Seguridad.'
	GOTO Terminar
END

BEGIN TRAN
BEGIN TRY
	UPDATE ReportesApp_Seguridad_ControlCapacitaciones_Faltantes
	SET FechaProgramacion = @FechaProgramada, UsuarioModifica = @Usuario
	WHERE idTitulo = @idTitulo AND idPersona = @idPersonal
END TRY

BEGIN CATCH
	SET @exito = RTRIM(LTRIM(STR(ERROR_NUMBER()))) + '=' + ERROR_MESSAGE()
	ROLLBACK
	GOTO Terminar
END CATCH

IF @@TRANCOUNT > 0
	COMMIT;

TERMINAR:
IF LEFT(@Exito,1)='-' OR cast(left(@Exito,1) AS INT)>0 BEGIN
	DECLARE @storedProcedureName VARCHAR(100)
	SELECT @storedProcedureName = OBJECT_NAME(@@PROCID)
	SET @exito = @exito + CHAR(13)+CHAR(13)+'SP Name: '+@storedProcedureName
END

SELECT @exito exito

------------------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 25-11-2023
-- Description:	CORREO DE AVISO DE CAPACITACIONES
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Seguridad_ControlCapacitaciones_CorreoCapacitaciones]
AS
BEGIN
	DECLARE @Mensaje AS VARCHAR(MAX), @Asunto VARCHAR(300)
	DECLARE @FechaCapacitacion VARCHAR(MAX) = ''
	DECLARE @Contador INT
	DECLARE @TEMP_CORREO TABLE(
		Numero INT,
		Correo VARCHAR(MAX))

	SELECT @FechaCapacitacion = @FechaCapacitacion + '<tr>'
									  + '<td style="background-color: white">' + F.Titulo + '</td>'
									  + '<td style="background-color: white">' + CONVERT(CHAR(10),F.FechaProgramacion,103)+' '+RIGHT(RTRIM(CONVERT(CHAR(26),F.FechaProgramacion,22)),12) + '</td>'
									  + '<td style="background-color: white">' + LTRIM(RTRIM(P2.NombreCompleto)) + '</td>'
									  + '<td style="background-color: white">' + G.Descripcion + '</td>'
									  + '<td style="background-color: white">' + AO.Descripcion + '</td>'
									  + '<td style="background-color: white">' + REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(PE.Descripcion,'Á','A'),'É','E'),'Í','I'),'Ó','O'),'Ú','U') + '</td>'
									  + '</tr>'
	FROM ReportesApp_Seguridad_ControlCapacitaciones_Faltantes F 
		 LEFT JOIN PersonaMast P2 ON P2.Persona = F.idPersona
		 LEFT JOIN ReportesApp_Seguridad_ControlCapacitaciones_Grupos G ON G.idGrupo = F.idGrupo
		 LEFT JOIN ReportesApp_Seguridad_ControlCapacitaciones_OperacionArea AO ON AO.idOperacion = F.idArea
		 LEFT JOIN EmpleadoMast EM ON P2.Persona = EM.Empleado AND EM.Estado = 'A'
		 LEFT JOIN HR_PuestoEmpresa PE ON PE.CodigoPuesto = EM.CodigoCargo
	WHERE CONVERT(DATE,F.FechaProgramacion) = CONVERT(DATE,GETDATE())

	INSERT INTO @TEMP_CORREO(Numero, Correo)
	SELECT ROW_NUMBER() OVER(ORDER BY AO.CorreoArea ASC) AS Numero, AO.CorreoArea
	FROM ReportesApp_Seguridad_ControlCapacitaciones_Faltantes F 
		 LEFT JOIN PersonaMast P2 ON P2.Persona = F.idPersona
		 LEFT JOIN ReportesApp_Seguridad_ControlCapacitaciones_Grupos G ON G.idGrupo = F.idGrupo
		 LEFT JOIN ReportesApp_Seguridad_ControlCapacitaciones_OperacionArea AO ON AO.idOperacion = F.idArea
		 LEFT JOIN EmpleadoMast EM ON P2.Persona = EM.Empleado AND EM.Estado = 'A'
		 LEFT JOIN HR_PuestoEmpresa PE ON PE.CodigoPuesto = EM.CodigoCargo
	WHERE CONVERT(DATE,F.FechaProgramacion) = CONVERT(DATE,GETDATE())
	
	SET @Asunto = 'CAPACITACIONES PROGRAMADAS'

	SET @Mensaje = '<p><h2>LISTA DE USUARIOS CON CAPACITACIONES PROGRAMADAS</h2></p>'
				  +'<p>Estos son los miembros del personal que tienen una capacitación programada para el día de hoy: </p>'
				  + '<p><table border="1" cellspacing="1" cellpadding="1" >
					    <tr>
						    <td align="center" style="background-color:#0CFD00; color: black"><b>CAPACITACIÓN</b></td>
							<td align="center" style="background-color:#0CFD00; color: black"><b>FECHA PROGRAMADA</b></td>
							<td align="center" style="background-color:#0CFD00; color: black"><b>PERSONAL</b></td>
							<td align="center" style="background-color:#0CFD00; color: black"><b>GRUPO</b></td>
							<td align="center" style="background-color:#0CFD00; color: black"><b>ÁREA</b></td>
							<td align="center" style="background-color:#0CFD00; color: black"><b>PUESTO</b></td>
						</tr>
						<tbody>'
						+ ISNULL(@FechaCapacitacion, '') 	
						+'</tbody>
						</table>
					</p>'
				  +'<p>Fecha de envío: '+CONVERT(CHAR(10),GETDATE(),103)+RIGHT(RTRIM(CONVERT(CHAR(26),GETDATE(),22)),12)+'</p>'
				  +'<BR>'
				  +'<p><font face="verdana" size="2" color="DarkRed">Tecnologías de la Información - GRUPO TRANSPESA</font></p>'
	
	SET @Contador = 1

	WHILE (@Contador <= (SELECT COUNT(Numero) FROM @TEMP_CORREO)) BEGIN
		DECLARE @Destinatario VARCHAR(MAX)
		SET @Destinatario = (SELECT Correo FROM @TEMP_CORREO WHERE Numero = @Contador)
		
		EXEC msdb.dbo.sp_send_dbmail 
			@profile_name='AVISODESISTEMA',
			@recipients = @Destinatario,
			--@blind_copy_recipients = 'asistenteauditoria@transpesa.com.pe;jrojas@transpesa.com.pe;desarrollo@transpesa.com.pe;desarrollo2@transpesa.com.pe;' 
			@subject = @Asunto,
			@body_format = 'HTML',
			@body = @Mensaje
		
		SET @Contador = @Contador + 1
	END
END



SELECT * FROM [msdb].[dbo].[sysmail_allitems]
ORDER BY [send_request_date] DESC