
-- UPDATE Usuario SET Estado = 'A' WHERE Usuario = 'DEMO'

-----------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 09-11-2023
-- Description:	LISTAR COMBO METAS
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Combustible_MetasRendimiento_ListarCombo]
@Opcion INT,
@Marca VARCHAR(4)
AS
BEGIN
	IF (@Opcion = 1) BEGIN  -- LISTAR OPERACION
		SELECT IdOperacion, Descripcion FROM ReportesApp_Operacion_Previaje_Operaciones
		WHERE IdOperacion IN (5,1,2,3,4)
		ORDER BY IdOperacion DESC
	END

	IF (@Opcion = 2) BEGIN  -- REGISTRAR OPERACION
		SELECT IdOperacion, Descripcion FROM ReportesApp_Operacion_Previaje_Operaciones
		WHERE IdOperacion IN (1,2,3,4)
	END

	IF (@Opcion = 3) BEGIN  -- LISTAR REGION
		SELECT idRegion, Descripcion FROM ReportesApp_Combustible_MetasRendimiento_Region
	END

	IF (@Opcion = 4) BEGIN  -- LISTAR MARCA
		SELECT Marca, Descripcion FROM ReportesApp_Combustible_MetasRendimiento_Marca
	END

	IF (@Opcion = 5) BEGIN  -- REGISTRAR MARCA
		SELECT Marca, Descripcion FROM ReportesApp_Combustible_MetasRendimiento_Marca
		WHERE Marca NOT IN ('0000')
	END

	IF (@Opcion = 6) BEGIN  -- LISTAR MODELO
		SELECT idModelo, Modelo FROM ReportesApp_Combustible_MetasRendimiento_Modelo
		WHERE Marca = @Marca
	END
END

-----------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 09-11-2023
-- Description:	LISTAR METAS DE RENDIMIENTO
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Combustible_MetasRendimiento_ListarMetas]
@IdOperacion INT,
@TituloRuta VARCHAR(250),
@Marca CHAR(4)
AS
BEGIN
	IF (@IdOperacion = 5) BEGIN
		IF (@Marca = '0000') BEGIN
			SELECT MR.idMetaRendimiento, MR.Anio, CONVERT(VARCHAR,MR.Anio)+'-'+CONVERT(VARCHAR,MR.idMetaRendimiento) AS 'Código', MR.IdOperacion, O.Descripcion AS 'Operacion',
			R.Descripcion AS 'Region', MR.idRutaEnlazada AS 'idRutas', MR.Titulo AS 'Ruta', MR.Marca AS 'idMarca', MM.Descripcion AS 'Marca', MO.Modelo,
			ISNULL(MR.RendPromedio,0) AS 'Rend. Promedio', MR.Meta, MR.UsuarioCreacion AS 'Usuario', MR.FechaCreacion AS 'Fecha'
			FROM ReportesApp_Combustible_MetasRendimiento_Registro MR
			LEFT JOIN ReportesApp_Operacion_Previaje_Operaciones O ON O.IdOperacion = MR.IdOperacion
			LEFT JOIN ReportesApp_Combustible_MetasRendimiento_Region R ON R.idRegion = MR.idRegion
			LEFT JOIN ReportesApp_Combustible_MetasRendimiento_Marca MM ON MM.Marca = MR.Marca
			LEFT JOIN ReportesApp_Combustible_MetasRendimiento_Modelo MO ON MO.idModelo = MR.idModelo
			WHERE (MR.Titulo IS NULL OR MR.Titulo LIKE '%' + @TituloRuta + '%')
			ORDER BY MR.idMetaRendimiento DESC
		END
		ELSE BEGIN
			SELECT MR.idMetaRendimiento, MR.Anio, CONVERT(VARCHAR,MR.Anio)+'-'+CONVERT(VARCHAR,MR.idMetaRendimiento) AS 'Código', MR.IdOperacion, O.Descripcion AS 'Operacion',
			R.Descripcion AS 'Region', MR.idRutaEnlazada AS 'idRutas', MR.Titulo AS 'Ruta', MR.Marca AS 'idMarca', MM.Descripcion AS 'Marca', MO.Modelo,
			ISNULL(MR.RendPromedio,0) AS 'Rend. Promedio', MR.Meta, MR.UsuarioCreacion AS 'Usuario', MR.FechaCreacion AS 'Fecha'
			FROM ReportesApp_Combustible_MetasRendimiento_Registro MR
			LEFT JOIN ReportesApp_Operacion_Previaje_Operaciones O ON O.IdOperacion = MR.IdOperacion
			LEFT JOIN ReportesApp_Combustible_MetasRendimiento_Region R ON R.idRegion = MR.idRegion
			LEFT JOIN ReportesApp_Combustible_MetasRendimiento_Marca MM ON MM.Marca = MR.Marca
			LEFT JOIN ReportesApp_Combustible_MetasRendimiento_Modelo MO ON MO.idModelo = MR.idModelo
			WHERE (MR.Titulo IS NULL OR MR.Titulo LIKE '%' + @TituloRuta + '%') AND (MR.Marca = @Marca)
			ORDER BY MR.idMetaRendimiento DESC
		END
	END
	ELSE BEGIN
		IF (@Marca = '0000') BEGIN
			SELECT MR.idMetaRendimiento, MR.Anio, CONVERT(VARCHAR,MR.Anio)+'-'+CONVERT(VARCHAR,MR.idMetaRendimiento) AS 'Código', MR.IdOperacion, O.Descripcion AS 'Operacion',
			R.Descripcion AS 'Region', MR.idRutaEnlazada AS 'idRutas', MR.Titulo AS 'Ruta', MR.Marca AS 'idMarca', MM.Descripcion AS 'Marca', MO.Modelo,
			ISNULL(MR.RendPromedio,0) AS 'Rend. Promedio', MR.Meta, MR.UsuarioCreacion AS 'Usuario', MR.FechaCreacion AS 'Fecha'
			FROM ReportesApp_Combustible_MetasRendimiento_Registro MR
			LEFT JOIN ReportesApp_Operacion_Previaje_Operaciones O ON O.IdOperacion = MR.IdOperacion
			LEFT JOIN ReportesApp_Combustible_MetasRendimiento_Region R ON R.idRegion = MR.idRegion
			LEFT JOIN ReportesApp_Combustible_MetasRendimiento_Marca MM ON MM.Marca = MR.Marca
			LEFT JOIN ReportesApp_Combustible_MetasRendimiento_Modelo MO ON MO.idModelo = MR.idModelo	
			WHERE (MR.IdOperacion = @IdOperacion) AND (MR.Titulo IS NULL OR MR.Titulo LIKE '%' + @TituloRuta + '%')
			ORDER BY MR.idMetaRendimiento DESC
		END
		ELSE BEGIN
			SELECT MR.idMetaRendimiento, MR.Anio, CONVERT(VARCHAR,MR.Anio)+'-'+CONVERT(VARCHAR,MR.idMetaRendimiento) AS 'Código', MR.IdOperacion, O.Descripcion AS 'Operacion',
			R.Descripcion AS 'Region', MR.idRutaEnlazada AS 'idRutas', MR.Titulo AS 'Ruta', MR.Marca AS 'idMarca', MM.Descripcion AS 'Marca', MO.Modelo,
			ISNULL(MR.RendPromedio,0) AS 'Rend. Promedio', MR.Meta, MR.UsuarioCreacion AS 'Usuario', MR.FechaCreacion AS 'Fecha'
			FROM ReportesApp_Combustible_MetasRendimiento_Registro MR
			LEFT JOIN ReportesApp_Operacion_Previaje_Operaciones O ON O.IdOperacion = MR.IdOperacion
			LEFT JOIN ReportesApp_Combustible_MetasRendimiento_Region R ON R.idRegion = MR.idRegion
			LEFT JOIN ME_MAQUINAMARCA MM ON MM.Marca = MR.Marca
			LEFT JOIN ReportesApp_Combustible_MetasRendimiento_Modelo MO ON MO.idModelo = MR.idModelo
			WHERE (MR.IdOperacion = @IdOperacion) AND (MR.Titulo IS NULL OR MR.Titulo LIKE '%' + @TituloRuta + '%') AND (MR.Marca = @Marca)
			ORDER BY MR.idMetaRendimiento DESC
		END
	END
END

-----------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 11-11-2023
-- Description:	ELIMINAR META DE RENDIMIENTO
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Combustible_MetasRendimiento_EliminarMetas]
@idMetaRendimiento INT,
@Anio INT,
@idRutaEnlazada INT
AS
DECLARE @exito VARCHAR(MAX)	

SET @exito = '0 = Meta de Rendimiento Eliminada.'

BEGIN TRAN
BEGIN TRY
	IF (EXISTS(SELECT idRutaEnlazada FROM ReportesApp_Combustible_MetasRendimiento_Rutas WHERE idRutaEnlazada = @idRutaEnlazada)) BEGIN
		DELETE FROM ReportesApp_Combustible_MetasRendimiento_Rutas
		WHERE idRutaEnlazada = @idRutaEnlazada AND Anio = @Anio
	END
	
	DELETE FROM ReportesApp_Combustible_MetasRendimiento_Registro
	WHERE idMetaRendimiento = @idMetaRendimiento AND Anio = @Anio
END TRY

BEGIN CATCH
	SET @exito = RTRIM(LTRIM(STR(ERROR_NUMBER()))) + '=' + ERROR_MESSAGE()
	ROLLBACK
	GOTO Terminar
END CATCH

IF @@TRANCOUNT > 0
	COMMIT;

TERMINAR:
IF LEFT(@Exito,1)='-' OR cast(left(@Exito,1) AS INT)>0 BEGIN
	DECLARE @storedProcedureName VARCHAR(100)
	SELECT @storedProcedureName = OBJECT_NAME(@@PROCID)
	SET @exito = @exito + CHAR(13)+CHAR(13)+'SP Name: '+@storedProcedureName
END

SELECT @exito exito

-----------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 22-11-2023
-- Description:	EDITAR META DE RENDIMIENTO
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Combustible_MetasRendimiento_ActualizarMetas]
@idMetaRendimiento INT,
@Anio INT,
@Meta DECIMAL(8,2),
@RendPromedio DECIMAL(8,2),
@Usuario VARCHAR(20)
AS
DECLARE @exito VARCHAR(MAX)	

SET @exito = '0 = Meta de Rendimiento Actualizada.'

BEGIN TRAN
BEGIN TRY
	UPDATE ReportesApp_Combustible_MetasRendimiento_Registro
	SET Meta = @Meta, RendPromedio = @RendPromedio, UsuarioCreacion = @Usuario, FechaCreacion = GETDATE()
	WHERE idMetaRendimiento = @idMetaRendimiento AND Anio = @Anio
END TRY

BEGIN CATCH
	SET @exito = RTRIM(LTRIM(STR(ERROR_NUMBER()))) + '=' + ERROR_MESSAGE()
	ROLLBACK
	GOTO Terminar
END CATCH

IF @@TRANCOUNT > 0
	COMMIT;

TERMINAR:
IF LEFT(@Exito,1)='-' OR cast(left(@Exito,1) AS INT)>0 BEGIN
	DECLARE @storedProcedureName VARCHAR(100)
	SELECT @storedProcedureName = OBJECT_NAME(@@PROCID)
	SET @exito = @exito + CHAR(13)+CHAR(13)+'SP Name: '+@storedProcedureName
END

SELECT @exito exito



-----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------

-- MODIFICAR ReportesApp_Combustible_MetasRendimiento_Rutas

------------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 10-11-2023
-- Description:	LISTAR RUTAS ACTIVAS
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Combustible_MetasRendimiento_ListarRutasRendimiento]
@Descripcion VARCHAR(250)
AS
BEGIN
	SELECT RP.IdRuta, RP.Ruta AS 'RUTA', CAST(AVG(ISNULL(RP.RENDIMIENTO,0)) AS DECIMAL(10,2)) AS 'REND_PROM'
	FROM (SELECT CAST(CPUKilometraje/CantidadDespachada AS DECIMAL(10,2)) AS Rendimiento, V.IdViaje AS IdViaje, R.IdRuta AS IdRuta,
	R.Descripcion AS Ruta FROM OP_TR_CargaCombustible C
	LEFT JOIN OP_TR_VIAJE V ON V.IdViaje = C.IdViaje
	LEFT JOIN OP_TR_RUTA R ON R.IdRuta = V.IdRuta
	WHERE YEAR(C.FechaCreacion) = YEAR(GETDATE()) AND C.Estado = 2) RP
	WHERE (RP.IdRuta IS NOT NULL) AND (LTRIM(RP.Ruta) LIKE '%' + @Descripcion + '%')
	GROUP BY RP.IdRuta, RP.Ruta
	ORDER BY RP.Ruta
END

---------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 10-11-2023
-- Description:	INGRESAR META DE RENDIMIENTO
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Combustible_MetasRendimiento_Registrar]
@IdOperacion INT,
@idRegion INT,
@Titulo VARCHAR(250),
@Marca CHAR(4),
@idModelo INT,
@Meta DECIMAL(8,2),
@xmlRuta VARCHAR(MAX),
@Usuario VARCHAR(20)
AS
DECLARE @exito VARCHAR(MAX)	
DECLARE @correlativo INT
DECLARE @c2 INT
DECLARE @cRutas INT
DECLARE @Nro INT
DECLARE @IdRuta INT
DECLARE @idoc INT
DECLARE @RendPromedioTotal DECIMAL(10,2)
DECLARE @TEMP_RUTA TABLE(
		Correlativo INT,
		IdRuta INT,
		Descripcion VARCHAR(250),
		rendProm DECIMAL(10,2))

SET @exito = '0 = Meta de Rendimiento Ingresada.'

SET @correlativo = (SELECT MAX(Correlativo) FROM @TEMP_RUTA)
SET @correlativo = ISNULL(@correlativo,0) + 1 
SET @c2 = (SELECT MAX(idMetaRendimiento) FROM ReportesApp_Combustible_MetasRendimiento_Registro WHERE Anio = YEAR(GETDATE()))
SET @c2 = ISNULL(@c2,0) + 1 
SET @cRutas = (SELECT MAX(idRutaEnlazada) FROM ReportesApp_Combustible_MetasRendimiento_Rutas)
SET @cRutas = ISNULL(@cRutas,0) + 1 
SET @Nro = 0

BEGIN TRAN
BEGIN TRY
	IF (@xmlRuta IS NOT NULL) BEGIN
		EXEC sp_xml_preparedocument @idoc OUTPUT, @xmlRuta
		INSERT INTO @TEMP_RUTA(Correlativo, IdRuta, Descripcion, rendProm)
		SELECT ROW_NUMBER() OVER(ORDER BY @correlativo ASC),* FROM OPENXML(@idoc,N'/r/rutas')
		WITH (ID INT, descripcion VARCHAR(250), rendProm DECIMAL(10,2));
		EXEC sp_xml_removedocument @idoc;

		SET @RendPromedioTotal = (SELECT CAST(AVG(rendProm) AS DECIMAL(10,2)) FROM @TEMP_RUTA)
	END

	WHILE (@Nro <= (SELECT MAX(Correlativo) FROM @TEMP_RUTA)) BEGIN
		INSERT INTO ReportesApp_Combustible_MetasRendimiento_Rutas(idRutaEnlazada,Anio,IdRuta,Descripcion,RendProm)
		SELECT @cRutas, YEAR(GETDATE()), R.IdRuta, R.Descripcion, R.rendProm FROM @TEMP_RUTA R
		WHERE R.Correlativo = @Nro
		SET @Nro = @Nro + 1
	END

	INSERT INTO ReportesApp_Combustible_MetasRendimiento_Registro(idMetaRendimiento,Anio,IdOperacion,idRegion,idRutaEnlazada,Titulo,Marca,idModelo,RendPromedio,Meta,UsuarioCreacion,FechaCreacion)
	VALUES(@c2, YEAR(GETDATE()), @IdOperacion, @idRegion, @cRutas, @Titulo, @Marca, @idModelo, @RendPromedioTotal, @Meta, @Usuario, GETDATE())
END TRY

BEGIN CATCH
	SET @exito = RTRIM(LTRIM(STR(ERROR_NUMBER()))) + '=' + ERROR_MESSAGE()
	ROLLBACK
	GOTO Terminar
END CATCH

IF @@TRANCOUNT > 0
	COMMIT;

TERMINAR:
IF LEFT(@Exito,1)='-' OR cast(left(@Exito,1) AS INT)>0 BEGIN
	DECLARE @storedProcedureName VARCHAR(100)
	SELECT @storedProcedureName = OBJECT_NAME(@@PROCID)
	SET @exito = @exito + CHAR(13)+CHAR(13)+'SP Name: '+@storedProcedureName
END

SELECT @exito exito

------------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 10-11-2023
-- Description:	FILTRAR META DE RENDIMIENTO
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Combustible_MetasRendimiento_FiltrarMetas]
@idMetaRendimiento INT,
@Anio INT
AS
BEGIN
	SELECT O.Descripcion AS 'Operacion', R.Descripcion AS 'Region', RM.Descripcion AS 'Rutas Enlazadas', RM.RendProm AS 'Rend. Ruta',
	MR.Titulo AS 'Ruta', MM.Descripcion AS 'Marca', MO.Modelo, ISNULL(MR.RendPromedio,0) AS 'Rend. Promedio', MR.Meta
	FROM ReportesApp_Combustible_MetasRendimiento_Registro MR
	LEFT JOIN ReportesApp_Combustible_MetasRendimiento_Rutas RM ON MR.idRutaEnlazada = RM.idRutaEnlazada
	LEFT JOIN ReportesApp_Operacion_Previaje_Operaciones O ON O.IdOperacion = MR.IdOperacion
	LEFT JOIN ReportesApp_Combustible_MetasRendimiento_Region R ON R.idRegion = MR.idRegion
	LEFT JOIN ReportesApp_Combustible_MetasRendimiento_Marca MM ON MM.Marca = MR.Marca
	LEFT JOIN ReportesApp_Combustible_MetasRendimiento_Modelo MO ON MO.idModelo = MR.idModelo
	WHERE MR.idMetaRendimiento = @idMetaRendimiento AND MR.Anio = @Anio
END

-----------------------------------------------

-- RENDIMIENTO PROMEDIO DE RUTA
SELECT CAST(AVG(RP.RENDIMIENTO) AS DECIMAL(10,2)) AS 'R_PROMEDIO', RP.IdRuta, RP.Ruta
FROM (SELECT CAST(CPUKilometraje/CantidadDespachada AS DECIMAL(10,2)) AS Rendimiento, V.IdViaje AS IdViaje, R.IdRuta AS IdRuta,
R.Descripcion AS Ruta FROM OP_TR_CargaCombustible C
LEFT JOIN OP_TR_VIAJE V ON V.IdViaje = C.IdViaje
LEFT JOIN OP_TR_RUTA R ON R.IdRuta = V.IdRuta
WHERE YEAR(C.FechaCreacion) = YEAR(GETDATE()) AND C.Estado = 2) RP
WHERE RP.IdRuta IS NOT NULL
GROUP BY RP.IdRuta, RP.Ruta
ORDER BY RP.Ruta

SELECT ME_MaquinaModelo.Marca, ME_MaquinaModelo.Modelo, ME_MaquinaModelo.Estado FROM ME_MaquinaModelo WHERE Estado = 'A' 
SELECT ME_MaquinaMarca.Marca, ME_MaquinaMarca.Descripcion, ME_MaquinaMarca.Estado FROM ME_MaquinaMarca WHERE Estado = 'A' 