
-- UPDATE Usuario SET Estado = 'A' WHERE Usuario = 'DEMO'
-- UPDATE PersonaMast SET Estado = 'A' WHERE Persona = 0

-----------------------------------------------------------

-- MODIFICAR TABLA ReportesApp_Operacion_MaestroUnidadesConductor

-- CREAR TABLA ReportesApp_Operaciones_ConductorUnidades_TipoVehiculo

-- CREAR TABLA ReportesApp_Operaciones_ConductorUnidades_SubTipoVehiculo

-----------------------------------------------------------
/*
INSERT INTO ReportesApp_Operacion_MaestroUnidadesConductor (FechaRegistro, IdUnidad, TipoUnidad, SubTipoUnidad, UsuarioCrea, FechaCrea)
SELECT GETDATE(), VH.IdVehiculo, VH.TipoVehiculo, VH.SubTipoVehiculo, 'CBELTRAN', GETDATE() FROM OP_TR_Vehiculo VH
WHERE VH.Estado = 2 AND VH.TipoVehiculo = 2 AND VH.IndTercero = 'P'

INSERT INTO ReportesApp_Operacion_MaestroUnidadesConductor (FechaRegistro, IdUnidad, TipoUnidad, SubTipoUnidad, UsuarioCrea, FechaCrea)
SELECT GETDATE(), VH.IdVehiculo, VH.TipoVehiculo, VH.SubTipoVehiculo, 'CBELTRAN', GETDATE() FROM OP_TR_Vehiculo VH
WHERE VH.Estado = 2 AND VH.TipoVehiculo = 3 AND VH.IndTercero = 'P'

UPDATE ReportesApp_Operacion_MaestroUnidadesConductor
SET IdProgramacion = 2
WHERE TipoUnidad = 2 AND SubTipoUnidad = 5

UPDATE ReportesApp_Operacion_MaestroUnidadesConductor
SET IdProgramacion = 1
WHERE TipoUnidad = 2 AND  SubTipoUnidad = 3

UPDATE ReportesApp_Operacion_MaestroUnidadesConductor
SET IdProgramacion = 3
WHERE TipoUnidad = 2 AND  SubTipoUnidad = 9

UPDATE ReportesApp_Operacion_MaestroUnidadesConductor
SET IdProgramacion = 4
WHERE TipoUnidad = 2 AND SubTipoUnidad IN (2,4,6)

UPDATE ReportesApp_Operacion_MaestroUnidadesConductor
SET IdProgramacion = 6
WHERE TipoUnidad IN (3)
*/
-----------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 03-01-2024
-- Description:	LISTAR TIPO DE UNIDAD
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Operaciones_ConductorUnidades_ListarTipoUnidad]
@Opcion INT,
@TipoVehiculo INT
AS
BEGIN
	IF (@Opcion = 1) BEGIN		-- LISTAR TIPO DE UNIDAD
		SELECT idTipoVehiculo, Descripcion FROM ReportesApp_Operaciones_ConductorUnidades_TipoVehiculo
	END

	IF (@Opcion = 2) BEGIN		-- LISTAR SUB TIPO DE UNIDAD
		IF (@TipoVehiculo = 0 OR @TipoVehiculo = 4) BEGIN
			SELECT idSubTipoVehiculo, Descripcion FROM ReportesApp_Operaciones_ConductorUnidades_SubTipoVehiculo
			WHERE (idSubTipoVehiculo IN (0))
		END

		IF (@TipoVehiculo = 1) BEGIN
			SELECT idSubTipoVehiculo, Descripcion FROM ReportesApp_Operaciones_ConductorUnidades_SubTipoVehiculo
			WHERE (idSubTipoVehiculo IN (1))
		END
		
		IF (@TipoVehiculo = 2) BEGIN
			SELECT idSubTipoVehiculo, Descripcion FROM ReportesApp_Operaciones_ConductorUnidades_SubTipoVehiculo
			WHERE (idSubTipoVehiculo NOT IN (1,7,8))
		END

		IF (@TipoVehiculo = 3) BEGIN
			SELECT idSubTipoVehiculo, Descripcion FROM ReportesApp_Operaciones_ConductorUnidades_SubTipoVehiculo
			WHERE (idSubTipoVehiculo IN (0,7,8))
		END
	END

	IF (@Opcion = 3) BEGIN		-- LISTAR OPERACIONES
		SELECT IdOperacion ID, 
		CASE WHEN IdOperacion  = 5 THEN 'TODOS' ELSE DESCRIPCION END AS DESCRIPCION 
		FROM ReportesApp_Operacion_Previaje_Operaciones WHERE IdOperacion NOT IN (7,8)
	END

	IF (@Opcion = 4) BEGIN
		SELECT idTipoVehiculo, Descripcion FROM ReportesApp_Operaciones_ConductorUnidades_TipoVehiculo
		WHERE (idTipoVehiculo NOT IN (0,3,4))
	END

	IF (@Opcion = 5) BEGIN
		SELECT idTipoVehiculo, Descripcion FROM ReportesApp_Operaciones_ConductorUnidades_TipoVehiculo
		WHERE idTipoVehiculo NOT IN (3,4)
	END
END

-----------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 03-01-2024
-- Description:	LISTAR CONDUCTOR UNIDADES
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Operaciones_ConductorUnidades_Listar]
@TipoVehiculo INT,
@SubTipoVehiculo INT,
@idOperacion INT,
@Placa VARCHAR(10)
AS
BEGIN
	DECLARE @TEMP_ULTIV TABLE (NRO_TICKET INT, ID_UNIDAD INT, FECHA_PROG DATETIME)

	INSERT @TEMP_ULTIV (NRO_TICKET, ID_UNIDAD, FECHA_PROG)
	SELECT R1.NroTicket, R1.idTracto, R1.FechaProgramacion FROM ReportesApp_Operacion_Previaje_Registros R1
	WHERE R1.NroTicket = (SELECT TOP(1) R2.NroTicket FROM ReportesApp_Operacion_Previaje_Registros R2 WHERE R2.idTracto = R1.idTracto AND R2.Estado = 9
	ORDER BY R2.FechaProgramacion DESC)
	UNION
	SELECT R1.NroTicket, R1.idSemirremolque, R1.FechaProgramacion FROM ReportesApp_Operacion_Previaje_Registros R1
	WHERE R1.NroTicket = (SELECT TOP(1) R2.NroTicket FROM ReportesApp_Operacion_Previaje_Registros R2 WHERE R2.idSemirremolque = R1.idSemirremolque AND R2.Estado = 9
	ORDER BY R2.FechaProgramacion DESC)

	IF (@TipoVehiculo = 0 AND @SubTipoVehiculo = 0 AND @idOperacion = 5) BEGIN
		SELECT IdRegistro 'N°',uc.IdUnidad 'ID',FechaRegistro 'FECHA', CASE WHEN V.Estado = 2 THEN 'OPERATIVO' ELSE 'INOPERATIVO' END AS 'ESTADO',
		CASE WHEN BL.IdBloqueo IS NULL THEN 'NO' ELSE 'SÍ' END AS 'BLOQUEADO', V.NumeroPlaca 'UNIDAD', TV.idTipoVehiculo, TV.Descripcion AS 'TIPO_UNIDAD',
		SV.SubTipoVehiculo, SV.Descripcion AS 'SUBTIPO_UNIDAD', ISNULL(Transmision,'') AS 'TRANSMISION', ISNULL(uc.IdProgramacion,-1) IDOPERACION,
		CASE WHEN O.IdOperacion = 5 THEN 'SIN OPERACION' ELSE O.Descripcion END AS 'OPERACION_UNIDAD',
		CASE WHEN ISNULL(UC.MOCHILA,0)<1 THEN 0 ELSE 1 END AS 'MOCHILA',
		CASE WHEN ISNULL(UC.TOMAFUERZA,0)<1 THEN 0 ELSE 1 END AS 'TOMAFUERZA',
		CASE WHEN ISNULL(UC.UREA,0)<1 THEN 0 ELSE 1 END AS 'UREA',
		CASE WHEN ISNULL(UC.MANGUERA,0)<1 THEN 0 ELSE 1 END AS 'MANGUERA DE AIRE', UC.Observacion OBSERVACION, U.NRO_TICKET AS 'ULTIMA_PROG',
		U.FECHA_PROG AS 'ULTIMA_FECHA', UC.UsuarioCrea 'USUARIO_CREA', UC.FechaCrea 'FECHA_CREA', UC.UsuarioModifica 'USUARIO_MODIFICA',UC.FechaModifica 'FECHA_MODIFICA'
		FROM ReportesApp_Operacion_MaestroUnidadesConductor UC
			LEFT JOIN OP_TR_Vehiculo V ON V.IdVehiculo = UC.IdUnidad
			LEFT JOIN ReportesApp_Operaciones_ConductorUnidades_TipoVehiculo AS TV WITH(NOLOCK) ON TV.idTipoVehiculo = V.TIPOVEHICULO
			LEFT JOIN ME_MaquinaMarca ME ON V.Marca = ME.Marca
			LEFT JOIN OP_TR_SubTipoVehiculo SV ON SV.SubTipoVehiculo = V.SubTipoVehiculo
			LEFT JOIN ReportesApp_Operacion_Previaje_Operaciones O ON O.IdOperacion = UC.IdProgramacion
			LEFT JOIN ReportesApp_Operacion_UnidadesBloqueadas BL ON BL.IdUnidad = UC.IdUnidad
			LEFT JOIN @TEMP_ULTIV U ON U.ID_UNIDAD = UC.IdUnidad
		WHERE (V.Estado = 2) AND (@Placa IS NULL OR V.NumeroPlaca LIKE '%' + @Placa + '%')
		ORDER BY IdRegistro DESC
	END

	IF (@TipoVehiculo != 0 AND @SubTipoVehiculo = 0 AND @idOperacion = 5) BEGIN
		SELECT IdRegistro 'N°',uc.IdUnidad 'ID',FechaRegistro 'FECHA', CASE WHEN V.Estado = 2 THEN 'OPERATIVO' ELSE 'INOPERATIVO' END AS 'ESTADO',
		CASE WHEN BL.IdBloqueo IS NULL THEN 'NO' ELSE 'SÍ' END AS 'BLOQUEADO', V.NumeroPlaca 'UNIDAD', TV.idTipoVehiculo, TV.Descripcion AS 'TIPO_UNIDAD',
		SV.SubTipoVehiculo, SV.Descripcion AS 'SUBTIPO_UNIDAD', ISNULL(Transmision,'') AS 'TRANSMISION', ISNULL(uc.IdProgramacion,-1) IDOPERACION,
		CASE WHEN O.IdOperacion = 5 THEN 'SIN OPERACION' ELSE O.Descripcion END AS 'OPERACION_UNIDAD',
		CASE WHEN ISNULL(UC.MOCHILA,0)<1 THEN 0 ELSE 1 END AS 'MOCHILA',
		CASE WHEN ISNULL(UC.TOMAFUERZA,0)<1 THEN 0 ELSE 1 END AS 'TOMAFUERZA',
		CASE WHEN ISNULL(UC.UREA,0)<1 THEN 0 ELSE 1 END AS 'UREA',
		CASE WHEN ISNULL(UC.MANGUERA,0)<1 THEN 0 ELSE 1 END AS 'MANGUERA DE AIRE', UC.Observacion OBSERVACION, U.NRO_TICKET AS 'ULTIMA_PROG',
		U.FECHA_PROG AS 'ULTIMA_FECHA', UC.UsuarioCrea 'USUARIO_CREA', UC.FechaCrea 'FECHA_CREA', UC.UsuarioModifica 'USUARIO_MODIFICA',UC.FechaModifica 'FECHA_MODIFICA'
		FROM ReportesApp_Operacion_MaestroUnidadesConductor UC
			LEFT JOIN OP_TR_Vehiculo V ON V.IdVehiculo = UC.IdUnidad
			LEFT JOIN ReportesApp_Operaciones_ConductorUnidades_TipoVehiculo AS TV WITH(NOLOCK) ON TV.idTipoVehiculo = V.TIPOVEHICULO
			LEFT JOIN ME_MaquinaMarca ME ON V.Marca = ME.Marca
			LEFT JOIN OP_TR_SubTipoVehiculo SV ON SV.SubTipoVehiculo = V.SubTipoVehiculo
			LEFT JOIN ReportesApp_Operacion_Previaje_Operaciones O ON O.IdOperacion = UC.IdProgramacion 
			LEFT JOIN ReportesApp_Operacion_UnidadesBloqueadas BL ON BL.IdUnidad = UC.IdUnidad
			LEFT JOIN @TEMP_ULTIV U ON U.ID_UNIDAD = UC.IdUnidad
		WHERE (TV.idTipoVehiculo = @TipoVehiculo) AND (V.Estado = 2) AND (@Placa IS NULL OR V.NumeroPlaca LIKE '%' + @Placa + '%')
		ORDER BY IdRegistro DESC
	END

	IF (@TipoVehiculo != 0 AND @SubTipoVehiculo = 0 AND @idOperacion != 5) BEGIN
		SELECT IdRegistro 'N°',uc.IdUnidad 'ID',FechaRegistro 'FECHA', CASE WHEN V.Estado = 2 THEN 'OPERATIVO' ELSE 'INOPERATIVO' END AS 'ESTADO',
		CASE WHEN BL.IdBloqueo IS NULL THEN 'NO' ELSE 'SÍ' END AS 'BLOQUEADO', V.NumeroPlaca 'UNIDAD', TV.idTipoVehiculo, TV.Descripcion AS 'TIPO_UNIDAD',
		SV.SubTipoVehiculo, SV.Descripcion AS 'SUBTIPO_UNIDAD', ISNULL(Transmision,'') AS 'TRANSMISION', ISNULL(uc.IdProgramacion,-1) IDOPERACION,
		CASE WHEN O.IdOperacion = 5 THEN 'SIN OPERACION' ELSE O.Descripcion END AS 'OPERACION_UNIDAD',
		CASE WHEN ISNULL(UC.MOCHILA,0)<1 THEN 0 ELSE 1 END AS 'MOCHILA',
		CASE WHEN ISNULL(UC.TOMAFUERZA,0)<1 THEN 0 ELSE 1 END AS 'TOMAFUERZA',
		CASE WHEN ISNULL(UC.UREA,0)<1 THEN 0 ELSE 1 END AS 'UREA',
		CASE WHEN ISNULL(UC.MANGUERA,0)<1 THEN 0 ELSE 1 END AS 'MANGUERA DE AIRE', UC.Observacion OBSERVACION, U.NRO_TICKET AS 'ULTIMA_PROG',
		U.FECHA_PROG AS 'ULTIMA_FECHA', UC.UsuarioCrea 'USUARIO_CREA', UC.FechaCrea 'FECHA_CREA', UC.UsuarioModifica 'USUARIO_MODIFICA',UC.FechaModifica 'FECHA_MODIFICA'
		FROM ReportesApp_Operacion_MaestroUnidadesConductor UC
			LEFT JOIN OP_TR_Vehiculo V ON V.IdVehiculo = UC.IdUnidad
			LEFT JOIN ReportesApp_Operaciones_ConductorUnidades_TipoVehiculo AS TV WITH(NOLOCK) ON TV.idTipoVehiculo = V.TIPOVEHICULO
			LEFT JOIN ME_MaquinaMarca ME ON V.Marca = ME.Marca
			LEFT JOIN OP_TR_SubTipoVehiculo SV ON SV.SubTipoVehiculo = V.SubTipoVehiculo
			LEFT JOIN ReportesApp_Operacion_Previaje_Operaciones O ON O.IdOperacion = UC.IdProgramacion 
			LEFT JOIN ReportesApp_Operacion_UnidadesBloqueadas BL ON BL.IdUnidad = UC.IdUnidad
			LEFT JOIN @TEMP_ULTIV U ON U.ID_UNIDAD = UC.IdUnidad
		WHERE (TV.idTipoVehiculo = @TipoVehiculo) AND (uc.IdProgramacion = @idOperacion) AND (V.Estado = 2)
		AND (@Placa IS NULL OR V.NumeroPlaca LIKE '%' + @Placa + '%')
		ORDER BY IdRegistro DESC
	END

	IF (@TipoVehiculo != 0 AND @SubTipoVehiculo != 0 AND @idOperacion != 5) BEGIN
		SELECT IdRegistro 'N°',uc.IdUnidad 'ID',FechaRegistro 'FECHA', CASE WHEN V.Estado = 2 THEN 'OPERATIVO' ELSE 'INOPERATIVO' END AS 'ESTADO',
		CASE WHEN BL.IdBloqueo IS NULL THEN 'NO' ELSE 'SÍ' END AS 'BLOQUEADO', V.NumeroPlaca 'UNIDAD', TV.idTipoVehiculo, TV.Descripcion AS 'TIPO_UNIDAD',
		SV.SubTipoVehiculo, SV.Descripcion AS 'SUBTIPO_UNIDAD', ISNULL(Transmision,'') AS 'TRANSMISION', ISNULL(uc.IdProgramacion,-1) IDOPERACION,
		CASE WHEN O.IdOperacion = 5 THEN 'SIN OPERACION' ELSE O.Descripcion END AS 'OPERACION_UNIDAD',
		CASE WHEN ISNULL(UC.MOCHILA,0)<1 THEN 0 ELSE 1 END AS 'MOCHILA',
		CASE WHEN ISNULL(UC.TOMAFUERZA,0)<1 THEN 0 ELSE 1 END AS 'TOMAFUERZA',
		CASE WHEN ISNULL(UC.UREA,0)<1 THEN 0 ELSE 1 END AS 'UREA',
		CASE WHEN ISNULL(UC.MANGUERA,0)<1 THEN 0 ELSE 1 END AS 'MANGUERA DE AIRE', UC.Observacion OBSERVACION, U.NRO_TICKET AS 'ULTIMA_PROG',
		U.FECHA_PROG AS 'ULTIMA_FECHA', UC.UsuarioCrea 'USUARIO_CREA', UC.FechaCrea 'FECHA_CREA', UC.UsuarioModifica 'USUARIO_MODIFICA',UC.FechaModifica 'FECHA_MODIFICA'
		FROM ReportesApp_Operacion_MaestroUnidadesConductor UC
			LEFT JOIN OP_TR_Vehiculo V ON V.IdVehiculo = UC.IdUnidad
			LEFT JOIN ReportesApp_Operaciones_ConductorUnidades_TipoVehiculo AS TV WITH(NOLOCK) ON TV.idTipoVehiculo = V.TIPOVEHICULO
			LEFT JOIN ME_MaquinaMarca ME ON V.Marca = ME.Marca
			LEFT JOIN OP_TR_SubTipoVehiculo SV ON SV.SubTipoVehiculo = V.SubTipoVehiculo
			LEFT JOIN ReportesApp_Operacion_Previaje_Operaciones O ON  O.IdOperacion = UC.IdProgramacion
			LEFT JOIN ReportesApp_Operacion_UnidadesBloqueadas BL ON BL.IdUnidad = UC.IdUnidad
			LEFT JOIN @TEMP_ULTIV U ON U.ID_UNIDAD = UC.IdUnidad 
		WHERE (TV.idTipoVehiculo = @TipoVehiculo) AND (SV.SubTipoVehiculo = @SubTipoVehiculo) AND (uc.IdProgramacion = @idOperacion) AND (V.Estado = 2)
		AND (@Placa IS NULL OR V.NumeroPlaca LIKE '%' + @Placa + '%')
		ORDER BY IdRegistro DESC
	END

	IF (@TipoVehiculo != 0 AND @SubTipoVehiculo != 0 AND @idOperacion = 5) BEGIN
		SELECT IdRegistro 'N°',uc.IdUnidad 'ID',FechaRegistro 'FECHA', CASE WHEN V.Estado = 2 THEN 'OPERATIVO' ELSE 'INOPERATIVO' END AS 'ESTADO',
		CASE WHEN BL.IdBloqueo IS NULL THEN 'NO' ELSE 'SÍ' END AS 'BLOQUEADO', V.NumeroPlaca 'UNIDAD', TV.idTipoVehiculo, TV.Descripcion AS 'TIPO_UNIDAD',
		SV.SubTipoVehiculo, SV.Descripcion AS 'SUBTIPO_UNIDAD', ISNULL(Transmision,'') AS 'TRANSMISION', ISNULL(uc.IdProgramacion,-1) IDOPERACION,
		CASE WHEN O.IdOperacion = 5 THEN 'SIN OPERACION' ELSE O.Descripcion END AS 'OPERACION_UNIDAD',
		CASE WHEN ISNULL(UC.MOCHILA,0)<1 THEN 0 ELSE 1 END AS 'MOCHILA',
		CASE WHEN ISNULL(UC.TOMAFUERZA,0)<1 THEN 0 ELSE 1 END AS 'TOMAFUERZA',
		CASE WHEN ISNULL(UC.UREA,0)<1 THEN 0 ELSE 1 END AS 'UREA',
		CASE WHEN ISNULL(UC.MANGUERA,0)<1 THEN 0 ELSE 1 END AS 'MANGUERA DE AIRE', UC.Observacion OBSERVACION, U.NRO_TICKET AS 'ULTIMA_PROG',
		U.FECHA_PROG AS 'ULTIMA_FECHA', UC.UsuarioCrea 'USUARIO_CREA', UC.FechaCrea 'FECHA_CREA', UC.UsuarioModifica 'USUARIO_MODIFICA',UC.FechaModifica 'FECHA_MODIFICA'
		FROM ReportesApp_Operacion_MaestroUnidadesConductor UC
			LEFT JOIN OP_TR_Vehiculo V ON V.IdVehiculo = UC.IdUnidad
			LEFT JOIN ReportesApp_Operaciones_ConductorUnidades_TipoVehiculo AS TV WITH(NOLOCK) ON TV.idTipoVehiculo = V.TIPOVEHICULO
			LEFT JOIN ME_MaquinaMarca ME ON V.Marca = ME.Marca
			LEFT JOIN OP_TR_SubTipoVehiculo SV ON SV.SubTipoVehiculo = V.SubTipoVehiculo
			LEFT JOIN ReportesApp_Operacion_Previaje_Operaciones O ON  O.IdOperacion = UC.IdProgramacion
			LEFT JOIN ReportesApp_Operacion_UnidadesBloqueadas BL ON BL.IdUnidad = UC.IdUnidad
			LEFT JOIN @TEMP_ULTIV U ON U.ID_UNIDAD = UC.IdUnidad 
		WHERE (TV.idTipoVehiculo = @TipoVehiculo) AND (SV.SubTipoVehiculo = @SubTipoVehiculo) AND (V.Estado = 2) AND (@Placa IS NULL OR V.NumeroPlaca LIKE '%' + @Placa + '%')
		ORDER BY IdRegistro DESC
	END

	IF (@TipoVehiculo = 0 AND @SubTipoVehiculo = 0 AND @idOperacion != 5) BEGIN
		SELECT IdRegistro 'N°',uc.IdUnidad 'ID',FechaRegistro 'FECHA', CASE WHEN V.Estado = 2 THEN 'OPERATIVO' ELSE 'INOPERATIVO' END AS 'ESTADO',
		CASE WHEN BL.IdBloqueo IS NULL THEN 'NO' ELSE 'SÍ' END AS 'BLOQUEADO', V.NumeroPlaca 'UNIDAD', TV.idTipoVehiculo, TV.Descripcion AS 'TIPO_UNIDAD',
		SV.SubTipoVehiculo, SV.Descripcion AS 'SUBTIPO_UNIDAD', ISNULL(Transmision,'') AS 'TRANSMISION', ISNULL(uc.IdProgramacion,-1) IDOPERACION,
		CASE WHEN O.IdOperacion = 5 THEN 'SIN OPERACION' ELSE O.Descripcion END AS 'OPERACION_UNIDAD',
		CASE WHEN ISNULL(UC.MOCHILA,0)<1 THEN 0 ELSE 1 END AS 'MOCHILA',
		CASE WHEN ISNULL(UC.TOMAFUERZA,0)<1 THEN 0 ELSE 1 END AS 'TOMAFUERZA',
		CASE WHEN ISNULL(UC.UREA,0)<1 THEN 0 ELSE 1 END AS 'UREA',
		CASE WHEN ISNULL(UC.MANGUERA,0)<1 THEN 0 ELSE 1 END AS 'MANGUERA DE AIRE', UC.Observacion OBSERVACION, U.NRO_TICKET AS 'ULTIMA_PROG',
		U.FECHA_PROG AS 'ULTIMA_FECHA', UC.UsuarioCrea 'USUARIO_CREA', UC.FechaCrea 'FECHA_CREA', UC.UsuarioModifica 'USUARIO_MODIFICA',UC.FechaModifica 'FECHA_MODIFICA'
		FROM ReportesApp_Operacion_MaestroUnidadesConductor UC
			LEFT JOIN OP_TR_Vehiculo V ON V.IdVehiculo = UC.IdUnidad
			LEFT JOIN ReportesApp_Operaciones_ConductorUnidades_TipoVehiculo AS TV WITH(NOLOCK) ON TV.idTipoVehiculo = V.TIPOVEHICULO
			LEFT JOIN ME_MaquinaMarca ME ON V.Marca = ME.Marca
			LEFT JOIN OP_TR_SubTipoVehiculo SV ON SV.SubTipoVehiculo = V.SubTipoVehiculo
			LEFT JOIN ReportesApp_Operacion_Previaje_Operaciones O ON  O.IdOperacion = UC.IdProgramacion
			LEFT JOIN ReportesApp_Operacion_UnidadesBloqueadas BL ON BL.IdUnidad = UC.IdUnidad
			LEFT JOIN @TEMP_ULTIV U ON U.ID_UNIDAD = UC.IdUnidad 
		WHERE (V.Estado = 2) AND (@Placa IS NULL OR V.NumeroPlaca LIKE '%' + @Placa + '%') AND (uc.IdProgramacion = @idOperacion)
		ORDER BY IdRegistro DESC
	END
END

-----------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 03-01-2024
-- Description:	FILTRAR DATOS DE UNIDAD
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Operaciones_ConductorUnidades_FiltrarUnidad]
@IdVehiculo INT
AS
BEGIN
	SELECT CASE WHEN VH.Estado = 2 THEN 'OPERATIVO' ELSE 'INOPERATIVO' END AS 'ESTADO', VH.IdVehiculo, LTRIM(RTRIM(VH.NumeroPlaca)) AS 'UNIDAD', TV.idTipoVehiculo,
	TV.Descripcion AS 'TIPO_UNIDAD', ST.SubTipoVehiculo, ST.Descripcion AS 'SUB_TIPO_UNIDAD', CASE WHEN VH.IndTercero = 'P' THEN 'PROPIO' ELSE 'TERCERO' END AS 'ORIGEN',
	GE.Nombre AS 'COMPANIA', SU.DescripcionLocal AS 'SUCURSAL',VH.Descripcion, CC.LOCALNAME AS 'CENTRO_COSTO', VH.Proyecto, VH.TarjetaPropiedad, CAST(ISNULL(VH.Odometro,0) AS DECIMAL(10,2)) AS 'KILOMETRAJE',
	LTRIM(RTRIM(ME.Descripcion)) AS 'MARCA', VH.Modelo AS 'MODELO', VH.SerieMotor AS 'MOTOR', VH.NumeroChasis AS 'CHASIS', TC.Descripcion AS 'COMBUSTIBLE', CAST(ISNULL(VH.Combustible,0) AS DECIMAL(10,2)) AS 'CAP_COMB',
	CAST(ISNULL(VH.Capacidad,0) AS DECIMAL(10,2)) AS 'CAPACIDAD', CAST(ISNULL(VH.Tara,0) AS DECIMAL(10,2)) AS 'TARA', CAST(ISNULL(VH.TaraReal,0) AS DECIMAL(10,2)) AS 'TARA_REAL',
	CAST(ISNULL(VH.PesoSeco,0) AS DECIMAL(10,2)) AS 'PESO_SECO', CAST(ISNULL(VH.PesoBruto,0) AS DECIMAL(10,2)) AS 'PESO_BRUTO', CAST(ISNULL(VH.Ejes,0) AS INT) AS 'EJES',
	CASE WHEN VH.TipoTraccion = 'S' THEN 'SIMPLE' ELSE 'DOBLE' END AS 'TIPO_TRACCION', VH.Traccion, VH.CodigoVehicular,
	CASE WHEN VH.TipoDireccional = 'S' THEN 'SIMPLE' ELSE 'DOBLE' END AS 'TIPO_DIRECCIONAL', VH.Direccional,
	VH.Neumaticos AS 'NORMAL', VH.NeumaticosRepuesto AS 'REPUESTO'
	FROM OP_TR_Vehiculo VH
	LEFT JOIN ReportesApp_Operaciones_ConductorUnidades_TipoVehiculo AS TV WITH(NOLOCK) ON TV.idTipoVehiculo = VH.TipoVehiculo
	LEFT JOIN OP_TR_SUBTIPOVEHICULO AS ST WITH(NOLOCK) ON ST.SUBTIPOVEHICULO = VH.SUBTIPOVEHICULO
	LEFT JOIN ME_MaquinaMarca ME ON VH.Marca = ME.Marca
	LEFT JOIN GE_Compania GE ON GE.Compania = VH.Compania
	LEFT JOIN AC_Sucursal SU ON SU.Sucursal = VH.Sucursal
	LEFT JOIN AC_COSTCENTERMST CC ON CC.COSTCENTER = VH.CentroCosto
	LEFT JOIN GE_Varios TC ON TC.Secuencial = VH.TipoCombustible AND TC.CodigoTabla = 'OPTIPCOMBUSTIB'
	WHERE VH.IdVehiculo = @IdVehiculo
END

--------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[ReportesApp_Operaciones_ConductorUnidades_CreaModifica]
@Accion INT,
@IdRegistro INT,
@Idunidad INT,
@IdOperacion INT,
@Observacion TEXT,
@Usuario VARCHAR(30),
@Mochila INT,
@Tomafuerza INT,
@Urea INT,
@Manguera INT,
@Transmision VARCHAR(12)
AS
DECLARE @correlativo INT
DECLARE @TipoUnidad INT
DECLARE @SubTipoUnidad INT
DECLARE @exito VARCHAR(MAX)	

BEGIN TRAN
BEGIN TRY
	--VALIDACIONES PARA EVITAR LA DUPLICIDAD DE ASIGNACIONES
	IF EXISTS(SELECT * FROM ReportesApp_Operacion_MaestroUnidadesConductor WHERE IdUnidad = @Idunidad AND IdRegistro <> @IdRegistro) BEGIN
		SET @Exito = '-1=La UT ya se encuentra registrada...¡'
		ROLLBACK
		GOTO Terminar
	END
	-----------------------------------------------------------------------------------------
	IF (@Accion = 1) BEGIN	
		SET @correlativo = (SELECT MAX(IdRegistro) FROM ReportesApp_Operacion_MaestroUnidadesConductor)
		SET @correlativo = ISNULL(@correlativo,0) + 1

		SET @TipoUnidad = (SELECT TipoVehiculo FROM OP_TR_Vehiculo WHERE IdVehiculo = @Idunidad)
		SET @SubTipoUnidad = (SELECT SubTipoVehiculo FROM OP_TR_Vehiculo WHERE IdVehiculo = @Idunidad)
		
		IF ((SELECT TipoVehiculo FROM OP_TR_Vehiculo WHERE IdVehiculo = @Idunidad) = 1) BEGIN
			INSERT INTO ReportesApp_Operacion_MaestroUnidadesConductor(IdRegistro,FechaRegistro,IdUnidad,IdProgramacion,Observacion,UsuarioCrea,FechaCrea,
																	   Mochila,Tomafuerza,Urea,Manguera,Transmision)
			VALUES(@correlativo,GETDATE(),@Idunidad,@IdOperacion,@Observacion,@Usuario,GETDATE(),@Mochila,@Tomafuerza,@Urea,@Manguera,@Transmision)
		END
		ELSE BEGIN
			INSERT INTO ReportesApp_Operacion_MaestroUnidadesConductor(IdRegistro,FechaRegistro,IdUnidad,IdProgramacion,Observacion,UsuarioCrea,FechaCrea)
			VALUES(@correlativo,GETDATE(),@Idunidad,@IdOperacion,@Observacion,@Usuario,GETDATE())
		END

		UPDATE ReportesApp_Operacion_MaestroUnidadesConductor
		SET TipoUnidad = @TipoUnidad, SubTipoUnidad = @SubTipoUnidad
		WHERE IdUnidad = @Idunidad

		SET @exito='0= Registro Exitoso...¡'
	END

	IF (@Accion = 2) BEGIN 
		IF (@Idunidad = -1) BEGIN
		 SET @Idunidad = NULL
		END

		SET @TipoUnidad = (SELECT TipoVehiculo FROM OP_TR_Vehiculo WHERE IdVehiculo = @Idunidad)
		SET @SubTipoUnidad = (SELECT SubTipoVehiculo FROM OP_TR_Vehiculo WHERE IdVehiculo = @Idunidad)
	
		IF ((SELECT TipoUnidad FROM ReportesApp_Operacion_MaestroUnidadesConductor WHERE IdRegistro = @IdRegistro) = 1) BEGIN
			UPDATE ReportesApp_Operacion_MaestroUnidadesConductor
			SET IdUnidad = @Idunidad,IdProgramacion = @IdOperacion,Observacion=@Observacion, UsuarioModifica= @Usuario,FechaModifica= GETDATE(),
			Mochila = @Mochila,TomaFuerza = @Tomafuerza, Urea = @Urea, Manguera = @Manguera, Transmision = @Transmision, TipoUnidad = @TipoUnidad,
			SubTipoUnidad = @SubTipoUnidad
			WHERE IdRegistro = @IdRegistro
		END
		ELSE BEGIN
			UPDATE ReportesApp_Operacion_MaestroUnidadesConductor
			SET IdUnidad = @Idunidad,IdProgramacion = @IdOperacion,Observacion=@Observacion, UsuarioModifica= @Usuario,FechaModifica= GETDATE(),
			TipoUnidad = @TipoUnidad, SubTipoUnidad = @SubTipoUnidad
			WHERE IdRegistro = @IdRegistro
		END

		INSERT INTO ReportesApp_Operacion_MaestroUnidadConductor_Historico (idregistro,FechaRegistro,IdUnidad,Observacion,UsuarioModifica,FechaModifica)
		VALUES(@IdRegistro,GETDATE(),@Idunidad,@Observacion,@Usuario,GETDATE())
	
		SET @exito='0= Actualización Exitosa...¡'
	END
	
	/*IF HOST_NAME() IN ('TI01-GT')
	BEGIN
		SET @exito = '777= TEST OK'
		ROLLBACK
		GOTO Terminar
	END*/
		
END TRY
BEGIN CATCH
	SET @exito = RTRIM(LTRIM(STR(ERROR_NUMBER()))) + '=' + ERROR_MESSAGE()
	ROLLBACK
	GOTO Terminar
END CATCH

IF @@TRANCOUNT > 0
	COMMIT;

TERMINAR:
IF LEFT(@Exito,1)='-' OR cast(left(@Exito,1) AS INT)>0 BEGIN
	DECLARE @storedProcedureName VARCHAR(100)
	SELECT @storedProcedureName = OBJECT_NAME(@@PROCID)
	SET @exito = @exito + CHAR(13)+CHAR(13)+'SP Name: '+@storedProcedureName
END

SELECT @exito exito

------------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 01-07-2024
-- Description:	BUSCAR UNIDAD BLOQUEADA
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Operaciones_ConductorUnidades_BuscarUnidadBloqueada]
@IdVehiculo INT
AS
DECLARE @exito VARCHAR(MAX)
BEGIN
	IF (EXISTS(SELECT * FROM ReportesApp_Operacion_UnidadesBloqueadas WHERE IdUnidad = @IdVehiculo)) BEGIN

		SET @exito=(SELECT TOP(1) '-25= La unidad '+V.NumeroPlaca+' se encuentra bloqueada por motivo:'+ cast(BC.Motivo as varchar(100))+', por el área de: '+
								  BC.Area+ ', con usuario: '+BC.UsuarioBloquea+'.' 
					FROM ReportesApp_Operacion_UnidadesBloqueadas BC	 
					INNER JOIN  OP_TR_Vehiculo V ON BC.IdUnidad = V.IdVehiculo
					WHERE (BC.IDUNIDAD = @IdVehiculo))

		SELECT @exito exito
	END
END