
-- MODIFICAR TABLA ReportesApp_RRHH_Asistencia_Noches

--------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author Name:	Rojas Rodriguez Joel.
-- Create date: 28.Octubre.2022
-- Description:	Cargar Dias Por Compensar
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_RRHH_Asistencias_Noche_BuscarPorXCompensar]
@Empresa VARCHAR(8),
@Plla VARCHAR(2),
@IDPersona INT,
@FechaIni DATE,
@FechaFin DATE
AS
BEGIN
	 DECLARE @x_FIniciaContrato DATE
	
	 SELECT @x_FIniciaContrato = FechaIngreso FROM EmpleadoMast WHERE Empleado = @IDPersona
	 
	 SELECT A.IDPersona, A.Fecha AS 'Fecha', UPPER(DATENAME(dw,A.Fecha)) AS 'Noche', A.CantidadNoche AS 'CantidadNoche',
	 A.Observacion AS 'Observación', A.FechaCompensa AS 'Compensado', A.Autorizacion AS 'AP', A.Planilla AS 'Planilla'
	 FROM ReportesApp_RRHH_Asistencia_Noches A
	 WHERE (A.IDPersona = @IDPersona) AND (A.Fecha BETWEEN @FechaIni AND @FechaFin) AND (A.Fecha > @x_FIniciaContrato)
	 ORDER BY 3 DESC
END

-----------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 09-05-2024
-- Description:	ELIMINAR NOCHE X COMPENSAR
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_RRHH_AsistenciasNoche_EliminarNoche]
@IDPersona INT,
@Fecha DATETIME
AS
DECLARE @Exito VARCHAR(MAX)

SET @Exito = '0 = Noche eliminada correctamente.'

BEGIN TRAN
BEGIN TRY
	IF (EXISTS(SELECT * FROM ReportesApp_RRHH_Asistencia_Noches WHERE (Autorizacion IS NULL) AND (FechaCompensa IS NULL))) BEGIN
		DELETE FROM ReportesApp_RRHH_Asistencia_Noches
		WHERE IDPersona = @IDPersona AND CONVERT(DATE,@Fecha) = Fecha
	END
	ELSE BEGIN
		SET @Exito = '-1 = El ítem seleccionado ya se encuentra compensado.'
		ROLLBACK
		GOTO Terminar
	END
END TRY

BEGIN CATCH
	SET @Exito = RTRIM(LTRIM(STR(ERROR_NUMBER()))) + '=' + ERROR_MESSAGE()
	ROLLBACK
	GOTO Terminar
END CATCH

IF @@TRANCOUNT > 0 
   COMMIT;
   --ROLLBACK
	
TERMINAR:
IF LEFT(@Exito,1)='-' OR cast(left(@Exito,1) AS INT)<0 BEGIN
	DECLARE @storedProcedureName VARCHAR(100)
	SELECT @storedProcedureName = OBJECT_NAME(@@PROCID)
	SET @Exito = @Exito + CHAR(13)+CHAR(13)+'SP Name: '+@storedProcedureName 
END

SELECT @Exito exito

-----------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 10-05-2024
-- Description:	COMPENSAR NOCHE
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_RRHH_AsistenciasNoche_CompensarNoche]
@Opcion INT,
@IDPersona INT,
@Fecha DATETIME,
@CodGasto VARCHAR(50),
@FechaComp DATETIME,
@Usuario VARCHAR(20)
AS
DECLARE @Exito VARCHAR(MAX)

SET @Exito = '0 = Noche Compensada.'

BEGIN TRAN
BEGIN TRY
	IF (@Opcion = 1) BEGIN		-- AUTORIZAR COMPENSACIÓN
		IF ((SELECT Autorizacion FROM ReportesApp_RRHH_Asistencia_Noches WHERE IDPersona = @IDPersona AND Fecha = CONVERT(DATE,@Fecha)) IS NULL) BEGIN
			UPDATE ReportesApp_RRHH_Asistencia_Noches
			SET Autorizacion = 'OK'
			WHERE IDPersona = @IDPersona AND Fecha = CONVERT(DATE,@Fecha)
		END
		ELSE BEGIN
			UPDATE ReportesApp_RRHH_Asistencia_Noches
			SET Autorizacion = NULL, Planilla = NULL
			WHERE IDPersona = @IDPersona AND Fecha = CONVERT(DATE,@Fecha)
		END
	END

	IF (@Opcion = 2) BEGIN		-- AGREGAR PLANILLA
		DECLARE @Conductor INT = (SELECT IdConductor FROM OP_TR_Conductor WHERE IdPersona = @IDPersona)

		IF (@Conductor != (SELECT ViConductor FROM ReportesApp_Operaciones_TicketGasto_Registro WHERE CodGasto = @CodGasto)) BEGIN
			SET @Exito = '-1 = La planilla ingresada no corresponde con el conductor.'
			ROLLBACK
			GOTO Terminar
		END
		ELSE BEGIN
			UPDATE ReportesApp_RRHH_Asistencia_Noches
			SET Planilla = @CodGasto
			WHERE IDPersona = @IDPersona AND Fecha = CONVERT(DATE,@Fecha) 
		END
	END

	IF (@Opcion = 3) BEGIN		-- AGREGAR FECHA
		IF (CONVERT(DATE,@FechaComp) < CONVERT(DATE,@Fecha)) BEGIN
			SET @Exito = '-1 = No puede compensdar en una fecha menor a la ya registrada.'
			ROLLBACK
			GOTO Terminar
		END
		ELSE BEGIN
			IF EXISTS(SELECT TOP 1(1) FROM ReportesApp_RRHH_Asistencia WHERE IDPersona = @IDPersona AND Fecha = CONVERT(DATE,@FechaComp) AND IDTipoAsist = 7) BEGIN --Suspensión
				SET @exito='-4 = La fecha seleccionada tiene suspensión y como tal, no puede ser modificada. Consultar con Sistemas'
				ROLLBACK
				GOTO Terminar
			END

			IF EXISTS(SELECT TOP 1(1) FROM ReportesApp_RRHH_Asistencia_DescansoF R WHERE IDPersona = @IDPersona AND Fecha = CONVERT(DATE,@FechaComp)) BEGIN -- Descanso Físico
				SET @exito='-5 = No puede compensar una Fecha de Descanso Físico. Revisar.'
				ROLLBACK
				GOTO Terminar
			END

			IF EXISTS(SELECT TOP 1 FECHA FROM ReportesApp_RRHH_Asistencia_CompensacionesAdelantadas WHERE IDPersona = @IDPersona AND Fecha = CONVERT(DATE,@FechaComp)) BEGIN -- Compensación adelantada
				SET @exito='-6 = Se ha encontrado Fechas vinculadas a Compensación Adelantadas.'+char(13)+' No pueden ser Modificadas.Las debe Liberar antes con (Control Gestión)'
				ROLLBACK
				GOTO Terminar
			END

			IF EXISTS(SELECT TOP 1(1) FROM ReportesApp_RRHH_Asistencia_Noches WHERE IDPersona = @IDPersona AND CONVERT(DATE,FechaCompensa) = CONVERT(DATE,@FechaComp)) BEGIN
				SET @exito='-8 = La noche ingresada ya se encuentra compensada.'
				ROLLBACK
				GOTO Terminar
			END

			UPDATE ReportesApp_RRHH_Asistencia_Noches
			SET FechaCompensa = CONVERT(DATE,@FechaComp), FHRegistraCompensa = GETDATE(), UsuarioCompensa = @Usuario
			WHERE IDPersona = @IDPersona AND Fecha = CONVERT(DATE,@Fecha) 

			-- SE VERIFICA SI HAY ASISTENCIAS YA REGISTRADAS, LAS ELIMINAMOS 
			DELETE R
			FROM ReportesApp_RRHH_Asistencia R
			WHERE (R.IDPersona = @IDPersona) AND (R.Fecha = CONVERT(DATE,@FechaComp))
			
			-- REGISTRANDO ASISTENCIAS
			INSERT INTO ReportesApp_RRHH_Asistencia(IdPersona,Fecha,IdTipoAsist,ConceptoAcceso,FHRegistra,UserCrea,Planilla)
			VALUES(@IDPersona, CONVERT(DATE,@FechaComp), 56, '04', GETDATE(), @Usuario, 'CD')

			UPDATE V 
	        SET V.D1 = CASE WHEN DAY(@FechaComp) = 1 THEN 'CN' ELSE V.D1 END,
				V.D2 = CASE WHEN DAY(@FechaComp) = 2 THEN 'CN' ELSE V.D2 END,
				V.D3 = CASE WHEN DAY(@FechaComp) = 3 THEN 'CN' ELSE V.D3 END,
				V.D4 = CASE WHEN DAY(@FechaComp) = 4 THEN 'CN' ELSE V.D4 END,
				V.D5 = CASE WHEN DAY(@FechaComp) = 5 THEN 'CN' ELSE V.D5 END,
				V.D6 = CASE WHEN DAY(@FechaComp) = 6 THEN 'CN' ELSE V.D6 END,
				V.D7 = CASE WHEN DAY(@FechaComp) = 7 THEN 'CN' ELSE V.D7 END,
				V.D8 = CASE WHEN DAY(@FechaComp) = 8 THEN 'CN' ELSE V.D8 END,
				V.D9 = CASE WHEN DAY(@FechaComp) = 9 THEN 'CN' ELSE V.D9 END,
				V.D10 = CASE WHEN DAY(@FechaComp) = 10 THEN 'CN' ELSE V.D10 END,
				V.D11 = CASE WHEN DAY(@FechaComp) = 11 THEN 'CN' ELSE V.D11 END,
				V.D12 = CASE WHEN DAY(@FechaComp) = 12 THEN 'CN' ELSE V.D12 END,
				V.D13 = CASE WHEN DAY(@FechaComp) = 13 THEN 'CN' ELSE V.D13 END,
				V.D14 = CASE WHEN DAY(@FechaComp) = 14 THEN 'CN' ELSE V.D14 END,
				V.D15 = CASE WHEN DAY(@FechaComp) = 15 THEN 'CN' ELSE V.D15 END,
				V.D16 = CASE WHEN DAY(@FechaComp) = 16 THEN 'CN' ELSE V.D16 END,
				V.D17 = CASE WHEN DAY(@FechaComp) = 17 THEN 'CN' ELSE V.D17 END,
				V.D18 = CASE WHEN DAY(@FechaComp) = 18 THEN 'CN' ELSE V.D18 END,
				V.D19 = CASE WHEN DAY(@FechaComp) = 19 THEN 'CN' ELSE V.D19 END,
				V.D20 = CASE WHEN DAY(@FechaComp) = 20 THEN 'CN' ELSE V.D20 END,
				V.D21 = CASE WHEN DAY(@FechaComp) = 21 THEN 'CN' ELSE V.D21 END,
				V.D22 = CASE WHEN DAY(@FechaComp) = 22 THEN 'CN' ELSE V.D22 END,
				V.D23 = CASE WHEN DAY(@FechaComp) = 23 THEN 'CN' ELSE V.D23 END,
				V.D24 = CASE WHEN DAY(@FechaComp) = 24 THEN 'CN' ELSE V.D24 END,
				V.D25 = CASE WHEN DAY(@FechaComp) = 25 THEN 'CN' ELSE V.D25 END,
				V.D26 = CASE WHEN DAY(@FechaComp) = 26 THEN 'CN' ELSE V.D26 END,
				V.D27 = CASE WHEN DAY(@FechaComp) = 27 THEN 'CN' ELSE V.D27 END,
				V.D28 = CASE WHEN DAY(@FechaComp) = 28 THEN 'CN' ELSE V.D28 END,
				V.D29 = CASE WHEN DAY(@FechaComp) = 29 THEN 'CN' ELSE V.D29 END,
				V.D30 = CASE WHEN DAY(@FechaComp) = 30 THEN 'CN' ELSE V.D30 END,
				V.D31 = CASE WHEN DAY(@FechaComp) = 31 THEN 'CN' ELSE V.D31 END
			FROM ReportesApp_RRHH_AsistenciaView V
			WHERE (V.IDPersona = @IDPersona) AND (V.Anio = YEAR(@FechaComp)) AND (V.Mes=MONTH(@FechaComp))
			AND (V.CodPlanilla = 'CD')
		END
	END
END TRY

BEGIN CATCH
	SET @Exito = RTRIM(LTRIM(STR(ERROR_NUMBER()))) + '=' + ERROR_MESSAGE()
	ROLLBACK
	GOTO Terminar
END CATCH

IF @@TRANCOUNT > 0 
   COMMIT;
   --ROLLBACK
	
TERMINAR:
IF LEFT(@Exito,1)='-' OR cast(left(@Exito,1) AS INT)<0 BEGIN
	DECLARE @storedProcedureName VARCHAR(100)
	SELECT @storedProcedureName = OBJECT_NAME(@@PROCID)
	SET @Exito = @Exito + CHAR(13)+CHAR(13)+'SP Name: '+@storedProcedureName 
END

SELECT @Exito exito

-----------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author Name:	GERARDO REYES
-- Create date: 10/05/2024
-- Description:	LISTAR PLANILLAS DE VIAJE
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_RRHH_Asistencias_Noche_ListarPlanillas]
@IDPersona INT,
@CodGasto VARCHAR(50)
AS
BEGIN
	 SELECT TOP(15) TG.CodGasto AS 'PLANILLA', C.Nombre AS 'CONDUCTOR'
	 FROM ReportesApp_Operaciones_TicketGasto_Registro TG
	 LEFT JOIN OP_TR_Conductor C ON C.IdConductor = TG.ViConductor
	 WHERE (C.IdPersona = @IDPersona) AND (TG.CodGasto LIKE '%' + @CodGasto + '%')
	 ORDER BY TG.CodGasto DESC
END

--------------------------------------------------------------------------------------
