
-- CREAR TABLA ReportesApp_Combustible_Rendimientos_Maestro Y LLENARLA

------------------------------------------------------------------------

SELECT DISTINCT P.NroTicket, P.TipoProgramacion, P.idConductor, C.Nombre, P.IdTracto, V.NumeroPlaca, LTRIM(RTRIM(ME.Descripcion)) AS 'MARCA',
LTRIM(RTRIM(M.Modelo)) AS 'MODELO', P.IdRuta, RT.Descripcion, P.CodViaje,
(STUFF((SELECT DISTINCT ',' +G.TipoViaje  FROM ReportesApp_Operaciones_GuiasElectronicas G WHERE G.NroTicketProgramacion = P.NroTicket  FOR XML PATH('')), 1, 1, ''))  as 'TipoViaje',
CASE WHEN (SELECT COUNT(*) FROM (SELECT DISTINCT Viaje, TipoViaje FROM ReportesApp_Operaciones_GuiasElectronicas
WHERE CONVERT(INT,Viaje) = CONVERT(INT,P.CodViaje)) X) = 1 THEN
CASE WHEN ((SELECT DISTINCT TipoViaje FROM ReportesApp_Operaciones_GuiasElectronicas WHERE Viaje = P.CodViaje) = 'SALIDA')
THEN ISNULL(REND.RendSalida,0.00) ELSE ISNULL(REND.RendRetorno,0.00) END
ELSE CASE WHEN (SELECT COUNT(*) FROM (SELECT DISTINCT Viaje, TipoViaje FROM ReportesApp_Operaciones_GuiasElectronicas
WHERE CONVERT(INT,Viaje) = CONVERT(INT,P.CodViaje)) X) > 1 THEN ISNULL(REND.RendRetorno,0.00) ELSE 0.00 END
END AS 'REND.PROM', ISNULL(DESPACHO.RendimientoFisico,0.00) AS 'REND KM/GL'
FROM ReportesApp_Operacion_Previaje_Registros P
LEFT JOIN OP_TR_Vehiculo V WITH(NOLOCK) ON V.IdVehiculo = P.idTracto
LEFT JOIN OP_TR_Conductor C WITH(NOLOCK) ON C.IdConductor = P.IdConductor
LEFT JOIN OP_TR_RUTA RT WITH(NOLOCK) ON RT.IDRUTA = P.IdRuta
LEFT JOIN ME_Maquina M WITH(NOLOCK) ON LTRIM(RTRIM(M.MaquinaCodigo)) = LTRIM(RTRIM(V.NumeroPlaca))
LEFT JOIN ME_MaquinaMarca ME ON M.Marca = ME.Marca 
LEFT JOIN OP_TR_Viaje VJ WITH(NOLOCK) ON VJ.Codigo = CONVERT(VARCHAR(12),P.CodViaje)
LEFT JOIN OP_TR_CargaCombustible AS COMBUSTIBLE WITH(NOLOCK) ON COMBUSTIBLE.IdViaje = VJ.IdViaje
LEFT JOIN OP_TR_DespachoCombustible DESPACHO ON DESPACHO.IdCarga= COMBUSTIBLE.IdCarga
LEFT JOIN ReportesApp_Combustible_Rendimientos_Maestro REND ON REND.idRuta = P.IdRuta AND LTRIM(RTRIM(ME.Descripcion)) = REND.Marca
AND REND.Modelo LIKE '%'+(LTRIM(RTRIM(M.Modelo))+'%') AND REND.idOperacion LIKE '%'+ CONVERT(VARCHAR,P.TipoProgramacion) +'%'
WHERE P.idConductor = 8409 AND V.NumeroPlaca = 'TBH-897' AND P.IdRuta = 169 /*P.NroTicket = 2411279 AND P.NroTicket <= 2411124*/
ORDER BY P.NroTicket DESC

------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 28-05-2024
-- Description:	BUSCAR ÚLTIMO RENDIMIENTO
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Combustible_Rendimientos_BuscarUltimoRendimiento]
@idTracto INT,
@idConductor INT,
@idRuta INT,
@idOperacion INT
AS
BEGIN
	 SELECT TOP(1) X.NroTicket, X.CodViaje, X.NumeroPlaca, X.Nombre, X.[REND.PROM], X.[REND KM/GL] FROM
	 (SELECT P.NroTicket, P.CodViaje, C.Nombre, V.NumeroPlaca, CASE WHEN (SELECT COUNT(*) FROM (SELECT DISTINCT Viaje, TipoViaje
	 FROM ReportesApp_Operaciones_GuiasElectronicas WHERE CONVERT(INT,Viaje) = CONVERT(INT,P.CodViaje)) X) = 1 THEN
	 CASE WHEN ((SELECT DISTINCT TipoViaje FROM ReportesApp_Operaciones_GuiasElectronicas WHERE Viaje = P.CodViaje) = 'SALIDA')
	 THEN ISNULL(REND.RendSalida,0.00) ELSE ISNULL(REND.RendRetorno,0.00) END
	 ELSE CASE WHEN (SELECT COUNT(*) FROM (SELECT DISTINCT Viaje, TipoViaje FROM ReportesApp_Operaciones_GuiasElectronicas
	 WHERE CONVERT(INT,Viaje) = CONVERT(INT,P.CodViaje)) X) > 1 THEN ISNULL(REND.RendRetorno,0.00) ELSE 0.00 END END AS 'REND.PROM',
	 (SELECT ISNULL(MAX(DESPACHO.RendimientoFisico),0.00) FROM OP_TR_CargaCombustible AS COMBUSTIBLE 
	 LEFT JOIN OP_TR_DespachoCombustible DESPACHO ON DESPACHO.IdCarga= COMBUSTIBLE.IdCarga WHERE COMBUSTIBLE.IdViaje = VJ.IdViaje) AS 'REND KM/GL'
	 FROM ReportesApp_Operacion_Previaje_Registros P
	 LEFT JOIN OP_TR_Vehiculo V WITH(NOLOCK) ON V.IdVehiculo = P.idTracto
	 LEFT JOIN OP_TR_Conductor C WITH(NOLOCK) ON C.IdConductor = P.IdConductor
	 LEFT JOIN OP_TR_RUTA RT WITH(NOLOCK) ON RT.IDRUTA = P.IdRuta
	 LEFT JOIN ME_Maquina M WITH(NOLOCK) ON LTRIM(RTRIM(M.MaquinaCodigo)) = LTRIM(RTRIM(V.NumeroPlaca))
	 LEFT JOIN ME_MaquinaMarca ME ON M.Marca = ME.Marca 
	 LEFT JOIN OP_TR_Viaje VJ WITH(NOLOCK) ON VJ.Codigo = CONVERT(VARCHAR(12),P.CodViaje)
	 LEFT JOIN ReportesApp_Combustible_Rendimientos_Maestro REND ON REND.idRuta = P.IdRuta AND LTRIM(RTRIM(ME.Descripcion)) = REND.Marca
	 AND REND.Modelo LIKE '%'+(LTRIM(RTRIM(M.Modelo))+'%') AND REND.idOperacion LIKE '%'+ CONVERT(VARCHAR,P.TipoProgramacion) +'%'
	 WHERE P.Estado = 9 AND P.idTracto = @idTracto AND P.idConductor = @idConductor AND P.IdRuta = @idRuta AND P.TipoProgramacion = @idOperacion) X
	 WHERE X.[REND KM/GL] != 0.00 AND X.[REND.PROM] != 0.00
	 ORDER BY X.NroTicket DESC
END

------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec ReportesApp_Operaciones_Previajes_ListarPorProgramacion @sucursal=N'TRUJILLO',@FechaInicio=N'01/05/2022',@FechaFin=N'01/06/2022',@prog1=5
--exec ReportesApp_Operaciones_Previajes_ListarPorProgramacion @sucursal=N'LIMA',@FechaInicio=N'01/10/2023',@FechaFin=N'11/10/2023',@prog1=4---
--exec ReportesApp_Operaciones_Previajes_ListarPorProgramacion @sucursal=N'TRUJILLO',@FechaInicio=N'18/04/2024',@FechaFin=N'18/04/2024',@prog1=2
/*
SEM CHAVEZ 21-09-2023: Se adicionó el listado de las guias electronicas en paralelo con las guias fisicas
*/
ALTER PROCEDURE [dbo].[ReportesApp_Operaciones_Previajes_ListarPorProgramacion]
@sucursal varchar(50),
@FechaInicio varchar(50),
@FechaFin varchar(50),
@prog1 int

AS
BEGIN

SET @FechaInicio=@FechaInicio + ' 00:00:00'
SET @FechaFin=@FechaFin + ' 23:59:59'

IF (@sucursal ='TODO' AND @prog1 = 5)
	BEGIN
		((SELECT ROW_NUMBER() OVER ( ORDER BY P.IDPROGRAMACION )'ITEM',									--1
			  substring(CONVERT( VARCHAR (4),P.Anio),3,2)+CONVERT(VARCHAR(6), p.IdProgramacion)CODIGO,	--2		  
			  P.IDPROGRAMACION,																			--3
			  p.Anio ANIO,																				--4
			  P.TipoProgramacion IDTIPO																	--5
			  ,(SELECT TOP 1 CASE WHEN NroTicketPreViaje > 0 THEN 'SI'
									WHEN NroTicketPreViaje IS NULL THEN 'NO'END AS 'ABASTECIO' 
				FROM ReportesApp_Combustible_TicketsSurtidor 
				WHERE NroTicketPreViaje = P.NroTicket AND Fecha between @FechaInicio and @FechaFin) AS ABASTECIO --6
			  ,P.Zona AS 'ZONA'										--7
			  ,p.FechaCrea 'FECHAREGISTRO'							--8
			  ,P.FechaProgramacion 'FECHAPROGR'						--9
			  ,P.FechaInicio 'FECHA_INICIO'							--10
			  ,P.FechaFin 'FECHA_FIN'								--11
			  ,P.FechaTermino 'FECHA_TERMINO'
			  ,P.idTracto IDTRACTO									--12
			  ,V.NumeroPlaca 'TRACTO'								--13
			  ,V.IndTercero 'TIPOUNIDAD'							--14
			  ,CASE WHEN V.IndTercero = 'P' THEN 'PROPIO'			
					WHEN V.IndTercero IS NULL THEN ''				
			   ELSE 'TERCERO'										--15
			   END AS 'UNIDAD'
			  ,(LTRIM(RTRIM(PV.Busqueda)))AS 'PROVEEDOR'			--16
			  ,R.NumeroPlaca 'SEMIRREMOLQUE'						--17	
			  ,CASE WHEN R.SubTipoVehiculo = '1'THEN 'TRACTO' 
					WHEN R.SubTipoVehiculo ='2' THEN 'PLATAFORMA'
					WHEN R.SubTipoVehiculo ='3' THEN 'TOLVA'
					WHEN R.SubTipoVehiculo ='4' THEN 'FURGON'
					WHEN R.SubTipoVehiculo ='5' THEN 'CORTINERA'
					WHEN R.SubTipoVehiculo ='6' THEN 'TERMOKING'
					WHEN R.SubTipoVehiculo ='7' THEN 'CAMIONETA'
					WHEN R.SubTipoVehiculo ='8' THEN 'CAMION'
					WHEN R.SubTipoVehiculo ='9' THEN 'CISTERNA'
					WHEN R.SubTipoVehiculo IS NULL THEN ''
					END AS 'TIPOSEMIR'								--18
 			  ,P.idSemirremolque IDREMOLQUE							--19
			  ,P.IdConductor IDCONDUCTOR							--20
			  ,ltrim(rtrim(C.Nombre)) as 'CONDUCTOR'				--21
			  ,C.Documento DNI										--22
			  ,P.IdConductorApoyo IDAPOYO							--23		  
			  ,P.UnidadAPOYO AS 'UNIDADAPOYO'						--24	
			  ,ltrim(rtrim(AP.nombre)) as 'CONDUCTOR_APOYO'			--25	
			  ,P.IdCliente IDCLIENTE								--26
			  ,P.IdRuta IDRUTA										--28
			  ,RT.Descripcion 'RUTA'								--30
			  ,P.Destino 'DESTINO'									--31				
			  ,P.Producto IDPRODUCTO								--32
			  ,PR.Nombre 'PRODUCTO'									--33
			  ,P.Estado IDESTADO									--34
			  ,P.ConductorInicio 'CONDUCTOR_INICIO'					--35
			  ,P.PrimerCambio '1° CAMBIO'							--36
			  ,P.SegundoCambio '2° CAMBIO'							--37
			  ,P.TercerCambio '3° CAMBIO'							--38
			  ,CASE WHEN P.Estado = 1 THEN 'PROGRAMADO'
				   WHEN P.Estado = 2 THEN 'PENDIENTE EN LLEGAR'
				   WHEN P.Estado = 3 THEN 'EN ESPERA'       
				   WHEN P.Estado = 4 THEN 'CARGA EN BASE'
				   WHEN P.Estado = 5 THEN 'COLA IN'
				   WHEN P.Estado = 6 THEN 'COLA OUT'
				   WHEN P.Estado = 7 THEN 'CARGANDO'       
				   WHEN P.Estado = 8 THEN 'FUERA DE PLANTA' 
				   WHEN P.Estado = 9 THEN 'ATENDIDO'
				   WHEN P.Estado = 10 THEN 'ANULADO'
				   WHEN P.Estado = 11 THEN 'TERMINADO'
					WHEN P.Estado = 12 THEN 'EN BASE'
				   END AS 'ESTADO'									--39
			  ,ltrim(rtrim(CL.Busqueda)) as 'CLIENTE'				--40
			  ,P.HoraSalida 'SALIDA'								--41
			  ,P.HoraLlegada 'LLEGADA'								--42
			  ,P.FechaDescarga 'DESCARGA',							--43
			  CASE WHEN P.EsConsolidado = 1 THEN P.CodViaje + '(C)'	
				   ELSE P.CodViaje									
				   END AS 'VIAJE'									
			  ,vj.IdViaje 'IDVIAJE'									--44
			  ,CASE WHEN vj.Estado = 1 THEN 'PENDIENTE'
				   WHEN vj.Estado = 2 THEN 'PROGRAMADO'
				   WHEN vj.Estado = 3 THEN 'EJECUCION'
				   WHEN vj.Estado = 4 THEN 'COMPLETADO'
				   WHEN vj.Estado = 8 THEN 'CANCELADO'       
				   WHEN vj.Estado = 9 THEN 'ANULADO' 
				   END AS 'ESTADOVIAJE'								--45
			  ,CASE WHEN ISNULL(OT.PesoControl,0)>0 THEN OT.PesoControl
			     ELSE P.PesoAlmacen END AS 'PESO'			  
			  ,P.PesoCliente 'PESOCLIENTE'							--46
			  ,CASE WHEN ISNULL(OT.PesoControl,0)>1 and p.PesoCliente>0 THEN 
							P.PesoCliente  - OT.PesoControl
					WHEN ISNULL(P.PesoAlmacen,0)>1 and p.PesoCliente>0 THEN 
							p.PesoCliente - p.PesoAlmacen
					ELSE 0 end as 'MERMA'							--47
			  ,P.Planilla 'PLANILLA'								--48
			  ,(SELECT TOP 1 CASE WHEN NumeroDocumentoInterno IS NOT NULL THEN 'PAGADO'			         
					ELSE '' 
					END AS 'ESTADOCAJA' FROM AP_GastoAdelanto 
				WHERE NumeroDocumentoInterno = P.Planilla AND Persona = C.IdPersona  
					AND Estado = 'PA'  and FechaDocumento>'01-06-2022 00:00:00.000'
				ORDER BY NumeroAdelanto)AS ESTADOCAJA				--49
			  ,(SELECT TOP 1 CONVERT(VARCHAR(50), ISNULL(ROUND(AP_GastoAdelanto.MONTOTOTAL,2),0))+ ' - '+AP_GastoAdelanto.UltimoUsuario 
				  FROM AP_GastoAdelanto 
				  WHERE NumeroDocumentoInterno =  P.Planilla AND Persona = C.IdPersona  
					AND Estado = 'PA' and FechaDocumento>'01-06-2022 00:00:00.000' 
				 ORDER BY NumeroAdelanto) AS ENTREGADO				--50
			  ,p.Turno as 'TURNO'									--51		  		 
			  ,P.OT AS 'OT'											--52
			  ,P.Viaticos AS 'VIATICOS'								--53
			  ,p.ordenservicio AS 'ORDENSERVICIO'					--54
			  ,P.Sucursal as 'SUCURSAL',							--55
			  CASE WHEN P.TipoProgramacion = 1 THEN 'TOLVAS'
				   WHEN P.TipoProgramacion = 2 THEN 'LINDLEY'
				   WHEN P.TipoProgramacion = 3 THEN 'LIMAGAS'
				   WHEN P.TipoProgramacion = 4 THEN 'GENERAL'
				   WHEN P.TipoProgramacion = 5 THEN 'LIMA' 
				   WHEN P.TipoProgramacion = 6 THEN 'MAQ/CAMIONETAS'
				   WHEN P.TipoProgramacion = 7 THEN 'MTO'
				   WHEN P.TipoProgramacion = 8 THEN 'COMBUSTIBLE'
				   WHEN P.TipoProgramacion = 9 THEN 'LOCAL'
				   END AS 'TIPO',p.guiaEntrega 'GUIAENTREGA',ROUND(P.MontoOrdServ,2) 'MONTORDEN'	--56-58
			  ,CASE WHEN ISNULL(OT.Guia1,'') = ''  THEN P.Serie          ELSE SUBSTRING( OT.Guia1, 0 ,CHARINDEX('-', OT.Guia1)) END AS 'SERIE' -- 59
			  ,CASE WHEN ISNULL(OT.Guia1,'') = ''  THEN P.Numero         ELSE SUBSTRING( OT.Guia1, CHARINDEX('-', OT.Guia1)+1,LEN(OT.Guia1)-CHARINDEX('-', OT.Guia1)) END AS 'GUIA' -- 60
			  ,CASE WHEN ISNULL(OT.Guia1,'') = ''  THEN P.Serie + '-' + P.Numero  ELSE OT.Guia1 END AS 'GUIAT.' -- 61
			  ,CASE WHEN ISNULL(OT.Guia2,'') = ''  THEN P.GuiaRemitente  ELSE OT.Guia2 END AS 'G/R' -- 62
			  ,P.Observacion 'OBSERVACION'							--63
			  ,'IR GPS' AS 'UBICACION'								--64
			  ,P.Comentario'COMENTARIO'								--65
			  ,P.CantidadDia 'CANTIDADDIA'							--66 
			   ,P.UsuarioModifica 'USUARIOMOD'						--67
			  ,P.FechaModifica 'FECHAMOD'	
			  ,p.UsuarioCrea										--68
			  ,P.ESINTERNA 'INTERNA'								--69
			  ,P.STATUSPLANTA										--70
			  ,P.UbigeoPartida 'UBIGEOPARTIDA'						--71
			  ,P.ubigeoLlegada 'UBIGEOLLEGADA'						--72
			  ,P.PlacaMaquinariaCamioneta 'MAQUINARIA'				--73
			  ,P.CodProgramaProceso 'ENLACE'						--74
			  ,ISNULL((select TOP 1 CONVERT(INT,ISNULL(orden,0)) from  ReportesApp_Operacion_PrevDestinos where IdRuta = P.IdRuta),0)ORDENDESTINO
			  ,(STUFF((SELECT DISTINCT ',' +G.TipoViaje  FROM ReportesApp_Operaciones_GuiasElectronicas G WHERE G.NroTicketProgramacion = P.NroTicket  FOR XML PATH('')), 1, 1, ''))  as 'TipoViaje'
			  -- GERARDO
			  ,CASE WHEN (SELECT COUNT(*) FROM (SELECT DISTINCT Viaje, TipoViaje FROM ReportesApp_Operaciones_GuiasElectronicas
			  WHERE CONVERT(INT,Viaje) = CONVERT(INT,P.CodViaje)) X) = 1 THEN
			  CASE WHEN ((SELECT DISTINCT TipoViaje FROM ReportesApp_Operaciones_GuiasElectronicas WHERE Viaje = P.CodViaje) = 'SALIDA')
			  THEN ISNULL(REND.RendSalida,0.00) ELSE ISNULL(REND.RendRetorno,0.00) END
			  ELSE CASE WHEN (SELECT COUNT(*) FROM (SELECT DISTINCT Viaje, TipoViaje FROM ReportesApp_Operaciones_GuiasElectronicas
			  WHERE CONVERT(INT,Viaje) = CONVERT(INT,P.CodViaje)) X) > 1 THEN ISNULL(REND.RendRetorno,0.00) ELSE 0.00 END
			  END AS 'REND.PROM',
			  (SELECT ISNULL(MAX(DESPACHO.RendimientoFisico),0.00) FROM OP_TR_CargaCombustible AS COMBUSTIBLE 
			  LEFT JOIN OP_TR_DespachoCombustible DESPACHO ON DESPACHO.IdCarga= COMBUSTIBLE.IdCarga
			  WHERE COMBUSTIBLE.IdViaje = VJ.IdViaje) AS 'REND KM/GL'
			  -- GERARDO
			  ,p.ProgOrigen
			  ,vj.FechaCreacion 'FECHA_CREA_VIAJE'
			  ,ISNULL(P.LineaOT,0) AS 'LineaOT'
		  FROM ReportesApp_Operacion_Previaje_Registros P WITH(NOLOCK)  				
				LEFT JOIN OP_TR_Vehiculo V WITH(NOLOCK) ON V.IdVehiculo = P.idTracto
				LEFT JOIN PersonaMast Pv WITH(NOLOCK) ON V.Proveedor = Pv.Persona
				LEFT JOIN OP_TR_Vehiculo R WITH(NOLOCK) ON R.IdVehiculo = P.idSemirremolque
				LEFT JOIN OP_TR_Conductor C WITH(NOLOCK) ON C.IdConductor = P.IdConductor
				LEFT JOIN OP_TR_Conductor AP WITH(NOLOCK) ON AP.IdConductor = P.IdConductorApoyo
				LEFT JOIN PersonaMast CL WITH(NOLOCK) ON CL.Persona = P.IdCliente
				LEFT JOIN OP_TR_RUTA RT WITH(NOLOCK) ON RT.IDRUTA = P.IdRuta
				-- GERARDO
				LEFT JOIN ME_Maquina M WITH(NOLOCK) ON LTRIM(RTRIM(M.MaquinaCodigo)) = LTRIM(RTRIM(V.NumeroPlaca))
				LEFT JOIN ME_MaquinaMarca ME ON M.Marca = ME.Marca 
				-- GERARDO
				LEFT JOIN OP_AL_Producto PR WITH(NOLOCK) ON  PR.IdProducto = P.Producto
				LEFT JOIN OP_TR_Viaje VJ WITH(NOLOCK) ON VJ.Codigo = CONVERT(VARCHAR(12),P.CodViaje)
				LEFT JOIN OP_GE_OTDetalle OT WITH(NOLOCK) ON OT.IdViaje = VJ.IdViaje AND p.Ot = OT.IdOT and cast(ot.FechaCreacion  as varchar(108)) = cast(vj.FechaCreacion as varchar(108))
				-- GERARDO
				LEFT JOIN ReportesApp_Combustible_Rendimientos_Maestro REND ON REND.idRuta = P.IdRuta AND LTRIM(RTRIM(ME.Descripcion)) = REND.Marca
				AND REND.Modelo LIKE '%'+(LTRIM(RTRIM(M.Modelo))+'%') AND REND.idOperacion LIKE '%'+ CONVERT(VARCHAR,P.TipoProgramacion) +'%'
				-- GERARDO
				WHERE P.FechaProgramacion between @FechaInicio and @FechaFin
				AND P.TIPOPROGRAMACION IN(1,2,3,4))
		UNION	ALL	
		(SELECT ROW_NUMBER() OVER ( ORDER BY P.FechaProgramacion )'ITEM',--1
		    substring(CONVERT(VARCHAR(4), P.Anio),3,2)+ /*'-' + RIGHT('000000'
			  + Ltrim(Rtrim(REPLACE(SUBSTRING(*/CONVERT(VARCHAR(6), p.IdProgramacion)/*, 1,CHARINDEX('-', p.IdProgramacion)),'-',''))),6) */CODIGO,--2
				  P.IDPROGRAMACION,--3
				   p.Anio ANIO,--4
				  P.TipoProgramacion IDTIPO--5
				  ,'' AS 'ABASTECIO' --6
				  ,P.Zona AS 'ZONA'--7
				  ,PC.fecharegistra 'FECHACREA'--8
				  ,PC.fecharegistra 'FECHAPROGR'--9
				  ,P.FechaInicio 'FECHA_INICIO'--10
				  ,P.FechaFin 'FECHA_FIN'--11
				  ,P.FechaTermino 'FECHA_TERMINO'
				  ,P.idTracto IDTRACTO--12
				  ,V.NumeroPlaca 'TRACTO'--13
				  ,V.IndTercero 'TIPOUNIDAD'--14
				  ,CASE WHEN V.IndTercero = 'P' THEN 'PROPIO'
				   WHEN V.IndTercero IS NULL THEN ''
				   ELSE 'TERCERO'
				   END AS 'UNIDAD'--15
				  ,(LTRIM(RTRIM(PV.Busqueda)))AS 'PROVEEDOR'--16
				  ,R.NumeroPlaca 'SEMIRREMOLQUE'--17
				  ,CASE WHEN R.SubTipoVehiculo = '1'THEN 'TRACTO' 
					WHEN R.SubTipoVehiculo ='2' THEN 'PLATAFORMA'
					WHEN R.SubTipoVehiculo ='3' THEN 'TOLVA'
					WHEN R.SubTipoVehiculo ='4' THEN 'FURGON'
					WHEN R.SubTipoVehiculo ='5' THEN 'CORTINERA'
					WHEN R.SubTipoVehiculo ='6' THEN 'TERMOKING'
					WHEN R.SubTipoVehiculo ='7' THEN 'CAMIONETA'
					WHEN R.SubTipoVehiculo ='8' THEN 'CAMION'
					WHEN R.SubTipoVehiculo ='9' THEN 'CISTERNA'
					WHEN R.SubTipoVehiculo IS NULL THEN ''
					END AS 'TIPOSEMIR'--18
 				  ,P.idSemirremolque IDREMOLQUE	--19		  
				  ,P.IdConductor IDCONDUCTOR--20				  
				  ,ltrim(rtrim(C.Nombre)) as 'CONDUCTOR'--22
				  ,C.Documento DNI
				  ,P.IdConductorApoyo IDAPOYO			  
				  ,P.UnidadAPOYO AS 'UNIDADAPOYO'
				  ,ltrim(rtrim(AP.nombre)) as 'CONDUCTOR_APOYO'
				  ,PC.IdCliente IDCLIENTE			  
				  ,Pc.IdRuta IDRUTA
				  ,RT.Descripcion 'RUTA'
				  ,P.Destino 'DESTINO'
				  ,PC.IdProducto IDPRODUCTO
				  ,PR.Nombre 'PRODUCTO'
				  ,P.Estado IDESTADO			  
				  ,P.ConductorInicio 'CONDUCTOR_INICIO'
				  ,P.PrimerCambio '1° CAMBIO'
				  ,P.SegundoCambio '2° CAMBIO'
				  ,P.TercerCambio '3° CAMBIO'
					,CASE WHEN P.Estado = 1 THEN 'PROGRAMADO'
				   WHEN P.Estado = 2 THEN 'PENDIENTE EN LLEGAR'
				   WHEN P.Estado = 3 THEN 'EN ESPERA'       
				   WHEN P.Estado = 4 THEN 'CARGA EN BASE'
				   WHEN P.Estado = 5 THEN 'COLA IN'
				   WHEN P.Estado = 6 THEN 'COLA OUT'
				   WHEN P.Estado = 7 THEN 'CARGANDO'       
				   WHEN P.Estado = 8 THEN 'FUERA DE PLANTA' 
				   WHEN P.Estado = 9 THEN 'ATENDIDO'
				   WHEN P.Estado = 10 THEN 'ANULADO'
				   WHEN P.Estado = 11 THEN 'TERMINADO'
				    WHEN P.Estado = 12 THEN 'EN BASE'
				   END AS 'ESTADO'
				  ,ltrim(rtrim(CL.Busqueda)) as 'CLIENTE'
				  ,P.HoraSalida 'SALIDA'
				  ,P.HoraLlegada 'LLEGADA'
				  ,P.FechaDescarga 'DESCARGA'			  
				  ,/*P.CodViaje 'VIAJE'*/
				  CASE WHEN P.EsConsolidado = 1 THEN P.CodViaje + '(C)'
				   ELSE P.CodViaje 
				   END AS 'VIAJE'	
				  ,vj.IdViaje 'IDVIAJE'
				   ,CASE WHEN vj.Estado = 1 THEN 'PENDIENTE'
				   WHEN vj.Estado = 2 THEN 'PROGRAMADO'
				   WHEN vj.Estado = 3 THEN 'EJECUCION'
				   WHEN vj.Estado = 4 THEN 'COMPLETADO'
				   WHEN vj.Estado = 8 THEN 'CANCELADO'       
				   WHEN vj.Estado = 9 THEN 'ANULADO' 
				   END AS 'ESTADOVIAJE'
				  ,CASE WHEN ISNULL(OT.PesoControl,0)>0 THEN OT.PesoControl
			     ELSE pc.Cantidad END AS 'PESO'
			  --,P.PesoAlmacen 'PESO'
			   ,0 as 'PESOCLIENTE'
			  ,0 as 'MERMA'
				  ,P.Planilla 'PLANILLA'
				  /*,CASE WHEN APG.NumeroDocumentoInterno >0 THEN 'PAGADO'			         
					ELSE '' 
					END AS 'ESTADOCAJA'*/
				  ,(SELECT TOP 1 CASE WHEN NumeroDocumentoInterno IS NOT NULL THEN 'PAGADO'			         
					ELSE '' 
					END AS 'ESTADOCAJA' FROM AP_GastoAdelanto 
				WHERE NumeroDocumentoInterno = P.Planilla AND Persona = C.IdPersona  
					AND Estado = 'PA'  and FechaDocumento>'01-06-2022 00:00:00.000' 
				ORDER BY NumeroAdelanto)AS ESTADOCAJA
			  ,(SELECT TOP 1 CAST(ISNULL(ROUND(AP_GastoAdelanto.MONTOTOTAL,2),0)AS VARCHAR(50))+ ' - '+AP_GastoAdelanto.UltimoUsuario 
				  FROM AP_GastoAdelanto 
				  WHERE NumeroDocumentoInterno =  P.Planilla AND Persona = C.IdPersona  
					AND Estado = 'PA' and FechaDocumento>'01-06-2022 00:00:00.000' 
				 ORDER BY NumeroAdelanto) AS ENTREGADO
				  ,p.Turno as 'TURNO'			  		 
				  ,PC.OT AS 'OT'
				  ,P.Viaticos AS 'VIATICOS'
				  ,p.ordenservicio AS 'ORDENSERVICIO'
				  ,P.Sucursal as 'SUCURSAL',
				  CASE WHEN P.TipoProgramacion = 1 THEN 'TOLVAS'
				   WHEN P.TipoProgramacion = 2 THEN 'LINDLEY'
				   WHEN P.TipoProgramacion = 3 THEN 'LIMAGAS'
				   WHEN P.TipoProgramacion = 4 THEN 'GENERAL'
				   WHEN P.TipoProgramacion = 5 THEN 'LIMA' 
				   WHEN P.TipoProgramacion = 6 THEN 'MAQ/CAMIONETAS'
				   WHEN P.TipoProgramacion = 7 THEN 'MTO'
				   WHEN P.TipoProgramacion = 8 THEN 'COMBUSTIBLE'
				   WHEN P.TipoProgramacion = 9 THEN 'LOCAL'
				   END AS 'TIPO',p.guiaEntrega 'GUIAENTREGA',ROUND(P.MontoOrdServ,2)'MONTORDEN'
			  ,CASE WHEN ISNULL(OT.Guia1,'') = ''  THEN P.Serie          ELSE SUBSTRING( OT.Guia1, 0 ,CHARINDEX('-', OT.Guia1)) END AS 'SERIE'
			  ,CASE WHEN ISNULL(OT.Guia1,'') = ''  THEN P.Numero         ELSE SUBSTRING( OT.Guia1, CHARINDEX('-', OT.Guia1)+1,LEN(OT.Guia1)-CHARINDEX('-', OT.Guia1)) END AS 'GUIA' 
			  ,CASE WHEN ISNULL(OT.Guia1,'') = ''  THEN P.Serie + '-' + P.Numero  ELSE OT.Guia1 END AS 'GUIAT.' 
			  ,CASE WHEN ISNULL(OT.Guia2,'') = ''  THEN P.GuiaRemitente  ELSE OT.Guia2 END AS 'G/R'
				  --,P.Serie 'SERIE'
				  --,P.Numero 'GUIA'
				  --,P.Serie +'-'+P.Numero 'GUIAT.'
				  --,P.GuiaRemitente 'G/R'	
				  ,P.Observacion 'OBSERVACION'
				  ,'IR GPS' AS 'UBICACION'	
				  ,P.Comentario'COMENTARIO'	
				  ,P.CantidadDia 'CANTIDADDIA'
				   ,P.UsuarioModifica 'USUARIOMOD'
				  ,P.FechaModifica 'FECHAMOD' 
				  ,p.UsuarioCrea
				  ,P.ESINTERNA 'INTERNA' 	
				  ,P.STATUSPLANTA  
				  ,P.UbigeoPartida 'UBIGEOPARTIDA'
			  ,P.ubigeoLlegada 'UBIGEOLLEGADA' 
			  ,P.PlacaMaquinariaCamioneta 'MAQUINARIA'
			  ,P.CodProgramaProceso 'ENLACE'
			  ,ISNULL((select TOP 1 cast(ISNULL(orden,0)as int) from  ReportesApp_Operacion_PrevDestinos where IdRuta = PC.IdRuta),0)ORDENDESTINO
			  ,(STUFF((SELECT DISTINCT ',' +G.TipoViaje  FROM ReportesApp_Operaciones_GuiasElectronicas G WHERE G.NroTicketProgramacion = P.NroTicket  FOR XML PATH('')), 1, 1, ''))  as 'TipoViaje'
			  -- GERARDO
			  ,CASE WHEN (SELECT COUNT(*) FROM (SELECT DISTINCT Viaje, TipoViaje FROM ReportesApp_Operaciones_GuiasElectronicas
			  WHERE CONVERT(INT,Viaje) = CONVERT(INT,P.CodViaje)) X) = 1 THEN
			  CASE WHEN ((SELECT DISTINCT TipoViaje FROM ReportesApp_Operaciones_GuiasElectronicas WHERE Viaje = P.CodViaje) = 'SALIDA')
			  THEN ISNULL(REND.RendSalida,0.00) ELSE ISNULL(REND.RendRetorno,0.00) END
			  ELSE CASE WHEN (SELECT COUNT(*) FROM (SELECT DISTINCT Viaje, TipoViaje FROM ReportesApp_Operaciones_GuiasElectronicas
			  WHERE CONVERT(INT,Viaje) = CONVERT(INT,P.CodViaje)) X) > 1 THEN ISNULL(REND.RendRetorno,0.00) ELSE 0.00 END
			  END AS 'REND.PROM',
			  (SELECT ISNULL(MAX(DESPACHO.RendimientoFisico),0.00) FROM OP_TR_CargaCombustible AS COMBUSTIBLE 
			  LEFT JOIN OP_TR_DespachoCombustible DESPACHO ON DESPACHO.IdCarga= COMBUSTIBLE.IdCarga
			  WHERE COMBUSTIBLE.IdViaje = VJ.IdViaje) AS 'REND KM/GL'
			  -- GERARDO
			  ,p.ProgOrigen
			  ,vj.FechaCreacion 'FECHA_CREA_VIAJE'
			  ,PC.LineaOT 
		  FROM ReportesApp_Operacion_Previajes_Consolidados PC WITH(NOLOCK)  
				INNER JOIN ReportesApp_Operacion_Previaje_Registros P WITH(NOLOCK) ON P.IdProgramacion = PC.IdProgramacion and p.CodViaje = pc.IDViaje
				INNER JOIN OP_TR_Vehiculo V WITH(NOLOCK) ON V.IdVehiculo = P.idTracto
				LEFT JOIN PersonaMast Pv WITH(NOLOCK) ON V.Proveedor = Pv.Persona
				LEFT JOIN OP_TR_Vehiculo R WITH(NOLOCK) ON R.IdVehiculo = P.idSemirremolque
				LEFT JOIN OP_TR_Conductor C WITH(NOLOCK) ON C.IdConductor = P.IdConductor
				LEFT JOIN OP_TR_Conductor AP WITH(NOLOCK) ON AP.IdConductor = P.IdConductorApoyo
				LEFT JOIN PersonaMast CL WITH(NOLOCK) ON CL.Persona = PC.IdCliente
				LEFT JOIN OP_TR_RUTA RT WITH(NOLOCK) ON RT.IDRUTA = Pc.IdRuta
				-- GERARDO
				LEFT JOIN ME_Maquina M WITH(NOLOCK) ON LTRIM(RTRIM(M.MaquinaCodigo)) = LTRIM(RTRIM(V.NumeroPlaca))
				LEFT JOIN ME_MaquinaMarca ME ON M.Marca = ME.Marca 
				-- GERARDO
				LEFT JOIN OP_AL_Producto PR WITH(NOLOCK) ON  PR.IdProducto = PC.IdProducto
				LEFT JOIN OP_TR_Viaje VJ WITH(NOLOCK) ON VJ.Codigo = CAST(Pc.IDViaje AS VARCHAR(12))
				-- GERARDO
				LEFT JOIN ReportesApp_Combustible_Rendimientos_Maestro REND ON REND.idRuta = P.IdRuta AND LTRIM(RTRIM(ME.Descripcion)) = REND.Marca
				AND REND.Modelo LIKE '%'+(LTRIM(RTRIM(M.Modelo))+'%') AND REND.idOperacion LIKE '%'+ CONVERT(VARCHAR,P.TipoProgramacion) +'%'
				-- GERARDO
				LEFT JOIN OP_GE_OTDetalle OT WITH(NOLOCK) ON OT.IdViaje = VJ.IdViaje AND PC.Ot = OT.IdOT and cast(ot.FechaCreacion  as varchar(108)) = cast(pc.FechaRegistra as varchar(108))
				--LEFT JOIN ReportesApp_Combustible_TicketsSurtidor CM ON P.NroTicket = CM.NroTicketPreViaje
				--LEFT JOIN AP_GastoAdelanto APG WITH (NOLOCK)ON APG.NumeroDocumentoInterno = P.Planilla AND C.IdPersona = APG.Persona AND APG.Estado = 'PA'
		 --WHERE CAST(P.FechaProgramacion AS DATE) between CAST(@FechaInicio AS DATE) and CAST(@FechaFin AS DATE) 
		 WHERE P.FechaProgramacion between @FechaInicio and @FechaFin
		 AND P.TIPOPROGRAMACION IN(1,2,3,4))) 
				--WHERE P.IdProgramacion = 520)
				
		
	END
ELSE 
	IF (@sucursal ='TODO')
	BEGIN
		((SELECT ROW_NUMBER() OVER ( ORDER BY P.IDPROGRAMACION )'ITEM',
			  substring(CONVERT(VARCHAR(4), P.Anio),3,2)+CONVERT(VARCHAR(6), p.IdProgramacion) CODIGO,			  
			  P.IDPROGRAMACION,
			  p.Anio ANIO,
			  P.TipoProgramacion IDTIPO
			  ,(SELECT TOP 1 CASE WHEN NroTicketPreViaje > 0 THEN 'SI'
									WHEN NroTicketPreViaje IS NULL THEN 'NO'END AS 'ABASTECIO' 
				FROM ReportesApp_Combustible_TicketsSurtidor 
				WHERE NroTicketPreViaje = P.NroTicket AND Fecha between @FechaInicio and @FechaFin) AS ABASTECIO
			  ,P.Zona AS 'ZONA'
			  ,p.FechaCrea 'FECHAREGISTRO'
			  ,P.FechaProgramacion 'FECHAPROGR'
			  ,P.FechaInicio 'FECHA_INICIO'
			  ,P.FechaFin 'FECHA_FIN'
			  ,P.FechaTermino 'FECHA_TERMINO'
			  ,P.idTracto IDTRACTO
			  ,V.NumeroPlaca 'TRACTO'
			  ,V.IndTercero 'TIPOUNIDAD'
			  ,CASE WHEN V.IndTercero = 'P' THEN 'PROPIO'
					WHEN V.IndTercero IS NULL THEN ''
			   ELSE 'TERCERO'
			   END AS 'UNIDAD'
			  ,(LTRIM(RTRIM(PV.Busqueda)))AS 'PROVEEDOR'
			  ,R.NumeroPlaca 'SEMIRREMOLQUE'
			  ,CASE WHEN R.SubTipoVehiculo = '1'THEN 'TRACTO' 
					WHEN R.SubTipoVehiculo ='2' THEN 'PLATAFORMA'
					WHEN R.SubTipoVehiculo ='3' THEN 'TOLVA'
					WHEN R.SubTipoVehiculo ='4' THEN 'FURGON'
					WHEN R.SubTipoVehiculo ='5' THEN 'CORTINERA'
					WHEN R.SubTipoVehiculo ='6' THEN 'TERMOKING'
					WHEN R.SubTipoVehiculo ='7' THEN 'CAMIONETA'
					WHEN R.SubTipoVehiculo ='8' THEN 'CAMION'
					WHEN R.SubTipoVehiculo ='9' THEN 'CISTERNA'
					WHEN R.SubTipoVehiculo IS NULL THEN ''
					END AS 'TIPOSEMIR'
 			  ,P.idSemirremolque IDREMOLQUE			  
			  ,P.IdConductor IDCONDUCTOR
			  ,ltrim(rtrim(C.Nombre)) as 'CONDUCTOR'
			  ,C.Documento DNI
			  ,P.IdConductorApoyo IDAPOYO			  
			  ,P.UnidadAPOYO AS 'UNIDADAPOYO'
			  ,ltrim(rtrim(AP.nombre)) as 'CONDUCTOR_APOYO'
			  ,P.IdCliente IDCLIENTE			  
			  ,P.IdRuta IDRUTA
			  ,RT.Descripcion 'RUTA'
			  ,P.Destino 'DESTINO'
			  ,P.Producto IDPRODUCTO
			  ,PR.Nombre 'PRODUCTO'
			  ,P.Estado IDESTADO			  
			  ,P.ConductorInicio 'CONDUCTOR_INICIO'
			  ,P.PrimerCambio '1° CAMBIO'
			  ,P.SegundoCambio '2° CAMBIO'
			  ,P.TercerCambio '3° CAMBIO'
			  ,CASE WHEN P.Estado = 1 THEN 'PROGRAMADO'
				   WHEN P.Estado = 2 THEN 'PENDIENTE EN LLEGAR'
				   WHEN P.Estado = 3 THEN 'EN ESPERA'       
				   WHEN P.Estado = 4 THEN 'CARGA EN BASE'
				   WHEN P.Estado = 5 THEN 'COLA IN'
				   WHEN P.Estado = 6 THEN 'COLA OUT'
				   WHEN P.Estado = 7 THEN 'CARGANDO'       
				   WHEN P.Estado = 8 THEN 'FUERA DE PLANTA' 
				   WHEN P.Estado = 9 THEN 'ATENDIDO'
				   WHEN P.Estado = 10 THEN 'ANULADO'
				   WHEN P.Estado = 11 THEN 'TERMINADO'
					WHEN P.Estado = 12 THEN 'EN BASE'
				   END AS 'ESTADO'
			  ,ltrim(rtrim(CL.Busqueda)) as 'CLIENTE'
			  ,P.HoraSalida 'SALIDA'
			  ,P.HoraLlegada 'LLEGADA'
			  ,P.FechaDescarga 'DESCARGA',		  
			  CASE WHEN P.EsConsolidado = 1 THEN P.CodViaje + '(C)'
				   ELSE P.CodViaje 
				   END AS 'VIAJE'	
			  ,vj.IdViaje 'IDVIAJE'
			  ,CASE WHEN vj.Estado = 1 THEN 'PENDIENTE'
				   WHEN vj.Estado = 2 THEN 'PROGRAMADO'
				   WHEN vj.Estado = 3 THEN 'EJECUCION'
				   WHEN vj.Estado = 4 THEN 'COMPLETADO'
				   WHEN vj.Estado = 8 THEN 'CANCELADO'       
				   WHEN vj.Estado = 9 THEN 'ANULADO' 
				   END AS 'ESTADOVIAJE'
			  ,CASE WHEN ISNULL(OT.PesoControl,0)>0 THEN OT.PesoControl
			     ELSE P.PesoAlmacen END AS 'PESO'			  
			  ,P.PesoCliente 'PESOCLIENTE'
			  ,CASE WHEN ISNULL(OT.PesoControl,0)>1 and p.PesoCliente>0 THEN 
							P.PesoCliente  - OT.PesoControl
					WHEN ISNULL(P.PesoAlmacen,0)>1 and p.PesoCliente>0 THEN 
							p.PesoCliente - p.PesoAlmacen
					ELSE 0 end as 'MERMA'
			  ,P.Planilla 'PLANILLA'
			  ,(SELECT TOP 1 CASE WHEN NumeroDocumentoInterno IS NOT NULL THEN 'PAGADO'			         
					ELSE '' 
					END AS 'ESTADOCAJA' FROM AP_GastoAdelanto 
				WHERE NumeroDocumentoInterno = P.Planilla AND Persona = C.IdPersona  
					AND Estado = 'PA'  and FechaDocumento>'01-06-2022 00:00:00.000'
				ORDER BY NumeroAdelanto)AS ESTADOCAJA
			  ,(SELECT TOP 1 CONVERT(VARCHAR(50), ISNULL(ROUND(AP_GastoAdelanto.MONTOTOTAL,2),0))+ ' - '+AP_GastoAdelanto.UltimoUsuario 
				  FROM AP_GastoAdelanto 
				  WHERE NumeroDocumentoInterno =  P.Planilla AND Persona = C.IdPersona  
					AND Estado = 'PA' and FechaDocumento>'01-06-2022 00:00:00.000' 
				 ORDER BY NumeroAdelanto) AS ENTREGADO
			  ,p.Turno as 'TURNO'			  		 
			  ,P.OT AS 'OT'
			  ,P.Viaticos AS 'VIATICOS'
			  ,p.ordenservicio AS 'ORDENSERVICIO'
			  ,P.Sucursal as 'SUCURSAL',
			  CASE WHEN P.TipoProgramacion = 1 THEN 'TOLVAS'
				   WHEN P.TipoProgramacion = 2 THEN 'LINDLEY'
				   WHEN P.TipoProgramacion = 3 THEN 'LIMAGAS'
				   WHEN P.TipoProgramacion = 4 THEN 'GENERAL'
				   WHEN P.TipoProgramacion = 5 THEN 'LIMA' 
				   WHEN P.TipoProgramacion = 6 THEN 'MAQ/CAMIONETAS'
				   WHEN P.TipoProgramacion = 7 THEN 'MTO'
				   WHEN P.TipoProgramacion = 8 THEN 'COMBUSTIBLE'
				   WHEN P.TipoProgramacion = 9 THEN 'LOCAL'
				   END AS 'TIPO',p.guiaEntrega 'GUIAENTREGA',ROUND(P.MontoOrdServ,2) 'MONTORDEN'
			  ,CASE WHEN ISNULL(OT.Guia1,'') = ''  THEN P.Serie          ELSE SUBSTRING( OT.Guia1, 0 ,CHARINDEX('-', OT.Guia1)) END AS 'SERIE'
			  ,CASE WHEN ISNULL(OT.Guia1,'') = ''  THEN P.Numero         ELSE SUBSTRING( OT.Guia1, CHARINDEX('-', OT.Guia1)+1,LEN(OT.Guia1)-CHARINDEX('-', OT.Guia1)) END AS 'GUIA' 
			  ,CASE WHEN ISNULL(OT.Guia1,'') = ''  THEN P.Serie + '-' + P.Numero  ELSE OT.Guia1 END AS 'GUIAT.' 
			  ,CASE WHEN ISNULL(OT.Guia2,'') = ''  THEN P.GuiaRemitente  ELSE OT.Guia2 END AS 'G/R'
			  ,P.Observacion 'OBSERVACION' 
			  ,'IR GPS' AS 'UBICACION'	 
			  ,P.Comentario'COMENTARIO'	
			  ,P.CantidadDia 'CANTIDADDIA'	   
			   ,P.UsuarioModifica 'USUARIOMOD'
			  ,P.FechaModifica 'FECHAMOD' 
			  ,p.UsuarioCrea
			  ,P.ESINTERNA 'INTERNA' 
			  ,P.STATUSPLANTA
			  ,P.UbigeoPartida 'UBIGEOPARTIDA'
			  ,P.ubigeoLlegada 'UBIGEOLLEGADA'
			  ,P.PlacaMaquinariaCamioneta 'MAQUINARIA' 
			  ,P.CodProgramaProceso 'ENLACE'
			  ,ISNULL((select TOP 1 CONVERT(INT,ISNULL(orden,0)) FROM  ReportesApp_Operacion_PrevDestinos WHERE IdRuta = P.IdRuta),0) ORDENDESTINO
			  ,(STUFF((SELECT DISTINCT ',' +G.TipoViaje  FROM ReportesApp_Operaciones_GuiasElectronicas G WHERE G.NroTicketProgramacion = P.NroTicket  FOR XML PATH('')), 1, 1, ''))  as 'TipoViaje'
			  -- GERARDO
			  ,CASE WHEN (SELECT COUNT(*) FROM (SELECT DISTINCT Viaje, TipoViaje FROM ReportesApp_Operaciones_GuiasElectronicas
			  WHERE CONVERT(INT,Viaje) = CONVERT(INT,P.CodViaje)) X) = 1 THEN
			  CASE WHEN ((SELECT DISTINCT TipoViaje FROM ReportesApp_Operaciones_GuiasElectronicas WHERE Viaje = P.CodViaje) = 'SALIDA')
			  THEN ISNULL(REND.RendSalida,0.00) ELSE ISNULL(REND.RendRetorno,0.00) END
			  ELSE CASE WHEN (SELECT COUNT(*) FROM (SELECT DISTINCT Viaje, TipoViaje FROM ReportesApp_Operaciones_GuiasElectronicas
			  WHERE CONVERT(INT,Viaje) = CONVERT(INT,P.CodViaje)) X) > 1 THEN ISNULL(REND.RendRetorno,0.00) ELSE 0.00 END
			  END AS 'REND.PROM',
			  (SELECT ISNULL(MAX(DESPACHO.RendimientoFisico),0.00) FROM OP_TR_CargaCombustible AS COMBUSTIBLE 
			  LEFT JOIN OP_TR_DespachoCombustible DESPACHO ON DESPACHO.IdCarga= COMBUSTIBLE.IdCarga
			  WHERE COMBUSTIBLE.IdViaje = VJ.IdViaje) AS 'REND KM/GL'
			  -- GERARDO
			  ,p.ProgOrigen
			  ,vj.FechaCreacion 'FECHA_CREA_VIAJE'
			  ,ISNULL(P.LineaOT,0) AS 'LineaOT'
		  FROM ReportesApp_Operacion_Previaje_Registros P WITH(NOLOCK)  				
				--INNER JOIN ReportesApp_Operacion_Previajes_Consolidados PC ON P.IdProgramacion = PC.IdProgramacion and p.CodViaje = pc.IDViaje
				LEFT JOIN OP_TR_Vehiculo V WITH(NOLOCK) ON V.IdVehiculo = P.idTracto
				LEFT JOIN PersonaMast Pv WITH(NOLOCK) ON V.Proveedor = Pv.Persona
				LEFT JOIN OP_TR_Vehiculo R WITH(NOLOCK) ON R.IdVehiculo = P.idSemirremolque
				LEFT JOIN OP_TR_Conductor C WITH(NOLOCK) ON C.IdConductor = P.IdConductor
				LEFT JOIN OP_TR_Conductor AP WITH(NOLOCK) ON AP.IdConductor = P.IdConductorApoyo
				LEFT JOIN PersonaMast CL WITH(NOLOCK) ON CL.Persona = P.IdCliente
				LEFT JOIN OP_TR_RUTA RT WITH(NOLOCK) ON RT.IDRUTA = P.IdRuta
				-- GERARDO
				LEFT JOIN ME_Maquina M WITH(NOLOCK) ON LTRIM(RTRIM(M.MaquinaCodigo)) = LTRIM(RTRIM(V.NumeroPlaca))
				LEFT JOIN ME_MaquinaMarca ME ON M.Marca = ME.Marca 
				-- GERARDO
				LEFT JOIN OP_AL_Producto PR WITH(NOLOCK) ON  PR.IdProducto = P.Producto
				LEFT JOIN OP_TR_Viaje VJ WITH(NOLOCK) ON VJ.Codigo = CONVERT(VARCHAR(12), P.CodViaje)
				LEFT JOIN OP_GE_OTDetalle OT WITH(NOLOCK) ON OT.IdViaje = VJ.IdViaje AND P.Ot = OT.IdOT and CAST(ot.FechaCreacion  as varchar(108)) = CAST(vj.FechaCreacion as varchar(108))
				-- GERARDO
				LEFT JOIN ReportesApp_Combustible_Rendimientos_Maestro REND ON REND.idRuta = P.IdRuta AND LTRIM(RTRIM(ME.Descripcion)) = REND.Marca
				AND REND.Modelo LIKE '%'+(LTRIM(RTRIM(M.Modelo))+'%') AND REND.idOperacion LIKE '%'+ CONVERT(VARCHAR,P.TipoProgramacion) +'%'
				-- GERARDO
				--LEFT JOIN ReportesApp_Combustible_TicketsSurtidor CM WITH(NOLOCK)ON P.NroTicket = CM.NroTicketPreViaje
				--LEFT JOIN AP_GastoAdelanto APG WITH (NOLOCK)ON APG.NumeroDocumentoInterno = P.Planilla AND C.IdPersona = APG.Persona AND APG.Estado = 'PA'
				WHERE p.TipoProgramacion = @prog1
				--and( CAST(P.FechaProgramacion AS DATE) between CAST(@FechaInicio AS DATE) and CAST(@FechaFin AS DATE)) 
				AND P.FechaProgramacion between @FechaInicio and @FechaFin
				AND P.TIPOPROGRAMACION IN(1,2,3,4))
				--WHERE P.IdProgramacion = 520
			
	UNION	ALL	
		(SELECT ROW_NUMBER() OVER ( ORDER BY P.FechaProgramacion )'ITEM',
		    substring(CONVERT(VARCHAR(4), P.Anio),3,2)+ /*'-' + RIGHT('000000'
			  + Ltrim(Rtrim(REPLACE(SUBSTRING(*/CONVERT(VARCHAR(6), p.IdProgramacion)/*, 1,CHARINDEX('-', p.IdProgramacion)),'-',''))),6) */CODIGO,
				  P.IDPROGRAMACION,
				   p.Anio ANIO,
				  P.TipoProgramacion IDTIPO
				  ,'' AS 'ABASTECIO' 
				  ,P.Zona AS 'ZONA'
				  ,PC.fecharegistra 'FECHACREA'
				  ,PC.fecharegistra 'FECHAPROGR'
				  ,P.FechaInicio 'FECHA_INICIO'
				  ,P.FechaFin 'FECHA_FIN'
				  ,P.FechaTermino 'FECHA_TERMINO'
				  ,P.idTracto IDTRACTO
				  ,V.NumeroPlaca 'TRACTO'
				  ,V.IndTercero 'TIPOUNIDAD'
				  ,CASE WHEN V.IndTercero = 'P' THEN 'PROPIO'
				   WHEN V.IndTercero IS NULL THEN ''
				   ELSE 'TERCERO'
				   END AS 'UNIDAD'
				  ,(LTRIM(RTRIM(PV.Busqueda)))AS 'PROVEEDOR'
				  ,R.NumeroPlaca 'SEMIRREMOLQUE'
				  ,CASE WHEN R.SubTipoVehiculo = '1'THEN 'TRACTO' 
					WHEN R.SubTipoVehiculo ='2' THEN 'PLATAFORMA'
					WHEN R.SubTipoVehiculo ='3' THEN 'TOLVA'
					WHEN R.SubTipoVehiculo ='4' THEN 'FURGON'
					WHEN R.SubTipoVehiculo ='5' THEN 'CORTINERA'
					WHEN R.SubTipoVehiculo ='6' THEN 'TERMOKING'
					WHEN R.SubTipoVehiculo ='7' THEN 'CAMIONETA'
					WHEN R.SubTipoVehiculo ='8' THEN 'CAMION'
					WHEN R.SubTipoVehiculo ='9' THEN 'CISTERNA'
					WHEN R.SubTipoVehiculo IS NULL THEN ''
					END AS 'TIPOSEMIR'
 				  ,P.idSemirremolque IDREMOLQUE			  
				  ,P.IdConductor IDCONDUCTOR
				  ,ltrim(rtrim(C.Nombre)) as 'CONDUCTOR'
				  ,C.Documento DNI
				  ,P.IdConductorApoyo IDAPOYO			  
				  ,P.UnidadAPOYO AS 'UNIDADAPOYO'
				  ,ltrim(rtrim(AP.nombre)) as 'CONDUCTOR_APOYO'
				  ,PC.IdCliente IDCLIENTE			  
				  ,Pc.IdRuta IDRUTA
				  ,RT.Descripcion 'RUTA'
				  ,P.Destino 'DESTINO'
				  ,PC.IdProducto IDPRODUCTO
				  ,PR.Nombre 'PRODUCTO'
				  ,P.Estado IDESTADO			  
				  ,P.ConductorInicio 'CONDUCTOR_INICIO'
				  ,P.PrimerCambio '1° CAMBIO'
				  ,P.SegundoCambio '2° CAMBIO'
				  ,P.TercerCambio '3° CAMBIO'
					,CASE WHEN P.Estado = 1 THEN 'PROGRAMADO'
				   WHEN P.Estado = 2 THEN 'PENDIENTE EN LLEGAR'
				   WHEN P.Estado = 3 THEN 'EN ESPERA'       
				   WHEN P.Estado = 4 THEN 'CARGA EN BASE'
				   WHEN P.Estado = 5 THEN 'COLA IN'
				   WHEN P.Estado = 6 THEN 'COLA OUT'
				   WHEN P.Estado = 7 THEN 'CARGANDO'       
				   WHEN P.Estado = 8 THEN 'FUERA DE PLANTA' 
				   WHEN P.Estado = 9 THEN 'ATENDIDO'
				   WHEN P.Estado = 10 THEN 'ANULADO'
				   WHEN P.Estado = 11 THEN 'TERMINADO'
				    WHEN P.Estado = 12 THEN 'EN BASE'
				   END AS 'ESTADO'
				  ,ltrim(rtrim(CL.Busqueda)) as 'CLIENTE'
				  ,P.HoraSalida 'SALIDA'
				  ,P.HoraLlegada 'LLEGADA'
				  ,P.FechaDescarga 'DESCARGA'			  
				  ,/*P.CodViaje 'VIAJE'*/
				  CASE WHEN P.EsConsolidado = 1 THEN P.CodViaje + '(C)'
				   ELSE P.CodViaje 
				   END AS 'VIAJE'	
				  ,vj.IdViaje 'IDVIAJE'
				   ,CASE WHEN vj.Estado = 1 THEN 'PENDIENTE'
				   WHEN vj.Estado = 2 THEN 'PROGRAMADO'
				   WHEN vj.Estado = 3 THEN 'EJECUCION'
				   WHEN vj.Estado = 4 THEN 'COMPLETADO'
				   WHEN vj.Estado = 8 THEN 'CANCELADO'       
				   WHEN vj.Estado = 9 THEN 'ANULADO' 
				   END AS 'ESTADOVIAJE'
				  ,CASE WHEN ISNULL(OT.PesoControl,0)>0 THEN OT.PesoControl
			     ELSE pc.Cantidad END AS 'PESO'
			  --,P.PesoAlmacen 'PESO'
			   ,0 as 'PESOCLIENTE'
			  ,/*CASE WHEN ISNULL(OT.PesoControl,0)>1 and pc.Cantidad>0 THEN 
				pc.Cantidad  - OT.PesoControl
			   WHEN ISNULL(P.PesoAlmacen,0)>1 and p.PesoCliente>0 THEN 
				pc.Cantidad - p.PesoAlmacen
				ELSE 0 end*/0 as 'MERMA'
				  ,P.Planilla 'PLANILLA'
				  /*,CASE WHEN APG.NumeroDocumentoInterno >0 THEN 'PAGADO'			         
					ELSE '' 
					END AS 'ESTADOCAJA'*/
				  ,(SELECT TOP 1 CASE WHEN NumeroDocumentoInterno IS NOT NULL THEN 'PAGADO'			         
					ELSE '' 
					END AS 'ESTADOCAJA' FROM AP_GastoAdelanto 
				WHERE NumeroDocumentoInterno = P.Planilla AND Persona = C.IdPersona  
					AND Estado = 'PA'  and FechaDocumento>'01-06-2022 00:00:00.000'
				ORDER BY NumeroAdelanto)AS ESTADOCAJA
			  ,(SELECT TOP 1 CONVERT(VARCHAR(50), ISNULL(ROUND(AP_GastoAdelanto.MONTOTOTAL,2),0))+ ' - '+AP_GastoAdelanto.UltimoUsuario 
				  FROM AP_GastoAdelanto 
				  WHERE NumeroDocumentoInterno =  P.Planilla AND Persona = C.IdPersona  
					AND Estado = 'PA' and FechaDocumento>'01-06-2022 00:00:00.000'
				 ORDER BY NumeroAdelanto) AS ENTREGADO
				  ,p.Turno as 'TURNO'			  		 
				  ,PC.OT AS 'OT'
				  ,P.Viaticos AS 'VIATICOS'
				  ,p.ordenservicio AS 'ORDENSERVICIO'
				  ,P.Sucursal as 'SUCURSAL',
				  CASE WHEN P.TipoProgramacion = 1 THEN 'TOLVAS'
				   WHEN P.TipoProgramacion = 2 THEN 'LINDLEY'
				   WHEN P.TipoProgramacion = 3 THEN 'LIMAGAS'
				   WHEN P.TipoProgramacion = 4 THEN 'GENERAL'
				   WHEN P.TipoProgramacion = 5 THEN 'LIMA' 
				   WHEN P.TipoProgramacion = 6 THEN 'MAQ/CAMIONETAS'
				   WHEN P.TipoProgramacion = 7 THEN 'MTO'
				   WHEN P.TipoProgramacion = 8 THEN 'COMBUSTIBLE'
				   WHEN P.TipoProgramacion = 9 THEN 'LOCAL'
				   END AS 'TIPO',p.guiaEntrega 'GUIAENTREGA',ROUND(P.MontoOrdServ,2)'MONTORDEN'
			  ,CASE WHEN ISNULL(OT.Guia1,'') = ''  THEN P.Serie          ELSE SUBSTRING( OT.Guia1, 0 ,CHARINDEX('-', OT.Guia1)) END AS 'SERIE'
			  ,CASE WHEN ISNULL(OT.Guia1,'') = ''  THEN P.Numero         ELSE SUBSTRING( OT.Guia1, CHARINDEX('-', OT.Guia1)+1,LEN(OT.Guia1)-CHARINDEX('-', OT.Guia1)) END AS 'GUIA' 
			  ,CASE WHEN ISNULL(OT.Guia1,'') = ''  THEN P.Serie + '-' + P.Numero  ELSE OT.Guia1 END AS 'GUIAT.' 
			  ,CASE WHEN ISNULL(OT.Guia2,'') = ''  THEN P.GuiaRemitente  ELSE OT.Guia2 END AS 'G/R'
				  --,P.Serie 'SERIE'
				  --,P.Numero 'GUIA'
				  --,P.Serie +'-'+P.Numero 'GUIAT.'
				  --,P.GuiaRemitente 'G/R'	
				  ,P.Observacion 'OBSERVACION'
				  ,'IR GPS' AS 'UBICACION'	
				  ,P.Comentario'COMENTARIO'	
				  ,P.CantidadDia 'CANTIDADDIA'
				   ,P.UsuarioModifica 'USUARIOMOD'
				  ,P.FechaModifica 'FECHAMOD' 
				  ,P.UsuarioCrea
				  ,P.ESINTERNA 'INTERNA' 	
				  ,P.STATUSPLANTA  
				  ,P.UbigeoPartida 'UBIGEOPARTIDA'
			  ,P.ubigeoLlegada 'UBIGEOLLEGADA' 
			  ,P.PlacaMaquinariaCamioneta 'MAQUINARIA'
			  ,P.CodProgramaProceso 'ENLACE'
			  ,ISNULL((select TOP 1 CONVERT(INT, ISNULL(orden,0)) from  ReportesApp_Operacion_PrevDestinos where IdRuta = PC.IdRuta),0)ORDENDESTINO
			  ,(STUFF((SELECT DISTINCT ',' +G.TipoViaje  FROM ReportesApp_Operaciones_GuiasElectronicas G WHERE G.NroTicketProgramacion = P.NroTicket  FOR XML PATH('')), 1, 1, ''))  as 'TipoViaje'
			  -- GERARDO
			  ,CASE WHEN (SELECT COUNT(*) FROM (SELECT DISTINCT Viaje, TipoViaje FROM ReportesApp_Operaciones_GuiasElectronicas
			  WHERE CONVERT(INT,Viaje) = CONVERT(INT,P.CodViaje)) X) = 1 THEN
			  CASE WHEN ((SELECT DISTINCT TipoViaje FROM ReportesApp_Operaciones_GuiasElectronicas WHERE Viaje = P.CodViaje) = 'SALIDA')
			  THEN ISNULL(REND.RendSalida,0.00) ELSE ISNULL(REND.RendRetorno,0.00) END
			  ELSE CASE WHEN (SELECT COUNT(*) FROM (SELECT DISTINCT Viaje, TipoViaje FROM ReportesApp_Operaciones_GuiasElectronicas
			  WHERE CONVERT(INT,Viaje) = CONVERT(INT,P.CodViaje)) X) > 1 THEN ISNULL(REND.RendRetorno,0.00) ELSE 0.00 END
			  END AS 'REND.PROM',
			  (SELECT ISNULL(MAX(DESPACHO.RendimientoFisico),0.00) FROM OP_TR_CargaCombustible AS COMBUSTIBLE 
			  LEFT JOIN OP_TR_DespachoCombustible DESPACHO ON DESPACHO.IdCarga= COMBUSTIBLE.IdCarga
			  WHERE COMBUSTIBLE.IdViaje = VJ.IdViaje) AS 'REND KM/GL'
			  -- GERARDO
			  ,p.ProgOrigen
			  ,vj.FechaCreacion 'FECHA_CREA_VIAJE'
			  ,ISNULL(PC.LineaOT,0) AS 'LineaOT'
		  FROM ReportesApp_Operacion_Previajes_Consolidados PC WITH(NOLOCK) 
				INNER JOIN ReportesApp_Operacion_Previaje_Registros P WITH(NOLOCK) ON P.IdProgramacion = PC.IdProgramacion and p.CodViaje = pc.IDViaje
				LEFT JOIN OP_TR_Vehiculo V WITH(NOLOCK) ON V.IdVehiculo = P.idTracto
				LEFT JOIN PersonaMast Pv WITH(NOLOCK) ON V.Proveedor = Pv.Persona
				LEFT JOIN OP_TR_Vehiculo R WITH(NOLOCK) ON R.IdVehiculo = P.idSemirremolque
				LEFT JOIN OP_TR_Conductor C WITH(NOLOCK) ON C.IdConductor = P.IdConductor
				LEFT JOIN OP_TR_Conductor AP WITH(NOLOCK) ON AP.IdConductor = P.IdConductorApoyo
				LEFT JOIN PersonaMast CL WITH(NOLOCK) ON CL.Persona = PC.IdCliente
				LEFT JOIN OP_TR_RUTA RT WITH(NOLOCK) ON RT.IDRUTA = PC.IdRuta
				-- GERARDO
				LEFT JOIN ME_Maquina M WITH(NOLOCK) ON LTRIM(RTRIM(M.MaquinaCodigo)) = LTRIM(RTRIM(V.NumeroPlaca))
				LEFT JOIN ME_MaquinaMarca ME ON M.Marca = ME.Marca 
				-- GERARDO
				LEFT JOIN OP_AL_Producto PR WITH(NOLOCK) ON  PR.IdProducto = PC.IdProducto
				LEFT JOIN OP_TR_Viaje VJ WITH(NOLOCK) ON VJ.Codigo = CONVERT(VARCHAR(12), Pc.IDViaje)
				LEFT JOIN OP_GE_OTDetalle OT WITH(NOLOCK) ON OT.IdViaje = VJ.IdViaje AND PC.Ot = OT.IdOT and  cast(ot.FechaCreacion  as varchar(108)) = cast(pc.FechaRegistra as varchar(108))
				-- GERARDO
				LEFT JOIN ReportesApp_Combustible_Rendimientos_Maestro REND ON REND.idRuta = P.IdRuta AND LTRIM(RTRIM(ME.Descripcion)) = REND.Marca
				AND REND.Modelo LIKE '%'+(LTRIM(RTRIM(M.Modelo))+'%') AND REND.idOperacion LIKE '%'+ CONVERT(VARCHAR,P.TipoProgramacion) +'%'
				-- GERARDO
				--LEFT JOIN ReportesApp_Combustible_TicketsSurtidor CM WITH(NOLOCK)ON P.NroTicket = CM.NroTicketPreViaje
				--LEFT JOIN AP_GastoAdelanto APG WITH (NOLOCK)ON APG.NumeroDocumentoInterno = P.Planilla AND C.IdPersona = APG.Persona AND APG.Estado = 'PA'
			WHERE p.TipoProgramacion = @prog1
				--and( CAST(P.FechaProgramacion AS DATE) between CAST(@FechaInicio AS DATE) and CAST(@FechaFin AS DATE)) 
				AND P.FechaProgramacion between @FechaInicio and @FechaFin
				AND P.TIPOPROGRAMACION IN(1,2,3,4)))
				--ORDER BY P.FechaProgramacion ASC
	END
	ELSE IF (@sucursal != 'TODO' AND @prog1 = 5)
	BEGIN
	PRINT 'DDA'
	
		((SELECT ROW_NUMBER() OVER ( ORDER BY P.IDPROGRAMACION )'ITEM',
			  substring(CONVERT(VARCHAR(4),P.Anio),3,2)+CONVERT(VARCHAR(6),p.IdProgramacion)CODIGO,			  
			  P.IDPROGRAMACION,
			  p.Anio ANIO,
			  P.TipoProgramacion IDTIPO
			  ,(SELECT TOP 1 CASE WHEN NroTicketPreViaje > 0 THEN 'SI'
									WHEN NroTicketPreViaje IS NULL THEN 'NO'END AS 'ABASTECIO' 
				FROM ReportesApp_Combustible_TicketsSurtidor 
				WHERE NroTicketPreViaje = P.NroTicket AND Fecha between @FechaInicio and @FechaFin) AS ABASTECIO
			  ,P.Zona AS 'ZONA'
			  ,p.FechaCrea 'FECHAREGISTRO'
			  ,P.FechaProgramacion 'FECHAPROGR'
			  ,P.FechaInicio 'FECHA_INICIO'
			  ,P.FechaFin 'FECHA_FIN'
			  ,P.FechaTermino 'FECHA_TERMINO'
			  ,P.idTracto IDTRACTO
			  ,V.NumeroPlaca 'TRACTO'
			  ,V.IndTercero 'TIPOUNIDAD'
			  ,CASE WHEN V.IndTercero = 'P' THEN 'PROPIO'
					WHEN V.IndTercero IS NULL THEN ''
			   ELSE 'TERCERO'
			   END AS 'UNIDAD'
			  ,(LTRIM(RTRIM(PV.Busqueda)))AS 'PROVEEDOR'
			  ,R.NumeroPlaca 'SEMIRREMOLQUE'
			  ,CASE WHEN R.SubTipoVehiculo = '1'THEN 'TRACTO' 
					WHEN R.SubTipoVehiculo ='2' THEN 'PLATAFORMA'
					WHEN R.SubTipoVehiculo ='3' THEN 'TOLVA'
					WHEN R.SubTipoVehiculo ='4' THEN 'FURGON'
					WHEN R.SubTipoVehiculo ='5' THEN 'CORTINERA'
					WHEN R.SubTipoVehiculo ='6' THEN 'TERMOKING'
					WHEN R.SubTipoVehiculo ='7' THEN 'CAMIONETA'
					WHEN R.SubTipoVehiculo ='8' THEN 'CAMION'
					WHEN R.SubTipoVehiculo ='9' THEN 'CISTERNA'
					WHEN R.SubTipoVehiculo IS NULL THEN ''
					END AS 'TIPOSEMIR'
 			  ,P.idSemirremolque IDREMOLQUE			  
			  ,P.IdConductor IDCONDUCTOR
			  ,ltrim(rtrim(C.Nombre)) as 'CONDUCTOR'
			  ,C.Documento DNI
			  ,P.IdConductorApoyo IDAPOYO			  
			  ,P.UnidadAPOYO AS 'UNIDADAPOYO'
			  ,ltrim(rtrim(AP.nombre)) as 'CONDUCTOR_APOYO'
			  ,P.IdCliente IDCLIENTE			  
			  ,P.IdRuta IDRUTA
			  ,RT.Descripcion 'RUTA'
			  ,P.Destino 'DESTINO'
			  ,P.Producto IDPRODUCTO
			  ,PR.Nombre 'PRODUCTO'
			  ,P.Estado IDESTADO			  
			  ,P.ConductorInicio 'CONDUCTOR_INICIO'
			  ,P.PrimerCambio '1° CAMBIO'
			  ,P.SegundoCambio '2° CAMBIO'
			  ,P.TercerCambio '3° CAMBIO'
			  ,CASE WHEN P.Estado = 1 THEN 'PROGRAMADO'
				   WHEN P.Estado = 2 THEN 'PENDIENTE EN LLEGAR'
				   WHEN P.Estado = 3 THEN 'EN ESPERA'       
				   WHEN P.Estado = 4 THEN 'CARGA EN BASE'
				   WHEN P.Estado = 5 THEN 'COLA IN'
				   WHEN P.Estado = 6 THEN 'COLA OUT'
				   WHEN P.Estado = 7 THEN 'CARGANDO'       
				   WHEN P.Estado = 8 THEN 'FUERA DE PLANTA' 
				   WHEN P.Estado = 9 THEN 'ATENDIDO'
				   WHEN P.Estado = 10 THEN 'ANULADO'
				   WHEN P.Estado = 11 THEN 'TERMINADO'
					WHEN P.Estado = 12 THEN 'EN BASE'
				   END AS 'ESTADO'
			  ,ltrim(rtrim(CL.Busqueda)) as 'CLIENTE'
			  ,P.HoraSalida 'SALIDA'
			  ,P.HoraLlegada 'LLEGADA'
			  ,P.FechaDescarga 'DESCARGA',		  
			  CASE WHEN P.EsConsolidado = 1 THEN P.CodViaje + '(C)'
				   ELSE P.CodViaje 
				   END AS 'VIAJE'	
			  ,vj.IdViaje 'IDVIAJE'
			  ,CASE WHEN vj.Estado = 1 THEN 'PENDIENTE'
				   WHEN vj.Estado = 2 THEN 'PROGRAMADO'
				   WHEN vj.Estado = 3 THEN 'EJECUCION'
				   WHEN vj.Estado = 4 THEN 'COMPLETADO'
				   WHEN vj.Estado = 8 THEN 'CANCELADO'       
				   WHEN vj.Estado = 9 THEN 'ANULADO' 
				   END AS 'ESTADOVIAJE'
			  ,CASE WHEN ISNULL(OT.PesoControl,0)>0 THEN OT.PesoControl
			     ELSE P.PesoAlmacen END AS 'PESO'			  
			  ,P.PesoCliente 'PESOCLIENTE'
			  ,CASE WHEN ISNULL(OT.PesoControl,0)>1 and p.PesoCliente>0 THEN 
							P.PesoCliente  - OT.PesoControl
					WHEN ISNULL(P.PesoAlmacen,0)>1 and p.PesoCliente>0 THEN 
							p.PesoCliente - p.PesoAlmacen
					ELSE 0 end as 'MERMA'
			  ,P.Planilla 'PLANILLA'
			  ,(SELECT TOP 1 CASE WHEN NumeroDocumentoInterno IS NOT NULL THEN 'PAGADO'			         
					ELSE '' 
					END AS 'ESTADOCAJA' FROM AP_GastoAdelanto 
				WHERE NumeroDocumentoInterno = P.Planilla AND Persona = C.IdPersona  
					AND Estado = 'PA'  and FechaDocumento>'01-06-2022 00:00:00.000' 
				ORDER BY NumeroAdelanto)AS ESTADOCAJA
			  ,(SELECT TOP 1 CONVERT(VARCHAR(50), ISNULL(ROUND(AP_GastoAdelanto.MONTOTOTAL,2),0))+ ' - '+AP_GastoAdelanto.UltimoUsuario 
				  FROM AP_GastoAdelanto 
				  WHERE NumeroDocumentoInterno =  P.Planilla AND Persona = C.IdPersona  
					AND Estado = 'PA' and FechaDocumento>'01-06-2022 00:00:00.000' 
				 ORDER BY NumeroAdelanto) AS ENTREGADO
			  ,p.Turno as 'TURNO'			  		 
			  ,P.OT AS 'OT'
			  ,P.Viaticos AS 'VIATICOS'
			  ,p.ordenservicio AS 'ORDENSERVICIO'
			  ,P.Sucursal as 'SUCURSAL',
			  CASE WHEN P.TipoProgramacion = 1 THEN 'TOLVAS'
				   WHEN P.TipoProgramacion = 2 THEN 'LINDLEY'
				   WHEN P.TipoProgramacion = 3 THEN 'LIMAGAS'
				   WHEN P.TipoProgramacion = 4 THEN 'GENERAL'
				   WHEN P.TipoProgramacion = 5 THEN 'LIMA' 
				   WHEN P.TipoProgramacion = 6 THEN 'MAQ/CAMIONETAS'
				   WHEN P.TipoProgramacion = 7 THEN 'MTO'
				   WHEN P.TipoProgramacion = 8 THEN 'COMBUSTIBLE'
				   WHEN P.TipoProgramacion = 9 THEN 'LOCAL'
				   END AS 'TIPO',p.guiaEntrega 'GUIAENTREGA',ROUND(P.MontoOrdServ,2) 'MONTORDEN'
			  ,CASE WHEN ISNULL(OT.Guia1,'') = ''  THEN P.Serie          ELSE SUBSTRING( OT.Guia1, 0 ,CHARINDEX('-', OT.Guia1)) END AS 'SERIE'
			  ,CASE WHEN ISNULL(OT.Guia1,'') = ''  THEN P.Numero         ELSE SUBSTRING( OT.Guia1, CHARINDEX('-', OT.Guia1)+1,LEN(OT.Guia1)-CHARINDEX('-', OT.Guia1)) END AS 'GUIA' 
			  ,CASE WHEN ISNULL(OT.Guia1,'') = ''  THEN P.Serie + '-' + P.Numero  ELSE OT.Guia1 END AS 'GUIAT.' 
			  ,CASE WHEN ISNULL(OT.Guia2,'') = ''  THEN P.GuiaRemitente  ELSE OT.Guia2 END AS 'G/R'
			  ,P.Observacion 'OBSERVACION'
			  ,'IR GPS' AS 'UBICACION'	
			  ,P.Comentario'COMENTARIO'	
			  ,P.CantidadDia 'CANTIDADDIA'	   
			   ,P.UsuarioModifica 'USUARIOMOD'
			  ,P.FechaModifica 'FECHAMOD' 
			  ,P.UsuarioCrea
			  ,P.ESINTERNA 'INTERNA' 
			  ,P.STATUSPLANTA
			  ,P.UbigeoPartida 'UBIGEOPARTIDA'
			  ,P.ubigeoLlegada 'UBIGEOLLEGADA'
			  ,P.PlacaMaquinariaCamioneta 'MAQUINARIA' 
			  ,P.CodProgramaProceso 'ENLACE'
			  ,ISNULL((select TOP 1 CONVERT(INT, ISNULL(orden,0)) from  ReportesApp_Operacion_PrevDestinos where IdRuta = P.IdRuta),0)ORDENDESTINO
			  ,(STUFF((SELECT DISTINCT ',' +G.TipoViaje  FROM ReportesApp_Operaciones_GuiasElectronicas G WHERE G.NroTicketProgramacion = P.NroTicket  FOR XML PATH('')), 1, 1, ''))  as 'TipoViaje'
			  -- GERARDO
			  ,CASE WHEN (SELECT COUNT(*) FROM (SELECT DISTINCT Viaje, TipoViaje FROM ReportesApp_Operaciones_GuiasElectronicas
			  WHERE CONVERT(INT,Viaje) = CONVERT(INT,P.CodViaje)) X) = 1 THEN
			  CASE WHEN ((SELECT DISTINCT TipoViaje FROM ReportesApp_Operaciones_GuiasElectronicas WHERE Viaje = P.CodViaje) = 'SALIDA')
			  THEN ISNULL(REND.RendSalida,0.00) ELSE ISNULL(REND.RendRetorno,0.00) END
			  ELSE CASE WHEN (SELECT COUNT(*) FROM (SELECT DISTINCT Viaje, TipoViaje FROM ReportesApp_Operaciones_GuiasElectronicas
			  WHERE CONVERT(INT,Viaje) = CONVERT(INT,P.CodViaje)) X) > 1 THEN ISNULL(REND.RendRetorno,0.00) ELSE 0.00 END
			  END AS 'REND.PROM',
			  (SELECT ISNULL(MAX(DESPACHO.RendimientoFisico),0.00) FROM OP_TR_CargaCombustible AS COMBUSTIBLE 
			  LEFT JOIN OP_TR_DespachoCombustible DESPACHO ON DESPACHO.IdCarga= COMBUSTIBLE.IdCarga
			  WHERE COMBUSTIBLE.IdViaje = VJ.IdViaje) AS 'REND KM/GL'
			  -- GERARDO
			  ,p.ProgOrigen
			  ,vj.FechaCreacion 'FECHA_CREA_VIAJE'
			  ,ISNULL(P.LineaOT,0) AS 'LineaOT'
		  FROM ReportesApp_Operacion_Previaje_Registros P WITH(NOLOCK) 				
				--INNER JOIN ReportesApp_Operacion_Previajes_Consolidados PC ON P.IdProgramacion = PC.IdProgramacion and p.CodViaje = pc.IDViaje
				LEFT JOIN OP_TR_Vehiculo V WITH(NOLOCK) ON V.IdVehiculo = P.idTracto
				LEFT JOIN PersonaMast Pv WITH(NOLOCK) ON V.Proveedor = Pv.Persona
				LEFT JOIN OP_TR_Vehiculo R WITH(NOLOCK) ON R.IdVehiculo = P.idSemirremolque
				LEFT JOIN OP_TR_Conductor C WITH(NOLOCK) ON C.IdConductor = P.IdConductor
				LEFT JOIN OP_TR_Conductor AP WITH(NOLOCK) ON AP.IdConductor = P.IdConductorApoyo
				LEFT JOIN PersonaMast CL WITH(NOLOCK) ON CL.Persona = P.IdCliente
				LEFT JOIN OP_TR_RUTA RT WITH(NOLOCK) ON RT.IDRUTA = P.IdRuta
				-- GERARDO
				LEFT JOIN ME_Maquina M WITH(NOLOCK) ON LTRIM(RTRIM(M.MaquinaCodigo)) = LTRIM(RTRIM(V.NumeroPlaca))
				LEFT JOIN ME_MaquinaMarca ME ON M.Marca = ME.Marca 
				-- GERARDO
				LEFT JOIN OP_AL_Producto PR WITH(NOLOCK) ON  PR.IdProducto = P.Producto
				LEFT JOIN OP_TR_Viaje VJ WITH(NOLOCK) ON VJ.Codigo = CONVERT(VARCHAR(12), P.CodViaje)
				LEFT JOIN OP_GE_OTDetalle OT WITH(NOLOCK) ON OT.IdViaje = VJ.IdViaje AND p.Ot = OT.IdOT and cast(ot.FechaCreacion  as varchar(108)) = cast(vj.FechaCreacion as varchar(108))
				-- GERARDO
				LEFT JOIN ReportesApp_Combustible_Rendimientos_Maestro REND ON REND.idRuta = P.IdRuta AND LTRIM(RTRIM(ME.Descripcion)) = REND.Marca
				AND REND.Modelo LIKE '%'+(LTRIM(RTRIM(M.Modelo))+'%') AND REND.idOperacion LIKE '%'+ CONVERT(VARCHAR,P.TipoProgramacion) +'%'
				-- GERARDO
				--LEFT JOIN ReportesApp_Combustible_TicketsSurtidor CM WITH(NOLOCK)ON P.NroTicket = CM.NroTicketPreViaje
				--LEFT JOIN AP_GastoAdelanto APG WITH (NOLOCK)ON APG.NumeroDocumentoInterno = P.Planilla AND C.IdPersona = APG.Persona AND APG.Estado = 'PA'
				WHERE P.SUCURSAL = @sucursal 
				--and( CAST(P.FechaProgramacion AS DATE) between CAST(@FechaInicio AS DATE) and CAST(@FechaFin AS DATE)) 
				AND P.FechaProgramacion between @FechaInicio and @FechaFin
				AND P.TIPOPROGRAMACION IN(1,2,3,4))
				--WHERE P.IdProgramacion = 520
			
	UNION	ALL	
	(SELECT ROW_NUMBER() OVER ( ORDER BY P.FechaProgramacion )'ITEM',
		    substring(CONVERT(VARCHAR(4), P.Anio),3,2)+ /*'-' + RIGHT('000000'
			  + Ltrim(Rtrim(REPLACE(SUBSTRING(*/CONVERT(VARCHAR(6), p.IdProgramacion)/*, 1,CHARINDEX('-', p.IdProgramacion)),'-',''))),6) */CODIGO,
				  P.IDPROGRAMACION,
				   p.Anio ANIO,
				  P.TipoProgramacion IDTIPO
				  ,'' AS 'ABASTECIO' 
				  ,P.Zona AS 'ZONA'
				  ,PC.fecharegistra 'FECHACREA'
				  ,PC.fecharegistra 'FECHAPROGR'
				  ,P.FechaInicio 'FECHA_INICIO'
				  ,P.FechaFin 'FECHA_FIN'
				  ,P.FechaTermino 'FECHA_TERMINO'
				  ,P.idTracto IDTRACTO
				  ,V.NumeroPlaca 'TRACTO'
				  ,V.IndTercero 'TIPOUNIDAD'
				  ,CASE WHEN V.IndTercero = 'P' THEN 'PROPIO'
				   WHEN V.IndTercero IS NULL THEN ''
				   ELSE 'TERCERO'
				   END AS 'UNIDAD'
				  ,(LTRIM(RTRIM(PV.Busqueda)))AS 'PROVEEDOR'
				  ,R.NumeroPlaca 'SEMIRREMOLQUE'
				  ,CASE WHEN R.SubTipoVehiculo = '1'THEN 'TRACTO' 
					WHEN R.SubTipoVehiculo ='2' THEN 'PLATAFORMA'
					WHEN R.SubTipoVehiculo ='3' THEN 'TOLVA'
					WHEN R.SubTipoVehiculo ='4' THEN 'FURGON'
					WHEN R.SubTipoVehiculo ='5' THEN 'CORTINERA'
					WHEN R.SubTipoVehiculo ='6' THEN 'TERMOKING'
					WHEN R.SubTipoVehiculo ='7' THEN 'CAMIONETA'
					WHEN R.SubTipoVehiculo ='8' THEN 'CAMION'
					WHEN R.SubTipoVehiculo ='9' THEN 'CISTERNA'
					WHEN R.SubTipoVehiculo IS NULL THEN ''
					END AS 'TIPOSEMIR'
 				  ,P.idSemirremolque IDREMOLQUE			  
				  ,P.IdConductor IDCONDUCTOR
				  ,ltrim(rtrim(C.Nombre)) as 'CONDUCTOR'
				  ,C.Documento DNI
				  ,P.IdConductorApoyo IDAPOYO			  
				  ,P.UnidadAPOYO AS 'UNIDADAPOYO'
				  ,ltrim(rtrim(AP.nombre)) as 'CONDUCTOR_APOYO'
				  ,PC.IdCliente IDCLIENTE			  
				  ,Pc.IdRuta IDRUTA
				  ,RT.Descripcion 'RUTA'
				  ,P.Destino 'DESTINO'
				  ,PC.IdProducto IDPRODUCTO
				  ,PR.Nombre 'PRODUCTO'
				  ,P.Estado IDESTADO			  
				  ,P.ConductorInicio 'CONDUCTOR_INICIO'
				  ,P.PrimerCambio '1° CAMBIO'
				  ,P.SegundoCambio '2° CAMBIO'
				  ,P.TercerCambio '3° CAMBIO'
					,CASE WHEN P.Estado = 1 THEN 'PROGRAMADO'
				   WHEN P.Estado = 2 THEN 'PENDIENTE EN LLEGAR'
				   WHEN P.Estado = 3 THEN 'EN ESPERA'       
				   WHEN P.Estado = 4 THEN 'CARGA EN BASE'
				   WHEN P.Estado = 5 THEN 'COLA IN'
				   WHEN P.Estado = 6 THEN 'COLA OUT'
				   WHEN P.Estado = 7 THEN 'CARGANDO'       
				   WHEN P.Estado = 8 THEN 'FUERA DE PLANTA' 
				   WHEN P.Estado = 9 THEN 'ATENDIDO'
				   WHEN P.Estado = 10 THEN 'ANULADO'
				   WHEN P.Estado = 11 THEN 'TERMINADO'
				    WHEN P.Estado = 12 THEN 'EN BASE'
				   END AS 'ESTADO'
				  ,ltrim(rtrim(CL.Busqueda)) as 'CLIENTE'
				  ,P.HoraSalida 'SALIDA'
				  ,P.HoraLlegada 'LLEGADA'
				  ,P.FechaDescarga 'DESCARGA'			  
				  ,/*P.CodViaje 'VIAJE'*/
				  CASE WHEN P.EsConsolidado = 1 THEN P.CodViaje + '(C)'
				   ELSE P.CodViaje 
				   END AS 'VIAJE'	
				  ,vj.IdViaje 'IDVIAJE'
				   ,CASE WHEN vj.Estado = 1 THEN 'PENDIENTE'
				   WHEN vj.Estado = 2 THEN 'PROGRAMADO'
				   WHEN vj.Estado = 3 THEN 'EJECUCION'
				   WHEN vj.Estado = 4 THEN 'COMPLETADO'
				   WHEN vj.Estado = 8 THEN 'CANCELADO'       
				   WHEN vj.Estado = 9 THEN 'ANULADO' 
				   END AS 'ESTADOVIAJE'
				  ,CASE WHEN ISNULL(OT.PesoControl,0)>0 THEN OT.PesoControl
			     ELSE pc.Cantidad END AS 'PESO'
			  --,P.PesoAlmacen 'PESO'
			   ,0 as 'PESOCLIENTE'
			  ,/*CASE WHEN ISNULL(OT.PesoControl,0)>1 and pc.Cantidad>0 THEN 
				pc.Cantidad  - OT.PesoControl
			   WHEN ISNULL(P.PesoAlmacen,0)>1 and p.PesoCliente>0 THEN 
				pc.Cantidad - p.PesoAlmacen
				ELSE 0 end*/0 as 'MERMA'
				  ,P.Planilla 'PLANILLA'
				  /*,CASE WHEN APG.NumeroDocumentoInterno >0 THEN 'PAGADO'			         
					ELSE '' 
					END AS 'ESTADOCAJA'*/
				  ,(SELECT TOP 1 CASE WHEN NumeroDocumentoInterno IS NOT NULL THEN 'PAGADO'			         
					ELSE '' 
					END AS 'ESTADOCAJA' FROM AP_GastoAdelanto 
				WHERE NumeroDocumentoInterno = P.Planilla AND Persona = C.IdPersona  
					AND Estado = 'PA'  and FechaDocumento>'01-06-2022 00:00:00.000' 
				ORDER BY NumeroAdelanto)AS ESTADOCAJA
			  ,(SELECT TOP 1 CONVERT(VARCHAR(50), ISNULL(ROUND(AP_GastoAdelanto.MONTOTOTAL,2),0))+ ' - '+AP_GastoAdelanto.UltimoUsuario 
				  FROM AP_GastoAdelanto 
				  WHERE NumeroDocumentoInterno =  P.Planilla AND Persona = C.IdPersona  
					AND Estado = 'PA' and FechaDocumento>'01-06-2022 00:00:00.000' 
				 ORDER BY NumeroAdelanto) AS ENTREGADO
				  ,p.Turno as 'TURNO'			  		 
				  ,PC.OT AS 'OT'
				  ,P.Viaticos AS 'VIATICOS'
				  ,p.ordenservicio AS 'ORDENSERVICIO'
				  ,P.Sucursal as 'SUCURSAL',
				  CASE WHEN P.TipoProgramacion = 1 THEN 'TOLVAS'
				   WHEN P.TipoProgramacion = 2 THEN 'LINDLEY'
				   WHEN P.TipoProgramacion = 3 THEN 'LIMAGAS'
				   WHEN P.TipoProgramacion = 4 THEN 'GENERAL'
				   WHEN P.TipoProgramacion = 5 THEN 'LIMA' 
				   WHEN P.TipoProgramacion = 6 THEN 'MAQ/CAMIONETAS'
				   WHEN P.TipoProgramacion = 7 THEN 'MTO'
				   WHEN P.TipoProgramacion = 8 THEN 'COMBUSTIBLE'
				   WHEN P.TipoProgramacion = 9 THEN 'LOCAL'
				   END AS 'TIPO',p.guiaEntrega 'GUIAENTREGA',ROUND(P.MontoOrdServ,2)'MONTORDEN'
			  ,CASE WHEN ISNULL(OT.Guia1,'') = ''  THEN P.Serie          ELSE SUBSTRING( OT.Guia1, 0 ,CHARINDEX('-', OT.Guia1)) END AS 'SERIE'
			  ,CASE WHEN ISNULL(OT.Guia1,'') = ''  THEN P.Numero         ELSE SUBSTRING( OT.Guia1, CHARINDEX('-', OT.Guia1)+1,LEN(OT.Guia1)-CHARINDEX('-', OT.Guia1)) END AS 'GUIA' 
			  ,CASE WHEN ISNULL(OT.Guia1,'') = ''  THEN P.Serie + '-' + P.Numero  ELSE OT.Guia1 END AS 'GUIAT.' 
			  ,CASE WHEN ISNULL(OT.Guia2,'') = ''  THEN P.GuiaRemitente  ELSE OT.Guia2 END AS 'G/R'
				  --,P.Serie 'SERIE'
				  --,P.Numero 'GUIA'
				  --,P.Serie +'-'+P.Numero 'GUIAT.'
				  --,P.GuiaRemitente 'G/R'	
				  ,P.Observacion 'OBSERVACION'
				  ,'IR GPS' AS 'UBICACION'	
				  ,P.Comentario'COMENTARIO'	
				  ,P.CantidadDia 'CANTIDADDIA'
				   ,P.UsuarioModifica 'USUARIOMOD'
				  ,P.FechaModifica 'FECHAMOD'
				  ,P.UsuarioCrea 
				  ,P.ESINTERNA 'INTERNA' 	
				  ,P.STATUSPLANTA  
				  ,P.UbigeoPartida 'UBIGEOPARTIDA'
			  ,P.ubigeoLlegada 'UBIGEOLLEGADA' 
			  ,P.PlacaMaquinariaCamioneta 'MAQUINARIA'
			  ,P.CodProgramaProceso 'ENLACE' 
			  ,ISNULL((select TOP 1 CONVERT(INT, ISNULL(orden,0)) from  ReportesApp_Operacion_PrevDestinos where IdRuta = PC.IdRuta),0)ORDENDESTINO	
			  ,(STUFF((SELECT DISTINCT ',' +G.TipoViaje  FROM ReportesApp_Operaciones_GuiasElectronicas G WHERE G.NroTicketProgramacion = P.NroTicket  FOR XML PATH('')), 1, 1, ''))  as 'TipoViaje'
			  -- GERARDO
			  ,CASE WHEN (SELECT COUNT(*) FROM (SELECT DISTINCT Viaje, TipoViaje FROM ReportesApp_Operaciones_GuiasElectronicas
			  WHERE CONVERT(INT,Viaje) = CONVERT(INT,P.CodViaje)) X) = 1 THEN
			  CASE WHEN ((SELECT DISTINCT TipoViaje FROM ReportesApp_Operaciones_GuiasElectronicas WHERE Viaje = P.CodViaje) = 'SALIDA')
			  THEN ISNULL(REND.RendSalida,0.00) ELSE ISNULL(REND.RendRetorno,0.00) END
			  ELSE CASE WHEN (SELECT COUNT(*) FROM (SELECT DISTINCT Viaje, TipoViaje FROM ReportesApp_Operaciones_GuiasElectronicas
			  WHERE CONVERT(INT,Viaje) = CONVERT(INT,P.CodViaje)) X) > 1 THEN ISNULL(REND.RendRetorno,0.00) ELSE 0.00 END
			  END AS 'REND.PROM',
			  (SELECT ISNULL(MAX(DESPACHO.RendimientoFisico),0.00) FROM OP_TR_CargaCombustible AS COMBUSTIBLE 
			  LEFT JOIN OP_TR_DespachoCombustible DESPACHO ON DESPACHO.IdCarga= COMBUSTIBLE.IdCarga
			  WHERE COMBUSTIBLE.IdViaje = VJ.IdViaje) AS 'REND KM/GL'
			  -- GERARDO
			  ,p.ProgOrigen
			  ,vj.FechaCreacion 'FECHA_CREA_VIAJE'
			  ,ISNULL(PC.LineaOT,0) AS 'LineaOT'
		  FROM ReportesApp_Operacion_Previajes_Consolidados PC WITH(NOLOCK)
				INNER JOIN ReportesApp_Operacion_Previaje_Registros P WITH(NOLOCK) ON P.IdProgramacion = PC.IdProgramacion and p.CodViaje = pc.IDViaje
				LEFT JOIN OP_TR_Vehiculo V WITH(NOLOCK) ON V.IdVehiculo = P.idTracto
				LEFT JOIN PersonaMast Pv WITH(NOLOCK) ON V.Proveedor = Pv.Persona
				LEFT JOIN OP_TR_Vehiculo R WITH(NOLOCK) ON R.IdVehiculo = P.idSemirremolque
				LEFT JOIN OP_TR_Conductor C WITH(NOLOCK) ON C.IdConductor = P.IdConductor
				LEFT JOIN OP_TR_Conductor AP WITH(NOLOCK) ON AP.IdConductor = P.IdConductorApoyo
				LEFT JOIN PersonaMast CL WITH(NOLOCK) ON CL.Persona = PC.IdCliente
				LEFT JOIN OP_TR_RUTA RT WITH(NOLOCK) ON RT.IDRUTA = PC.IdRuta
				-- GERARDO
				LEFT JOIN ME_Maquina M WITH(NOLOCK) ON LTRIM(RTRIM(M.MaquinaCodigo)) = LTRIM(RTRIM(V.NumeroPlaca))
				LEFT JOIN ME_MaquinaMarca ME ON M.Marca = ME.Marca 
				-- GERARDO
				LEFT JOIN OP_AL_Producto PR WITH(NOLOCK) ON  PR.IdProducto = PC.IdProducto
				LEFT JOIN OP_TR_Viaje VJ WITH(NOLOCK) ON VJ.Codigo = CONVERT(VARCHAR(12), Pc.IDViaje)
				LEFT JOIN OP_GE_OTDetalle OT WITH(NOLOCK) ON OT.IdViaje = VJ.IdViaje AND PC.Ot = OT.IdOT and cast(ot.FechaCreacion  as varchar(108)) = cast(pc.FechaRegistra as varchar(108))
				-- GERARDO
				LEFT JOIN ReportesApp_Combustible_Rendimientos_Maestro REND ON REND.idRuta = P.IdRuta AND LTRIM(RTRIM(ME.Descripcion)) = REND.Marca
				AND REND.Modelo LIKE '%'+(LTRIM(RTRIM(M.Modelo))+'%') AND REND.idOperacion LIKE '%'+ CONVERT(VARCHAR,P.TipoProgramacion) +'%'
				-- GERARDO			
				--LEFT JOIN ReportesApp_Combustible_TicketsSurtidor CM WITH(NOLOCK)ON P.NroTicket = CM.NroTicketPreViaje
				--LEFT JOIN AP_GastoAdelanto APG WITH (NOLOCK)ON APG.NumeroDocumentoInterno = P.Planilla AND C.IdPersona = APG.Persona AND APG.Estado = 'PA'
			WHERE P.SUCURSAL = @sucursal 
				--and( CAST(P.FechaProgramacion AS DATE) between CAST(@FechaInicio AS DATE) and CAST(@FechaFin AS DATE)) 
				AND P.FechaProgramacion between @FechaInicio and @FechaFin
				AND P.TIPOPROGRAMACION IN(1,2,3,4)))
			--ORDER BY P.FechaProgramacion ASC
	END
	ELSE
	BEGIN

		PRINT 'ULTIMA OPCION'

		SELECT
		X.*
		FROM
		(		
			(SELECT ROW_NUMBER() OVER ( ORDER BY P.IDPROGRAMACION )'ITEM',
			  SUBSTRING(CONVERT(VARCHAR(4), P.Anio),3,2)+CONVERT(VARCHAR(6), p.IdProgramacion) CODIGO,			  
			  P.IDPROGRAMACION,
			  p.Anio ANIO,
			  P.TipoProgramacion IDTIPO
			  ,(SELECT TOP 1 CASE WHEN NroTicketPreViaje > 0 THEN 'SI'
									WHEN NroTicketPreViaje IS NULL THEN 'NO'END AS 'ABASTECIO' 
				FROM ReportesApp_Combustible_TicketsSurtidor 
				WHERE NroTicketPreViaje = P.NroTicket --AND Fecha>= @FechaInicio -1
					/* between @FechaInicio and @FechaFin*/) AS ABASTECIO
			  ,P.Zona AS 'ZONA'
			  ,p.FechaCrea 'FECHAREGISTRO'
			  ,P.FechaProgramacion 'FECHAPROGR'
			  ,P.FechaInicio 'FECHA_INICIO'
			  ,P.FechaFin 'FECHA_FIN'
			  ,P.FechaTermino 'FECHA_TERMINO'
			  ,P.idTracto IDTRACTO
			  ,V.NumeroPlaca 'TRACTO'
			  ,V.IndTercero 'TIPOUNIDAD'
			  ,CASE WHEN V.IndTercero = 'P' THEN 'PROPIO'
					WHEN V.IndTercero IS NULL THEN ''
			   ELSE 'TERCERO'
			   END AS 'UNIDAD'
			  ,(LTRIM(RTRIM(PV.Busqueda)))AS 'PROVEEDOR'
			  ,R.NumeroPlaca 'SEMIRREMOLQUE'
			  ,CASE WHEN R.SubTipoVehiculo = '1'THEN 'TRACTO' 
					WHEN R.SubTipoVehiculo ='2' THEN 'PLATAFORMA'
					WHEN R.SubTipoVehiculo ='3' THEN 'TOLVA'
					WHEN R.SubTipoVehiculo ='4' THEN 'FURGON'
					WHEN R.SubTipoVehiculo ='5' THEN 'CORTINERA'
					WHEN R.SubTipoVehiculo ='6' THEN 'TERMOKING'
					WHEN R.SubTipoVehiculo ='7' THEN 'CAMIONETA'
					WHEN R.SubTipoVehiculo ='8' THEN 'CAMION'
					WHEN R.SubTipoVehiculo ='9' THEN 'CISTERNA'
					WHEN R.SubTipoVehiculo IS NULL THEN ''
					END AS 'TIPOSEMIR'
 			  ,P.idSemirremolque IDREMOLQUE			  
			  ,P.IdConductor IDCONDUCTOR
			  ,ltrim(rtrim(C.Nombre)) as 'CONDUCTOR'
			  ,C.Documento DNI
			  ,P.IdConductorApoyo IDAPOYO			  
			  ,P.UnidadAPOYO AS 'UNIDADAPOYO'
			  ,ltrim(rtrim(AP.nombre)) as 'CONDUCTOR_APOYO'
			  ,P.IdCliente IDCLIENTE			  
			  ,P.IdRuta IDRUTA
			  ,RT.Descripcion 'RUTA'
			  ,P.Destino 'DESTINO'
			  ,P.Producto IDPRODUCTO
			  ,PR.Nombre 'PRODUCTO'
			  ,P.Estado IDESTADO			  
			  ,P.ConductorInicio 'CONDUCTOR_INICIO'
			  ,P.PrimerCambio '1° CAMBIO'
			  ,P.SegundoCambio '2° CAMBIO'
			  ,P.TercerCambio '3° CAMBIO'
			  ,CASE WHEN P.Estado = 1 THEN 'PROGRAMADO'
				   WHEN P.Estado = 2 THEN 'PENDIENTE EN LLEGAR'
				   WHEN P.Estado = 3 THEN 'EN ESPERA'       
				   WHEN P.Estado = 4 THEN 'CARGA EN BASE'
				   WHEN P.Estado = 5 THEN 'COLA IN'
				   WHEN P.Estado = 6 THEN 'COLA OUT'
				   WHEN P.Estado = 7 THEN 'CARGANDO'       
				   WHEN P.Estado = 8 THEN 'FUERA DE PLANTA' 
				   WHEN P.Estado = 9 THEN 'ATENDIDO'
				   WHEN P.Estado = 10 THEN 'ANULADO'
				   WHEN P.Estado = 11 THEN 'TERMINADO'
					WHEN P.Estado = 12 THEN 'EN BASE'
				   END AS 'ESTADO'
			  ,ltrim(rtrim(CL.Busqueda)) as 'CLIENTE'
			  ,P.HoraSalida 'SALIDA'
			  ,P.HoraLlegada 'LLEGADA'
			  ,P.FechaDescarga 'DESCARGA',		  
			  CASE WHEN P.EsConsolidado = 1 THEN P.CodViaje + '(C)'
				   ELSE P.CodViaje 
				   END AS 'VIAJE'	
			  ,vj.IdViaje 'IDVIAJE'
			  ,CASE WHEN vj.Estado = 1 THEN 'PENDIENTE'
				   WHEN vj.Estado = 2 THEN 'PROGRAMADO'
				   WHEN vj.Estado = 3 THEN 'EJECUCION'
				   WHEN vj.Estado = 4 THEN 'COMPLETADO'
				   WHEN vj.Estado = 8 THEN 'CANCELADO'       
				   WHEN vj.Estado = 9 THEN 'ANULADO' 
				   END AS 'ESTADOVIAJE'
			  ,CASE WHEN ISNULL(OT.PesoControl,0)>0 THEN OT.PesoControl
			     ELSE P.PesoAlmacen END AS 'PESO'			  
			  ,P.PesoCliente 'PESOCLIENTE'
			  ,CASE WHEN ISNULL(OT.PesoControl,0)>1 and p.PesoCliente>0 THEN 
							P.PesoCliente  - OT.PesoControl
					WHEN ISNULL(P.PesoAlmacen,0)>1 and p.PesoCliente>0 THEN 
							p.PesoCliente - p.PesoAlmacen
					ELSE 0 end as 'MERMA'
			  ,P.Planilla 'PLANILLA'
			  ,(SELECT TOP 1 CASE WHEN NumeroDocumentoInterno IS NOT NULL THEN 'PAGADO'			         
					ELSE '' 
					END AS 'ESTADOCAJA' FROM AP_GastoAdelanto 
				WHERE NumeroDocumentoInterno = P.Planilla AND Persona = C.IdPersona  
					AND Estado = 'PA'  and FechaDocumento >'01-06-2022 00:00:00.000' --between @FechaInicio and @FechaFin
				ORDER BY NumeroAdelanto)AS ESTADOCAJA
			  ,(SELECT TOP 1 CONVERT(VARCHAR(50), ISNULL(ROUND(AP_GastoAdelanto.MONTOTOTAL,2),0))+ ' - '+AP_GastoAdelanto.UltimoUsuario 
				  FROM AP_GastoAdelanto 
				  WHERE NumeroDocumentoInterno =  P.Planilla AND Persona = C.IdPersona  
					AND Estado = 'PA' and FechaDocumento>'01-06-2022 00:00:00.000' --between @FechaInicio and @FechaFin 
				 ORDER BY NumeroAdelanto) AS ENTREGADO
			  ,p.Turno as 'TURNO'			  		 
			  ,P.OT AS 'OT'
			  ,P.Viaticos AS 'VIATICOS'
			  ,p.ordenservicio AS 'ORDENSERVICIO'
			  ,P.Sucursal as 'SUCURSAL',
			  CASE WHEN P.TipoProgramacion = 1 THEN 'TOLVAS'
				   WHEN P.TipoProgramacion = 2 THEN 'LINDLEY'
				   WHEN P.TipoProgramacion = 3 THEN 'LIMAGAS'
				   WHEN P.TipoProgramacion = 4 THEN 'GENERAL'
				   WHEN P.TipoProgramacion = 5 THEN 'LIMA' 
				   WHEN P.TipoProgramacion = 6 THEN 'MAQ/CAMIONETAS'
				   WHEN P.TipoProgramacion = 7 THEN 'MTO'
				   WHEN P.TipoProgramacion = 8 THEN 'COMBUSTIBLE'
				   WHEN P.TipoProgramacion = 9 THEN 'LOCAL'
				   END AS 'TIPO',p.guiaEntrega 'GUIAENTREGA',ROUND(P.MontoOrdServ,2) 'MONTORDEN' -- SELECT * FROM ReportesApp_Operacion_Previaje_Registros WHERE IDPROGRAMACION = 20352 AND Anio = 2023 select * from OP_GE_OTDETALLE WHERE IDVIAJE = 353329
			  ,CASE WHEN ISNULL(OT.Guia1,'') = ''  THEN P.Serie          ELSE SUBSTRING( OT.Guia1, 0 ,CHARINDEX('-', OT.Guia1)) END AS 'SERIE'
			  ,CASE WHEN ISNULL(OT.Guia1,'') = ''  THEN P.Numero         ELSE SUBSTRING( OT.Guia1, CHARINDEX('-', OT.Guia1)+1,LEN(OT.Guia1)-CHARINDEX('-', OT.Guia1)) END AS 'GUIA' 
			  ,CASE WHEN ISNULL(OT.Guia1,'') = ''  THEN P.Serie + '-' + P.Numero  ELSE OT.Guia1 END AS 'GUIAT.' 
			  ,CASE WHEN ISNULL(OT.Guia2,'') = ''  THEN P.GuiaRemitente  ELSE OT.Guia2 END AS 'G/R'
			  /*,P.Serie AS 'SERIE'
			  ,P.Numero AS 'GUIA'
			  ,P.Serie AS 'GUIAT.'
			  ,P.GuiaRemitente AS 'G/R'*/
			  ,P.Observacion 'OBSERVACION'
			  ,'IR GPS' AS 'UBICACION'	
			  ,P.Comentario'COMENTARIO'	
			  ,P.CantidadDia 'CANTIDADDIA'	   
			   ,P.UsuarioModifica 'USUARIOMOD'
			  ,P.FechaModifica 'FECHAMOD' 
			  ,P.UsuarioCrea
			  ,P.ESINTERNA 'INTERNA' 
			  ,P.STATUSPLANTA
			  ,P.UbigeoPartida 'UBIGEOPARTIDA'
			  ,P.ubigeoLlegada 'UBIGEOLLEGADA'
			  ,P.PlacaMaquinariaCamioneta 'MAQUINARIA' 
			  ,P.CodProgramaProceso 'ENLACE'
			  ,ISNULL((select TOP 1 CONVERT(INT, ISNULL(orden,0)) from  ReportesApp_Operacion_PrevDestinos where IdRuta = P.IdRuta),0)ORDENDESTINO
			  ,(STUFF((SELECT DISTINCT ',' +G.TipoViaje  FROM ReportesApp_Operaciones_GuiasElectronicas G WHERE G.NroTicketProgramacion = P.NroTicket  FOR XML PATH('')), 1, 1, ''))  as 'TipoViaje'
			  -- GERARDO
			  ,CASE WHEN (SELECT COUNT(*) FROM (SELECT DISTINCT Viaje, TipoViaje FROM ReportesApp_Operaciones_GuiasElectronicas
			  WHERE CONVERT(INT,Viaje) = CONVERT(INT,P.CodViaje)) X) = 1 THEN
			  CASE WHEN ((SELECT DISTINCT TipoViaje FROM ReportesApp_Operaciones_GuiasElectronicas WHERE Viaje = P.CodViaje) = 'SALIDA')
			  THEN ISNULL(REND.RendSalida,0.00) ELSE ISNULL(REND.RendRetorno,0.00) END
			  ELSE CASE WHEN (SELECT COUNT(*) FROM (SELECT DISTINCT Viaje, TipoViaje FROM ReportesApp_Operaciones_GuiasElectronicas
			  WHERE CONVERT(INT,Viaje) = CONVERT(INT,P.CodViaje)) X) > 1 THEN ISNULL(REND.RendRetorno,0.00) ELSE 0.00 END
			  END AS 'REND.PROM',
			  (SELECT ISNULL(MAX(DESPACHO.RendimientoFisico),0.00) FROM OP_TR_CargaCombustible AS COMBUSTIBLE 
			  LEFT JOIN OP_TR_DespachoCombustible DESPACHO ON DESPACHO.IdCarga= COMBUSTIBLE.IdCarga
			  WHERE COMBUSTIBLE.IdViaje = VJ.IdViaje) AS 'REND KM/GL'
			  -- GERARDO
			  ,p.ProgOrigen
			  ,vj.FechaCreacion 'FECHA_CREA_VIAJE'
			  ,ISNULL(P.LineaOT,0) AS 'LineaOT'
		  FROM ReportesApp_Operacion_Previaje_Registros P WITH(NOLOCK)  				
				--INNER JOIN ReportesApp_Operacion_Previajes_Consolidados PC ON P.IdProgramacion = PC.IdProgramacion and p.CodViaje = pc.IDViaje
				LEFT JOIN OP_TR_Vehiculo V WITH(NOLOCK) ON V.IdVehiculo = P.idTracto
				LEFT JOIN PersonaMast Pv WITH(NOLOCK) ON V.Proveedor = Pv.Persona
				LEFT JOIN OP_TR_Vehiculo R WITH(NOLOCK) ON R.IdVehiculo = P.idSemirremolque
				LEFT JOIN OP_TR_Conductor C WITH(NOLOCK) ON C.IdConductor = P.IdConductor
				LEFT JOIN OP_TR_Conductor AP WITH(NOLOCK) ON AP.IdConductor = P.IdConductorApoyo
				LEFT JOIN PersonaMast CL WITH(NOLOCK) ON CL.Persona = P.IdCliente
				LEFT JOIN OP_TR_RUTA RT WITH(NOLOCK) ON RT.IDRUTA = P.IdRuta
				-- GERARDO
				LEFT JOIN ME_Maquina M WITH(NOLOCK) ON LTRIM(RTRIM(M.MaquinaCodigo)) = LTRIM(RTRIM(V.NumeroPlaca))
				LEFT JOIN ME_MaquinaMarca ME ON M.Marca = ME.Marca 
				-- GERARDO
				LEFT JOIN OP_AL_Producto PR WITH(NOLOCK) ON  PR.IdProducto = P.Producto
				LEFT JOIN OP_TR_Viaje VJ WITH(NOLOCK) ON VJ.Codigo = CONVERT(VARCHAR(12), P.CodViaje)
				-- GERARDO
				LEFT JOIN ReportesApp_Combustible_Rendimientos_Maestro REND ON REND.idRuta = P.IdRuta AND LTRIM(RTRIM(ME.Descripcion)) = REND.Marca
				AND REND.Modelo LIKE '%'+(LTRIM(RTRIM(M.Modelo))+'%') AND REND.idOperacion LIKE '%'+ CONVERT(VARCHAR,P.TipoProgramacion) +'%'
				-- GERARDO
				LEFT JOIN OP_GE_OTDetalle OT WITH(NOLOCK) ON OT.IdViaje = VJ.IdViaje  AND P.Ot = OT.IdOT
															and cast(ot.FechaCreacion  as varchar(108)) = cast(vj.FechaCreacion as varchar(108))
															AND OT.FechaInicio >= @FechaInicio
				--LEFT JOIN ReportesApp_Combustible_TicketsSurtidor CM WITH(NOLOCK)ON P.NroTicket = CM.NroTicketPreViaje
				--LEFT JOIN AP_GastoAdelanto APG WITH (NOLOCK)ON APG.NumeroDocumentoInterno = P.Planilla AND C.IdPersona = APG.Persona AND APG.Estado = 'PA'
				WHERE P.SUCURSAL = @sucursal AND  p.TipoProgramacion = @prog1
				--and( CAST(P.FechaProgramacion AS DATE) between CAST(@FechaInicio AS DATE) and CAST(@FechaFin AS DATE))
				AND P.FechaProgramacion between @FechaInicio and @FechaFin
			) 
				--WHERE P.IdProgramacion = 520
		
		UNION	ALL	
		
		(SELECT 
		ROW_NUMBER() OVER ( ORDER BY P.FechaProgramacion )'ITEM',
		    substring(CONVERT(VARCHAR(4), P.Anio),3,2)+ /*'-' + RIGHT('000000'
			  + Ltrim(Rtrim(REPLACE(SUBSTRING(*/CONVERT(VARCHAR(6), p.IdProgramacion)/*, 1,CHARINDEX('-', p.IdProgramacion)),'-',''))),6) */CODIGO,
				  P.IDPROGRAMACION,
				   p.Anio ANIO,
				  P.TipoProgramacion IDTIPO
				  ,'' AS 'ABASTECIO' 
				  ,P.Zona AS 'ZONA'
				  ,PC.fecharegistra 'FECHACREA'
				  ,PC.fecharegistra 'FECHAPROGR'
				  ,P.FechaInicio 'FECHA_INICIO'
				  ,P.FechaFin 'FECHA_FIN'
				  ,P.FechaTermino 'FECHA_TERMINO'
				  ,P.idTracto IDTRACTO
				  ,V.NumeroPlaca 'TRACTO'
				  ,V.IndTercero 'TIPOUNIDAD'
				  ,CASE WHEN V.IndTercero = 'P' THEN 'PROPIO'
				   WHEN V.IndTercero IS NULL THEN ''
				   ELSE 'TERCERO'
				   END AS 'UNIDAD'
				  ,(LTRIM(RTRIM(PV.Busqueda)))AS 'PROVEEDOR'
				  ,R.NumeroPlaca 'SEMIRREMOLQUE'
				  ,CASE WHEN R.SubTipoVehiculo = '1'THEN 'TRACTO' 
					WHEN R.SubTipoVehiculo ='2' THEN 'PLATAFORMA'
					WHEN R.SubTipoVehiculo ='3' THEN 'TOLVA'
					WHEN R.SubTipoVehiculo ='4' THEN 'FURGON'
					WHEN R.SubTipoVehiculo ='5' THEN 'CORTINERA'
					WHEN R.SubTipoVehiculo ='6' THEN 'TERMOKING'
					WHEN R.SubTipoVehiculo ='7' THEN 'CAMIONETA'
					WHEN R.SubTipoVehiculo ='8' THEN 'CAMION'
					WHEN R.SubTipoVehiculo ='9' THEN 'CISTERNA'
					WHEN R.SubTipoVehiculo IS NULL THEN ''
					END AS 'TIPOSEMIR'
 				  ,P.idSemirremolque IDREMOLQUE			  
				  ,P.IdConductor IDCONDUCTOR
				  ,ltrim(rtrim(C.Nombre)) as 'CONDUCTOR'
				  ,C.Documento DNI				  
				  ,P.IdConductorApoyo IDAPOYO			  
				  ,P.UnidadAPOYO AS 'UNIDADAPOYO'
				  ,ltrim(rtrim(AP.nombre)) as 'CONDUCTOR_APOYO'
				  ,PC.IdCliente IDCLIENTE			  
				  ,Pc.IdRuta IDRUTA
				  ,RT.Descripcion 'RUTA'
				  ,P.Destino 'DESTINO'
				  ,PC.IdProducto IDPRODUCTO
				  ,PR.Nombre 'PRODUCTO'
				  ,P.Estado IDESTADO			  
				  ,P.ConductorInicio 'CONDUCTOR_INICIO'
				  ,P.PrimerCambio '1° CAMBIO'
				  ,P.SegundoCambio '2° CAMBIO'
				  ,P.TercerCambio '3° CAMBIO'
					,CASE WHEN P.Estado = 1 THEN 'PROGRAMADO'
				   WHEN P.Estado = 2 THEN 'PENDIENTE EN LLEGAR'
				   WHEN P.Estado = 3 THEN 'EN ESPERA'       
				   WHEN P.Estado = 4 THEN 'CARGA EN BASE'
				   WHEN P.Estado = 5 THEN 'COLA IN'
				   WHEN P.Estado = 6 THEN 'COLA OUT'
				   WHEN P.Estado = 7 THEN 'CARGANDO'       
				   WHEN P.Estado = 8 THEN 'FUERA DE PLANTA' 
				   WHEN P.Estado = 9 THEN 'ATENDIDO'
				   WHEN P.Estado = 10 THEN 'ANULADO'
				   WHEN P.Estado = 11 THEN 'TERMINADO'
				    WHEN P.Estado = 12 THEN 'EN BASE'
				   END AS 'ESTADO'
				  ,ltrim(rtrim(CL.Busqueda)) as 'CLIENTE'
				  ,P.HoraSalida 'SALIDA'
				  ,P.HoraLlegada 'LLEGADA'
				  ,P.FechaDescarga 'DESCARGA'			  
				  ,/*P.CodViaje 'VIAJE'*/
				  CASE WHEN P.EsConsolidado = 1 THEN P.CodViaje + '(C)'
				   ELSE P.CodViaje 
				   END AS 'VIAJE'	
				  ,vj.IdViaje 'IDVIAJE'
				   ,CASE WHEN vj.Estado = 1 THEN 'PENDIENTE'
				   WHEN vj.Estado = 2 THEN 'PROGRAMADO'
				   WHEN vj.Estado = 3 THEN 'EJECUCION'
				   WHEN vj.Estado = 4 THEN 'COMPLETADO'
				   WHEN vj.Estado = 8 THEN 'CANCELADO'       
				   WHEN vj.Estado = 9 THEN 'ANULADO' 
				   END AS 'ESTADOVIAJE'
				  ,0 AS 'PESO'
			  --,P.PesoAlmacen 'PESO'
			  ,0 as 'PESOCLIENTE'
			  ,/*CASE WHEN ISNULL(OT.PesoControl,0)>1 and pc.Cantidad>0 THEN 
				pc.Cantidad  - OT.PesoControl
			   WHEN ISNULL(P.PesoAlmacen,0)>1 and p.PesoCliente>0 THEN 
				pc.Cantidad - p.PesoAlmacen
				ELSE 0 end*/0 as 'MERMA'
				  ,P.Planilla 'PLANILLA'
				  /*,CASE WHEN APG.NumeroDocumentoInterno >0 THEN 'PAGADO'			         
					ELSE '' 
					END AS 'ESTADOCAJA'*/
				  ,(SELECT TOP 1 CASE WHEN NumeroDocumentoInterno IS NOT NULL THEN 'PAGADO'			         
					ELSE '' 
					END AS 'ESTADOCAJA' FROM AP_GastoAdelanto 
				WHERE NumeroDocumentoInterno = P.Planilla AND Persona = C.IdPersona  
					AND Estado = 'PA'  and FechaDocumento >'01-06-2022 00:00:00.000' --between @FechaInicio and @FechaFin
				ORDER BY NumeroAdelanto)AS ESTADOCAJA
			  ,(SELECT TOP 1 CONVERT(VARCHAR(50), ISNULL(ROUND(AP_GastoAdelanto.MONTOTOTAL,2),0))+ ' - '+AP_GastoAdelanto.UltimoUsuario 
				  FROM AP_GastoAdelanto 
				  WHERE NumeroDocumentoInterno =  P.Planilla --AND Persona = C.IdPersona  
					AND Estado = 'PA' and FechaDocumento>'01-06-2022 00:00:00.000' --between @FechaInicio and @FechaFin 
				 ORDER BY NumeroAdelanto) AS ENTREGADO
				  ,p.Turno as 'TURNO'			  		 
				  ,PC.OT AS 'OT'
				  ,P.Viaticos AS 'VIATICOS'
				  ,p.ordenservicio AS 'ORDENSERVICIO'
				  ,P.Sucursal as 'SUCURSAL',
				  CASE WHEN P.TipoProgramacion = 1 THEN 'TOLVAS'
				   WHEN P.TipoProgramacion = 2 THEN 'LINDLEY'
				   WHEN P.TipoProgramacion = 3 THEN 'LIMAGAS'
				   WHEN P.TipoProgramacion = 4 THEN 'GENERAL'
				   WHEN P.TipoProgramacion = 5 THEN 'LIMA' 
				   WHEN P.TipoProgramacion = 6 THEN 'MAQ/CAMIONETAS'
				   WHEN P.TipoProgramacion = 7 THEN 'MTO'
				   WHEN P.TipoProgramacion = 8 THEN 'COMBUSTIBLE'
				   WHEN P.TipoProgramacion = 9 THEN 'LOCAL'
				   END AS 'TIPO',p.guiaEntrega 'GUIAENTREGA',ROUND(P.MontoOrdServ,2)'MONTORDEN'
				  ,CASE WHEN ISNULL(OT.Guia1,'') = ''  THEN P.Serie          ELSE SUBSTRING( OT.Guia1, 0 ,CHARINDEX('-', OT.Guia1)) END AS 'SERIE'
				  ,CASE WHEN ISNULL(OT.Guia1,'') = ''  THEN P.Numero         ELSE SUBSTRING( OT.Guia1, CHARINDEX('-', OT.Guia1)+1,LEN(OT.Guia1)-CHARINDEX('-', OT.Guia1)) END AS 'GUIA' 
				  ,CASE WHEN ISNULL(OT.Guia1,'') = ''  THEN P.Serie + '-' + P.Numero  ELSE OT.Guia1 END AS 'GUIAT.' 
				  ,CASE WHEN ISNULL(OT.Guia2,'') = ''  THEN P.GuiaRemitente  ELSE OT.Guia2 END AS 'G/R'
				  --,P.Serie 'SERIE'
				  --,P.Numero 'GUIA'
				  --,P.Serie +'-'+P.Numero 'GUIAT.'
				  --,P.GuiaRemitente 'G/R'	
				  ,P.Observacion 'OBSERVACION'
				  ,'IR GPS' AS 'UBICACION'	
				  ,P.Comentario'COMENTARIO'	
				  ,P.CantidadDia 'CANTIDADDIA'
				   ,P.UsuarioModifica 'USUARIOMOD'
				  ,P.FechaModifica 'FECHAMOD' 
				  ,P.UsuarioCrea
				  ,P.ESINTERNA 'INTERNA' 	
				  ,P.STATUSPLANTA  
				  ,P.UbigeoPartida 'UBIGEOPARTIDA'
			  ,P.ubigeoLlegada 'UBIGEOLLEGADA' 
			  ,P.PlacaMaquinariaCamioneta 'MAQUINARIA'
			  ,P.CodProgramaProceso 'ENLACE'
			  ,ISNULL((select TOP 1 CONVERT(INT,ISNULL(orden,0)) FROM  ReportesApp_Operacion_PrevDestinos WHERE IdRuta = PC.IdRuta),0) ORDENDESTINO
			  ,(STUFF((SELECT DISTINCT ',' +G.TipoViaje  FROM ReportesApp_Operaciones_GuiasElectronicas G WHERE G.NroTicketProgramacion = P.NroTicket  FOR XML PATH('')), 1, 1, ''))  as 'TipoViaje'
			  -- GERARDO
			  ,CASE WHEN (SELECT COUNT(*) FROM (SELECT DISTINCT Viaje, TipoViaje FROM ReportesApp_Operaciones_GuiasElectronicas
			  WHERE CONVERT(INT,Viaje) = CONVERT(INT,P.CodViaje)) X) = 1 THEN
			  CASE WHEN ((SELECT DISTINCT TipoViaje FROM ReportesApp_Operaciones_GuiasElectronicas WHERE Viaje = P.CodViaje) = 'SALIDA')
			  THEN ISNULL(REND.RendSalida,0.00) ELSE ISNULL(REND.RendRetorno,0.00) END
			  ELSE CASE WHEN (SELECT COUNT(*) FROM (SELECT DISTINCT Viaje, TipoViaje FROM ReportesApp_Operaciones_GuiasElectronicas
			  WHERE CONVERT(INT,Viaje) = CONVERT(INT,P.CodViaje)) X) > 1 THEN ISNULL(REND.RendRetorno,0.00) ELSE 0.00 END
			  END AS 'REND.PROM',
			  (SELECT ISNULL(MAX(DESPACHO.RendimientoFisico),0.00) FROM OP_TR_CargaCombustible AS COMBUSTIBLE 
			  LEFT JOIN OP_TR_DespachoCombustible DESPACHO ON DESPACHO.IdCarga= COMBUSTIBLE.IdCarga
			  WHERE COMBUSTIBLE.IdViaje = VJ.IdViaje) AS 'REND KM/GL'
			  -- GERARDO
			  ,p.ProgOrigen
			  ,vj.FechaCreacion 'FECHA_CREA_VIAJE'
			  ,ISNULL(PC.LineaOT,0) AS 'LineaOT'
			  FROM ReportesApp_Operacion_Previajes_Consolidados PC WITH(NOLOCK) 
					INNER JOIN ReportesApp_Operacion_Previaje_Registros P ON P.IdProgramacion = PC.IdProgramacion and p.CodViaje = pc.IDViaje
					LEFT JOIN OP_TR_Vehiculo V WITH(NOLOCK) ON V.IdVehiculo = P.idTracto
					LEFT JOIN PersonaMast Pv WITH(NOLOCK) ON V.Proveedor = Pv.Persona
					LEFT JOIN OP_TR_Vehiculo R WITH(NOLOCK) ON R.IdVehiculo = P.idSemirremolque
					LEFT JOIN OP_TR_Conductor C WITH(NOLOCK) ON C.IdConductor = P.IdConductor
					LEFT JOIN OP_TR_Conductor AP WITH(NOLOCK) ON AP.IdConductor = P.IdConductorApoyo
					LEFT JOIN PersonaMast CL WITH(NOLOCK) ON CL.Persona = PC.IdCliente
					LEFT JOIN OP_TR_RUTA RT WITH(NOLOCK) ON RT.IDRUTA = PC.IdRuta
					-- GERARDO
					LEFT JOIN ME_Maquina M WITH(NOLOCK) ON LTRIM(RTRIM(M.MaquinaCodigo)) = LTRIM(RTRIM(V.NumeroPlaca))
					LEFT JOIN ME_MaquinaMarca ME ON M.Marca = ME.Marca 
					-- GERARDO
					LEFT JOIN OP_AL_Producto PR WITH(NOLOCK) ON  PR.IdProducto = PC.IdProducto
					LEFT JOIN OP_TR_Viaje VJ WITH(NOLOCK) ON VJ.Codigo = CONVERT(VARCHAR(12), Pc.IDViaje)
					-- GERARDO
					LEFT JOIN ReportesApp_Combustible_Rendimientos_Maestro REND ON REND.idRuta = P.IdRuta AND LTRIM(RTRIM(ME.Descripcion)) = REND.Marca
					AND REND.Modelo LIKE '%'+(LTRIM(RTRIM(M.Modelo))+'%') AND REND.idOperacion LIKE '%'+ CONVERT(VARCHAR,P.TipoProgramacion) +'%'
					-- GERARDO
					LEFT JOIN OP_GE_OTDetalle OT WITH(NOLOCK) ON OT.IdViaje = VJ.IdViaje AND PC.Ot = OT.IdOT and cast(ot.FechaCreacion  as varchar(108)) = cast(pc.FechaRegistra as varchar(108)) 
					--LEFT JOIN ReportesApp_Combustible_TicketsSurtidor CM WITH(NOLOCK)ON P.NroTicket = CM.NroTicketPreViaje
					--LEFT JOIN AP_GastoAdelanto APG WITH (NOLOCK)ON APG.NumeroDocumentoInterno = P.Planilla AND C.IdPersona = APG.Persona AND APG.Estado = 'PA'

				WHERE P.SUCURSAL = @sucursal AND  p.TipoProgramacion = @prog1
					--and( CAST(P.FechaProgramacion AS DATE) between CAST(@FechaInicio AS DATE) and CAST(@FechaFin AS DATE))
					AND P.FechaProgramacion between @FechaInicio and @FechaFin
			) 
		) X		
				ORDER BY X.ITEM ASC
				
	END
END
