--PROPIEDAD PARA MOSTRAR DATATABLE SIN COMPRIMIR: OptionsView -- ColumnAutoWidth = False, RowAutoHeight = True
--PROPIEDAD PARA NO EDITAR DATATABLE: Editable = False, ReadOnly = True

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=============================================
-- Author: <GERARDO REYES>
-- Create date: <16-05-2023>
-- Description: <PERMISOS PARA MOSTRAR PREVIAJES>
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Operaciones_ListarPreviajeProgramacion]
@user varchar(30)
AS
BEGIN
	IF @user ='GPSTRUJILLO'
	BEGIN
	 SET @user = 'SVILLA'
	END
	IF @user ='SISTEMAS'
	BEGIN
	 SET @user = 'JVASQUEZR'
	END
	
	IF @user ='FARENAS2'
	BEGIN
		SET @user ='FARENAS'	
	END
	
	IF @user ='WROMERO'
	BEGIN
		SET @user ='WEROMERO'	
	END
	
	SELECT RP.IDOPERACION,RP.DESCRIPCION,RA.NivelAcceso 'ACCESOS' FROM ReportesApp_Operacion_Previaje_Operaciones RP INNER JOIN ReportesApp_Operacion_Previaje_Accesos RA  ON RP.IDOPERACION = RA.IDOPERACION
	WHERE RA.USUARIO =@user ORDER BY RP.IdOperacion
END

INSERT INTO ReportesApp_Operacion_Previaje_Accesos(Usuario,IdOperacion,Sucursal,NivelAcceso)
SELECT 'GREYES'	,2,	'TRUJILLO',	2
INSERT INTO ReportesApp_Operacion_Previaje_Accesos(Usuario,IdOperacion,Sucursal,NivelAcceso)
SELECT 'GREYES'	,3,	'TRUJILLO',	2
INSERT INTO ReportesApp_Operacion_Previaje_Accesos(Usuario,IdOperacion,Sucursal,NivelAcceso)
SELECT 'GREYES'	,4,	'TRUJILLO',	2
INSERT INTO ReportesApp_Operacion_Previaje_Accesos(Usuario,IdOperacion,Sucursal,NivelAcceso)
SELECT 'GREYES'	,5,	'TODO',1
INSERT INTO ReportesApp_Operacion_Previaje_Accesos(Usuario,IdOperacion,Sucursal,NivelAcceso)
SELECT 'GREYES'	,NULL,	'LIMA',	2
INSERT INTO ReportesApp_Operacion_Previaje_Accesos(Usuario,IdOperacion,Sucursal,NivelAcceso)
SELECT 'GREYES'	,9,	'TRUJILLO',	2

SELECT * FROM ReportesApp_Operacion_Previaje_Accesos WHERE Usuario = 'GREYES'
DELETE FROM ReportesApp_Operacion_Previaje_Accesos WHERE Usuario = 'GREYES'

-- Ir a OPERACIONES --> PROGRAMACION PREVIAJES --> Acciones --> Configurar columnas --> Seleccionar toda la tabla

-- CREAR TABLA ReportesApp_Operacion_Previajes_Faltantes_Motivo (idMotivo INT, Descripcion VARCHAR(50)) Y LLENARLA

-- CREAR TABLA ReportesApp_Operacion_Previajes_Faltantes_Asume (idAsume INT, Descripcion VARCHAR(50)) Y LLENARLA

-- CREAR TABLA ReportesApp_Operacion_Previajes_Faltantes_Estado (idEstado INT, Descripcion VARCHAR(50)) Y LLENARLA

-- CREAR TABLA ReportesApp_Operacion_Previajes_Faltantes (idFaltante INT, Anio INT, NroTicket INT, IdProgramacion INT, idMotivo INT, NroInforme VARCHAR(20), Descripcion VARCHAR(MAX), GuiaT VARCHAR(50), GuiaR VARCHAR(50), Factura VARCHAR(50), idAsume INT, idEstado INT, Monto DECIMAL(16,2), Comentarios VARCHAR(MAX), UsuarioCreacion VARCHAR(50), FechaCreacion DATETIME, UltimoUsuario VARCHAR(50), UltimaModificacion DATETIME)

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 17-05-2023
-- Description:	INSERTAR REGISTROS FALTANTES
-- =============================================
CREATE PROCEDURE [dbo].[ReportesApp_Operaciones_Previajes_Faltantes_Insertar]
@NroTicket INT,
@Usuario VARCHAR(20),
@idMotivo INT
AS
DECLARE @Exito VARCHAR(MAX)
DECLARE @correlativo INT

SET @Exito = '0 = Faltante Añadido'
SET @correlativo = (SELECT MAX(idFaltante) FROM ReportesApp_Operacion_Previajes_Faltantes WHERE Anio = YEAR(GETDATE()))
SET @correlativo = ISNULL(@correlativo,0) + 1 

IF (@NroTicket = (SELECT NroTicket FROM ReportesApp_Operacion_Previajes_Faltantes WHERE NroTicket = @NroTicket))
BEGIN
	/*
	UPDATE ReportesApp_Operacion_Previajes_Faltantes
	SET idMotivo = @idMotivo
	WHERE NroTicket = @NroTicket
	*/
	SET @Exito = '-1 = Este viaje ya fue registrado.'
	GOTO Terminar
END

BEGIN TRAN
BEGIN TRY
	INSERT INTO ReportesApp_Operacion_Previajes_Faltantes(idFaltante, Anio, NroTicket, IdProgramacion, idMotivo, GuiaT, GuiaR, idAsume, idEstado, UsuarioCreacion, FechaCreacion, UltimoUsuario, UltimaModificacion)
	SELECT @correlativo, R.Anio, @NroTicket, R.IdProgramacion, @idMotivo,
	(SELECT TOP 1 ISNULL(Serie,'')+'-'+ISNULL (Numero,'') FROM OP_TR_Guia WHERE IdViaje = VJ.IdViaje AND IdConductor = R.IdConductor AND ESTADO NOT IN (9)),
	(SELECT TOP 1 ISNULL(GUIAREMITENTE,'') FROM OP_TR_Guia WHERE IdViaje = VJ.IdViaje AND IdConductor = R.IdConductor AND ESTADO NOT IN (9)),
	1,1, @Usuario, GETDATE(), @Usuario, GETDATE()
	FROM ReportesApp_Operacion_Previaje_Registros R WITH(NOLOCK)
	LEFT JOIN OP_TR_Viaje VJ WITH(NOLOCK) ON VJ.Codigo = CAST(R.CodViaje AS VARCHAR(12))
	WHERE R.NroTicket = @NroTicket
END TRY

BEGIN CATCH
	SET @exito = RTRIM(LTRIM(STR(ERROR_NUMBER()))) + '=' + ERROR_MESSAGE()
	ROLLBACK
	GOTO Terminar
END CATCH

IF @@TRANCOUNT > 0 
	COMMIT;
    --ROLLBACK
    
TERMINAR:
IF LEFT(@Exito,1)='-' OR cast(left(@Exito,1) AS INT)<0
BEGIN
	DECLARE @storedProcedureName VARCHAR(100)
	SELECT @storedProcedureName = OBJECT_NAME(@@PROCID)
	SET @exito = @exito + CHAR(13)+CHAR(13)+'SP Name: '+@storedProcedureName
END
SELECT @exito exito

-----------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 14-06-2023
-- Description:	INSERTAR FALTANTES SIN VIAJE
-- =============================================
CREATE PROCEDURE [dbo].[ReportesApp_Operaciones_Previajes_Faltantes_InsertarFaltanteSinViaje]
@FechaIncidente DATETIME,
@Cliente VARCHAR(50),
@idMotivo INT,
@Usuario VARCHAR(20)
AS
DECLARE @Exito VARCHAR(MAX)
DECLARE @correlativo INT

SET @Exito = '0 = Faltante Añadido'
SET @correlativo = (SELECT MAX(idFaltante) FROM ReportesApp_Operacion_Previajes_Faltantes WHERE Anio = YEAR(GETDATE()))
SET @correlativo = ISNULL(@correlativo,0) + 1 

BEGIN TRAN
BEGIN TRY
	INSERT INTO ReportesApp_Operacion_Previajes_Faltantes(idFaltante, Anio, NroTicket, idMotivo, idAsume, idEstado, FechaIncidente, Cliente, UsuarioCreacion, FechaCreacion, UltimoUsuario, UltimaModificacion)
	SELECT @correlativo, YEAR(@FechaIncidente), @correlativo, @idMotivo, 1,1, @FechaIncidente, @Cliente, @Usuario, GETDATE(), @Usuario, GETDATE()
END TRY

BEGIN CATCH
	SET @exito = RTRIM(LTRIM(STR(ERROR_NUMBER()))) + '=' + ERROR_MESSAGE()
	ROLLBACK
	GOTO Terminar
END CATCH

IF @@TRANCOUNT > 0 
	COMMIT;
    --ROLLBACK
    
TERMINAR:
IF LEFT(@Exito,1)='-' OR cast(left(@Exito,1) AS INT)<0
BEGIN
	DECLARE @storedProcedureName VARCHAR(100)
	SELECT @storedProcedureName = OBJECT_NAME(@@PROCID)
	SET @exito = @exito + CHAR(13)+CHAR(13)+'SP Name: '+@storedProcedureName
END
SELECT @exito exito

-----------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 19-05-2023
-- Description:	LISTAR REGISTRO DE PREVIAJES
-- =============================================
CREATE PROCEDURE [dbo].[ReportesApp_Operaciones_Previajes_Faltantes_ListarRegistro]
@NroTicket INT
AS
BEGIN
	SET NOCOUNT ON;
    SELECT F.FechaProgramacion AS 'FECHA_VIAJE', OP.IdOperacion, OP.Descripcion AS 'PROGRAMACION', V.NumeroPlaca AS 'TRACTO',
	LTRIM(RTRIM(C.Nombre)) AS 'CONDUCTOR', R.NumeroPlaca AS 'SEMIRREMOLQUE', RT.IdRuta, RT.Descripcion AS 'RUTA',
	LTRIM(RTRIM(CL.Busqueda)) as 'CLIENTE', F.CodViaje AS 'CODIGO_VIAJE', F.FechaDescarga AS 'FECHA_DESCARGA',
    (SELECT TOP 1 ISNULL(Serie,'')+'-'+ISNULL (Numero,'') FROM OP_TR_Guia WHERE IdViaje = VJ.IdViaje AND IdConductor = F.IdConductor AND ESTADO NOT IN (9)) AS 'GT',
	(SELECT TOP 1 ISNULL(GUIAREMITENTE,'') FROM OP_TR_Guia WHERE IdViaje = VJ.IdViaje AND IdConductor = F.IdConductor AND ESTADO NOT IN (9)) AS 'GR'
    FROM ReportesApp_Operacion_Previaje_Registros F
    LEFT JOIN OP_TR_Vehiculo V WITH(NOLOCK) ON V.IdVehiculo = F.idTracto
    LEFT JOIN ReportesApp_Operacion_Previaje_Operaciones OP WITH(NOLOCK) ON OP.IdOperacion = F.TipoProgramacion
    LEFT JOIN OP_TR_Viaje VJ WITH(NOLOCK) ON VJ.Codigo = CAST(F.CodViaje AS VARCHAR(12))
    LEFT JOIN OP_TR_Conductor C WITH(NOLOCK) ON C.IdConductor = F.IdConductor
    LEFT JOIN OP_TR_Vehiculo R WITH(NOLOCK) ON R.IdVehiculo = F.idSemirremolque
    LEFT JOIN OP_TR_RUTA RT WITH(NOLOCK) ON RT.IDRUTA = F.IdRuta
    LEFT JOIN PersonaMast CL WITH(NOLOCK) ON CL.Persona = F.IdCliente
    WHERE F.NroTicket = @NroTicket
END

-----------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 20-05-2023
-- Description:	LISTAR FALTANTES
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Operaciones_Previajes_Faltantes_ListarPreviaje]
@NroTicket INT
AS
BEGIN
	SET NOCOUNT ON;
    SELECT A.idAsume, A.Descripcion AS 'ASUME', E.idEstado, E.Descripcion AS 'ESTADO', F.Descripcion AS 'DESCRIPCION',
    F.Factura AS 'FACTURA', F.Monto AS 'MONTO', F.Moneda AS 'MONEDA', F.Comentarios AS 'COMENTARIOS'
    FROM ReportesApp_Operacion_Previajes_Faltantes F
    LEFT JOIN ReportesApp_Operacion_Previajes_Faltantes_Asume A WITH(NOLOCK) ON A.idAsume = F.idAsume
    LEFT JOIN ReportesApp_Operacion_Previajes_Faltantes_Estado E WITH(NOLOCK) ON E.idEstado = F.idEstado
    WHERE F.NroTicket = @NroTicket
END

-----------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 11-07-2023
-- Description:	BUSCAR FALTANTE SIN VIAJE
-- =============================================
CREATE PROCEDURE [dbo].[ReportesApp_Operaciones_Previajes_Faltantes_BuscarFaltanteSinViaje]
@NroTicket INT
AS
BEGIN
	SET NOCOUNT ON;
    SELECT F.FechaIncidente AS 'FECHA_INCIDENTE', F.idMotivo AS 'idMotivo', F.Cliente AS 'CLIENTE'
    FROM ReportesApp_Operacion_Previajes_Faltantes F
    WHERE F.NroTicket = @NroTicket
END

-----------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 11-07-2023
-- Description:	MODIFICAR FALTANTE SIN VIAJE
-- =============================================
CREATE PROCEDURE [dbo].[ReportesApp_Operaciones_Previajes_Faltantes_ModificarSinViaje]
@NroTicket INT,
@FechaIncidente DATETIME,
@Cliente VARCHAR(50),
@idMotivo INT,
@Usuario VARCHAR(20)
AS
DECLARE @Exito VARCHAR(MAX)

SET @Exito = '0 = Faltante Modificado.'

IF (@NroTicket = (SELECT NroTicket FROM ReportesApp_Operacion_Previajes_Faltantes WHERE idEstado = 2 AND NroTicket = @NroTicket) AND @Usuario = 'VAZABACHE')
BEGIN
	SET @Exito = '-10 = Este ticket ya fue cerrado.'
	GOTO Terminar
END

BEGIN TRAN
BEGIN TRY
	UPDATE ReportesApp_Operacion_Previajes_Faltantes
	SET FechaIncidente = @FechaIncidente,
		Factura = @FechaIncidente,
		Cliente = @Cliente,
		idMotivo = @idMotivo,
		UltimoUsuario = @Usuario,
		UltimaModificacion = GETDATE()
	WHERE NroTicket = @NroTicket
END TRY

BEGIN CATCH
	SET @exito = RTRIM(LTRIM(STR(ERROR_NUMBER()))) + '=' + ERROR_MESSAGE()
	ROLLBACK
	GOTO Terminar
END CATCH

IF @@TRANCOUNT > 0 
	COMMIT;
    --ROLLBACK
    
TERMINAR:
IF LEFT(@Exito,1)='-' OR cast(left(@Exito,1) AS INT)<0
BEGIN
	DECLARE @storedProcedureName VARCHAR(100)
	SELECT @storedProcedureName = OBJECT_NAME(@@PROCID)
	SET @exito = @exito + CHAR(13)+CHAR(13)+'SP Name: '+@storedProcedureName
END
SELECT @exito exito

-----------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 17-05-2023
-- Description:	LISTAR REGISTRAR FALTANTES
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Operaciones_Previajes_Faltantes_Listar]
@NombreConductor VARCHAR(250),
@FechaInicio VARCHAR(11),
@FechaFin VARCHAR(11),
@idEstado INT
AS
DECLARE @FINICIO DATETIME = @FechaInicio
DECLARE @FFIN DATETIME = @FechaFin + ' 23:59'
BEGIN
    SELECT F.idMotivo AS 'idMotivo',
    CONVERT(varchar(20), RIGHT('000'+LTRIM(RTRIM(F.idFaltante)),3)) + '-' + CONVERT(varchar(20), F.Anio) AS 'NRO_INFORME',
    E.Descripcion AS 'ESTADO', M.Descripcion AS 'MOTIVO', F.Descripcion AS 'DESCRIPCION_FALTANTE', F.NroTicket AS 'PROGRAMACIÓN',
    F.FechaIncidente AS 'FECHA_INCIDENTE', F.Cliente AS 'CLIENTE', RE.FechaProgramacion AS 'FECHA_VIAJE', V.NumeroPlaca AS 'TRACTO',
    LTRIM(RTRIM(C.Nombre)) AS 'CONDUCTOR', R.NumeroPlaca AS 'SEMIRREMOLQUE', RT.Descripcion AS 'RUTA', LTRIM(RTRIM(CL.Busqueda)) AS 'CLIENTE_VIAJE',
    RE.CodViaje AS 'CODIGO_VIAJE', RE.FechaDescarga AS 'FECHA_DESCARGA', F.GuiaT AS 'GT', F.GuiaR AS 'GR', F.Factura AS 'FACTURA',
    A.idAsume, A.Descripcion AS 'ASUME', F.Monto AS 'MONTO', F.Moneda AS 'MONEDA', E.idEstado, F.Comentarios AS 'COMENTARIO_ADICIONAL', F.UsuarioCreacion,
    F.FechaCreacion, F.UltimoUsuario, F.UltimaModificacion FROM ReportesApp_Operacion_Previajes_Faltantes F
    LEFT JOIN ReportesApp_Operacion_Previaje_Registros RE WITH(NOLOCK) ON F.NroTicket = RE.NroTicket
    LEFT JOIN ReportesApp_Operacion_Previajes_Faltantes_Motivo M WITH(NOLOCK) ON M.idMotivo = F.idMotivo
    LEFT JOIN OP_TR_Vehiculo V WITH(NOLOCK) ON V.IdVehiculo = RE.idTracto
    LEFT JOIN OP_TR_Conductor C WITH(NOLOCK) ON C.IdConductor = RE.IdConductor
    LEFT JOIN OP_TR_Vehiculo R WITH(NOLOCK) ON R.IdVehiculo = RE.idSemirremolque
    LEFT JOIN OP_TR_RUTA RT WITH(NOLOCK) ON RT.IDRUTA = RE.IdRuta
    LEFT JOIN PersonaMast CL WITH(NOLOCK) ON CL.Persona = RE.IdCliente
    LEFT JOIN ReportesApp_Operacion_Previajes_Faltantes_Asume A WITH(NOLOCK) ON A.idAsume = F.idAsume
    LEFT JOIN ReportesApp_Operacion_Previajes_Faltantes_Estado E WITH(NOLOCK) ON E.idEstado = F.idEstado
    WHERE (((RE.FechaProgramacion BETWEEN @FINICIO AND @FFIN) OR (F.FechaIncidente BETWEEN @FINICIO AND @FFIN))
    AND (F.idEstado = @idEstado) AND ((C.Nombre LIKE '%' + @NombreConductor + '%') OR (F.Cliente LIKE '%' + @NombreConductor + '%')))
    ORDER BY idFaltante DESC  
END

-----------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 17-05-2023
-- Description:	LISTAR REGISTRAR FALTANTES
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Operaciones_Previajes_Faltantes_ListarTodos]
@NombreConductor VARCHAR(250),
@FechaInicio VARCHAR(11),
@FechaFin VARCHAR(11)
AS
DECLARE @FINICIO DATETIME = @FechaInicio
DECLARE @FFIN DATETIME = @FechaFin + ' 23:59'
BEGIN
    SELECT F.idMotivo AS 'idMotivo',
    CONVERT(varchar(20), RIGHT('000'+LTRIM(RTRIM(F.idFaltante)),3)) + '-' + CONVERT(varchar(20), F.Anio) AS 'NRO_INFORME',
    E.Descripcion AS 'ESTADO', M.Descripcion AS 'MOTIVO', F.Descripcion AS 'DESCRIPCION_FALTANTE', F.NroTicket AS 'PROGRAMACIÓN',
    F.FechaIncidente AS 'FECHA_INCIDENTE', F.Cliente AS 'CLIENTE', RE.FechaProgramacion AS 'FECHA_VIAJE', V.NumeroPlaca AS 'TRACTO',
    LTRIM(RTRIM(C.Nombre)) AS 'CONDUCTOR', R.NumeroPlaca AS 'SEMIRREMOLQUE', RT.Descripcion AS 'RUTA', LTRIM(RTRIM(CL.Busqueda)) AS 'CLIENTE_VIAJE',
    RE.CodViaje AS 'CODIGO_VIAJE', RE.FechaDescarga AS 'FECHA_DESCARGA', F.GuiaT AS 'GT', F.GuiaR AS 'GR', F.Factura AS 'FACTURA',
    A.idAsume, A.Descripcion AS 'ASUME', F.Monto AS 'MONTO', F.Moneda AS 'MONEDA', E.idEstado, F.Comentarios AS 'COMENTARIO_ADICIONAL', F.UsuarioCreacion,
    F.FechaCreacion, F.UltimoUsuario, F.UltimaModificacion FROM ReportesApp_Operacion_Previajes_Faltantes F
    LEFT JOIN ReportesApp_Operacion_Previaje_Registros RE WITH(NOLOCK) ON F.NroTicket = RE.NroTicket
    LEFT JOIN ReportesApp_Operacion_Previajes_Faltantes_Motivo M WITH(NOLOCK) ON M.idMotivo = F.idMotivo
    LEFT JOIN OP_TR_Vehiculo V WITH(NOLOCK) ON V.IdVehiculo = RE.idTracto
    LEFT JOIN OP_TR_Conductor C WITH(NOLOCK) ON C.IdConductor = RE.IdConductor
    LEFT JOIN OP_TR_Vehiculo R WITH(NOLOCK) ON R.IdVehiculo = RE.idSemirremolque
    LEFT JOIN OP_TR_RUTA RT WITH(NOLOCK) ON RT.IDRUTA = RE.IdRuta
    LEFT JOIN PersonaMast CL WITH(NOLOCK) ON CL.Persona = RE.IdCliente
    LEFT JOIN ReportesApp_Operacion_Previajes_Faltantes_Asume A WITH(NOLOCK) ON A.idAsume = F.idAsume
    LEFT JOIN ReportesApp_Operacion_Previajes_Faltantes_Estado E WITH(NOLOCK) ON E.idEstado = F.idEstado
    WHERE (((RE.FechaProgramacion BETWEEN @FINICIO AND @FFIN) OR (F.FechaIncidente BETWEEN @FINICIO AND @FFIN))
    AND ((C.Nombre LIKE '%' + @NombreConductor + '%') OR (F.Cliente LIKE '%' + @NombreConductor + '%')))
    ORDER BY idFaltante DESC  
END

-----------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 17-05-2023
-- Description:	MODIFICAR REGISTROS FALTANTES
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Operaciones_Previajes_Faltantes_Modificar]
@NroTicket INT,
@Descripcion VARCHAR(MAX),
@Factura VARCHAR(50),
@idAsume INT,
@Monto DECIMAL(16,2),
@Moneda VARCHAR(10),
@idEstado INT,
@Comentarios VARCHAR(MAX),
@Usuario VARCHAR(20)
AS
DECLARE @Exito VARCHAR(MAX)

SET @Exito = '0=Registro Modificado'

IF (@NroTicket = (SELECT NroTicket FROM ReportesApp_Operacion_Previajes_Faltantes WHERE idEstado = 2 AND NroTicket = @NroTicket) AND @Usuario = 'VAZABACHE')
BEGIN
	SET @Exito = '-10=El ticket ya fue cerrado'
	GOTO Terminar
END

BEGIN TRAN
BEGIN TRY
	UPDATE ReportesApp_Operacion_Previajes_Faltantes
	SET Descripcion = @Descripcion,
		Factura = @Factura,
		idAsume = @idAsume,
		Monto = @Monto,
		Moneda = @Moneda,
		idEstado = @idEstado,
		Comentarios = @Comentarios,
		UltimoUsuario = @Usuario,
		UltimaModificacion = GETDATE()
	WHERE NroTicket = @NroTicket
END TRY

BEGIN CATCH
	SET @exito = RTRIM(LTRIM(STR(ERROR_NUMBER()))) + '=' + ERROR_MESSAGE()
	ROLLBACK
	GOTO Terminar
END CATCH

IF @@TRANCOUNT > 0 
	COMMIT;
    --ROLLBACK
    
TERMINAR:
IF LEFT(@Exito,1)='-' OR cast(left(@Exito,1) AS INT)<0
BEGIN
	DECLARE @storedProcedureName VARCHAR(100)
	SELECT @storedProcedureName = OBJECT_NAME(@@PROCID)
	SET @exito = @exito + CHAR(13)+CHAR(13)+'SP Name: '+@storedProcedureName
END
SELECT @exito exito

-----------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 22-05-2023
-- Description:	CERRAR REGISTROS FALTANTES
-- =============================================
CREATE PROCEDURE [dbo].[ReportesApp_Operaciones_Previajes_Faltantes_Cerrar]
@NroTicket INT,
@Usuario VARCHAR(20)
AS
DECLARE @Exito VARCHAR(MAX)

SET @Exito = '0=Cerrado Correctamente'

IF (@NroTicket = (SELECT NroTicket FROM ReportesApp_Operacion_Previajes_Faltantes WHERE idEstado = 2 AND NroTicket = @NroTicket))
BEGIN
	SET @Exito = '-10=El ticket ya fue cerrado'
	GOTO Terminar
END

BEGIN TRAN
BEGIN TRY
	UPDATE ReportesApp_Operacion_Previajes_Faltantes
	SET idEstado = 2,
		UltimoUsuario = @Usuario,
		UltimaModificacion = GETDATE()
	WHERE NroTicket = @NroTicket
END TRY

BEGIN CATCH
	SET @exito = RTRIM(LTRIM(STR(ERROR_NUMBER()))) + '=' + ERROR_MESSAGE()
	ROLLBACK
	GOTO Terminar
END CATCH

IF @@TRANCOUNT > 0 
	COMMIT;
    --ROLLBACK
    
TERMINAR:
IF LEFT(@Exito,1)='-' OR cast(left(@Exito,1) AS INT)<0
BEGIN
	DECLARE @storedProcedureName VARCHAR(100)
	SELECT @storedProcedureName = OBJECT_NAME(@@PROCID)
	SET @exito = @exito + CHAR(13)+CHAR(13)+'SP Name: '+@storedProcedureName
END
SELECT @exito exito

-----------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 18-05-2023
-- Description:	LISTAR MOTIVO DE FALTANTES
-- =============================================
CREATE PROCEDURE [dbo].[ReportesApp_Operaciones_Previajes_Faltantes_ListarMotivo]
AS
BEGIN
	SELECT idMotivo, Descripcion
	FROM ReportesApp_Operacion_Previajes_Faltantes_Motivo
END

-----------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 18-05-2023
-- Description:	LISTAR ASUME DE FALTANTES
-- =============================================
CREATE PROCEDURE [dbo].[ReportesApp_Operaciones_Previajes_Faltantes_ListarAsume]
AS
BEGIN
	SELECT idAsume, Descripcion
	FROM ReportesApp_Operacion_Previajes_Faltantes_Asume
END

-----------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 18-05-2023
-- Description:	LISTAR ESTADO DE FALTANTES
-- =============================================
CREATE PROCEDURE [dbo].[ReportesApp_Operaciones_Previajes_Faltantes_ListarEstado]
AS
BEGIN
	SELECT idEstado, Descripcion
	FROM ReportesApp_Operacion_Previajes_Faltantes_Estado
END

------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 06-06-2023
-- Description:	LISTAR CLIENTES
-- =============================================
CREATE PROCEDURE [dbo].[ReportesApp_Operaciones_Previajes_Faltantes_ListarClientes]
@Filtro VARCHAR(100)
AS
BEGIN
	SELECT TOP(100)
	Persona, RTRIM(LTRIM(NombreCompleto))AS 'NOMBRECOMPLETO', Busqueda, Documento
	FROM PersonaMast WITH(NOLOCK) WHERE ((EsCliente = 'S') AND (Busqueda LIKE '%' + @Filtro + '%'))
END

------------------------------------------------

--QUITAR PERMISOS DE LISTA
UPDATE ReportesApp_Reporte 
SET esMenu = 0
where nombre = 'REGISTRO DE FALTANTES DE MERCADERÍA'

/*
exec ReportesApp_Operaciones_Previajes_ListarPorProgramacion @sucursal=N'TODO',@FechaInicio=N'17/04/2023',@FechaFin=N'17/04/2023',@prog1=5

SELECT * FROM ReportesApp_Operacion_Previaje_Registros

SELECT * FROM ReportesApp_Operacion_Previajes_Faltantes
DELETE FROM ReportesApp_Operacion_Previajes_Faltantes
*/