
-- CREAR TABLA ReportesApp_Costos_Presupuesto_CuentasContablesFiltro Y LLENARLA

-- CREAR TABLA ReportesApp_Costos_Presupuesto_OrdenesServicio

-- CREAR TABLA ReportesApp_Costos_Presupuesto_NotasSalida

-- CREAR TABLA ReportesApp_Costos_Presupuesto_Registros

-----------------------------------------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		REYES HORNA, GERARDO
-- Create date: 11/12/2024
-- Description:	LISTAR CENTRO COSTO
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Costos_ControlPresupuestal_ListarCentroCosto] 
@Usuario VARCHAR(20)
AS
BEGIN
	SELECT RTRIM(CC.CostCenter) AS 'CostCenter', RTRIM(CC.LocalName) AS 'LocalName'
	FROM AC_COSTCENTERMST CC
	INNER JOIN SY_SeguridadAutorizaciones A ON RTRIM(A.Concepto) = RTRIM(CC.CostCenter)
	WHERE (CC.Status = 'A') AND (CC.CostCenter NOT IN ('020504')) AND A.Usuario = @Usuario
	ORDER BY RTRIM(CC.LocalName)
END

-----------------------------------------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 10-12-2024
-- Description:	LISTAR CONTROL DE PRESUPUESTO
-- =============================================
/*
exec ReportesApp_Costos_ControlPresupuestal_Listar @Opcion=0,@Periodo=N'202503',@CentroCosto=N'060107',@Documento=1,@Inicio=61,@Final=120
*/
ALTER PROCEDURE [dbo].[ReportesApp_Costos_ControlPresupuestal_Listar]
@Opcion INT,
@Periodo VARCHAR(20),
@CentroCosto VARCHAR(20),
@Documento INT,
@Inicio INT,
@Final INT
AS
BEGIN
	IF (@Documento = 1) BEGIN	-- ORDEN DE SERVICIO
		IF (NOT EXISTS(SELECT TOP(1) * FROM ReportesApp_Costos_Presupuesto_OrdenesServicio WHERE Periodo = @Periodo)) BEGIN 
			DELETE FROM ReportesApp_Costos_Presupuesto_OrdenesServicio
			
			INSERT INTO ReportesApp_Costos_Presupuesto_OrdenesServicio (Nro,Periodo,CuentaContable,DescripcionCC,Voucher,CentroCosto,DescripcionCCO,Proyecto,NombreProyecto,Proveedor,
			NombreProveedor,DocumentoReferencia,DescripcionVoucher,DescripcionDetalle,OrdenServicio)
			SELECT ROW_NUMBER() OVER(ORDER BY VD.voucherno ASC), @Periodo, LTRIM(RTRIM(VD.Account)), LTRIM(RTRIM(CC.Descripcion)),LTRIM(RTRIM(VD.voucherno)),LTRIM(RTRIM(VD.CostCenter)),
			LTRIM(RTRIM(AC.LocalName)),LTRIM(RTRIM(VD.afe)),LTRIM(RTRIM(A.localname)), VD.Vendor,LTRIM(RTRIM(P.NombreCompleto)),LTRIM(RTRIM(VD.invoice)),LTRIM(RTRIM(VH.vouchertitle)),
			LTRIM(RTRIM(VD.description)), O.ReferenciaTipoDocumento+'-'+LTRIM(RTRIM(O.ReferenciaNumeroDocumento))
			FROM voucherdetail VD
			INNER JOIN ReportesApp_Costos_Presupuesto_CuentasContablesFiltro CC WITH(NOLOCK) ON CC.CuentaContable = LTRIM(RTRIM(VD.Account))
			LEFT JOIN AC_CostCenterMst AC WITH(NOLOCK) ON (AC.CostCenter = LTRIM(RTRIM(VD.CostCenter)))
			LEFT JOIN afemst A WITH(NOLOCK) ON (LTRIM(RTRIM(VD.afe)) = LTRIM(RTRIM(A.afe)))
			LEFT JOIN PersonaMast P WITH(NOLOCK) ON P.Persona = VD.Vendor
			LEFT JOIN voucherheader VH WITH(NOLOCK) ON VH.companyowner = '10000000' AND (VH.period = VD.period) AND (VD.voucherno = VH.voucherno) AND (VH.status = 'PR')
			LEFT JOIN Obligaciones O WITH(NOLOCK) ON SUBSTRING(O.Voucher,0,7) = @Periodo AND VD.voucherno = SUBSTRING(O.Voucher,7,20)
			AND O.TipoDocumento = SUBSTRING(VD.invoice,0,3) AND O.NumeroDocumento = SUBSTRING(VD.invoice,4,20)
			WHERE (VD.companyowner = '10000000') AND (VD.period = @Periodo) AND (VD.voucherno LIKE '%AP%')
			ORDER BY VD.voucherno, VD.Account
		END		SELECT COUNT(*) AS 'CANTIDAD' FROM ReportesApp_Costos_Presupuesto_OrdenesServicio		IF (@Opcion = 1) BEGIN
			SELECT Nro AS 'NRO', CuentaContable AS 'CUENTA_CONTABLE', DescripcionCC AS 'DESCRIPCION_CC', Voucher AS 'VOUCHER', CentroCosto AS 'CENTRO_COSTO',
			DescripcionCCO AS 'DESCRIPCION_CCO', Proyecto AS 'PROYECTO', NombreProyecto AS 'NOMBRE_PROYECTO', Proveedor AS 'PROVEEDOR', NombreProveedor AS 'NOMBRE_PROVEEDOR',			DocumentoReferencia AS 'DOCUMENTO_REFERENCIA', DescripcionVoucher AS 'DESCRIPCION_VOUCHER', DescripcionDetalle AS 'DESCRIPCION_DETALLE', OrdenServicio AS 'ORDEN_SERVICIO'			FROM ReportesApp_Costos_Presupuesto_OrdenesServicio			WHERE (CentroCosto = @CentroCosto)			ORDER BY Nro		END		ELSE BEGIN			SELECT Nro AS 'NRO', CuentaContable AS 'CUENTA_CONTABLE', DescripcionCC AS 'DESCRIPCION_CC', Voucher AS 'VOUCHER', CentroCosto AS 'CENTRO_COSTO',
			DescripcionCCO AS 'DESCRIPCION_CCO', Proyecto AS 'PROYECTO', NombreProyecto AS 'NOMBRE_PROYECTO', Proveedor AS 'PROVEEDOR', NombreProveedor AS 'NOMBRE_PROVEEDOR',			DocumentoReferencia AS 'DOCUMENTO_REFERENCIA', DescripcionVoucher AS 'DESCRIPCION_VOUCHER', DescripcionDetalle AS 'DESCRIPCION_DETALLE', OrdenServicio AS 'ORDEN_SERVICIO'			FROM ReportesApp_Costos_Presupuesto_OrdenesServicio			WHERE (Nro BETWEEN @Inicio AND @Final)			ORDER BY Nro		END	END	IF (@Documento = 2) BEGIN	-- NOTA DE SALIDA
		IF (NOT EXISTS(SELECT TOP(1) * FROM ReportesApp_Costos_Presupuesto_NotasSalida WHERE Periodo = @Periodo)) BEGIN
			DELETE FROM ReportesApp_Costos_Presupuesto_NotasSalida

			INSERT INTO ReportesApp_Costos_Presupuesto_NotasSalida(Nro,Periodo,CuentaContable,DescripcionCC,Voucher,CentroCosto,DescripcionCCO,Proyecto,NombreProyecto,Proveedor,
			NombreProveedor,NotaSalida,DescripcionVoucher,DescripcionDetalle)
			SELECT ROW_NUMBER() OVER(ORDER BY VD.voucherno ASC), @Periodo,LTRIM(RTRIM(VD.Account)),LTRIM(RTRIM(CC.Descripcion)),LTRIM(RTRIM(VD.voucherno)),LTRIM(RTRIM(VD.CostCenter)),
			LTRIM(RTRIM(AC.LocalName)),LTRIM(RTRIM(VD.afe)),LTRIM(RTRIM(A.localname)), VD.Vendor,LTRIM(RTRIM(P.NombreCompleto)),LTRIM(RTRIM(VD.invoice)),LTRIM(RTRIM(VH.vouchertitle)),
			LTRIM(RTRIM(VD.description)) FROM voucherdetail VD
			INNER JOIN ReportesApp_Costos_Presupuesto_CuentasContablesFiltro CC ON CC.CuentaContable = LTRIM(RTRIM(VD.Account))
			LEFT JOIN AC_CostCenterMst AC ON (AC.CostCenter = LTRIM(RTRIM(VD.CostCenter)))
			LEFT JOIN afemst A ON (LTRIM(RTRIM(VD.afe)) = LTRIM(RTRIM(A.afe)))
			LEFT JOIN PersonaMast P ON P.Persona = VD.Vendor
			LEFT JOIN voucherheader VH ON VH.companyowner = '10000000' AND (VH.period = VD.period) AND (VD.voucherno = VH.voucherno) AND (VH.status = 'PR') 
			WHERE (VD.companyowner = '10000000') AND (VD.period = @Periodo) AND (VD.voucherno LIKE '%WH%')
			ORDER BY VD.voucherno, VD.Account
		END

		SELECT COUNT(*) AS 'CANTIDAD' FROM ReportesApp_Costos_Presupuesto_NotasSalida
		IF (@Opcion = 1) BEGIN			SELECT Nro AS 'NRO', CuentaContable AS 'CUENTA_CONTABLE',DescripcionCC AS 'DESCRIPCION_CC', Voucher AS 'VOUCHER', CentroCosto AS 'CENTRO_COSTO',
			DescripcionCCO AS 'DESCRIPCION_CCO', Proyecto AS 'PROYECTO', NombreProyecto AS 'NOMBRE_PROYECTO', Proveedor AS 'PROVEEDOR', NombreProveedor AS 'NOMBRE_PROVEEDOR',
			NotaSalida AS 'NOTA_SALIDA', DescripcionVoucher AS 'DESCRIPCION_VOUCHER', DescripcionDetalle AS 'DESCRIPCION_DETALLE'			FROM ReportesApp_Costos_Presupuesto_NotasSalida			WHERE (CentroCosto = @CentroCosto)			ORDER BY Nro		END		ELSE BEGIN			SELECT Nro AS 'NRO', CuentaContable AS 'CUENTA_CONTABLE',DescripcionCC AS 'DESCRIPCION_CC', Voucher AS 'VOUCHER', CentroCosto AS 'CENTRO_COSTO',
			DescripcionCCO AS 'DESCRIPCION_CCO', Proyecto AS 'PROYECTO', NombreProyecto AS 'NOMBRE_PROYECTO', Proveedor AS 'PROVEEDOR', NombreProveedor AS 'NOMBRE_PROVEEDOR',
			NotaSalida AS 'NOTA_SALIDA', DescripcionVoucher AS 'DESCRIPCION_VOUCHER', DescripcionDetalle AS 'DESCRIPCION_DETALLE'			FROM ReportesApp_Costos_Presupuesto_NotasSalida			WHERE (Nro BETWEEN @Inicio AND @Final)			ORDER BY Nro		END	ENDEND

------------------------------------------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		REYES HORNA, GERARDO
-- Create date: 12/12/2024
-- Description:	LISTAR DOCUMENTOS
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Costos_ControlPresupuestal_ListarDocumentos] 
@Opcion INT,
@Periodo VARCHAR(20),
@TipoDocumento VARCHAR(30),
@NumeroDocumento VARCHAR(30),
@Voucher VARCHAR(250)
AS
BEGIN
	IF (@Opcion = 1) BEGIN		-- ORDENES DE SERVICIO
		SELECT SUBSTRING(O.Voucher,0,7) AS 'PERIODO', SUBSTRING(O.Voucher,7,20) AS 'VOUCHER',		RTRIM(O.ReferenciaTipoDocumento)+'-'+RTRIM(O.ReferenciaNumeroDocumento) AS 'ORDEN_SERVICIO', CONVERT(VARCHAR,CD.Descripcion) AS 'ITEMS',		CD.Cantidad AS 'CANTIDAD', CD.MontoTotal AS 'MONTO_TOTAL'		FROM CompromisoDetalle CD 		LEFT JOIN Obligaciones O ON (CD.TipoCompromiso = O.ReferenciaTipoDocumento) AND (CD.NumeroCompromiso = O.ReferenciaNumeroDocumento)		--INNER JOIN AP_Documentos D ON (O.Proveedor = D.Proveedor AND O.ReferenciaTipoDocumento = D.ReferenciaTipoDocumento AND RTRIM(O.ReferenciaNumeroDocumento) = RTRIM(D.ReferenciaNumeroDocumento))		WHERE RTRIM(O.ReferenciaTipoDocumento) = RTRIM(@TipoDocumento) AND RTRIM(O.ReferenciaNumeroDocumento) = RTRIM(@NumeroDocumento)
		AND SUBSTRING(O.Voucher,0,7) = @Periodo AND SUBSTRING(O.Voucher,7,20) = @Voucher
	END

	IF (@Opcion = 2) BEGIN		-- NOTAS DE SALIDA
		SELECT DISTINCT TD.TipoDocumento+'-'+RTRIM(TD.NumeroDocumento) AS 'NOTA_SALIDA', RTRIM(TD.Item) AS 'CODIGO_ITEM', RTRIM(I.DescripcionLocal) AS 'ITEMS',
		TD.Cantidad AS 'CANTIDAD', TD.MontoTotal AS 'MONTO_TOTAL'
		FROM voucherdetail VD
		LEFT JOIN voucherheader VH ON (VH.period = VD.period) AND (VD.voucherno = VH.voucherno) AND (VH.status = 'PR') 
		LEFT JOIN WH_TransaccionDetalle TD ON (VD.companyowner = TD.CompaniaSocio) AND (VD.invoice = TD.TipoDocumento+'-'+TD.NumeroDocumento)
		LEFT OUTER JOIN WH_ItemMast I ON TD.Item = I.Item
		WHERE (VD.companyowner = '10000000') AND (TD.TipoDocumento = @TipoDocumento) AND (RTRIM(TD.NumeroDocumento) = RTRIM(@NumeroDocumento))
	END
END

------------------------------------------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 14-02-2025
-- Description:	CUADRO COMPARATIVO PRESUPUESTOS
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Costos_ControlPresupuestal_ListarCuadroComparativo]@Opcion INT,@Periodo VARCHAR(20),
@CentroCosto VARCHAR(20)ASBEGIN	DELETE FROM ReportesApp_Costos_Presupuesto_CuadroComparativo	IF (@Opcion = 0) BEGIN		INSERT INTO ReportesApp_Costos_Presupuesto_CuadroComparativo		SELECT FSA.Group01, FSA.Group02, FSA.Group03, RTRIM(VD.period), RTRIM(FS.LocalName), RTRIM(VD.Account), RTRIM(A.localname),		RTRIM(VD.CostCenter), RTRIM(AC.LocalName), RTRIM(VH.voucherno), RTRIM(VH.vouchertitle), RTRIM(VD.description), RTRIM(VD.invoice),		VD.localamount, VD.Vendor, RTRIM(P.NombreCompleto)		FROM voucherdetail VD		LEFT JOIN voucherheader VH ON (VH.companyowner = VD.companyowner) AND (VH.period = VD.period) AND (VD.voucherno = VH.voucherno)		LEFT JOIN AC_FinanceSheetAccount FSA ON (FSA.Account = VD.Account)		LEFT JOIN AC_FinanceSheetMst FS ON (FSA.ReportType = FS.ReportType) AND (FSA.Group01 = FS.Group01) AND (FSA.Group02 = FS.Group02) AND (FSA.Group03 = FS.Group03)		LEFT JOIN accountmst A ON (VD.Account = A.account)		LEFT JOIN AC_CostCenterMst AC WITH(NOLOCK) ON (AC.CostCenter = LTRIM(RTRIM(VD.CostCenter)))		LEFT JOIN PersonaMast P ON P.Persona = VD.Vendor		WHERE (VH.companyowner = '10000000') AND (VH.status = 'PR') AND (FSA.ReportType = 'EG2') AND (RTRIM(VH.period) = @Periodo)		--AND RTRIM(VH.voucherno) = 'AP0005' 		ORDER BY RTRIM(VD.Account)	END	ELSE BEGIN		INSERT INTO ReportesApp_Costos_Presupuesto_CuadroComparativo		SELECT FSA.Group01, FSA.Group02, FSA.Group03, RTRIM(VD.period), RTRIM(FS.LocalName), RTRIM(VD.Account), RTRIM(A.localname),		RTRIM(VD.CostCenter), RTRIM(AC.LocalName), RTRIM(VH.voucherno), RTRIM(VH.vouchertitle), RTRIM(VD.description), RTRIM(VD.invoice),		VD.localamount, VD.Vendor, RTRIM(P.NombreCompleto)		FROM voucherdetail VD		LEFT JOIN voucherheader VH ON (VH.companyowner = VD.companyowner) AND (VH.period = VD.period) AND (VD.voucherno = VH.voucherno)		LEFT JOIN AC_FinanceSheetAccount FSA ON (FSA.Account = VD.Account)		LEFT JOIN AC_FinanceSheetMst FS ON (FSA.ReportType = FS.ReportType) AND (FSA.Group01 = FS.Group01) AND (FSA.Group02 = FS.Group02) AND (FSA.Group03 = FS.Group03)		LEFT JOIN accountmst A ON (VD.Account = A.account)		LEFT JOIN AC_CostCenterMst AC WITH(NOLOCK) ON (AC.CostCenter = LTRIM(RTRIM(VD.CostCenter)))		LEFT JOIN PersonaMast P ON P.Persona = VD.Vendor		WHERE (VH.companyowner = '10000000') AND (VH.status = 'PR') AND (FSA.ReportType = 'EG2') AND (RTRIM(VH.period) = @Periodo) AND RTRIM(@CentroCosto) = LTRIM(RTRIM(VD.CostCenter))		--AND RTRIM(VH.voucherno) = 'AP0005' 		ORDER BY RTRIM(VD.Account)	END	SELECT CC.Group01, CC.Group02, CC.Group03, CC.Periodo AS 'PERIODO', CC.Grupo AS 'GRUPO', CC.CuentaContable AS 'CUENTA_CONTABLE',
	CC.DescripcionCC AS 'NOMBRE_CUENTA', CC.CentroCosto AS 'CENTRO_COSTO', CC.DescripcionCCO AS 'NOMBRE_CCOSTO', CC.Voucher AS 'VOUCHER', 
	CC.DescripcionVoucher AS 'DESCRIPCION_VOUCHER', CC.DescripcionDetalle AS 'DESCRIPCION_DETALLE', CC.DocumentoReferencia AS 'DOCUMENTO',
	CC.Vendor AS 'VENDOR', CC.NombreProveedor AS 'NOMBRE_PROVEEDOR', CC.Monto AS 'MONTO'
	FROM ReportesApp_Costos_Presupuesto_CuadroComparativo CC	ORDER BY CC.Group01, CC.Group02, CC.Group03, CC.CuentaContableEND

-------------------------------------------------------------------------------------------------------------

SELECT VD.Account AS 'CUENTA_CONTABLE', CC.Descripcion AS 'DESCRIPCION_CC', VD.voucherno AS 'VOUCHER',
LTRIM(RTRIM(VD.CostCenter))+' - '+LTRIM(RTRIM(AC.LocalName)) AS 'CENTRO_COSTO', VD.afe AS 'PROYECTO', A.localname AS 'NOMBRE_PROYECTO',
VD.Vendor AS 'PROVEEDOR', P.NombreCompleto AS 'NOMBRE_PROVEEDOR', VD.invoice AS 'DOCUMENTO_REFERENCIA', VH.vouchertitle AS 'DESCRIPCION_VOUCHER',
VD.description AS 'DESCRIPCION_DETALLE', X.TIPO_DOCUMENTO+'-'+X.NUMERO_DOCUMENTO AS 'ORDEN_SERVICIO'
FROM voucherdetail VD
INNER JOIN ReportesApp_Costos_Presupuesto_CuentasContablesFiltro CC ON CC.CuentaContable = LTRIM(RTRIM(VD.Account))
LEFT JOIN AC_CostCenterMst AC ON (AC.CostCenter = LTRIM(RTRIM(VD.CostCenter)))
LEFT JOIN afemst A ON (LTRIM(RTRIM(VD.afe)) = LTRIM(RTRIM(A.afe)))
LEFT JOIN PersonaMast P ON P.Persona = VD.Vendor
LEFT JOIN voucherheader VH ON (VH.period = VD.period) AND (VD.voucherno = VH.voucherno) AND (VH.status = 'PR')
LEFT JOIN (SELECT SUBSTRING(O.Voucher,0,7) AS 'PERIODO', SUBSTRING(O.Voucher,7,20) AS 'VOUCHER', O.ReferenciaTipoDocumento AS 'TIPO_DOCUMENTO',O.ReferenciaNumeroDocumento AS 'NUMERO_DOCUMENTO', CD.Descripcion AS 'ITEMS', CD.Cantidad AS 'CANTIDAD', CD.MontoTotal AS 'MONTO_TOTAL'FROM Obligaciones OINNER JOIN AP_Documentos D ON (O.Proveedor = D.Proveedor AND O.TipoDocumento = D.ObligacionTipoDocumento AND O.NumeroDocumento = D.ObligacionNumeroDocumento)LEFT JOIN CompromisoDetalle CD ON (CD.TipoCompromiso = O.ReferenciaTipoDocumento) AND (CD.NumeroCompromiso = O.ReferenciaNumeroDocumento)WHERE (D.Estado = 'RV')) X ON VD.Period = X.PERIODO AND VD.voucherno = X.VOUCHER
WHERE (VD.companyowner = '10000000') AND (VD.period = '202410') --AND (VD.voucherno LIKE '%AP0516%')
ORDER BY VD.Account

---------------------------------------------------------------------------------------------------------

SELECT VD.Account AS 'CUENTA_CONTABLE', CC.Descripcion AS 'DESCRIPCION_CC', VD.voucherno AS 'VOUCHER',
LTRIM(RTRIM(VD.CostCenter))+' - '+LTRIM(RTRIM(AC.LocalName)) AS 'CENTRO_COSTO', VD.afe AS 'PROYECTO', A.localname AS 'NOMBRE_PROYECTO',
VD.Vendor AS 'PROVEEDOR', P.NombreCompleto AS 'NOMBRE_PROVEEDOR', VD.invoice AS 'DOCUMENTO_REFERENCIA', VH.vouchertitle AS 'DESCRIPCION_VOUCHER',
VD.description AS 'DESCRIPCION_DETALLE', TD.TipoDocumento+'-'+TD.NumeroDocumento AS 'NOTA_SALIDA', I.DescripcionLocal AS 'ITEMS', TD.Cantidad AS 'CANTIDAD',
TD.MontoTotal AS 'MONTO_TOTAL'
FROM voucherdetail VD
INNER JOIN ReportesApp_Costos_Presupuesto_CuentasContablesFiltro CC ON CC.CuentaContable = LTRIM(RTRIM(VD.Account))
LEFT JOIN AC_CostCenterMst AC ON (AC.CostCenter = LTRIM(RTRIM(VD.CostCenter)))
LEFT JOIN afemst A ON (LTRIM(RTRIM(VD.afe)) = LTRIM(RTRIM(A.afe)))
LEFT JOIN PersonaMast P ON P.Persona = VD.Vendor
LEFT JOIN voucherheader VH ON (VH.period = VD.period) AND (VD.voucherno = VH.voucherno) AND (VH.status = 'PR') 
LEFT JOIN WH_TransaccionDetalle TD ON (VD.companyowner = TD.CompaniaSocio) AND (VD.invoice = TD.TipoDocumento+'-'+TD.NumeroDocumento)
LEFT OUTER JOIN WH_ItemMast I ON TD.Item = I.Item
WHERE (VD.companyowner = '10000000') AND (VD.period = '202410') AND (VD.voucherno LIKE '%WH%')
ORDER BY VD.Account

-------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 25-02-2025
-- Description:	GENERAR PRESUPUESTO
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Costos_ControlPresupuestal_GenerarPresupuesto]
@xmlPresupuesto VARCHAR(MAX),
@Usuario VARCHAR(20)
AS
DECLARE @Exito VARCHAR(MAX)
DECLARE @idoc INT
DECLARE @TEMP_PRESUPUESTO TABLE(Nro INT, CentroCosto VARCHAR(20), CuentaContable INT, Mes VARCHAR(50), Importe DECIMAL(10,2), Item VARCHAR(20),
							Proveedor VARCHAR(20), Operacion VARCHAR(20), Detalle VARCHAR(350))

IF(@xmlPresupuesto IS NOT NULL) BEGIN
	EXEC sp_xml_preparedocument @idoc OUTPUT, @xmlPresupuesto
	INSERT INTO @TEMP_PRESUPUESTO(Nro,CentroCosto,CuentaContable,Mes,Importe,Item,Proveedor,Operacion,Detalle)
	SELECT ROW_NUMBER() OVER(ORDER BY CentroCosto ASC), * FROM OPENXML(@idoc,'/r/d',1)
	WITH (CentroCosto VARCHAR(20), CuentaContable INT, Mes VARCHAR(50), Importe DECIMAL(10,2), Item VARCHAR(20), Proveedor VARCHAR(20),
	Operacion VARCHAR(20), Detalle VARCHAR(350));
	EXEC sp_xml_removedocument @idoc;
END

BEGIN TRAN
BEGIN TRY
	DECLARE @Contador INT
	SET @Contador = 1

	WHILE (@Contador <= (SELECT COUNT(Nro) FROM @TEMP_PRESUPUESTO)) BEGIN
		DECLARE @CentroCosto VARCHAR(20) = (SELECT RIGHT('000000'+LTRIM(RTRIM(CentroCosto)),6) FROM @TEMP_PRESUPUESTO WHERE Nro = @Contador)
		DECLARE @CuentaContable INT = (SELECT CuentaContable FROM @TEMP_PRESUPUESTO WHERE Nro = @Contador)
		DECLARE @AntMes VARCHAR(50) = (SELECT Mes FROM @TEMP_PRESUPUESTO WHERE Nro = @Contador)
		DECLARE @NuevoMes VARCHAR(50)
		
		IF (@AntMes = 'ENERO' OR @AntMes = 'enero' OR @AntMes = 'Enero') BEGIN SET @NuevoMes = 'Enero' END
		IF (@AntMes = 'FEBRERO' OR @AntMes = 'febrero' OR @AntMes = 'Febrero') BEGIN SET @NuevoMes = 'Febrero' END
		IF (@AntMes = 'MARZO' OR @AntMes = 'marzo' OR @AntMes = 'Marzo') BEGIN SET @NuevoMes = 'Marzo' END
		IF (@AntMes = 'ABRIL' OR @AntMes = 'abril' OR @AntMes = 'Abril') BEGIN SET @NuevoMes = 'Abril' END
		IF (@AntMes = 'MAYO' OR @AntMes = 'mayo' OR @AntMes = 'Mayo') BEGIN SET @NuevoMes = 'Mayo' END
		IF (@AntMes = 'JUNIO' OR @AntMes = 'junio' OR @AntMes = 'Junio') BEGIN SET @NuevoMes = 'Junio' END
		IF (@AntMes = 'JULIO' OR @AntMes = 'julio' OR @AntMes = 'Julio') BEGIN SET @NuevoMes = 'Julio' END
		IF (@AntMes = 'AGOSTO' OR @AntMes = 'agosto' OR @AntMes = 'Agosto') BEGIN SET @NuevoMes = 'Agosto' END
		IF (@AntMes = 'SETIEMBRE' OR @AntMes = 'setiembre' OR @AntMes = 'Setiembre') BEGIN SET @NuevoMes = 'Setiembre' END
		IF (@AntMes = 'OCTUBRE' OR @AntMes = 'octubre' OR @AntMes = 'Octubre') BEGIN SET @NuevoMes = 'Octubre' END
		IF (@AntMes = 'NOVIEMBRE' OR @AntMes = 'noviembre' OR @AntMes = 'Noviembre') BEGIN SET @NuevoMes = 'Noviembre' END
		IF (@AntMes = 'DICIEMBRE' OR @AntMes = 'diciembre' OR @AntMes = 'Diciembre') BEGIN SET @NuevoMes = 'Diciembre' END

		DECLARE @Importe DECIMAL(10,2) = (SELECT Importe FROM @TEMP_PRESUPUESTO WHERE Nro = @Contador)
		DECLARE @Item VARCHAR(20) = (SELECT RIGHT('0000000000'+LTRIM(RTRIM(Item)),10) FROM @TEMP_PRESUPUESTO WHERE Nro = @Contador)
		DECLARE @Proveedor VARCHAR(20) = (SELECT Proveedor FROM @TEMP_PRESUPUESTO WHERE Nro = @Contador)
		DECLARE @Operacion VARCHAR(20) = (SELECT Operacion FROM @TEMP_PRESUPUESTO WHERE Nro = @Contador)
		DECLARE @Detalle VARCHAR(350) = (SELECT Detalle FROM @TEMP_PRESUPUESTO WHERE Nro = @Contador)

		INSERT INTO ReportesApp_Costos_Presupuesto_Registros(CentroCosto,CuentaContable,Mes,Importe,Item,Proveedor,Operacion,
		Detalle,UsuarioRegistra,FechaRegistra)
		VALUES(@CentroCosto,@CuentaContable,@NuevoMes,@Importe,@Item,@Proveedor,@Operacion,@Detalle,@Usuario,GETDATE())

		SET @Contador = @Contador + 1
	END

	SET @Exito = '0 = Presupuesto registrado exitosamente.'
END TRY

BEGIN CATCH
	SET @exito = RTRIM(LTRIM(STR(ERROR_NUMBER()))) + '=' + ERROR_MESSAGE()
	ROLLBACK
	GOTO Terminar
END CATCH

IF @@TRANCOUNT > 0 
	COMMIT;
    --ROLLBACK
    
TERMINAR:
IF LEFT(@Exito,1)='-' OR cast(left(@Exito,1) AS INT)<0
BEGIN
	DECLARE @storedProcedureName VARCHAR(100)
	SELECT @storedProcedureName = OBJECT_NAME(@@PROCID)
	SET @exito = @exito + CHAR(13)+CHAR(13)+'SP Name: '+@storedProcedureName
END
SELECT @Exito exito

------------------------------------------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 25-02-2025
-- Description:	LISTAR PRESUPUESTOS INGRESADOS
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Costos_ControlPresupuestal_ListarPresupuestos]
@Opcion INT,
@Periodo VARCHAR(20),@CentroCosto VARCHAR(20)ASBEGIN
	DECLARE @Anio INT = SUBSTRING(@Periodo,1,4)

	IF (@Opcion = 1) BEGIN
		SELECT PR.idPresupuesto, LTRIM(RTRIM(PR.CentroCosto))+' - '+LTRIM(RTRIM(AC.LocalName)) AS 'CENTRO_COSTO', PR.CuentaContable AS 'CUENTA_CONTABLE',
		CC.Descripcion AS 'DESCRIPCION_CC', PR.Mes AS 'MES', PR.Importe AS 'IMPORTE', PR.Item AS 'ITEM', I.DescripcionLocal AS 'DESCRIPCION_ITEM',
		PR.Proveedor AS 'VENDOR', P.NombreCompleto AS 'NOMBRE_PROVEEDOR', PR.Operacion AS 'OPERACION', PR.Detalle AS 'DETALLE', PR.UsuarioRegistra, PR.FechaRegistra
		FROM ReportesApp_Costos_Presupuesto_Registros PR
		LEFT JOIN AC_CostCenterMst AC ON (AC.CostCenter = LTRIM(RTRIM(PR.CentroCosto)))
		LEFT JOIN ReportesApp_Costos_Presupuesto_CuentasContablesFiltro CC ON CC.CuentaContable = LTRIM(RTRIM(PR.CuentaContable))
		LEFT JOIN WH_ItemMast I ON PR.Item = I.Item
		LEFT JOIN PersonaMast P ON PR.Proveedor = CONVERT(VARCHAR,P.Persona)
		WHERE YEAR(PR.FechaRegistra) = @Anio AND RTRIM(@CentroCosto) = LTRIM(RTRIM(PR.CentroCosto))
	END
	ELSE BEGIN
		SELECT PR.idPresupuesto, LTRIM(RTRIM(PR.CentroCosto))+' - '+LTRIM(RTRIM(AC.LocalName)) AS 'CENTRO_COSTO', PR.CuentaContable AS 'CUENTA_CONTABLE',
		CC.Descripcion AS 'DESCRIPCION_CC', PR.Mes AS 'MES', PR.Importe AS 'IMPORTE', PR.Item AS 'ITEM', I.DescripcionLocal AS 'DESCRIPCION_ITEM',
		PR.Proveedor AS 'VENDOR', P.NombreCompleto AS 'NOMBRE_PROVEEDOR', PR.Operacion AS 'OPERACION', PR.Detalle AS 'DETALLE', PR.UsuarioRegistra, PR.FechaRegistra
		FROM ReportesApp_Costos_Presupuesto_Registros PR
		LEFT JOIN AC_CostCenterMst AC ON (AC.CostCenter = LTRIM(RTRIM(PR.CentroCosto)))
		LEFT JOIN ReportesApp_Costos_Presupuesto_CuentasContablesFiltro CC ON CC.CuentaContable = LTRIM(RTRIM(PR.CuentaContable))
		LEFT JOIN WH_ItemMast I ON PR.Item = I.Item
		LEFT JOIN PersonaMast P ON PR.Proveedor = CONVERT(VARCHAR,P.Persona)
		WHERE YEAR(PR.FechaRegistra) = @Anio
	END
END

/*
DELETE FROM ReportesApp_Costos_Presupuesto_Registros
DBCC CHECKIDENT('ReportesApp_Costos_Presupuesto_Registros', RESEED, 0)
*/

-------------------------------------------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 26-02-2025
-- Description:	ELIMINAR PRESUPUESTOS INGRESADOS
-- =============================================
CREATE PROCEDURE [dbo].[ReportesApp_Costos_ControlPresupuestal_EliminarPresupuestos]
@idPresupuesto INT
AS
DECLARE @exito VARCHAR(MAX)

SET @exito = '0 = Registro Exitoso!'

BEGIN TRAN
BEGIN TRY
	DELETE FROM ReportesApp_Costos_Presupuesto_Registros WHERE idPresupuesto = @idPresupuesto
END TRY

BEGIN CATCH
	SET @exito = RTRIM(LTRIM(STR(ERROR_NUMBER()))) + '=' + ERROR_MESSAGE()
	ROLLBACK
	GOTO Terminar	
END CATCH

IF @@TRANCOUNT > 0
	COMMIT;

TERMINAR:
IF LEFT(@Exito,1)='-' OR cast(left(@Exito,1) as int)>0 BEGIN
	DECLARE @storedProcedureName VARCHAR(100)
	SELECT @storedProcedureName = OBJECT_NAME(@@PROCID)
	SET @exito = @exito + CHAR(13)+CHAR(13)+'SP Name: '+@storedProcedureName
END

SELECT @exito exito

-------------------------------------------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 26-02-2025
-- Description:	LISTAR PRESUPUESTOS POR CC
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Costos_ControlPresupuestal_ListarPresupuestosCC]@Opcion INT,
@Periodo VARCHAR(20),@CentroCosto VARCHAR(20)ASBEGIN	IF (@Opcion = 1) BEGIN		SELECT RTRIM(VD.period) AS 'PERIODO', LTRIM(RTRIM(VD.CostCenter)) AS 'CENTRO_COSTO', LTRIM(RTRIM(AC.LocalName)) AS 'DESCRIPCION_CC', SUM(VD.localamount) AS 'MONTO'		FROM voucherdetail VD		LEFT JOIN voucherheader VH ON (VH.companyowner = VD.companyowner) AND (VH.period = VD.period) AND (VD.voucherno = VH.voucherno)		LEFT JOIN AC_FinanceSheetAccount FSA ON (FSA.Account = VD.Account)		LEFT JOIN AC_FinanceSheetMst FS ON (FSA.ReportType = FS.ReportType) AND (FSA.Group01 = FS.Group01) AND (FSA.Group02 = FS.Group02) AND (FSA.Group03 = FS.Group03)		LEFT JOIN accountmst A ON (VD.Account = A.account)		LEFT JOIN AC_CostCenterMst AC ON (AC.CostCenter = LTRIM(RTRIM(VD.CostCenter)))		WHERE (VH.companyowner = '10000000') AND (VH.status = 'PR') AND (FSA.ReportType = 'EG2') AND (RTRIM(VH.period) = @Periodo) AND RTRIM(@CentroCosto) = LTRIM(RTRIM(VD.CostCenter))		GROUP BY VD.period, VD.CostCenter, AC.LocalName		ORDER BY RTRIM(VD.CostCenter)	END	ELSE BEGIN		SELECT RTRIM(VD.period) AS 'PERIODO', LTRIM(RTRIM(VD.CostCenter)) AS 'CENTRO_COSTO', LTRIM(RTRIM(AC.LocalName)) AS 'DESCRIPCION_CC', SUM(VD.localamount) AS 'MONTO'		FROM voucherdetail VD		LEFT JOIN voucherheader VH ON (VH.companyowner = VD.companyowner) AND (VH.period = VD.period) AND (VD.voucherno = VH.voucherno)		LEFT JOIN AC_FinanceSheetAccount FSA ON (FSA.Account = VD.Account)		LEFT JOIN AC_FinanceSheetMst FS ON (FSA.ReportType = FS.ReportType) AND (FSA.Group01 = FS.Group01) AND (FSA.Group02 = FS.Group02) AND (FSA.Group03 = FS.Group03)		LEFT JOIN accountmst A ON (VD.Account = A.account)		LEFT JOIN AC_CostCenterMst AC ON (AC.CostCenter = LTRIM(RTRIM(VD.CostCenter)))		WHERE (VH.companyowner = '10000000') AND (VH.status = 'PR') AND (FSA.ReportType = 'EG2') AND (RTRIM(VH.period) = @Periodo)		GROUP BY VD.period, VD.CostCenter, AC.LocalName		ORDER BY RTRIM(VD.CostCenter)	END	DECLARE @Mes INT = (SELECT SUBSTRING(@Periodo,5,2))	DECLARE @NombreMes VARCHAR(100)	IF (@Mes = 1) BEGIN SET @NombreMes = 'Enero' END	IF (@Mes = 2) BEGIN SET @NombreMes = 'Febrero' END	IF (@Mes = 3) BEGIN SET @NombreMes = 'Marzo' END	IF (@Mes = 4) BEGIN SET @NombreMes = 'Abril' END	IF (@Mes = 5) BEGIN SET @NombreMes = 'Mayo' END	IF (@Mes = 6) BEGIN SET @NombreMes = 'Junio' END	IF (@Mes = 7) BEGIN SET @NombreMes = 'Julio' END	IF (@Mes = 8) BEGIN SET @NombreMes = 'Agosto' END	IF (@Mes = 9) BEGIN SET @NombreMes = 'Setiembre' END	IF (@Mes = 10) BEGIN SET @NombreMes = 'Octubre' END	IF (@Mes = 11) BEGIN SET @NombreMes = 'Noviembre' END	IF (@Mes = 12) BEGIN SET @NombreMes = 'Diciembre' END	IF (@Opcion = 1) BEGIN		SELECT PR.Mes AS 'PERIODO', RTRIM(PR.CentroCosto) AS 'CENTRO_COSTO', LTRIM(RTRIM(AC.LocalName)) AS 'DESCRIPCION_CC', SUM(PR.Importe) AS 'MONTO'		FROM ReportesApp_Costos_Presupuesto_Registros PR		LEFT JOIN AC_CostCenterMst AC ON (AC.CostCenter = RTRIM(PR.CentroCosto))		WHERE PR.Mes = @NombreMes AND RTRIM(@CentroCosto) = LTRIM(RTRIM(PR.CentroCosto))		GROUP BY PR.Mes, PR.CentroCosto, AC.LocalName		ORDER BY PR.CentroCosto	END	ELSE BEGIN		SELECT PR.Mes AS 'PERIODO', RTRIM(PR.CentroCosto) AS 'CENTRO_COSTO', LTRIM(RTRIM(AC.LocalName)) AS 'DESCRIPCION_CC', SUM(PR.Importe) AS 'MONTO'		FROM ReportesApp_Costos_Presupuesto_Registros PR		LEFT JOIN AC_CostCenterMst AC ON (AC.CostCenter = RTRIM(PR.CentroCosto))		WHERE PR.Mes = @NombreMes		GROUP BY PR.Mes, PR.CentroCosto, AC.LocalName		ORDER BY PR.CentroCosto	ENDEND

-------------------------------------------------------------------------------------------------------------

SELECT WH_TransaccionDetalle.CompaniaSocio ,           WH_TransaccionDetalle.TipoDocumento ,           WH_TransaccionDetalle.NumeroDocumento ,           
WH_TransaccionDetalle.Secuencia ,           WH_TransaccionDetalle.Item ,           WH_TransaccionDetalle.Condicion ,           WH_TransaccionDetalle.Lote ,           
WH_TransaccionDetalle.UnidadCodigo ,           WH_TransaccionDetalle.Cantidad ,           WH_TransaccionDetalle.CantidadDoble ,           
WH_TransaccionDetalle.CantidadFIFO ,           WH_TransaccionDetalle.PrecioUnitario ,           WH_TransaccionDetalle.MontoTotal ,           
WH_TransaccionDetalle.PrecioUnitarioDolares ,           WH_TransaccionDetalle.MontoTotalDolares ,           WH_TransaccionDetalle.ReferenciaCompaniaSocio ,           
WH_TransaccionDetalle.ReferenciaTipoDocumento ,           WH_TransaccionDetalle.ReferenciaNumeroDocumento ,           WH_TransaccionDetalle.ReferenciaSecuencia ,  
WH_TransaccionDetalle.UnidadReplicacion ,           WH_TransaccionDetalle.AprobacionTecnicaFlag ,           WH_TransaccionDetalle.AprobacionTecnicaDocumento ,    
WH_TransaccionDetalle.FallaFlag ,           WH_TransaccionDetalle.Observaciones ,           WH_TransaccionDetalle.ValorizacionExternaFlag ,           
WH_ItemMast.DescripcionLocal ,           WH_ItemMast.UnidadCodigoDoble ,           WH_ItemMast.ManejoxLoteFlag ,           WH_ItemMast.ManejoxSerieFlag ,           
WH_ItemMast.ManejoxKitFlag ,           WH_ItemMast.CantidadDobleFlag ,           WH_ItemMast.LotedeDespacho ,           '' As nuevacondicion
FROM WH_TransaccionDetalle
LEFT OUTER JOIN WH_ItemMast ON WH_TransaccionDetalle.Item = WH_ItemMast.Item    
WHERE ((WH_TransaccionDetalle.CompaniaSocio = '10000000') and (WH_TransaccionDetalle.TipoDocumento = 'NS') AND
( WH_TransaccionDetalle.NumeroDocumento = '678354'))
ORDER BY WH_TransaccionDetalle.Secuencia ASC  


/*
SELECT SUBSTRING(O.Voucher,0,7) AS 'PERIODO', SUBSTRING(O.Voucher,7,20) AS 'VOUCHER', O.ReferenciaTipoDocumento AS 'TIPO_DOCUMENTO',O.ReferenciaNumeroDocumento AS 'NUMERO_DOCUMENTO', CD.Descripcion AS 'ITEMS', CD.Cantidad AS 'CANTIDAD', CD.MontoTotal AS 'MONTO_TOTAL'FROM Obligaciones OINNER JOIN AP_Documentos D ON (O.Proveedor = D.Proveedor AND O.TipoDocumento = D.ObligacionTipoDocumento AND O.NumeroDocumento = D.ObligacionNumeroDocumento)LEFT JOIN CompromisoDetalle CD ON (CD.TipoCompromiso = O.ReferenciaTipoDocumento) AND (CD.NumeroCompromiso = O.ReferenciaNumeroDocumento)WHERE (SUBSTRING(O.Voucher,7,20) = 'AP1441') AND (D.Estado = 'RV')*/


AP = Orden de servicio - Voucher Logistica
WH = Nota de salida Logistica

