
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 19-08-2023
-- Description:	ELIMINAR PLANILLA SIN PAGAR
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Operaciones_TicketGasto_EliminarPlanilla]
@NroProgramacion INT,
@CodGasto VARCHAR(50),
@Usuario VARCHAR(20)
AS
DECLARE @Exito VARCHAR(MAX)

SET @Exito = '0 = Planilla eliminada.'

BEGIN TRAN
BEGIN TRY
	IF (EXISTS(SELECT * FROM AP_GastoAdelanto WHERE NumeroDocumentoInterno = @CodGasto AND (Estado IN ('PA','TR')))) BEGIN
		IF ((SELECT EstadoLiquidacion FROM ReportesApp_Operaciones_TicketGasto_Registro WHERE CodGasto = @CodGasto) = 0) BEGIN
			SET @Exito = '-1 = Esta planilla ya se encuentra pagada. Favor de ir a liquidarla para desvincularla.'
			ROLLBACK
			GOTO Terminar
		END
		ELSE BEGIN
			UPDATE ReportesApp_Operacion_Previaje_Registros
			SET Planilla = '', Viaticos = 0.00
			WHERE NroTicket = @NroProgramacion
		END
	END
	ELSE BEGIN
		UPDATE ReportesApp_Operacion_Previaje_Registros
		SET Planilla = '', Viaticos = 0.00
		WHERE NroTicket = @NroProgramacion

		UPDATE ReportesApp_Operaciones_TicketGasto_Registro
		SET EstadoLiquidacion = 2, UsuarioLiquidacion = @Usuario, FechaLiquidacion = GETDATE()
		WHERE CodGasto = @CodGasto
	END
END TRY

BEGIN CATCH
	SET @exito = RTRIM(LTRIM(STR(ERROR_NUMBER()))) + '=' + ERROR_MESSAGE()
	ROLLBACK
	GOTO Terminar
END CATCH

IF @@TRANCOUNT > 0 
	COMMIT;
    --ROLLBACK
    
TERMINAR:
IF LEFT(@Exito,1)='-' OR cast(left(@Exito,1) AS INT)<0
BEGIN
	DECLARE @storedProcedureName VARCHAR(100)
	SELECT @storedProcedureName = OBJECT_NAME(@@PROCID)
	SET @exito = @exito + CHAR(13)+CHAR(13)+'SP Name: '+@storedProcedureName
END
SELECT @exito exito

----------------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 14-08-2023
-- Description:	LISTAR VIATICOS DE CONDUCTORES
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Operaciones_TicketGasto_ListarViaticos]
@Opcion INT,
@idConductor INT
AS
BEGIN
	SELECT TOP(20) V.idViatico, CASE WHEN V.NroTicket = -1 THEN 'TOLVAS' ELSE CONVERT(VARCHAR,V.NroTicket) END AS 'PREVIAJE', V.idConductor,
	V.CodGasto AS 'PLANILLA', V.Fecha AS 'FECHA_VIATICO', V.Monto AS 'IMPORTE', V.Motivo AS 'MOTIVO', V.UsuarioCrea, V.FechaCrea
	FROM ReportesApp_Operaciones_TicketGasto_Viaticos V
	WHERE V.idConductor = @idConductor
	ORDER BY V.idViatico DESC
END

----------------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 01-02-2023
-- Description:	INSERTAR VIATICOS - TOLVAS
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Operaciones_TicketGasto_InsertarViaticosTolvas]
@NroTicket INT,
@CodGasto VARCHAR(50),
@idConductor INT,
@Fecha DATETIME,
@idTipoViatico INT,
@Monto DECIMAL(10,2),
@Descripcion VARCHAR(250),
@Motivo VARCHAR(350),
@Usuario VARCHAR(20)
AS
DECLARE @Exito VARCHAR(MAX)
DECLARE @correlativo INT

SET @Exito = '0 = Exito.'
SET @correlativo = (SELECT MAX(idViatico) FROM ReportesApp_Operaciones_TicketGasto_Viaticos WHERE idConductor = @idConductor)
SET @correlativo = ISNULL(@correlativo,0) + 1

/*
IF(EXISTS(SELECT * FROM ReportesApp_Operaciones_TicketGasto_Viaticos WHERE CONVERT(DATE,Fecha) = CONVERT(DATE,@Fecha) AND idConductor = @idConductor)) BEGIN
	SET @Exito = '-1 = El conductor ya tiene este viático registrado.'
	GOTO Terminar
END
*/

BEGIN TRAN
BEGIN TRY
	DECLARE @EstadoLiquidacion INT = (SELECT EstadoLiquidacion FROM ReportesApp_Operaciones_TicketGasto_Registro WHERE CodGasto = @CodGasto)

	IF (@EstadoLiquidacion IN (0,2)) BEGIN
		INSERT INTO ReportesApp_Operaciones_TicketGasto_Viaticos(idViatico,CodGasto,idConductor,Fecha,idTipoViatico,Monto,NroTicket,Descripcion,Motivo,UsuarioCrea,FechaCrea)
		VALUES(@correlativo,@CodGasto,@idConductor,@Fecha,@idTipoViatico,@Monto,@NroTicket,@Descripcion,@Motivo,@Usuario,GETDATE())

		UPDATE ReportesApp_Operaciones_TicketGasto_Registro
		SET TotalEntregado = TotalEntregado + @Monto, GastoDiferencialV = ISNULL(GastoDiferencialV,0) + @Monto
		WHERE CodGasto = @CodGasto

		IF (@NroTicket != -1) BEGIN
			UPDATE ReportesApp_Operacion_Previaje_Registros
			SET Viaticos = Viaticos + @Monto
			WHERE NroTicket = @NroTicket
		END
	END
	ELSE BEGIN
		SET @Exito = '-1 = Solo puede generar gastos adicionales a planillas que no estén liquidadas.'
		ROLLBACK
		GOTO Terminar
	END
END TRY

BEGIN CATCH
	SET @exito = RTRIM(LTRIM(STR(ERROR_NUMBER()))) + '=' + ERROR_MESSAGE()
	ROLLBACK
	GOTO Terminar
END CATCH

IF @@TRANCOUNT > 0 
	COMMIT;
    --ROLLBACK
    
TERMINAR:
IF LEFT(@Exito,1)='-' OR cast(left(@Exito,1) AS INT)<0
BEGIN
	DECLARE @storedProcedureName VARCHAR(100)
	SELECT @storedProcedureName = OBJECT_NAME(@@PROCID)
	SET @exito = @exito + CHAR(13)+CHAR(13)+'SP Name: '+@storedProcedureName
END
SELECT @exito exito

----------------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 15-08-2023
-- Description:	ELIMINAR VIATICOS DE CONDUCTORES
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Operaciones_TicketGasto_EliminarViaticos]
@NroTicket INT,
@idViatico INT,
@idConductor INT,
@Usuario VARCHAR(20)
AS
DECLARE @Exito VARCHAR(MAX)
DECLARE @Monto DECIMAL(10,2)
DECLARE @CodGasto VARCHAR(30)
DECLARE @Estado VARCHAR(30)

SET @Exito = '0 = Recibo eliminado.'

IF (@idViatico = 0)
BEGIN
	SET @Exito = '-1 = El viatico seleccionado no existe.'
	GOTO Terminar
END

BEGIN TRAN
BEGIN TRY
	SET @Monto = (SELECT Monto FROM ReportesApp_Operaciones_TicketGasto_Viaticos WHERE idViatico = @idViatico AND idConductor = @idConductor)
	SET @CodGasto = (SELECT CodGasto FROM ReportesApp_Operaciones_TicketGasto_Viaticos WHERE idViatico = @idViatico AND idConductor = @idConductor)
	
	DECLARE @EstadoLiquidacion INT = (SELECT EstadoLiquidacion FROM ReportesApp_Operaciones_TicketGasto_Registro WHERE CodGasto = @CodGasto)

	IF (@EstadoLiquidacion IN (0,2)) BEGIN
		IF (@CodGasto LIKE '%0%') BEGIN
			SET @Estado = ISNULL((SELECT TOP 1 CASE WHEN NumeroDocumentoInterno IS NOT NULL THEN 'PAGADA' ELSE ' ' END FROM AP_GastoAdelanto
			WHERE RTRIM(NumeroDocumentoInterno) = @CodGasto AND (Estado = 'PA' OR Estado = 'AL' OR Estado = 'TR') AND Descripcion LIKE '%ADICIONAL%' ORDER BY NumeroAdelanto),'PENDIENTE')
		END
		ELSE BEGIN
			SET @Estado = 'PENDIENTE'
		END

		IF (@Estado != 'PAGADA') BEGIN
			IF (@NroTicket != -1) BEGIN
				UPDATE ReportesApp_Operacion_Previaje_Registros
				SET Viaticos = Viaticos - @Monto
				WHERE NroTicket = @NroTicket
			END

			IF ((SELECT GastoDiferencialV FROM ReportesApp_Operaciones_TicketGasto_Registro WHERE
			CodGasto = (SELECT CodGasto FROM ReportesApp_Operaciones_TicketGasto_Viaticos WHERE idViatico = @idViatico AND idConductor = @idConductor)) IS NOT NULL)
			BEGIN
				UPDATE ReportesApp_Operaciones_TicketGasto_Registro
				SET TotalEntregado = TotalEntregado - @Monto, GastoDiferencialV = ISNULL(GastoDiferencialV,0) - @Monto
				WHERE CodGasto = (SELECT CodGasto FROM ReportesApp_Operaciones_TicketGasto_Viaticos WHERE idViatico = @idViatico AND idConductor = @idConductor)
			END
			ELSE BEGIN
				UPDATE ReportesApp_Operaciones_TicketGasto_Registro
				SET TotalEntregado = TotalEntregado - @Monto, GastoDiferencialV = @Monto
				WHERE CodGasto = (SELECT CodGasto FROM ReportesApp_Operaciones_TicketGasto_Viaticos WHERE idViatico = @idViatico AND idConductor = @idConductor)
			END

			INSERT INTO ReportesApp_Operaciones_TicketGasto_Viaticos_Historial (idViatico,CodGasto,NroTicket,idConductor,Fecha,idTipoViatico,Monto,
						Descripcion,Motivo,UsuarioCrea,FechaCrea,UsuarioElimina,FechaElimina)
			SELECT idViatico,CodGasto,NroTicket,idConductor,Fecha,idTipoViatico,Monto,Descripcion,Motivo,UsuarioCrea,FechaCrea,@Usuario,GETDATE()
			FROM ReportesApp_Operaciones_TicketGasto_Viaticos
			WHERE idViatico = @idViatico AND idConductor = @idConductor

			DELETE FROM ReportesApp_Operaciones_TicketGasto_Viaticos
			WHERE idViatico = @idViatico AND idConductor = @idConductor
		END
		ELSE BEGIN
			SET @Exito = '-1 = El viático seleccionado ya se encuentra pagado, no se puede eliminar.'
		END
	END
	ELSE BEGIN
		SET @Exito = '-1 = Solo puede generar gastos adicionales a planillas que no estén liquidadas.'
		ROLLBACK
		GOTO Terminar
	END
END TRY

BEGIN CATCH
	SET @exito = RTRIM(LTRIM(STR(ERROR_NUMBER()))) + '=' + ERROR_MESSAGE()
	ROLLBACK
	GOTO Terminar
END CATCH

IF @@TRANCOUNT > 0 
	COMMIT;
    --ROLLBACK
    
TERMINAR:
IF LEFT(@Exito,1)='-' OR cast(left(@Exito,1) AS INT)<0
BEGIN
	DECLARE @storedProcedureName VARCHAR(100)
	SELECT @storedProcedureName = OBJECT_NAME(@@PROCID)
	SET @exito = @exito + CHAR(13)+CHAR(13)+'SP Name: '+@storedProcedureName
END
SELECT @exito exito

-------------------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 31-01-2023
-- Description:	BUSCAR PLANILLA TOLVAS
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Operaciones_TicketGasto_BuscarPlanillaTolvas]
@CodGasto INT,
@idViatico INT
AS
BEGIN
	SET NOCOUNT ON;

    SELECT DISTINCT VT.idViatico, TG.CodGasto, LTRIM(RTRIM(C.Nombre)) AS 'CONDUCTOR', V.NumeroPlaca AS 'TRACTO', V2.NumeroPlaca AS 'SEMIRREMOLQUE',
	RT.Descripcion AS 'RUTA', LTRIM(RTRIM(CL.Busqueda)) AS 'CLIENTE', CONVERT(VARCHAR,ISNULL(TG.FechaViaje,P.FechaProgramacion),103) AS 'FECHA_VIAJE',
	TG.TotalEntregado AS 'GASTO_TOTAL', VT.Monto AS 'ADICIONAL', VT.Descripcion AS 'VIATICO', VT.Motivo AS 'MOTIVO',
	CONVERT(VARCHAR,VT.FechaCrea,103)+' '+CONVERT(VARCHAR,VT.FechaCrea,8) AS 'FECHA_EMISION'
    FROM ReportesApp_Operaciones_TicketGasto_Registro TG
	LEFT JOIN ReportesApp_Operacion_Previaje_Registros P ON P.NroTicket = TG.NroTicket
    LEFT JOIN OP_TR_Conductor C WITH(NOLOCK) ON C.IdConductor = TG.ViConductor
    LEFT JOIN OP_TR_Vehiculo V WITH(NOLOCK) ON V.IdVehiculo = ISNULL(TG.IdTracto,P.idTracto)
	LEFT JOIN OP_TR_Vehiculo V2 WITH(NOLOCK) ON V2.IdVehiculo = P.idSemirremolque
    LEFT JOIN OP_TR_RUTA RT WITH(NOLOCK) ON RT.IDRUTA = ISNULL(P.IdRuta,TG.IdRuta)
	LEFT JOIN PersonaMast CL WITH(NOLOCK) ON CL.Persona = P.IdCliente
    LEFT JOIN ReportesApp_Operaciones_TicketGasto_GastoXRutaCabecera GR WITH(NOLOCK) ON GR.idGastoxRutaC = TG.idGastoXRutaC
    LEFT JOIN ReportesApp_Operaciones_TicketGasto_GastoXRutaDetalle GD WITH(NOLOCK) ON GD.idGastoxRutaC = TG.idGastoXRutaC
    LEFT JOIN ReportesApp_Operaciones_TicketGasto_TipoGasto T WITH(NOLOCK) ON T.idTipoGasto = GD.idTipoGasto
	LEFT JOIN ReportesApp_Operaciones_TicketGasto_Viaticos VT WITH(NOLOCK) ON VT.CodGasto = TG.CodGasto
    WHERE TG.CodGasto = @CodGasto AND VT.idViatico = @idViatico
END

----------------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 31-01-2023
-- Description:	BUSCAR PLANILLA TOLVAS
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Operaciones_TicketGasto_BuscarPlanillaTolvas2]
@CodGasto INT
AS
BEGIN
	SET NOCOUNT ON;
    SELECT DISTINCT TG.CodGasto, LTRIM(RTRIM(C.Nombre)) AS 'CONDUCTOR', V.NumeroPlaca AS 'TRACTO', RT.Descripcion AS 'RUTA',
	CONVERT(VARCHAR,TG.FechaViaje,103) AS 'FECHA_VIAJE', TG.TotalEntregado AS 'GASTO_TOTAL', ISNULL(TG.GastoDiferencialV,0) AS 'ADICIONAL',
	CONVERT(VARCHAR,TG.FechaCreacion,103)+' '+CONVERT(VARCHAR,TG.FechaCreacion,8) AS 'FECHA_EMISION'
    FROM ReportesApp_Operaciones_TicketGasto_Registro TG
    LEFT JOIN OP_TR_Conductor C WITH(NOLOCK) ON C.IdConductor = TG.ViConductor
    LEFT JOIN OP_TR_Vehiculo V WITH(NOLOCK) ON V.IdVehiculo = TG.IdTracto
    LEFT JOIN OP_TR_RUTA RT WITH(NOLOCK) ON RT.IDRUTA = TG.IdRuta
    LEFT JOIN ReportesApp_Operaciones_TicketGasto_GastoXRutaCabecera GR WITH(NOLOCK) ON GR.idGastoxRutaC = TG.idGastoXRutaC
    LEFT JOIN ReportesApp_Operaciones_TicketGasto_GastoXRutaDetalle GD WITH(NOLOCK) ON GD.idGastoxRutaC = TG.idGastoXRutaC
    LEFT JOIN ReportesApp_Operaciones_TicketGasto_TipoGasto T WITH(NOLOCK) ON T.idTipoGasto = GD.idTipoGasto
    WHERE TG.CodGasto = @CodGasto
END

----------------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 25-07-2025
-- Description:	LISTAR CONDUCTOR ANTERIOR
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Operaciones_TicketGasto_ListarConductorAnterior]
@CodGasto VARCHAR(30)
AS
BEGIN
	SET NOCOUNT ON;
	SELECT R.CodGasto, R.IdOperacion, R.ViConductor, RTRIM(P.NombreCompleto) AS 'NOMBRE'
	FROM ReportesApp_Operaciones_TicketGasto_Registro R
	LEFT JOIN OP_TR_Conductor C WITH(NOLOCK) ON C.IdConductor = R.ViConductor
	LEFT JOIN PersonaMast P WITH(NOLOCK) ON P.Persona = C.IdPersona
	WHERE R.CodGasto = @CodGasto
END




