
-- CREAR TABLA ReportesApp_Seguridad_SIG_Documentos

-- CREAR TABLA ReportesApp_Seguridad_SIG_Procesos

---------------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 26-09-2025
-- Description:	LISTAR AREAS SIG
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Seguridad_DocumentosSIG_ListarAreas]
@Opcion INT
AS
BEGIN
	IF (@Opcion = 1) BEGIN  -- LISTAR AREAS BUSQUEDA
		SELECT '000' AS 'CODIGO', 'TODAS' AS 'AREA'
		UNION
		SELECT RTRIM(D.department) AS 'CODIGO', RTRIM(D.description) AS 'AREA'
		FROM departmentmst D
		WHERE D.department IN ('AC','ALM','COM','FIN','GER','LEG','MAN','OP','PRE','RRH','SEG','SIS')
	END

	IF (@Opcion = 2) BEGIN  -- LISTAR AREAS REGISTRO
		SELECT RTRIM(D.department) AS 'CODIGO', RTRIM(D.description) AS 'AREA'
		FROM departmentmst D
		WHERE D.department IN ('AC','ALM','COM','FIN','GER','LEG','MAN','OP','PRE','RRH','SEG','SIS')
	END
END

---------------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 27-09-2025
-- Description:	INSERTAR DOCUMENTOS SIG
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Seguridad_DocumentosSIG_RegistrarEditarDocumentos]
@Opcion INT,
@idDocumentoSIG INT,
@Archivo VARBINARY(MAX),
@Titulo VARCHAR(500),
@Area VARCHAR(50),
@Proceso VARCHAR(50),
@Version INT,
@Extension VARCHAR(100),
@Usuario VARCHAR(20)
AS
DECLARE @Exito VARCHAR(MAX)
DECLARE @correlativo INT

BEGIN TRAN
BEGIN TRY
	DECLARE @idProcesoSIG INT = (SELECT idProcesoSIG FROM ReportesApp_Seguridad_SIG_Procesos WHERE Descripcion = @Proceso)

	IF (@Opcion = 1) BEGIN		-- REGISTRAR DOCUMENTOS
		SET @correlativo = (SELECT MAX(idDocumentoSIG) FROM ReportesApp_Seguridad_SIG_Documentos)
		SET @correlativo = ISNULL(@correlativo,0) + 1
		
		INSERT INTO ReportesApp_Seguridad_SIG_Documentos(idDocumentoSIG,Archivo,Titulo,Area,idProcesoSIG,[Version],Extension,UsuarioCreacion,FechaCreacion)
		VALUES (@correlativo,@Archivo,@Titulo,@Area,@idProcesoSIG,@Version,@Extension,@Usuario,GETDATE())

		SET @Exito = '0 = Documento Registrado Correctamente.'
	END

	IF (@Opcion = 2) BEGIN		-- EDITAR DOCUMENTOS
		UPDATE ReportesApp_Seguridad_SIG_Documentos
		SET Archivo = @Archivo, Titulo = @Titulo, Area = @Area, idProcesoSIG = @idProcesoSIG, [Version] = @Version, Extension = @Extension,
		UsuarioCreacion = @Usuario, FechaCreacion = GETDATE()
		WHERE idDocumentoSIG = @idDocumentoSIG
		
		SET @Exito = '0 = Documento Actualizado Correctamente.'
	END
END TRY

BEGIN CATCH
	SET @exito = RTRIM(LTRIM(STR(ERROR_NUMBER()))) + '=' + ERROR_MESSAGE()
	ROLLBACK
	GOTO Terminar
END CATCH

IF @@TRANCOUNT > 0 
	COMMIT;
    --ROLLBACK
    
TERMINAR:
IF LEFT(@Exito,1)='-' OR cast(left(@Exito,1) AS INT)<0
BEGIN
	DECLARE @storedProcedureName VARCHAR(100)
	SELECT @storedProcedureName = OBJECT_NAME(@@PROCID)
	SET @exito = @exito + CHAR(13)+CHAR(13)+'SP Name: '+@storedProcedureName
END
SELECT @exito exito

------------------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 29-09-2024
-- Description:	LISTAR DOCUMENTOS SIG
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Seguridad_DocumentosSIG_ListarDocumentos]
@Titulo VARCHAR(500),
@Area VARCHAR(50),
@Proceso VARCHAR(100),
@FechaInicio VARCHAR(11),
@FechaFin VARCHAR(11)
AS
DECLARE @FINICIO DATETIME = @FechaInicio
DECLARE @FFIN DATETIME = @FechaFin + ' 23:59'
BEGIN
	IF (@Area = 'TODAS' AND @Proceso = 'TODOS') BEGIN
		SELECT D.idDocumentoSIG AS 'NRO', D.FechaCreacion AS 'FECHA', D.Titulo AS 'TITULO', D.Area AS 'AREA', P.Descripcion AS 'PROCESO',
		D.[Version] AS 'VERSION', D.Extension AS 'EXTENSION',  'Vista Previa' AS 'VISTA PREVIA','Descargar' AS 'DOCUMENTO', D.UsuarioCreacion AS 'USUARIO'
		FROM ReportesApp_Seguridad_SIG_Documentos D
		LEFT JOIN ReportesApp_Seguridad_SIG_Procesos P ON P.idProcesoSIG = D.idProcesoSIG
		WHERE (D.Titulo IS NULL OR D.Titulo LIKE '%' + @Titulo + '%') AND (D.FechaCreacion BETWEEN @FINICIO AND @FFIN) 
		ORDER BY D.FechaCreacion DESC
	END

	IF (@Area = 'TODAS' AND @Proceso != 'TODOS') BEGIN
		SELECT D.idDocumentoSIG AS 'NRO', D.FechaCreacion AS 'FECHA', D.Titulo AS 'TITULO', D.Area AS 'AREA', P.Descripcion AS 'PROCESO',
		D.[Version] AS 'VERSION', D.Extension AS 'EXTENSION', 'Vista Previa' AS 'VISTA PREVIA','Descargar' AS 'DOCUMENTO', D.UsuarioCreacion AS 'USUARIO'
		FROM ReportesApp_Seguridad_SIG_Documentos D
		LEFT JOIN ReportesApp_Seguridad_SIG_Procesos P ON P.idProcesoSIG = D.idProcesoSIG
		WHERE (D.Titulo IS NULL OR D.Titulo LIKE '%' + @Titulo + '%') AND (P.Descripcion = @Proceso) AND (D.FechaCreacion BETWEEN @FINICIO AND @FFIN) 
		ORDER BY D.FechaCreacion DESC
	END

	IF (@Area != 'TODAS' AND @Proceso = 'TODOS') BEGIN
		SELECT D.idDocumentoSIG AS 'NRO', D.FechaCreacion AS 'FECHA', D.Titulo AS 'TITULO', D.Area AS 'AREA', P.Descripcion AS 'PROCESO',
		D.[Version] AS 'VERSION', D.Extension AS 'EXTENSION', 'Vista Previa' AS 'VISTA PREVIA','Descargar' AS 'DOCUMENTO', D.UsuarioCreacion AS 'USUARIO'
		FROM ReportesApp_Seguridad_SIG_Documentos D
		LEFT JOIN ReportesApp_Seguridad_SIG_Procesos P ON P.idProcesoSIG = D.idProcesoSIG
		WHERE (D.Titulo IS NULL OR D.Titulo LIKE '%' + @Titulo + '%') AND (D.Area = @Area) AND (D.FechaCreacion BETWEEN @FINICIO AND @FFIN) 
		ORDER BY D.FechaCreacion DESC
	END

	IF (@Area != 'TODAS' AND @Proceso != 'TODOS') BEGIN
		SELECT D.idDocumentoSIG AS 'NRO', D.FechaCreacion AS 'FECHA', D.Titulo AS 'TITULO', D.Area AS 'AREA', P.Descripcion AS 'PROCESO',
		D.[Version] AS 'VERSION', D.Extension AS 'EXTENSION', 'Vista Previa' AS 'VISTA PREVIA','Descargar' AS 'DOCUMENTO', D.UsuarioCreacion AS 'USUARIO'
		FROM ReportesApp_Seguridad_SIG_Documentos D
		LEFT JOIN ReportesApp_Seguridad_SIG_Procesos P ON P.idProcesoSIG = D.idProcesoSIG
		WHERE (D.Titulo IS NULL OR D.Titulo LIKE '%' + @Titulo + '%') AND (D.Area = @Area) AND (P.Descripcion = @Proceso)
		AND (D.FechaCreacion BETWEEN @FINICIO AND @FFIN) 
		ORDER BY D.FechaCreacion DESC
	END
END

------------------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 29-09-2024
-- Description:	BUSCAR DOCUMENTOS SIG
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Seguridad_DocumentosSIG_BuscarDocumentos]
@idDocumentoSIG INT
AS
BEGIN
	SELECT Archivo, Extension FROM ReportesApp_Seguridad_SIG_Documentos
	WHERE idDocumentoSIG = @idDocumentoSIG
END

------------------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 22-10-2025
-- Description:	LISTAR OPERACIONES
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Seguridad_DocumentosSIG_ListarOperaciones]
@Opcion INT
AS
BEGIN
	IF (@Opcion = 1) BEGIN		-- LISTAR BÚSQUEDA
		SELECT 0 AS 'ID', 'TODOS' AS 'DESCRIPCION'
		UNION
		SELECT idProcesoSIG AS 'ID', Descripcion AS 'DESCRIPCION'
		FROM ReportesApp_Seguridad_SIG_Procesos
	END

	IF (@Opcion = 2) BEGIN		-- INGRESAR OPERACION
		SELECT idProcesoSIG AS 'ID', Descripcion AS 'DESCRIPCION'
		FROM ReportesApp_Seguridad_SIG_Procesos
	END
END

