USE [spring]
GO
/****** Object:  StoredProcedure [dbo].[ReportesApp_Mantenimiento_ControlHerramientas_ItemsAlmacen_Listar]    Script Date: 04/11/2025 18:43:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		ING. JOEL ROJAS RODRIGUEZ
-- Create date: 23/07/2021
-- Description:	LISTAR HERRAMIENTAS DE ALMACEN GENERAL
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Mantenimiento_ControlHerramientas_ItemsAlmacen_Listar]
@Item VARCHAR(300)
AS
BEGIN
	SELECT TOP(25) M.Item, M.DescripcionLocal Descripcion,	(SELECT MAX(H.CodigoInterno) FROM ReportesApp_Mantenimiento_Herramientas H WHERE LTRIM(RTRIM(H.CodigoItemAlmacen)) = LTRIM(RTRIM(M.Item))) AS 'CodigoInternoMAX',	M.UnidadCodigo FROM WH_ItemMast M	INNER JOIN WH_ItemCompania ON(M.Item = WH_ItemCompania.Item )	LEFT JOIN WH_ItemTipo ON (WH_ItemCompania.TipoItem = WH_ItemTipo.ItemTipo)	WHERE (M.Estado = 'A') AND (M.DisponibleConsumoFlag = 'N') AND (WH_ItemCompania.CompaniaSocio = '10000000') AND	(M.DescripcionLocal IS NULL OR M.DescripcionLocal LIKE '%' + @Item + '%') 	ORDER BY M.DescripcionLocalEND----------------------------------------------------------------------------------SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Sem Chavez>
-- Create date: <07-08-2023,>
-- Description:	<Registrar Activos de Segundo Uso>
-- =============================================
/*
exec ReportesApp_Mantenimiento_RegistrarActivosSegundoUso @Nombre=N'FARO LED POSTERIOR REDONDO AMBAR LUCELE 4" 12/24V 005',@Codigo=N'0000000771',@Cantidad=N'2.4',@Unidadmedida=N'UNI',@Usuario=N'SCHAVEZ'
*/
ALTER PROCEDURE [dbo].[ReportesApp_Mantenimiento_RegistrarActivosSegundoUso]
@Nombre VARCHAR(MAX),
@Codigo VARCHAR(50),
@Cantidad DECIMAL(6,2),
@Unidadmedida VARCHAR(50),
@Sucursal VARCHAR(10),
@Usuario VARCHAR(15)
AS
DECLARE @exito VARCHAR(MAX)
DECLARE @idActivo INT

IF EXISTS(SELECT * FROM ReportesApp_Mantenimiento_ActivosSegundoUso WHERE LTRIM(RTRIM(CodigoSpring))=LTRIM(RTRIM(@Codigo))+'S' AND Sucursal = @Sucursal) BEGIN
	UPDATE ReportesApp_Mantenimiento_ActivosSegundoUso
	SET Cantidad = Cantidad + @Cantidad
	WHERE LTRIM(RTRIM(CodigoSpring))=LTRIM(RTRIM(@Codigo))+'S' AND Sucursal = @Sucursal

	SET @exito = '0 = Activo actualizado correctamente.'

	GOTO Terminar
END

BEGIN TRAN
BEGIN TRY	
	IF @Unidadmedida = 'UNI' BEGIN
		SET @Unidadmedida = 'UNIDAD'
	END

	SET @idActivo = (SELECT MAX(idActivo) FROM ReportesApp_Mantenimiento_ActivosSegundoUso)
	SET @idActivo = ISNULL(@idActivo,0) + 1

	INSERT INTO ReportesApp_Mantenimiento_ActivosSegundoUso(idActivo,Nombre,UnidadMedida,CodigoSpring,Cantidad,Estado,FechaRegistro,UsuarioRegistro,UsuarioDesactiva,Sucursal)
	SELECT @idActivo,RTRIM(@Nombre),RTRIM(@Unidadmedida),RTRIM(@Codigo) + 'S',@Cantidad,'A',GETDATE(),@Usuario,NULL,@Sucursal

	SET @exito = '0 = Activo registrado correctamente.'
END TRY

BEGIN CATCH
	SET @exito = RTRIM(LTRIM(STR(ERROR_NUMBER()))) + '=' + ERROR_MESSAGE()
	ROLLBACK
	GOTO Terminar
END CATCH

IF @@TRANCOUNT > 0
	COMMIT;
    --ROLLBACK

TERMINAR:
IF LEFT(@Exito,1)='-' OR cast(left(@Exito,1) as int)>0
BEGIN
	DECLARE @storedProcedureName VARCHAR(100)
	SELECT @storedProcedureName = OBJECT_NAME(@@PROCID)
	SET @exito = @exito + CHAR(13)+CHAR(13)+'SP Name: '+@storedProcedureName
END

SELECT @exito 'Mensaje'

----------------------------------------------------------------------------------
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=========================================
-- Author:		<Sem Chavez>
-- Create date: <31-07-2023>
-- Description:	<Listar Items de Activos Segundo USo>
-- =============================================
/*
exec ReportesApp_Mantenimiento_ListarItemsInventarioSegundoUso @NombreItem=N'',@VerInactivos=0
*/
ALTER PROCEDURE [dbo].[ReportesApp_Mantenimiento_ListarItemsInventarioSegundoUso]
@NombreItem VARCHAR(100),
@Sucursal VARCHAR(10),
@VerInactivos INT = 0
AS
BEGIN
	IF @VerInactivos = 0 BEGIN
		SELECT idActivo,nombre,UnidadMedida,CodigoSpring,Cantidad,Sucursal,Estado,FechaRegistro,UsuarioRegistro
		FROM ReportesApp_Mantenimiento_ActivosSegundoUso
		WHERE ((Nombre LIKE '%'+@NombreItem+'%') OR (@NombreItem IS NULL)) AND Estado = 'A' AND Asignado is null AND Cantidad > 0.00
		AND Sucursal = @Sucursal
		ORDER BY Nombre ASC
	END
	
	IF @VerInactivos = 1 BEGIN
		SELECT idActivo,nombre,UnidadMedida,CodigoSpring,Cantidad,Sucursal,Estado,FechaRegistro,UsuarioRegistro
		FROM ReportesApp_Mantenimiento_ActivosSegundoUso
		WHERE ((Nombre LIKE '%'+@NombreItem+'%') OR (@NombreItem IS NULL)) AND Sucursal = @Sucursal
		ORDER BY Nombre ASC
	END
END

----------------------------------------------------------------------------------SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Sem Chavez>
-- Create date: <08-08-2023>
-- Description:	<Listar Vinculos de Items Almacen, Activos de segundo uso, Empleado>
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Mantenimiento_Listar_VinculoRepuesto_ActivoSegundoUso_Empleado]
AS
BEGIN
	SELECT A.Sucursal,V.TipoOperacion,v.idActivo,A.CodigoSpring as 'CodigoActivo',A.Nombre as 'NombreActivo',v.CodigoRepuesto,v.NombreRepuesto,
	ISNULL(V.CantidadUso,0) AS 'CantdadUso',v.NroVale,V.Placa,V.OT,V.idEmpleado,P.NombreCompleto,V.UsuarioRegistro,V.FechaRegistro
	FROM ReportesApp_Mantenimiento_ItemsRepuestos_ActivosSegundoUso_Empleado V
		 LEFT JOIN ReportesApp_Mantenimiento_ActivosSegundoUso A ON V.idActivo = A.idActivo
		 LEFT JOIN PersonaMast P ON P.Persona = V.idEmpleado
	ORDER BY FechaRegistro DESC
END----------------------------------------------------------------------------------SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Sem Chavez>
-- Create date: <08-08-2023>
-- Description:	<Listar Vinculos de Items Almacen, Activos de segundo uso, Empleado>
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Mantenimiento_Listar_VinculoRepuesto_ActivoSegundoUso_Empleado]
@FechaInicio VARCHAR(11),
@FechaFin VARCHAR(11),
@Sucursal VARCHAR(20),
@Activo VARCHAR(250),
@OT VARCHAR(20),
@Operacion VARCHAR(20),
@Empleado VARCHAR(250)
AS
DECLARE @FINICIO DATETIME = @FechaInicio
DECLARE @FFIN DATETIME = @FechaFin + ' 23:59'
BEGIN
	SELECT A.Sucursal, V.TipoOperacion, V.idActivo, A.CodigoSpring AS 'CodigoActivo', A.Nombre AS 'NombreActivo', V.CodigoRepuesto,
    V.NombreRepuesto, ISNULL(V.CantidadUso, 0) AS 'CantidadUso', V.NroVale, V.Placa, V.OT, V.idEmpleado, P.NombreCompleto,
    V.UsuarioRegistro, V.FechaRegistro
	FROM ReportesApp_Mantenimiento_ItemsRepuestos_ActivosSegundoUso_Empleado V
	LEFT JOIN ReportesApp_Mantenimiento_ActivosSegundoUso A ON V.idActivo = A.idActivo
	LEFT JOIN PersonaMast P ON P.Persona = V.idEmpleado
	WHERE (V.FechaRegistro BETWEEN @FINICIO AND @FFIN) AND (A.CodigoSpring IS NULL OR A.CodigoSpring LIKE '%' + @Activo + '%') AND
	(V.OT IS NULL OR V.OT LIKE '%' + @OT + '%') AND (P.NombreCompleto IS NULL OR P.NombreCompleto LIKE '%' + @Empleado + '%')
    AND (@Sucursal = 'TODAS' OR A.Sucursal = @Sucursal) AND (@Operacion = 'TODAS' OR V.TipoOperacion = @Operacion)
	ORDER BY V.FechaRegistro DESC
END

---------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Sem Chavez>
-- Create date: <25-08-2023>
-- Description:	<Listar Activos de segundo Uso desvinculados.>
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Mantenimiento_Historial_SegundoUso_Desvinculados]
AS
BEGIN
	SELECT B.TipoOperacion, B.idActivo, B.NombreActivo, A.Sucursal, B.CodigoRepuesto, B.idEmpleado, P.NombreCompleto, B.Motivo, B.Usuario,
	B.FechaDesvincula, B.CantidadUso, B.Placa, B.OT, B.NroVale
	FROM ReportesApp_Mantenimiento_Historial_DesvincularActivodeBaja B
	LEFT JOIN PersonaMast P ON B.idEmpleado = P.Persona
	LEFT JOIN ReportesApp_Mantenimiento_ActivosSegundoUso A ON B.idActivo = A.idActivo
END

------------------------------------------------------------------------------
------------------------------------------------------------------------------

-- CREAR TABLA ReportesApp_Mantenimiento_ActivosSegundoUso_ReqEmpleado

-- CREAR TABLA ReportesApp_Mantenimiento_ActivosSegundoUso_ReqEmpleado_Historial

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 21-01-2026
-- Description:	LISTAR REQUERIMIENTOS LOGISTICA
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Mantenimiento_ActivoSegundoUso_ListarRequerimiento]
@Requerimiento VARCHAR(20)
AS
BEGIN
	SELECT TOP(15) RTRIM(R.RequisicionNumero) AS 'Requerimiento', R.FechaPreparacion, R.Comentarios, RTRIM(P.NombreCompleto),
	AC.LocalName AS 'CentroCosto'
	FROM WH_Requisiciones R
	LEFT JOIN AC_CostCenterMst AC ON (R.DefaultPrime = AC.CostCenter)
	LEFT JOIN PersonaMast P ON (R.PreparadaPor = P.Persona)
	WHERE (CompaniaSocio = '10000000') AND (@Requerimiento IS NULL OR R.RequisicionNumero LIKE '%' + @Requerimiento + '%')
	ORDER BY R.FechaPreparacion DESC
END

---------------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 21-01-2026
-- Description:	LISTAR DETALLE REQUERIMIENTOS
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Mantenimiento_ActivoSegundoUso_ListarRequerimientoDetalle]
@Requerimiento VARCHAR(20),
@CodigoItem VARCHAR(20)
AS
BEGIN
	SELECT TOP(20) LTRIM(RTRIM(Item)) AS 'Item', Descripcion, CantidadPedida, CantidadRecibida
	FROM WH_RequisicionDetalle
	WHERE LTRIM(RTRIM(RequisicionNumero)) = LTRIM(RTRIM(@Requerimiento)) AND LTRIM(RTRIM(Item)) = LTRIM(RTRIM(SUBSTRING(@CodigoItem,1,10)))
END

------------------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 22/01/2026
-- Description:	REGISTRAR SEGUNDO USO ALMACEN
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Mantenimiento_ActivoSegundoUso_RegistrarRequerimientos]
@xmlItemsAlmacen VARCHAR(MAX),
@idActivoSegundoUso INT,
@idEmpleado INT,
@Requerimiento VARCHAR(20),
@cantidadUso DECIMAL(6,2),
@Usuario VARCHAR(15)
AS
DECLARE @exito VARCHAR(MAX)
DECLARE @TempSegundoUso TABLE ([Check] BIT,Nombre VARCHAR(150),UniMedida VARCHAR(10),Codigo VARCHAR(10),AlmacenCodigo VARCHAR(10))
DECLARE @idoc INT
DECLARE @NuevaCantidad DECIMAL(6,2)

IF NOT EXISTS(SELECT * FROM WH_Requisiciones WHERE RTRIM(RequisicionNumero) = RTRIM(@Requerimiento)) BEGIN
	SET @exito = '-1 = El requerimiento ingresado no existe.'
	GOTO Terminar
END

IF ((SELECT Cantidad FROM ReportesApp_Mantenimiento_ActivosSegundoUso WHERE idActivo = @idActivoSegundoUso) < @cantidadUso) BEGIN
	SET @exito = '-3 = La cantidad solicitada es mayor a la cantidad disponible del activo.'
	GOTO Terminar
END

DECLARE @CodigoI VARCHAR(20) = (SELECT SUBSTRING(CodigoSpring,1,10) FROM ReportesApp_Mantenimiento_ActivosSegundoUso WHERE idActivo = @idActivoSegundoUso)
DECLARE @CantidadD INT = (SELECT TOP(1) CantidadPedida FROM WH_RequisicionDetalle WHERE LTRIM(RTRIM(RequisicionNumero)) = LTRIM(RTRIM(@Requerimiento))
						 AND RTRIM(Item) = @CodigoI)

IF (@cantidadUso > @CantidadD) BEGIN
	SET @exito = '-4 = La cantidad solicitada es mayor a la cantidad disponible del requerimiento.'
	GOTO Terminar
END

BEGIN TRAN
BEGIN TRY
	INSERT INTO ReportesApp_Mantenimiento_ActivosSegundoUso_ReqEmpleado(idActivo,Requerimiento,idEmpleado,CantidadUso,UsuarioRegistro,FechaRegistro)
	SELECT @idActivoSegundoUso,@Requerimiento,@idEmpleado,@cantidadUso,@Usuario,GETDATE()

	SET @NuevaCantidad = (SELECT Cantidad - @cantidadUso FROM ReportesApp_Mantenimiento_ActivosSegundoUso WHERE idActivo = @idActivoSegundoUso)
	
	IF (@NuevaCantidad = 0) BEGIN
		UPDATE M
		SET M.Asignado = 'SI', M.Cantidad = @NuevaCantidad
		FROM ReportesApp_Mantenimiento_ActivosSegundoUso M
		WHERE M.idActivo = @idActivoSegundoUso 	
	END
	ELSE BEGIN
		UPDATE M
		SET M.Cantidad = @NuevaCantidad
		FROM ReportesApp_Mantenimiento_ActivosSegundoUso M
		WHERE M.idActivo = @idActivoSegundoUso
	END

	SET @exito = '0 = Activo asignado correctamente.'
END TRY

BEGIN CATCH
	SET @exito = RTRIM(LTRIM(STR(ERROR_NUMBER()))) + '=' + ERROR_MESSAGE()
	ROLLBACK
	GOTO Terminar
END CATCH

IF @@TRANCOUNT > 0
	COMMIT;

TERMINAR:
IF LEFT(@Exito,1)='-' OR cast(left(@Exito,1) AS INT)>0 BEGIN
	DECLARE @storedProcedureName VARCHAR(100)
	SELECT @storedProcedureName = OBJECT_NAME(@@PROCID)
	SET @exito = @exito + CHAR(13)+CHAR(13)+'SP Name: '+@storedProcedureName
END

SELECT @exito exito

-------------------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES HORNA
-- Create date: 23/01/2026
-- Description:	LISTAR ACTIVOS SEGUNDO USO - LOGISTICA
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Mantenimiento_ActivoSegundoUso_ListarRequerimientos]
@FechaInicio VARCHAR(11),
@FechaFin VARCHAR(11),
@Sucursal VARCHAR(20),
@Activo VARCHAR(250),
@Requerimiento VARCHAR(20),
@Empleado VARCHAR(250)
AS
DECLARE @FINICIO DATETIME = @FechaInicio
DECLARE @FFIN DATETIME = @FechaFin + ' 23:59'
BEGIN
	SELECT A.Sucursal, R.idActivo, A.CodigoSpring AS 'CodigoActivo', A.Nombre AS 'NombreActivo', ISNULL(R.CantidadUso, 0) AS 'CantidadUso',
	R.Requerimiento, RTRIM(Q.Comentarios) AS 'Descripcion', AC.LocalName AS 'CentroCosto', R.idEmpleado, RTRIM(P.NombreCompleto) AS 'NombreCompleto',
	R.UsuarioRegistro, R.FechaRegistro
	FROM ReportesApp_Mantenimiento_ActivosSegundoUso_ReqEmpleado R
	LEFT JOIN WH_Requisiciones Q ON RTRIM(Q.RequisicionNumero) = R.Requerimiento
	LEFT JOIN ReportesApp_Mantenimiento_ActivosSegundoUso A ON R.idActivo = A.idActivo
	LEFT JOIN AC_CostCenterMst AC ON (Q.DefaultPrime = AC.CostCenter)
	LEFT JOIN PersonaMast P ON P.Persona = R.idEmpleado
	WHERE (R.FechaRegistro BETWEEN @FINICIO AND @FFIN) AND (A.CodigoSpring IS NULL OR A.CodigoSpring LIKE '%' + @Activo + '%')
	AND (R.Requerimiento IS NULL OR R.Requerimiento LIKE '%' + @Requerimiento + '%')
	AND (P.NombreCompleto IS NULL OR P.NombreCompleto LIKE '%' + @Empleado + '%') AND (@Sucursal = 'TODAS' OR A.Sucursal = @Sucursal)
	ORDER BY R.FechaRegistro DESC
END

-------------------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 23/01/2026
-- Description:	ELIMINAR SEGUNDO USO ALMACEN
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Mantenimiento_ActivoSegundoUso_DesvincularRequerimientos]
@idActivo INT,
@idEmpleado INT,
@Requerimiento VARCHAR(20),
@Motivo VARCHAR(250),
@Usuario VARCHAR(20)
AS
DECLARE @exito VARCHAR(MAX)
DECLARE @CantidadUso DECIMAL(10,2)
DECLARE @NombreActivo VARCHAR(250)

BEGIN TRAN
BEGIN TRY
	SET @CantidadUso = (SELECT TOP 1 ISNULL(CantidadUso,0) FROM ReportesApp_Mantenimiento_ActivosSegundoUso_ReqEmpleado WHERE idActivo = @idActivo AND idEmpleado = @idEmpleado
						AND Requerimiento = @Requerimiento)
	SET @NombreActivo = (SELECT TOP 1 Nombre FROM ReportesApp_Mantenimiento_ActivosSegundoUso WHERE idActivo = @idActivo)

	IF (@CantidadUso IS NULL) BEGIN
		SET @exito = '-1 = Cantidad de Activo incorrecta, comunicarse con TI.'
		ROLLBACK
		GOTO Terminar
	END

	INSERT INTO ReportesApp_Mantenimiento_ActivosSegundoUso_ReqEmpleado_Historial(idActivo,NombreActivo,Requerimiento,idEmpleado,CantidadUso,Motivo,UsuarioDesvincula,FechaDesvincula)
	SELECT @idActivo,@NombreActivo,@Requerimiento,@idEmpleado,@CantidadUso,@Motivo,@Usuario,GETDATE()

	UPDATE M SET M.Asignado = NULL, M.Cantidad = M.Cantidad + @CantidadUso 
	FROM ReportesApp_Mantenimiento_ActivosSegundoUso M 
	WHERE M.idActivo = @idActivo 

	DELETE FROM ReportesApp_Mantenimiento_ActivosSegundoUso_ReqEmpleado 
	WHERE idActivo = @idActivo AND idEmpleado = @idEmpleado AND Requerimiento = @Requerimiento

	SET @exito = '0 = Activo desvinculado correctamente.'
END TRY

BEGIN CATCH
	SET @exito = RTRIM(LTRIM(STR(ERROR_NUMBER()))) + '=' + ERROR_MESSAGE()
	ROLLBACK
	GOTO Terminar
END CATCH

IF @@TRANCOUNT > 0
	COMMIT;

TERMINAR:
IF LEFT(@Exito,1)='-' OR cast(left(@Exito,1) AS INT)>0 BEGIN
	DECLARE @storedProcedureName VARCHAR(100)
	SELECT @storedProcedureName = OBJECT_NAME(@@PROCID)
	SET @exito = @exito + CHAR(13)+CHAR(13)+'SP Name: '+@storedProcedureName
END

SELECT @exito exito

-------------------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 23/01/2026
-- Description:	LISTAR REQUERIMIENTOS DESVINCULADOS
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Mantenimiento_ActivoSegundoUso_HistorialRequerimientos]
AS
BEGIN
	SELECT A.Sucursal, R.idActivo, A.CodigoSpring AS 'CodigoActivo', A.Nombre AS 'NombreActivo', ISNULL(R.CantidadUso, 0) AS 'CantidadUso',
	R.Requerimiento, Q.Comentarios AS 'Descripcion', AC.LocalName AS 'CentroCosto', R.idEmpleado, P.NombreCompleto, R.Motivo,
	R.UsuarioDesvincula, R.FechaDesvincula
	FROM ReportesApp_Mantenimiento_ActivosSegundoUso_ReqEmpleado_Historial R
	LEFT JOIN WH_Requisiciones Q ON RTRIM(Q.RequisicionNumero) = R.Requerimiento
	LEFT JOIN ReportesApp_Mantenimiento_ActivosSegundoUso A ON R.idActivo = A.idActivo
	LEFT JOIN AC_CostCenterMst AC ON (Q.DefaultPrime = AC.CostCenter)
	LEFT JOIN PersonaMast P ON P.Persona = R.idEmpleado
	ORDER BY R.FechaDesvincula DESC
END

