
-- CREAR TABLA ReportesApp_Operaciones_ControlItems_MaestroDesbloqueo

-----------------------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 30-12-2025
-- Description:	INGRESAR Y ELIMINAR DESBLOQUEO DE TRACTOS Y RUTAS
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Operaciones_ControlItems_DesbloqueoTractoXRuta]
@Opcion INT,
@idDesbloqueo INT,
@idTracto INT,
@FechaCompromiso DATETIME,
@Usuario VARCHAR(20)
AS
DECLARE @Exito VARCHAR(MAX)
DECLARE @correlativo INT

BEGIN TRAN
BEGIN TRY
	IF (@Opcion = 1) BEGIN		-- CREAR DESBLOQUEO
		IF (@FechaCompromiso < CONVERT(DATE,GETDATE())) BEGIN
			SET @Exito = '-2 = No puede desbloquear en una fecha menor al día de hoy.'
			ROLLBACK
			GOTO Terminar
		END
		
		IF (EXISTS(SELECT * FROM ReportesApp_Operaciones_ControlItems_MaestroDesbloqueo WHERE idTracto = @idTracto AND Estado = 'ACTIVO')) BEGIN
			SET @Exito = '-1 = Esta unidad ya ha sido desbloqueada para esta ruta.'
			ROLLBACK
			GOTO Terminar
		END

		SET @correlativo = (SELECT MAX(idDesbloqueo) FROM ReportesApp_Operaciones_ControlItems_MaestroDesbloqueo)
		SET @correlativo = ISNULL(@correlativo,0) + 1

		INSERT INTO ReportesApp_Operaciones_ControlItems_MaestroDesbloqueo(idDesbloqueo,idTracto,FechaCompromiso,Estado,UsuarioCreacion,FechaCreacion)
		VALUES(@correlativo,@idTracto,@FechaCompromiso,'ACTIVO',@Usuario,GETDATE())

		SET @Exito = '0 = Unidad desbloqueada para su programación.'
	END

	IF (@Opcion = 2) BEGIN		-- ELIMINAR DESBLOQUEO
		DELETE FROM ReportesApp_Operaciones_ControlItems_MaestroDesbloqueo
		WHERE idDesbloqueo = @idDesbloqueo

		UPDATE ReportesApp_Operaciones_ControlItems_MaestroDesbloqueo
		SET idDesbloqueo = idDesbloqueo - 1
		WHERE idDesbloqueo > @idDesbloqueo

		SET @Exito = '0 = Desbloqueo eliminado correctamente.'
	END
END TRY

BEGIN CATCH
	SET @exito = RTRIM(LTRIM(STR(ERROR_NUMBER()))) + '=' + ERROR_MESSAGE()
	ROLLBACK
	GOTO Terminar
END CATCH

IF @@TRANCOUNT > 0 
	COMMIT;
    --ROLLBACK
    
TERMINAR:
IF LEFT(@Exito,1)='-' OR cast(left(@Exito,1) AS INT)<0
BEGIN
	DECLARE @storedProcedureName VARCHAR(100)
	SELECT @storedProcedureName = OBJECT_NAME(@@PROCID)
	SET @exito = @exito + CHAR(13)+CHAR(13)+'SP Name: '+@storedProcedureName
END
SELECT @exito exito

-------------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 30-12-2024
-- Description:	LISTAR UNIDADES DESBLOQUEADAS
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Operaciones_ControlItems_ListarUnidadesDesbloqueadas]
@Tracto VARCHAR(100)
AS
BEGIN
	UPDATE ReportesApp_Operaciones_ControlItems_MaestroDesbloqueo
	SET Estado = 'INACTIVO'
	WHERE FechaCompromiso <= CONVERT(DATE,GETDATE())
	
	SELECT TOP(25) MD.idDesbloqueo, MD.idTracto, V.NumeroPlaca AS 'UNIDAD', CONVERT(VARCHAR,MD.FechaCompromiso,103) AS 'FECHA_BLOQUEO',
	MD.Estado AS 'ESTADO', MD.UsuarioCreacion, MD.FechaCreacion
	FROM ReportesApp_Operaciones_ControlItems_MaestroDesbloqueo MD
	LEFT JOIN OP_TR_Vehiculo V ON V.IdVehiculo = MD.idTracto
	WHERE (V.NumeroPlaca IS NULL OR V.NumeroPlaca LIKE '%' + @Tracto + '%')
	ORDER BY MD.idDesbloqueo DESC
END

----------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 28-04-2025
-- Description:	ALERTAR KIT DE NEUMÁTICOS
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Operaciones_ControlItems_AlertarKitNeumatico]
@idTracto INT,
@idRuta INT,
@Programacion VARCHAR(30)
AS
DECLARE @Exito VARCHAR(MAX)

BEGIN TRAN
BEGIN TRY
	DECLARE @NumeroPlaca VARCHAR(30) = (SELECT RTRIM(NumeroPlaca) FROM OP_TR_Vehiculo WHERE IdVehiculo = @idTracto)

	IF (@Programacion IN ('LINDLEY','LIMAGAS','TOLVAS','GENERAL')) BEGIN
		IF (@idRuta IN (334, 333, 335, 231, 1137, 230, 1190, 330, 1090, 186, 1174, 119, 236, 468, 835, 1242, 1243, 1269, 566, 184, 1191, 1214, 1231)) BEGIN
			IF (EXISTS(SELECT * FROM ReportesApp_Operaciones_ControlItems_MaestroDesbloqueo WHERE idTracto = @idTracto AND FechaCompromiso > CONVERT(DATE,GETDATE()))) BEGIN
				SET @Exito = '0 = La unidad SÍ cuenta con un Kit de Neumáticos.'
			END
			ELSE BEGIN
				IF (EXISTS(SELECT * FROM ReportesApp_Operaciones_ControlItems_RegistroKitNeumaticos WHERE idTracto = @idTracto)) BEGIN
					SET @Exito = '0 = La unidad SÍ cuenta con un Kit de Neumáticos.'
				END
				ELSE BEGIN
					SET @Exito = '-1 = La unidad '+@NumeroPlaca+' NO puede ser programada para este viaje porque no cuenta con un Kit de Neumáticos asignado. '
								 +'Favor de hacer la solicitud en el almacén de herramientas.'
				END
			END
		END
		ELSE BEGIN
			SET @Exito = '0 = La unidad SÍ cuenta con un Kit de Neumáticos.'
		END
	END
	ELSE BEGIN
		SET @Exito = '0 = La unidad SÍ cuenta con un Kit de Neumáticos.'
	END
END TRY

BEGIN CATCH
	SET @exito = RTRIM(LTRIM(STR(ERROR_NUMBER()))) + '=' + ERROR_MESSAGE()
	ROLLBACK
	GOTO Terminar
END CATCH

IF @@TRANCOUNT > 0 
	COMMIT;
--ROLLBACK
    
TERMINAR:
IF LEFT(@Exito,1)='-' OR cast(left(@Exito,1) AS INT)<0
BEGIN
	DECLARE @storedProcedureName VARCHAR(100)
	SELECT @storedProcedureName = OBJECT_NAME(@@PROCID)
	SET @exito = @exito + CHAR(13)+CHAR(13)+'SP Name: '+@storedProcedureName
END
SELECT @exito exito




