
-- CREAR TABLA ReportesApp_Combustible_InspeccionTanque_Registro

-------------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 17/02/2026
-- Description:	REGISTRAR Y MODIFICAR INSPECCION
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Combustible_InspeccionTanque_IngresarInspeccionTanque]
@Opcion INT,
@idInspeccionT INT,
@idVehiculo INT,
@TipoAlerta VARCHAR(20),
@Fecha DATE,
@Usuario VARCHAR(20)
AS
DECLARE @Exito VARCHAR(MAX) = '0 = '
DECLARE @Correlativo INT

BEGIN TRAN
BEGIN TRY
	DECLARE @Placa VARCHAR(20) = (SELECT NumeroPlaca FROM OP_TR_Vehiculo WHERE IdVehiculo = @idVehiculo)
	
	IF (@Opcion = 1) BEGIN		-- INGRESAR INSPECCIÓN
		IF (@Fecha <= CONVERT(DATE,GETDATE())) BEGIN
			SET @Exito = '-1 = No puede registrar una inspección con una fecha menor a la actual.'
			ROLLBACK
			GOTO Terminar
		END

		IF (EXISTS(SELECT * FROM ReportesApp_Combustible_InspeccionTanque_Registro WHERE IdVehiculo = @idVehiculo AND TipoAlerta = @TipoAlerta
		AND EstadoBloqueado = 'PENDIENTE')) BEGIN
			SET @Exito = '-1 = La unidad '+@Placa+' aún tiene una inspección pendiente.'
			ROLLBACK
			GOTO Terminar
		END

		SET @Correlativo = (SELECT MAX(idInspeccionT) FROM ReportesApp_Combustible_InspeccionTanque_Registro) 
		SET @Correlativo = ISNULL(@Correlativo,0) + 1

		INSERT INTO ReportesApp_Combustible_InspeccionTanque_Registro(idInspeccionT,idVehiculo,TipoAlerta,Fecha,EstadoBloqueado,UsuarioCreacion,FechaCreacion,
		UsuarioInspeccion,FechaInspeccion)
		VALUES(@Correlativo,@idVehiculo,@TipoAlerta,@Fecha,'PENDIENTE',@Usuario,GETDATE(),@Usuario,GETDATE())

		SET @Exito = '0 = La inspección de la unidad '+@Placa+' ha sido registrada correctamente'
	END

	IF (@Opcion = 2) BEGIN		-- ACTUALIZAR ESTADO INSPECCION
		UPDATE ReportesApp_Combustible_InspeccionTanque_Registro
		SET EstadoBloqueado = 'REVISADA', UsuarioInspeccion = @Usuario, FechaInspeccion = GETDATE()
		WHERE idInspeccionT = @idInspeccionT
		
		IF (EXISTS(SELECT * FROM ReportesApp_Operacion_UnidadesBloqueadas WHERE IdUnidad = @idVehiculo AND Descripcion LIKE '%INSPECCIÓN GNL VENCIDA%')) BEGIN
			DECLARE @IdBloqueo INT = (SELECT IdBloqueo FROM ReportesApp_Operacion_UnidadesBloqueadas WHERE IdUnidad = @idVehiculo AND Descripcion LIKE '%INSPECCION GNL VENCIDA%')
			
			INSERT INTO ReportesApp_Operacion_UnidadesBloqueadas_Historial(IdBloqueo,IdCodigoPreviaje,FechaProgramacion,TipoProgramacion,IdUnidad,Motivo,Descripcion,
			Area,UsuarioBloquea,FechaBloquea,MotivoDesbloqueo,AreaDesbloquea,UsuarioDesbloquea,FechaDesbloquea)
			SELECT IdBloqueo,IdCodigoPreviaje,FechaProgramacion,TipoProgramacion,IdUnidad,Motivo,Descripcion,Area,UsuarioBloquea,FechaBloquea,
			'INSPECCIÓN GNL ACTUALIZADA','COMBUSTIBLE',@Usuario,GETDATE()
			FROM ReportesApp_Operacion_UnidadesBloqueadas where idunidad = @idVehiculo and IdBloqueo = @IdBloqueo

			DELETE FROM ReportesApp_Operacion_UnidadesBloqueadas WHERE IDUNIDAD = @idVehiculo and IdBloqueo = @IdBloqueo
		END

		SET @Exito = '0 = La inspección de la unidad '+@Placa+' ha sido actualizada correctamente'
	END

	IF (@Opcion = 3) BEGIN		-- ELIMINAR INSPECCIÓN
		IF (EXISTS(SELECT * FROM ReportesApp_Combustible_InspeccionTanque_Registro WHERE idInspeccionT = @idInspeccionT AND EstadoBloqueado = 'REVISADA')) BEGIN
			SET @Exito = '-2 = No puede eliminar una inspección ya revisada.'
			ROLLBACK
			GOTO Terminar
		END
		ELSE BEGIN
			DELETE FROM ReportesApp_Combustible_InspeccionTanque_Registro
			WHERE idInspeccionT = @idInspeccionT

			SET @Exito = '0 = La inspección ha sido eliminada.'
		END
	END
END TRY

BEGIN CATCH
	SET @Exito = RTRIM(LTRIM(STR(ERROR_NUMBER()))) + '=' + ERROR_MESSAGE()
	ROLLBACK
	GOTO Terminar
END CATCH

IF @@TRANCOUNT > 0 
   COMMIT;
   --ROLLBACK
	
TERMINAR:
IF LEFT(@Exito,1)='-' OR cast(left(@Exito,1) AS INT)<0 BEGIN
	DECLARE @storedProcedureName VARCHAR(100)
	SELECT @storedProcedureName = OBJECT_NAME(@@PROCID)
	SET @Exito = @Exito + CHAR(13)+CHAR(13)+'SP Name: '+@storedProcedureName 
END

SELECT @Exito exito

------------------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 18/02/2026
-- Description:	LISTAR INSPECCION
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Combustible_InspeccionTanque_ListarInspeccionTanque]
@Vehiculo VARCHAR(20),
@FechaInicio VARCHAR(11),
@FechaFin VARCHAR(11),
@TipoInspeccion VARCHAR(30)
AS
DECLARE @FINICIO DATETIME = @FechaInicio
DECLARE @FFIN DATETIME = @FechaFin + ' 23:59'
BEGIN
	SELECT I.idInspeccionT, I.idVehiculo, V.NumeroPlaca AS VEHICULO,
	CASE WHEN V.Estado = 2 AND BL.IdBloqueo IS NULL THEN 'OPERATIVO' ELSE 'INOPERATIVO' END AS ESTADO,
	LTRIM(RTRIM(ME.Descripcion)) AS MARCA, V.Modelo AS MODELO, CASE WHEN V.IndTercero = 'P' THEN 'PROPIO' ELSE 'TERCERO' END AS ORIGEN,
	M.AnoAdquisicion AS AÑO, CASE WHEN O.IdOperacion = 5 THEN 'SIN PROGRAMACION' ELSE O.Descripcion END AS PROGRAMACION,
	I.TipoAlerta AS 'TIPO_INSPECCION', CONVERT(VARCHAR,I.Fecha,103) AS 'FECHA_INSPECCION', I.EstadoBloqueado AS 'ESTADO_INSPECCION',
	CASE WHEN I.EstadoBloqueado = 'PENDIENTE' AND I.Fecha IS NOT NULL THEN DATEDIFF(DAY, CAST(GETDATE() AS DATE), I.Fecha)
    ELSE 0 END AS 'DIAS_FALTANTES', ISNULL(V.Odometro,0.00) AS ODOMETRO, TC.Descripcion AS COMBUSTIBLE,
	CAST(ISNULL(V.Combustible,0) AS DECIMAL(38,2)) AS CAP_COMB, I.UsuarioCreacion, I.FechaCreacion
	FROM ReportesApp_Combustible_InspeccionTanque_Registro I
	LEFT JOIN OP_TR_Vehiculo V WITH(NOLOCK) ON V.IdVehiculo = I.idVehiculo
	LEFT JOIN ReportesApp_Operacion_MaestroUnidadesConductor UC ON V.IdVehiculo = UC.IdUnidad
	LEFT JOIN ReportesApp_Operacion_UnidadesBloqueadas BL ON BL.IdUnidad = UC.IdUnidad
	LEFT JOIN ReportesApp_Operacion_Previaje_Operaciones O ON O.IdOperacion = UC.IdProgramacion
	LEFT JOIN ME_Maquina M ON LTRIM(RTRIM(M.MaquinaCodigo)) = LTRIM(RTRIM(V.NumeroPlaca))
	LEFT JOIN ME_MaquinaMarca ME ON V.Marca = ME.Marca
	LEFT JOIN GE_Varios TC ON TC.Secuencial = V.TipoCombustible AND TC.CodigoTabla = 'OPTIPCOMBUSTIB'
	WHERE (I.Fecha BETWEEN @FINICIO AND @FFIN) AND (V.NumeroPlaca IS NULL OR V.NumeroPlaca LIKE '%' + @Vehiculo + '%')
	AND (@TipoInspeccion = 'TODAS' OR I.TipoAlerta = @TipoInspeccion)
	ORDER BY V.NumeroPlaca, I.Fecha
END

------------------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 21/02/2026
-- Description:	BUSCAR INSPECCION
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Combustible_InspeccionTanque_BuscarInspeccion]
@idVehiculo INT
AS
BEGIN
	SELECT TOP(1) V.NumeroPlaca AS 'VEHICULO', I.TipoAlerta AS 'TIPO_INSPECCION', CONVERT(VARCHAR,I.Fecha,103) AS 'FECHA_INSPECCION',
	CONVERT(VARCHAR,DATEDIFF(DAY, CAST(GETDATE() AS DATE), I.Fecha)) AS 'DIAS_FALTANTES'
	FROM ReportesApp_Combustible_InspeccionTanque_Registro I
	LEFT JOIN OP_TR_Vehiculo V WITH(NOLOCK) ON V.IdVehiculo = I.idVehiculo
	WHERE (I.idVehiculo = @idVehiculo) AND (I.EstadoBloqueado = 'PENDIENTE') AND (DATEDIFF(DAY, CAST(GETDATE() AS DATE), I.Fecha) <= 15)
END

------------------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 19-02-2026
-- Description:	GENERAR LISTA DE INSPECCIONES POR VENCER
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Combustible_InspeccionTanque_ListarInspeccionesPendientes]
AS
BEGIN
	DECLARE @OP_PLACAS TABLE (Numero INT, idVehiculo INT, Usuario VARCHAR(80))
	DECLARE @Contador INT = 1
	DECLARE @idVehiculo INT, @Usuario VARCHAR(80)

	INSERT INTO @OP_PLACAS(Numero, idVehiculo, Usuario)
	SELECT DISTINCT ROW_NUMBER() OVER(ORDER BY I.idVehiculo ASC), I.idVehiculo, I.UsuarioCreacion
	FROM ReportesApp_Combustible_InspeccionTanque_Registro I
	WHERE I.EstadoBloqueado = 'PENDIENTE' AND DATEDIFF(DAY, CAST(GETDATE() AS DATE), I.Fecha) <= 0

	WHILE (@Contador <= (SELECT COUNT(Numero) FROM @OP_PLACAS)) BEGIN
		SET @idVehiculo = (SELECT idVehiculo FROM @OP_PLACAS WHERE Numero = @Contador)
		SET @Usuario = (SELECT Usuario FROM @OP_PLACAS WHERE Numero = @Contador)

		IF NOT EXISTS (SELECT * FROM ReportesApp_Operacion_UnidadesBloqueadas WHERE IdUnidad = @idVehiculo) BEGIN
			INSERT INTO ReportesApp_Operacion_UnidadesBloqueadas(IdCodigoPreviaje,FechaProgramacion,TipoProgramacion,IdUnidad,Motivo,Area,
																 Descripcion,UsuarioBloquea,FechaBloquea,FechaInicio,FechaFin,Bloqueo)
			VALUES(0,GETDATE(),0,@idVehiculo,'INSPECCIÓN VENCIDA','COMBUSTIBLE','INSPECCIÓN GNL VENCIDA',@Usuario,GETDATE(),NULL,NULL,1)
		END
	
		SET @Contador = @Contador + 1
	END

	DECLARE @Mensaje AS VARCHAR(MAX), @Asunto VARCHAR(300), @Aviso AS VARCHAR(300)
	DECLARE @Bloqueados VARCHAR(MAX) = ''

	SELECT @Bloqueados = @Bloqueados + '<tr>'
						 + '<td style="background-color: white">' + LTRIM(RTRIM(V.NumeroPlaca)) + '</td>'
						 + '<td style="background-color: white">' + CASE WHEN O.IdOperacion = 5 THEN 'SIN PROGRAMACION' ELSE O.Descripcion END + '</td>'
						 + '<td style="background-color: white">' + TC.Descripcion + '</td>'
						 + '<td style="background-color: white">' + I.TipoAlerta + '</td>'
						 + '<td style="background-color: white">' + CONVERT(VARCHAR,I.Fecha,103) + '</td>'
						 + '<td style="background-color: white">' + CONVERT(VARCHAR,DATEDIFF(DAY, CAST(GETDATE() AS DATE), I.Fecha)) + '</td>'
						 + '</tr>' 
	FROM ReportesApp_Combustible_InspeccionTanque_Registro I
	LEFT JOIN OP_TR_Vehiculo V WITH(NOLOCK) ON V.IdVehiculo = I.idVehiculo
	LEFT JOIN ReportesApp_Operacion_MaestroUnidadesConductor UC ON V.IdVehiculo = UC.IdUnidad
	LEFT JOIN ReportesApp_Operacion_Previaje_Operaciones O ON O.IdOperacion = UC.IdProgramacion
	LEFT JOIN GE_Varios TC ON TC.Secuencial = V.TipoCombustible AND TC.CodigoTabla = 'OPTIPCOMBUSTIB'
	WHERE I.EstadoBloqueado = 'PENDIENTE' AND DATEDIFF(DAY, CAST(GETDATE() AS DATE), I.Fecha) <= 15
	ORDER BY I.Fecha ASC
	
	SET @Asunto = 'AVISO DE INSPECCIONES GNL POR VENCER'

	SET @Mensaje = '<p><h2>LISTA DE INSPECCIONES GNL POR VENCER O VENCIDAS</h2></p>'
				  +'<p>Estas son las unidades que ya están cerca de su fecha de inspección de tanques GNL o ya vencieron. </p>'
				  +'<p>Las unidades cuyas inspecciones se encuentren vencidas han sido bloqueadas. Comunicarse con el área de combustible. </p>'
				  + '<p><table border="1" cellspacing="1" cellpadding="1" >
					    <tr>
						    <td align="center" style="background-color:orange"><b>VEHÍCULO</b></td>
							<td align="center" style="background-color:orange"><b>PROGRAMACIÓN</b></td>
							<td align="center" style="background-color:orange"><b>COMBUSTIBLE</b></td>
							<td align="center" style="background-color:orange"><b>TIPO DE INSPECCION</b></td>
							<td align="center" style="background-color:orange"><b>FECHA DE INSPECCION</b></td>
							<td align="center" style="background-color:orange"><b>DÍAS FALTANTES</b></td>
						</tr>
						<tbody>'
						+ ISNULL(@Bloqueados, '') 	
						+'</tbody>
						</table>
					</p>'
				  +'<p>Fecha de envío: '+CONVERT(CHAR(10),GETDATE(),103)+RIGHT(RTRIM(CONVERT(CHAR(26),GETDATE(),22)),12)+'</p>'
				  +'<BR>'
				  +'<p><font face="verdana" size="2" color="DarkRed">Tecnologías de la Información - GRUPO TRANSPESA</font></p>'
	
	EXEC msdb.dbo.sp_send_dbmail 
		 @profile_name='AVISODESISTEMA', -- REAL: @profile_name = 'AVISODESISTEMA',  -- PRUEBAS: @profile_name = 'AVISODELSISTEMA',
		 @recipients = 'supervisoroperaciones@transpesa.com.pe;programacionlindley@transpesa.com.pe;gerenciaoperaciones@transpesa.com.pe;planneroperaciones@transpesa.com.pe;operacionestrujillo3@transpesa.com.pe;operacionestrujillo@transpesa.com.pe;lleython@transpesa.com.pe;operacionesLima@transpesa.com.pe;operacionesLima1@transpesa.com.pe;planneroperaciones1@transpesa.com.pe;operacioneslima2@transpesa.com.pe',
		 @blind_copy_recipients = 'legal@transpesa.com.pe;combustible@transpesa.com.pe;ccombustible@transpesa.com.pe',
		 @subject = @Asunto,
		 @body_format = 'HTML',
		 @body = @Mensaje
END

------------------------------------------------------------------------------------------

IF ((SELECT COUNT(idInspeccionT) FROM ReportesApp_Combustible_InspeccionTanque_Registro WHERE EstadoBloqueado = 'PENDIENTE' AND
DATEDIFF(DAY, CAST(GETDATE() AS DATE), Fecha) <= 15) > 0) BEGIN
	EXEC ReportesApp_Combustible_InspeccionTanque_ListarInspeccionesPendientes
END


SELECT UltimaInspeccion, * FROM ReportesApp_Mantenimiento_FallasMecanicas_Registros ORDER BY FechaCreacion DESC
