
-- CREAR ReportesApp_RRHH_Vacaciones_VacacionesProgramadas

-----------------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 20-03-2026
-- Description:	REGISTRAR Y ELIMINAR VACACIONES
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_RRHH_Vacaciones_ProgramarVacacionesPendientes]
@Opcion INT,
@idProgV INT,
@Persona INT,
@DiasPendientes INT,
@FechaInicio DATE,
@FechaFin DATE,
@Reemplazo INT,
@Usuario VARCHAR(20)
AS
DECLARE @Exito VARCHAR(MAX)
DECLARE @Contador INT 

BEGIN TRAN
BEGIN TRY
	IF (@Opcion = 1) BEGIN		-- PROGRAMAR VACACIONES
		DECLARE @TotalDias INT = (SELECT DATEDIFF(DAY,@FechaInicio,@FechaFin) + 1)

		IF (@FechaInicio < CAST(GETDATE() AS DATE) OR @FechaFin < CAST(GETDATE() AS DATE)) BEGIN
			SET @Exito = '-4 = No puede programar vacaciones en fechas pasadas.'
			ROLLBACK
			GOTO Terminar
		END
		
		IF EXISTS (SELECT 1 FROM PR_VacacionUtilizacion WHERE Empleado = @Persona AND TipoUtilizacion = 'GOC' AND @FechaInicio <= FechaFin 
		AND @FechaFin >= FechaInicio) BEGIN
			SET @Exito = '-1 = No puede programar vacaciones en una fecha que ya ha sido registrada en el sistema.'
			ROLLBACK
			GOTO Terminar
		END

		IF EXISTS (SELECT 1 FROM ReportesApp_RRHH_Vacaciones_VacacionesProgramadas WHERE Persona = @Persona AND @FechaInicio <= FechaFin
		AND @FechaFin >= FechaInicio) BEGIN
			SET @Exito = '-2 = No puede programar vacaciones en una fecha que ya ha sido programada anteriormente.'
			ROLLBACK
			GOTO Terminar
		END

		IF (@TotalDias > @DiasPendientes) BEGIN
			SET @Exito = '-3 = No puede programar vacaciones que superen los '+ CONVERT(VARCHAR,@DiasPendientes) +' días pendientes.'
			ROLLBACK
			GOTO Terminar
		END
		ELSE BEGIN
			SET @Contador = (SELECT MAX(idProgV) FROM ReportesApp_RRHH_Vacaciones_VacacionesProgramadas)
			SET @Contador = ISNULL(@Contador,0) + 1

			INSERT INTO ReportesApp_RRHH_Vacaciones_VacacionesProgramadas(idProgV,Persona,FechaInicio,FechaFin,TotalDias,PersonaReemplazo,UsuarioCrea,FechaCrea)
			VALUES(@Contador,@Persona,@FechaInicio,@FechaFin,@TotalDias,@Reemplazo,@Usuario,GETDATE())
		
			SET @Exito = '0 = Vacaciones programadas correctamente.'
		END
	END

	IF (@Opcion = 2) BEGIN		-- ELIMINAR PROGRAMACIONES
		DELETE FROM ReportesApp_RRHH_Vacaciones_VacacionesProgramadas
		WHERE idProgV = @idProgV

		SET @Exito = '0 = Programación eliminada correctamente.'
	END
END TRY

BEGIN CATCH
	SET @exito = RTRIM(LTRIM(STR(ERROR_NUMBER()))) + '=' + ERROR_MESSAGE()
	ROLLBACK
	GOTO Terminar
END CATCH

IF @@TRANCOUNT > 0 
	COMMIT;
    --ROLLBACK
    
TERMINAR:
IF LEFT(@Exito,1)='-' OR cast(left(@Exito,1) AS INT)<0
BEGIN
	DECLARE @storedProcedureName VARCHAR(100)
	SELECT @storedProcedureName = OBJECT_NAME(@@PROCID)
	SET @exito = @exito + CHAR(13)+CHAR(13)+'SP Name: '+@storedProcedureName
END
SELECT @exito exito

-----------------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 19-03-2026
-- Description:	REPORTE DE VACACIONES PENDIENTES
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_RRHH_Vacaciones_ListarVacacionesPendientes]
@Nombre VARCHAR(300),
@Area VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Columnas NVARCHAR(MAX);
    DECLARE @SQL NVARCHAR(MAX);

    ;WITH Anios AS
    (SELECT DISTINCT CAST(VP.Ano AS VARCHAR(4)) AS ANIO
    FROM PR_VacacionPeriodo VP
	INNER JOIN EmpleadoMast E ON E.Empleado = VP.Empleado AND E.CompaniaSocio = VP.CompaniaSocio
    WHERE E.Estado = 'A' AND E.CompaniaSocio = '10000000' AND E.Empleado <> 0 AND VP.Derecho = 30 AND VP.Ano >= YEAR(GETDATE()) - 3)
    
	SELECT @Columnas = STUFF((SELECT ',' + QUOTENAME(ANIO) FROM Anios ORDER BY ANIO FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'), 1, 1, '');

    SET @SQL = 'WITH
	Utilizados AS
    (SELECT Empleado, CompaniaSocio, NumeroPeriodo, SUM(ISNULL(DiasUtilizacion, 0)) AS TotalUtilizados
	FROM PR_VacacionUtilizacion
    WHERE TipoUtilizacion = ''GOC''
    GROUP BY Empleado, CompaniaSocio, NumeroPeriodo),

    Base AS
    (SELECT A.[Description] AS AREA, E.Empleado, RTRIM(P.NombreCompleto) AS NOMBRES, RTRIM(C.Descripcion) AS CARGO,
    CONVERT(VARCHAR, E.FechaIngreso, 103) AS FECHA_INGRESO, VP.Ano, VP.NumeroPeriodo, VP.CompaniaSocio,
    (VP.Derecho - ISNULL(U.TotalUtilizados, 0)) AS DIAS_PENDIENTES
	FROM PR_VacacionPeriodo VP
	LEFT JOIN EmpleadoMast E ON E.Empleado = VP.Empleado AND E.CompaniaSocio = VP.CompaniaSocio
    LEFT JOIN PersonaMast P ON P.Persona = E.Empleado
    LEFT JOIN departmentmst A ON E.DeptoOrganizacion = A.Department
    LEFT JOIN hr_puestoempresa C ON C.CodigoPuesto = E.CodigoCargo
    LEFT JOIN Utilizados U ON U.Empleado = VP.Empleado AND U.CompaniaSocio = VP.CompaniaSocio AND U.NumeroPeriodo = VP.NumeroPeriodo
    WHERE (E.Estado = ''A'') AND (E.CompaniaSocio = ''10000000'') AND (E.Empleado <> 0) AND (VP.Derecho >= 30) AND (VP.Ano >= YEAR(GETDATE()) - 3)
    AND ((VP.Derecho - ISNULL(U.TotalUtilizados, 0)) <> 0) AND (P.NombreCompleto IS NULL OR P.NombreCompleto LIKE ''%'' + @Nombre + ''%'') AND
	(@Area = ''TODAS'' OR A.[Description] = @Area)),

    PivotBase AS
    (SELECT AREA, Empleado, NOMBRES, CARGO, FECHA_INGRESO, CAST(Ano AS VARCHAR(4)) AS ANIO, DIAS_PENDIENTES FROM Base),

    PivotResult AS
    (SELECT AREA, Empleado, NOMBRES, CARGO, FECHA_INGRESO, ' + @Columnas + ' FROM PivotBase
	PIVOT (SUM(DIAS_PENDIENTES) FOR ANIO IN (' + @Columnas + ')) AS P),

    DetalleVacaciones AS
    (SELECT B.Empleado, VU.DiasUtilizacion AS NRO_DIAS, VU.FechaInicio AS FECHA_INICIO, VU.FechaFin AS FECHA_FIN
    FROM Base B
    LEFT JOIN PR_VacacionUtilizacion VU ON VU.Empleado = B.Empleado AND VU.CompaniaSocio = B.CompaniaSocio AND
	VU.NumeroPeriodo = B.NumeroPeriodo AND VU.TipoUtilizacion = ''GOC'')

    SELECT P.AREA, P.Empleado, P.NOMBRES, P.CARGO, P.FECHA_INGRESO,' + REPLACE(@Columnas, ',', ', P.') + ',
	VP.idProgV, CONVERT(VARCHAR, VP.FechaInicio, 103) AS FECHA_INICIO, CONVERT(VARCHAR, VP.FechaFin, 103) AS FECHA_FIN,
	VP.TotalDias AS NRO_DIAS, RTRIM(PM.NombreCompleto) AS REEMPLAZO
	FROM PivotResult P
	LEFT JOIN ReportesApp_RRHH_Vacaciones_VacacionesProgramadas VP ON P.Empleado = VP.Persona
	LEFT JOIN PersonaMast PM ON PM.Persona = VP.PersonaReemplazo
    ORDER BY P.AREA, P.Empleado, VP.FechaInicio;';

    EXEC sp_executesql @SQL, N'@Nombre VARCHAR(300), @Area VARCHAR(50)', @Nombre = @Nombre, @Area = @Area;
END

