
-- CREAR TABLA ReportesApp_Operaciones_TicketGasto_CambioRuta

---------------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 21-07-2023
-- Description:	INSERTAR TICKET DE GASTO
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Operaciones_TicketGasto_RegistrarTicketGasto]
@NroTicket INT,
@idGastoxRutaC INT,
@TotalEntregado DECIMAL(10,2),
@Usuario VARCHAR(50)
AS
DECLARE @Exito VARCHAR(MAX)
DECLARE @correlativo INT
DECLARE @correlativo2 INT
DECLARE @IdConductor INT
DECLARE @Contador INT
DECLARE @idRutaOriginal INT

SET @Exito = '0 = Planilla Registrada.'

SET @IdConductor = (SELECT IdConductor FROM ReportesApp_Operacion_Previaje_Registros WHERE NroTicket = @NroTicket)
SET @idRutaOriginal = (SELECT IdRuta FROM ReportesApp_Operacion_Previaje_Registros WHERE NroTicket = @NroTicket)
SET @Contador = (SELECT COUNT(TG.ViConductor) FROM ReportesApp_Operaciones_TicketGasto_Registro TG WHERE TG.EstadoLiquidacion = 0 AND TG.ViConductor = @IdConductor)

SET @correlativo = (SELECT MAX(idTicketGasto) FROM ReportesApp_Operaciones_TicketGasto_Registro WHERE Anio = YEAR(GETDATE()))
SET @correlativo = ISNULL(@correlativo,0) + 1

BEGIN TRAN
BEGIN TRY
	INSERT INTO ReportesApp_Operaciones_TicketGasto_Registro(idTicketGasto, Anio, CodGasto, NroTicket, idRuta, idGastoXRutaC, TotalEntregado, FechaCreacion,
				UsuarioCreacion,EstadoLiquidacion,Permiso)
	VALUES(@correlativo, YEAR(GETDATE()), SUBSTRING(CONVERT(VARCHAR(20), YEAR(GETDATE())),3,2) + CONVERT(VARCHAR(20),RIGHT('000000'+LTRIM(RTRIM(@correlativo)),6)),
	@NroTicket, @idRutaOriginal, @idGastoxRutaC, @TotalEntregado, GETDATE(), @Usuario, 0, 0)

	UPDATE ReportesApp_Operaciones_TicketGasto_Registro
	SET ViConductor = (SELECT IdConductor FROM ReportesApp_Operacion_Previaje_Registros WHERE NroTicket = @NroTicket), IdOperacion = (SELECT TipoProgramacion FROM ReportesApp_Operacion_Previaje_Registros WHERE NroTicket = @NroTicket)
	WHERE CodGasto = SUBSTRING(CONVERT(VARCHAR(20), YEAR(GETDATE())),3,2) + CONVERT(VARCHAR(20),RIGHT('000000'+LTRIM(RTRIM(@correlativo)),6))
	
	UPDATE ReportesApp_Operacion_Previaje_Registros
	SET Planilla = SUBSTRING(CONVERT(VARCHAR(20), YEAR(GETDATE())),3,2) + CONVERT(VARCHAR(20),RIGHT('000000'+LTRIM(RTRIM(@correlativo)),6))
	WHERE NroTicket = @NroTicket

	SET @correlativo2 = (SELECT MAX(idTicketDespacho) FROM ReportesApp_Operaciones_Previajes_TicketDespacho)
	SET @correlativo2 = ISNULL(@correlativo2,0) + 1

	INSERT INTO ReportesApp_Operaciones_Previajes_TicketDespacho(idTicketDespacho,CodigoPreviaje,Fecha,UsuarioCrea,FechaCrea)
	VALUES(@correlativo2,@NroTicket,GETDATE(),@Usuario,GETDATE())
	
	SET @Exito = '0 = Planilla Registrada. PL - ' + SUBSTRING(CONVERT(VARCHAR(20), YEAR(GETDATE())),3,2) + CONVERT(VARCHAR(20),RIGHT('000000'+LTRIM(RTRIM(@correlativo)),6))
END TRY

BEGIN CATCH
	SET @exito = RTRIM(LTRIM(STR(ERROR_NUMBER()))) + '=' + ERROR_MESSAGE()
	ROLLBACK
	GOTO Terminar
END CATCH

IF @@TRANCOUNT > 0 
	COMMIT;
    --ROLLBACK
    
TERMINAR:
IF LEFT(@Exito,1)='-' OR cast(left(@Exito,1) AS INT)<0
BEGIN
	DECLARE @storedProcedureName VARCHAR(100)
	SELECT @storedProcedureName = OBJECT_NAME(@@PROCID)
	SET @exito = @exito + CHAR(13)+CHAR(13)+'SP Name: '+@storedProcedureName
END
SELECT @exito exito

------------------------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 10-08-2023
-- Description:	LISTAR PLANILLAS LIQUIDADAS
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Operaciones_TicketGasto_ListarPlanillasLiquidadas]
@IdOperacion INT,
@FechaInicio VARCHAR(11),
@FechaFin VARCHAR(11),
@NombreConductor VARCHAR(250),
@Planilla VARCHAR(50),
@Ruta VARCHAR(250),
@Estado INT
AS
DECLARE @FINICIO DATETIME = @FechaInicio
DECLARE @FFIN DATETIME = @FechaFin + ' 23:59'
BEGIN
	IF @Estado = 1 BEGIN
		SELECT TG.idTicketGasto, ISNULL(P.IdRuta,TG.IdRuta) AS 'IdRuta', ISNULL(P.TipoProgramacion,TG.IdOperacion) AS 'TipoProgramacion', TG.ViConductor AS 'IdConductor',
		TG.NroRepGasto AS 'RG', TG.Sucursal AS 'SUCURSAL', TG.FechaCreacion AS 'FECHA', TG.CodGasto AS 'PLANILLA', TG.NroTicket AS 'PREVIAJE', O.Descripcion AS 'OPERACION',
		C.Nombre AS 'CONDUCTOR', V.NumeroPlaca AS 'TRACTO', VJ.Descripcion AS 'RUTA', TG.TotalEntregado AS 'IMPORTE_TOTAL', ISNULL(TG.TotalGastado,0) AS 'TOTAL_GASTO',
		ISNULL(TG.Vuelto,0) AS 'VUELTO', ISNULL(TG.Descuento,0) AS 'DESCUENTO', ISNULL(TG.Reintegro,0) AS 'REINTEGRO', TG.UsuarioLiquidacion AS 'USUARIO',
		CONVERT(CHAR(10),TG.FechaLiquidacion,103)+RIGHT(RTRIM(CONVERT(CHAR(26),TG.FechaLiquidacion,22)),12) AS 'FECHA_LIQUIDACION',
		LTRIM(RTRIM(Dp.DescripcionCorta))+' - '+LTRIM(RTRIM(PV.DescripcionCorta)) AS 'ORIGEN_CONDUCTOR', LTRIM(RTRIM(Zp.DescripcionCorta)) AS 'ZONA_CONDUCTOR',
		TG.Observacion AS 'OBSERVACION' FROM ReportesApp_Operaciones_TicketGasto_Registro TG
		LEFT JOIN ReportesApp_Operacion_Previaje_Registros P ON P.NroTicket = TG.NroTicket
		LEFT JOIN OP_TR_Ruta VJ ON VJ.IdRuta = ISNULL(P.IdRuta,TG.IdRuta)
		LEFT JOIN OP_TR_Vehiculo V WITH(NOLOCK) ON V.IdVehiculo = ISNULL(TG.IdTracto,P.idTracto)
		LEFT JOIN OP_TR_Conductor C ON C.IdConductor = TG.ViConductor
		LEFT JOIN ReportesApp_Operaciones_TicketGasto_GastoXRutaCabecera GC ON GC.idGastoXRutaC = TG.idGastoXRutaC
		LEFT JOIN PersonaMast PM ON LTRIM(RTRIM(PM.Documento)) = LTRIM(RTRIM(C.Documento))
		LEFT JOIN ReportesApp_Operacion_Previaje_Operaciones O ON O.IdOperacion = TG.IdOperacion
		LEFT JOIN Departamento Dp ON dp.Departamento = PM.Departamento
		LEFT JOIN Provincia Pv ON pv.Departamento = PM.Departamento AND pv.Provincia = PM.Provincia
		LEFT JOIN ZonaPostal Zp on Zp.Departamento = PM.Departamento AND zp.Provincia = PM.Provincia AND zp.CodigoPostal = PM.CodigoPostal
		WHERE ((@IdOperacion = 5 OR TG.IdOperacion = @IdOperacion) AND (TG.FechaLiquidacion BETWEEN @FINICIO AND @FFIN) AND (TG.EstadoLiquidacion = @Estado) AND
		(VJ.Descripcion IS NULL OR VJ.Descripcion LIKE '%' + @Ruta + '%') AND (TG.CodGasto IS NULL OR TG.CodGasto LIKE '%' + @Planilla + '%') AND
		(C.Nombre IS NULL OR C.Nombre LIKE '%' + @NombreConductor + '%'))
		ORDER BY TG.NroRepGasto DESC
	END

	IF @Estado = 0 BEGIN
		SELECT TG.idTicketGasto, ISNULL(P.IdRuta,TG.IdRuta) AS 'IdRuta', ISNULL(P.TipoProgramacion,TG.IdOperacion) AS 'TipoProgramacion',
		ISNULL(TG.idGastoXRutaC,22) AS 'idGastoXRutaC', TG.ViConductor AS 'IdConductor', TG.ViConductor, TG.FechaCreacion AS 'FECHA', TG.CodGasto AS 'PLANILLA',
		CASE WHEN EXISTS(SELECT * FROM AP_GastoAdelanto WHERE NumeroDocumentoInterno = TG.CodGasto AND Descripcion LIKE '%GASTOS DE%' AND Estado = 'TR') THEN 'GENERADO'
		WHEN EXISTS(SELECT * FROM AP_GastoAdelanto WHERE NumeroDocumentoInterno = TG.CodGasto AND Descripcion LIKE '%GASTOS DE%' AND Estado IN ('PA','AL')) THEN 'PAGADO'
		ELSE ' ' END AS 'CAJA', ISNULL(TG.NroTicket,-1) AS 'PREVIAJE', O.Descripcion AS 'OPERACION', C.Nombre AS 'CONDUCTOR', V.NumeroPlaca AS 'TRACTO', VJ.Descripcion AS 'RUTA',
		TG.TotalEntregado - ISNULL(TG.GastoDiferencialV,0) - ISNULL(GastoDiferencial,0) AS 'IMPORTE_TOTAL', ISNULL(TG.GastoDiferencialV,0) AS 'ADICIONAL',
		CASE WHEN EXISTS(SELECT 1 FROM AP_GastoAdelanto WHERE NumeroDocumentoInterno = TG.CodGasto AND Descripcion LIKE '%ADICIONAL%' AND Estado = 'TR') THEN 'GENERADO'
		WHEN EXISTS(SELECT 1 FROM AP_GastoAdelanto WHERE NumeroDocumentoInterno = TG.CodGasto AND Descripcion LIKE '%ADICIONAL%') AND NOT EXISTS (SELECT 1 FROM AP_GastoAdelanto
		WHERE NumeroDocumentoInterno = TG.CodGasto AND Descripcion LIKE '%ADICIONAL%' AND Estado NOT IN ('PA','AL')) THEN 'PAGADO'
		ELSE (SELECT TOP(1) Estado FROM ReportesApp_Operaciones_TicketGasto_Viaticos WHERE CodGasto = TG.CodGasto ORDER BY Fecha DESC) END AS 'CAJA_ADICIONAL',
		ISNULL(TG.GastoDiferencial,0) AS 'CAMBIO_RUTA', ISNULL(TG.TotalGastado,0) AS 'TOTAL_GASTO', ISNULL(TG.Vuelto,0) AS 'VUELTO', ISNULL(TG.Descuento,0) AS 'DESCUENTO',
		ISNULL(TG.Reintegro,0) AS 'REINTEGRO', TG.UsuarioCreacion AS 'USUARIO', LTRIM(RTRIM(Dp.DescripcionCorta))+' - '+LTRIM(RTRIM(PV.DescripcionCorta)) AS 'ORIGEN_CONDUCTOR',
		LTRIM(RTRIM(Zp.DescripcionCorta)) AS 'ZONA_CONDUCTOR', TG.Permiso, CASE WHEN TG.Permiso = 0 THEN ' ' ELSE 'OK' END AS 'AUTORIZACION',
		TG.Observacion AS 'OBSERVACION' FROM ReportesApp_Operaciones_TicketGasto_Registro TG
		LEFT JOIN ReportesApp_Operacion_Previaje_Registros P ON P.NroTicket = TG.NroTicket
		LEFT JOIN OP_TR_Ruta VJ ON VJ.IdRuta = ISNULL(P.IdRuta,TG.IdRuta)
		LEFT JOIN OP_TR_Vehiculo V WITH(NOLOCK) ON V.IdVehiculo = ISNULL(TG.IdTracto,P.idTracto)
		LEFT JOIN OP_TR_Conductor C ON C.IdConductor = TG.ViConductor
		LEFT JOIN ReportesApp_Operaciones_TicketGasto_GastoXRutaCabecera GC ON GC.idGastoXRutaC = TG.idGastoXRutaC
		LEFT JOIN PersonaMast PM ON LTRIM(RTRIM(PM.Documento)) = LTRIM(RTRIM(C.Documento))
		LEFT JOIN ReportesApp_Operacion_Previaje_Operaciones O ON O.IdOperacion = TG.IdOperacion
		LEFT JOIN Departamento Dp ON dp.Departamento = PM.Departamento
		LEFT JOIN Provincia Pv ON pv.Departamento = PM.Departamento AND pv.Provincia = PM.Provincia
		LEFT JOIN ZonaPostal Zp on Zp.Departamento = PM.Departamento AND zp.Provincia = PM.Provincia AND zp.CodigoPostal = PM.CodigoPostal
		WHERE ((@IdOperacion = 5 OR TG.IdOperacion = @IdOperacion) AND (TG.FechaCreacion BETWEEN @FINICIO AND @FFIN) AND (TG.EstadoLiquidacion = @Estado) AND
		(VJ.Descripcion IS NULL OR VJ.Descripcion LIKE '%' + @Ruta + '%') AND (TG.CodGasto IS NULL OR TG.CodGasto LIKE '%' + @Planilla + '%') AND
		(C.Nombre IS NULL OR C.Nombre LIKE '%' + @NombreConductor + '%'))
		ORDER BY TG.FechaCreacion DESC
	END

	IF @Estado = 2 BEGIN
		SELECT TG.FechaCreacion AS 'FECHA', TG.CodGasto AS 'PLANILLA', O.Descripcion AS 'OPERACION', C.Nombre AS 'CONDUCTOR',
		LTRIM(RTRIM(Dp.DescripcionCorta))+' - '+LTRIM(RTRIM(PV.DescripcionCorta)) AS 'ORIGEN_CONDUCTOR', LTRIM(RTRIM(Zp.DescripcionCorta)) AS 'ZONA_CONDUCTOR',
		V.NumeroPlaca AS 'TRACTO', VJ.Descripcion AS 'RUTA', TG.TotalEntregado - ISNULL(TG.GastoDiferencialV,0) - ISNULL(GastoDiferencial,0) AS 'IMPORTE_TOTAL',
		ISNULL(TG.GastoDiferencialV,0) AS 'ADICIONAL', TG.UsuarioCreacion AS 'USUARIO_CREA', TG.UsuarioLiquidacion AS 'USUARIO_ANULA', TG.FechaLiquidacion AS 'FECHA_ANULA'
		FROM ReportesApp_Operaciones_TicketGasto_Registro TG
		LEFT JOIN ReportesApp_Operacion_Previaje_Registros P ON P.NroTicket = TG.NroTicket
		LEFT JOIN OP_TR_Ruta VJ ON VJ.IdRuta = ISNULL(P.IdRuta,TG.IdRuta)
		LEFT JOIN OP_TR_Vehiculo V WITH(NOLOCK) ON V.IdVehiculo = ISNULL(TG.IdTracto,P.idTracto)
		LEFT JOIN OP_TR_Conductor C ON C.IdConductor = TG.ViConductor
		LEFT JOIN PersonaMast PM ON LTRIM(RTRIM(PM.Documento)) = LTRIM(RTRIM(C.Documento))
		LEFT JOIN ReportesApp_Operacion_Previaje_Operaciones O ON O.IdOperacion = TG.IdOperacion
		LEFT JOIN Departamento Dp ON dp.Departamento = PM.Departamento
		LEFT JOIN Provincia Pv ON pv.Departamento = PM.Departamento AND pv.Provincia = PM.Provincia
		LEFT JOIN ZonaPostal Zp on Zp.Departamento = PM.Departamento AND zp.Provincia = PM.Provincia AND zp.CodigoPostal = PM.CodigoPostal
		WHERE ((@IdOperacion = 5 OR TG.IdOperacion = @IdOperacion) AND (TG.FechaLiquidacion BETWEEN @FINICIO AND @FFIN) AND (TG.EstadoLiquidacion = @Estado) AND
		(VJ.Descripcion IS NULL OR VJ.Descripcion LIKE '%' + @Ruta + '%') AND (TG.CodGasto IS NULL OR TG.CodGasto LIKE '%' + @Planilla + '%') AND
		(C.Nombre IS NULL OR C.Nombre LIKE '%' + @NombreConductor + '%'))
		ORDER BY TG.FechaCreacion DESC
	END
END

------------------------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 22-01-2024
-- Description:	LISTAR GASTOS ADICIONALES
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Operaciones_TicketGasto_ListarGastosAdicionales]
@Opcion INT,
@IdRuta INT,
@IdOperacion INT,
@idGastoxRutaD INT
AS
BEGIN
	SET NOCOUNT ON;
	IF (@Opcion = 1) BEGIN		-- LISTAR GASTOS ADICIONALES
		SELECT idGastoxRutaD, Descripcion FROM ReportesApp_Operaciones_TicketGasto_GastoXRutaDetalle
		WHERE (idGastoxRutaC = (SELECT idGastoxRutaC FROM ReportesApp_Operaciones_TicketGasto_GastoXRutaCabecera WHERE IdRuta = @IdRuta AND IdOperacion = @IdOperacion))
		AND (Adicional = 1)
	END
	
	IF (@Opcion = 2) BEGIN		-- LISTAR GASTO POR ID
		SELECT idGastoxRutaD, Gasto FROM ReportesApp_Operaciones_TicketGasto_GastoXRutaDetalle
		WHERE (idGastoxRutaD = @idGastoxRutaD)
	END

	IF (@Opcion = 3) BEGIN		-- LISTAR SUMA DE GASTOS ADICIONALES
		IF (EXISTS(SELECT * FROM ReportesApp_Operaciones_TicketGasto_GastoXRutaCabecera WHERE IdRuta = @IdRuta AND IdOperacion = @IdOperacion)) BEGIN
			SELECT ISNULL(SUM(Gasto),0) AS 'REINTEGRO' FROM ReportesApp_Operaciones_TicketGasto_GastoXRutaDetalle
			WHERE (idGastoxRutaC = (SELECT idGastoxRutaC FROM ReportesApp_Operaciones_TicketGasto_GastoXRutaCabecera WHERE IdRuta = @IdRuta AND IdOperacion = @IdOperacion))
			AND (Adicional = 1) 
		END
		ELSE BEGIN
			SELECT 0.00 AS 'REINTEGRO'
		END
	END

	IF (@Opcion = 4) BEGIN		-- LISTAR GASTOS DE MAESTRO
		IF (EXISTS(SELECT * FROM ReportesApp_Operaciones_TicketGasto_GastoXRutaCabecera WHERE IdRuta = @IdRuta AND IdOperacion = @IdOperacion)) BEGIN
			SELECT GastoTotal AS 'GASTO' FROM ReportesApp_Operaciones_TicketGasto_GastoXRutaCabecera WHERE IdRuta = @IdRuta AND IdOperacion = @IdOperacion
		END
		ELSE BEGIN
			SELECT 0.00 AS 'GASTO'
		END
	END

	IF (@Opcion = 5) BEGIN		-- LISTAR RUTAS CON SU GASTO POR OPERACION
		SELECT GC.IdRuta, R.Descripcion AS 'RUTA' FROM ReportesApp_Operaciones_TicketGasto_GastoXRutaCabecera GC
		LEFT JOIN OP_TR_RUTA R ON R.IdRuta = GC.IdRuta
		WHERE GC.IdOperacion = @IdOperacion AND R.Estado = 2
	END

	IF (@Opcion = 6) BEGIN		-- LISTAR GASTOS DE RUTA DE PLANILLA
		DECLARE @idGastoxRutaC INT = (SELECT idGastoxRutaC FROM ReportesApp_Operaciones_TicketGasto_Registro WHERE CodGasto = CONVERT(VARCHAR,@IdOperacion))
		DECLARE @idRutaOriginal INT = (SELECT IdRuta FROM ReportesApp_Operaciones_TicketGasto_GastoXRutaCabecera WHERE idGastoxRutaC = @idGastoxRutaC)
		
		SELECT R.Descripcion AS 'RUTA', TG.TotalEntregado AS 'GASTO' FROM ReportesApp_Operaciones_TicketGasto_Registro TG
		LEFT JOIN OP_TR_RUTA R ON R.IdRuta = ISNULL(TG.IdRuta,@idRutaOriginal)
		WHERE (TG.CodGasto = CONVERT(VARCHAR,@IdOperacion)) AND (R.Estado = 2)
	END
END

----------------------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 24-03-2026
-- Description:	INSERTAR VIATICOS - RUTA
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Operaciones_TicketGasto_InsertarViaticosRuta]
@CodGasto VARCHAR(50),
@GastoOriginal DECIMAL(10,2),
@idRutaNueva INT,
@NuevoGasto DECIMAL(10,2),
@Usuario VARCHAR(20)
AS
DECLARE @Exito VARCHAR(MAX)
DECLARE @correlativo INT

SET @Exito = '0 = Exito.'
SET @correlativo = (SELECT MAX(idViaticoR) FROM ReportesApp_Operaciones_TicketGasto_CambioRuta)
SET @correlativo = ISNULL(@correlativo,0) + 1

BEGIN TRAN
BEGIN TRY
	DECLARE @EstadoLiquidacion INT = (SELECT EstadoLiquidacion FROM ReportesApp_Operaciones_TicketGasto_Registro WHERE CodGasto = @CodGasto)
	DECLARE @NroTicket INT = (SELECT NroTicket FROM ReportesApp_Operaciones_TicketGasto_Registro WHERE CodGasto = @CodGasto)
	DECLARE @idRutaOriginal INT = (SELECT idRuta FROM ReportesApp_Operaciones_TicketGasto_Registro WHERE CodGasto = @CodGasto)

	IF (@EstadoLiquidacion IN (0,2)) BEGIN
		INSERT INTO ReportesApp_Operaciones_TicketGasto_CambioRuta(idViaticoR,CodGasto,idRutaOriginal,GastoOriginal,idRutaNueva,NuevoGasto,Estado,UsuarioCrea,FechaCrea)
		VALUES(@correlativo,@CodGasto,@idRutaOriginal,@GastoOriginal,@idRutaNueva,@NuevoGasto,'PENDIENTE',@Usuario,GETDATE())

		UPDATE ReportesApp_Operaciones_TicketGasto_Registro
		SET TotalEntregado = TotalEntregado + @NuevoGasto, GastoDiferencialV = ISNULL(GastoDiferencialV,0) + @NuevoGasto, idRutaNueva = @idRutaNueva
		WHERE CodGasto = @CodGasto

		IF (@NroTicket != -1) BEGIN
			UPDATE ReportesApp_Operacion_Previaje_Registros
			SET Viaticos = Viaticos + @NuevoGasto
			WHERE NroTicket = @NroTicket
		END
		ELSE BEGIN
			UPDATE ReportesApp_Operaciones_TicketGasto_Registro
			SET idRuta = @idRutaNueva
			WHERE CodGasto = @CodGasto
		END
	END
	ELSE BEGIN
		SET @Exito = '-1 = Solo puede generar gastos adicionales a planillas que no estén liquidadas.'
		ROLLBACK
		GOTO Terminar
	END
END TRY

BEGIN CATCH
	SET @exito = RTRIM(LTRIM(STR(ERROR_NUMBER()))) + '=' + ERROR_MESSAGE()
	ROLLBACK
	GOTO Terminar
END CATCH

IF @@TRANCOUNT > 0 
	COMMIT;
    --ROLLBACK
    
TERMINAR:
IF LEFT(@Exito,1)='-' OR cast(left(@Exito,1) AS INT)<0
BEGIN
	DECLARE @storedProcedureName VARCHAR(100)
	SELECT @storedProcedureName = OBJECT_NAME(@@PROCID)
	SET @exito = @exito + CHAR(13)+CHAR(13)+'SP Name: '+@storedProcedureName
END
SELECT @exito exito

--------------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 24-03-2026
-- Description:	BUSCAR PLANILLA RUTA
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Operaciones_TicketGasto_BuscarPlanillaRutas]
@CodGasto INT
AS
BEGIN
	SET NOCOUNT ON;

    SELECT DISTINCT CR.idViaticoR, TG.CodGasto, LTRIM(RTRIM(C.Nombre)) AS 'CONDUCTOR', V.NumeroPlaca AS 'TRACTO', V2.NumeroPlaca AS 'SEMIRREMOLQUE',
	RT.Descripcion AS 'RUTA', LTRIM(RTRIM(CL.Busqueda)) AS 'CLIENTE', CONVERT(VARCHAR,ISNULL(TG.FechaViaje,P.FechaProgramacion),103) AS 'FECHA_VIAJE',
	TG.TotalEntregado AS 'GASTO_TOTAL', CR.NuevoGasto AS 'ADICIONAL', CONVERT(VARCHAR,CR.FechaCrea,103)+' '+CONVERT(VARCHAR,CR.FechaCrea,8) AS 'FECHA_EMISION',
	CASE WHEN EXISTS(SELECT * FROM AP_GastoAdelanto WHERE NumeroDocumentoInterno = CR.CodGasto AND MontoTotal = CR.NuevoGasto AND
	Descripcion LIKE '%ADICIONAL%' AND Estado = 'TR') THEN 'GENERADO' WHEN EXISTS(SELECT * FROM AP_GastoAdelanto WHERE NumeroDocumentoInterno = CR.CodGasto
	AND MontoTotal = CR.NuevoGasto AND Descripcion LIKE '%ADICIONAL%' AND Estado IN ('PA','AL')) THEN 'PAGADO' ELSE ' ' END AS 'CAJA_ADICIONAL',
	CASE WHEN EXISTS(SELECT * FROM AP_GastoAdelanto WHERE NumeroDocumentoInterno = TG.CodGasto AND Descripcion LIKE '%GASTOS DE%' AND Estado = 'TR') THEN 'GENERADO'
	WHEN EXISTS(SELECT * FROM AP_GastoAdelanto WHERE NumeroDocumentoInterno = TG.CodGasto AND Descripcion LIKE '%GASTOS DE%' AND Estado IN ('PA','AL')) THEN 'PAGADO'
	ELSE 'PENDIENTE' END AS 'CAJA'
    FROM ReportesApp_Operaciones_TicketGasto_Registro TG
	LEFT JOIN ReportesApp_Operacion_Previaje_Registros P ON P.NroTicket = TG.NroTicket
    LEFT JOIN OP_TR_Conductor C WITH(NOLOCK) ON C.IdConductor = TG.ViConductor
    LEFT JOIN OP_TR_Vehiculo V WITH(NOLOCK) ON V.IdVehiculo = ISNULL(TG.IdTracto,P.idTracto)
	LEFT JOIN OP_TR_Vehiculo V2 WITH(NOLOCK) ON V2.IdVehiculo = P.idSemirremolque
    LEFT JOIN OP_TR_RUTA RT WITH(NOLOCK) ON RT.IDRUTA = ISNULL(P.IdRuta,TG.IdRuta)
	LEFT JOIN PersonaMast CL WITH(NOLOCK) ON CL.Persona = P.IdCliente
    LEFT JOIN ReportesApp_Operaciones_TicketGasto_GastoXRutaCabecera GR WITH(NOLOCK) ON GR.idGastoxRutaC = TG.idGastoXRutaC
    LEFT JOIN ReportesApp_Operaciones_TicketGasto_GastoXRutaDetalle GD WITH(NOLOCK) ON GD.idGastoxRutaC = TG.idGastoXRutaC
    LEFT JOIN ReportesApp_Operaciones_TicketGasto_TipoGasto T WITH(NOLOCK) ON T.idTipoGasto = GD.idTipoGasto
	LEFT JOIN ReportesApp_Operaciones_TicketGasto_CambioRuta CR WITH(NOLOCK) ON CR.CodGasto = TG.CodGasto
    WHERE TG.CodGasto = @CodGasto
END

--------------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 25-03-2026
-- Description:	LISTAR HISTORIAL RUTAS
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_Operaciones_TicketGasto_ListarHistorialRutas]
@Ruta VARCHAR(250),
@FechaInicio VARCHAR(11),
@FechaFin VARCHAR(11),
@IdOperacion INT
AS
DECLARE @FINICIO DATETIME = @FechaInicio
DECLARE @FFIN DATETIME = @FechaFin + ' 23:59'

BEGIN
	SELECT CR.Estado AS 'ESTADO', CR.CodGasto AS 'PLANILLA', O.Descripcion AS 'OPERACION', VJ1.Descripcion AS 'RUTA_ORIGINAL',
	CR.GastoOriginal AS 'GASTO_ORIGINAL', VJ2.Descripcion AS 'RUTA_NUEVA', CR.NuevoGasto + CR.GastoOriginal AS 'NUEVO_GASTO', 
	CR.NuevoGasto AS 'GASTO_ADICIONAL', CR.UsuarioCrea, CR.FechaCrea
	FROM ReportesApp_Operaciones_TicketGasto_CambioRuta CR
	LEFT JOIN ReportesApp_Operaciones_TicketGasto_Registro TG ON TG.CodGasto = CR.CodGasto
	LEFT JOIN ReportesApp_Operacion_Previaje_Operaciones O ON O.IdOperacion = TG.IdOperacion
	LEFT JOIN OP_TR_Ruta VJ1 ON VJ1.IdRuta = ISNULL(CR.idRutaOriginal,-1)
	LEFT JOIN OP_TR_Ruta VJ2 ON VJ2.IdRuta = CR.idRutaNueva
	WHERE (@IdOperacion = 5 OR TG.IdOperacion = @IdOperacion) AND (CR.FechaCrea BETWEEN @FINICIO AND @FFIN) AND
	((VJ1.Descripcion IS NULL OR VJ1.Descripcion LIKE '%' + @Ruta + '%') OR (VJ2.Descripcion IS NULL OR VJ2.Descripcion LIKE '%' + @Ruta + '%')) 
END

--------------------------------------------------------------------------------


SELECT * FROM ReportesApp_Operacion_Previaje_Registros WHERE CodViaje = 426184

SELECT * FROM ReportesApp_Operaciones_TicketGasto_Registro ORDER BY FechaCreacion DESC

SELECT * FROM ReportesApp_Operaciones_TicketGasto_CambioRuta
