
-- CREAR TABLA ReportesApp_RRHH_Asistencias_NuevaAsistencia

-------------------------------------------------------------------------------------

USE [spring]
GO
/****** Object:  StoredProcedure [dbo].[ReportesApp_RRHH_Asistencias]    Script Date: 21/04/2026 10:48:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec ReportesApp_RRHH_Asistencias @FECHA_INI=N'21/11/2025 07:30:01',@FECHA_FIN=N'21/11/2025 09:35:00',@USUARIO='SESCOBEDO'
ALTER PROCEDURE [dbo].[ReportesApp_RRHH_Asistencias]
@FECHA_INI DATETIME,
@FECHA_FIN DATETIME,
@Sucursal VARCHAR(100),
@Area VARCHAR(100),
@Empleado VARCHAR(250)
AS
BEGIN
	IF ((SELECT TOP 1 COUNT(*) FROM [ZKAccess]..acc_monitor_log L INNER JOIN AS_CarnetIdentificacion C ON C.empleado=CAST(L.pin as int)
		LEFT JOIN as_accesosdiarios A ON CAST(A.empleado AS INT) =CAST(L.pin as int) AND A.Fecha=L.[time] WHERE A.Empleado IS NULL) > 0) BEGIN
		UPDATE i
		SET i.Name = RTRIM(P.NombreCompleto)
		FROM [ZKAccess]..USERINFO I
		INNER JOIN PersonaMast P ON RTRIM(I.Badgenumber) = P.persona 
		INNER JOIN AS_CarnetIdentificacion CI ON RTRIM(P.Persona) = CI.CodigoCarnet
		WHERE LEN(i.name) < 8 AND P.Estado = 'A'

		INSERT INTO AS_AccesosDiarios
		SELECT CAST(L.pin as int) CarnetID, L.[time] Fecha, 1 Secuencia, CAST(L.pin as int) Empleado, NULL TipoValidacion, NULL CarnetSupervisor,
		NULL EmpleadoSuperior, L.[time] Hora, 'IMPORTADO DEL RELOJ' Observacion, CONVERT(VARCHAR,L.ID) LugarRecoleccion, NULL UnidadReplicacion,
		YEAR(L.[time]) Anio, MONTH(L.[time]) Mes, DAY(L.[time]) Dia, UPPER(L.device_name) Lectora, 'SISTEMA' UltimoUsuario, getdate() UltimaFechaModif 
		FROM [ZKAccess]..acc_monitor_log L
		INNER JOIN AS_CarnetIdentificacion C ON C.empleado = CAST(L.pin as int)
		LEFT JOIN as_accesosdiarios A ON CAST(A.empleado AS INT) = CAST(L.pin as int) AND A.Fecha = L.[time]
		WHERE A.Empleado IS NULL  
	END
	ELSE BEGIN
		DECLARE @x_Asistencias TABLE(ID int, Nombre VARCHAR(150),Fecha Datetime, Sucursal VARCHAR(50), DNI Varchar(13), Cargo Varchar(150), Area varchar(150))
	
		;WITH Base AS
		(SELECT P.Persona, RTRIM(P.NombreCompleto) COLLATE Modern_Spanish_CI_AS AS Nombre, AD.Fecha,
		LTRIM(RTRIM(UPPER(AD.Lectora))) COLLATE Modern_Spanish_CI_AS AS Sucursal, LTRIM(RTRIM(P.Documento)) COLLATE Modern_Spanish_CI_AS AS Documento,
		LTRIM(RTRIM(puesto.Descripcion)) COLLATE Modern_Spanish_CI_AS AS Puesto, dep.Description COLLATE Modern_Spanish_CI_AS AS Area
		FROM AS_Accesosdiarios AD
		INNER JOIN AS_CarnetIdentificacion CI ON AD.CarnetID = RTRIM(CI.CodigoCarnet)
		INNER JOIN EmpleadoMast E ON RTRIM(CI.CodigoCarnet) = E.Empleado
		INNER JOIN PersonaMast P ON E.Empleado = P.Persona
		LEFT JOIN hr_puestoempresa puesto ON puesto.CodigoPuesto = E.CodigoCargo
		LEFT JOIN departmentmst dep ON dep.Department = E.DeptoOrganizacion
		WHERE CAST(AD.Fecha AS DATETIME) BETWEEN @FECHA_INI AND @FECHA_FIN AND CI.NoGeneraAsistencia = 'N' AND E.Estado = 'A' AND P.Estado = 'A'
		AND (RTRIM(P.NombreCompleto) IS NULL OR RTRIM(P.NombreCompleto) LIKE '%' + @Empleado + '%')
		UNION ALL
		SELECT P.Persona, RTRIM(P.NombreCompleto) COLLATE Modern_Spanish_CI_AS AS Nombre, AD.[time] AS Fecha,
		UPPER(AD.device_name) COLLATE Modern_Spanish_CI_AS AS Sucursal, LTRIM(RTRIM(P.Documento)) COLLATE Modern_Spanish_CI_AS AS Documento,
		LTRIM(RTRIM(puesto.Descripcion)) COLLATE Modern_Spanish_CI_AS AS Puesto, dep.Description COLLATE Modern_Spanish_CI_AS AS Area
		FROM [ZKAccess]..acc_monitor_log AD
		INNER JOIN [ZKAccess]..USERINFO CI ON CI.Badgenumber = AD.pin
		LEFT JOIN EmpleadoMast E ON CI.Badgenumber = E.Empleado
		LEFT JOIN PersonaMast P ON E.Empleado = P.Persona
		LEFT JOIN hr_puestoempresa puesto ON puesto.CodigoPuesto = E.CodigoCargo
		LEFT JOIN departmentmst dep ON dep.Department = E.DeptoOrganizacion
		WHERE CAST(AD.[time] AS DATETIME) BETWEEN @FECHA_INI AND @FECHA_FIN AND E.Estado = 'A' AND P.Estado = 'A' AND
		(RTRIM(P.NombreCompleto) IS NULL OR RTRIM(P.NombreCompleto) LIKE '%' + @Empleado + '%')
		UNION ALL
		SELECT NA.Persona, RTRIM(P.NombreCompleto) COLLATE Modern_Spanish_CI_AS AS Nombre, NA.FechaIngreso,
		NA.Sucursal COLLATE Modern_Spanish_CI_AS AS Sucursal, LTRIM(RTRIM(P.Documento)) COLLATE Modern_Spanish_CI_AS AS Documento,
		LTRIM(RTRIM(puesto.Descripcion)) COLLATE Modern_Spanish_CI_AS AS Puesto, dep.Description COLLATE Modern_Spanish_CI_AS AS Area
		FROM ReportesApp_RRHH_Asistencias_NuevaAsistencia NA
		INNER JOIN EmpleadoMast E ON RTRIM(NA.Persona) = E.Empleado
		INNER JOIN PersonaMast P ON E.Empleado = P.Persona
		LEFT JOIN hr_puestoempresa puesto ON puesto.CodigoPuesto = E.CodigoCargo
		LEFT JOIN departmentmst dep ON dep.Department = E.DeptoOrganizacion
		WHERE CAST(NA.FechaIngreso AS DATETIME) BETWEEN @FECHA_INI AND @FECHA_FIN AND E.Estado = 'A' AND P.Estado = 'A'
		AND (RTRIM(P.NombreCompleto) IS NULL OR RTRIM(P.NombreCompleto) LIKE '%' + @Empleado + '%')),

		Marcado AS
		(SELECT *, LAG(Fecha) OVER (PARTITION BY Persona ORDER BY Fecha) AS FechaAnterior
		FROM Base),

		Agrupado AS
		(SELECT *, CASE WHEN FechaAnterior IS NULL THEN 1 WHEN DATEDIFF(MINUTE, FechaAnterior, Fecha) > 10 THEN 1 ELSE 0 END AS NuevoGrupo
		FROM Marcado),

		GruposFinales AS
		(SELECT *, SUM(NuevoGrupo) OVER (PARTITION BY Persona ORDER BY Fecha ROWS UNBOUNDED PRECEDING) AS Grupo
		FROM Agrupado),

		PrimerIngreso AS
		(SELECT *, ROW_NUMBER() OVER (PARTITION BY Persona, CAST(Fecha AS DATE) ORDER BY Fecha ASC) AS rn
		FROM GruposFinales)

		INSERT INTO @x_Asistencias
		SELECT DISTINCT Persona, Nombre, MIN(Fecha) AS Fecha, MAX(Sucursal) AS Sucursal, MAX(Documento) AS Documento,
		MAX(Puesto) AS Puesto, MAX(Area) AS Area
		FROM PrimerIngreso
		WHERE rn = 1
		GROUP BY Persona, Nombre, Grupo
		ORDER BY Nombre, Fecha;
		
		SELECT DISTINCT X.ID AS 'Codigo', X.Area, X.Nombre, LTRIM(RTRIM(X.Sucursal)) AS 'Sucursal', X.Cargo AS 'Puesto', 
		CONVERT(VARCHAR(10),X.Fecha,103) AS 'Fecha', CONVERT(CHAR(8), X.Fecha, 108) as 'Hora', NA.idAsistenciaN
		FROM @x_Asistencias X
		LEFT JOIN ReportesApp_RRHH_Asistencias_NuevaAsistencia NA ON NA.Persona = X.ID AND CONVERT(DATE,NA.FechaIngreso) = CONVERT(DATE,X.Fecha)
		WHERE (@Sucursal = 'TODAS' OR LTRIM(RTRIM(X.Sucursal)) = @Sucursal) AND (@Area = 'TODAS' OR X.Area = @Area)
		ORDER BY Fecha ASC, Hora ASC
	END
END

-------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[ReportesApp_RRHH_Faltas]
@Opcion INT,@FECHA_INI VARCHAR(15),@FECHA_FIN VARCHAR(15),
@Sucursal VARCHAR(100),
@Area VARCHAR(100),
@Empleado VARCHAR(250)
AS
BEGIN
	IF (@Opcion = 1) BEGIN		-- LISTAR FALTAS
		;WITH Fechas AS
		(SELECT CONVERT(DATE,@FECHA_INI) AS Fecha
        UNION ALL
        SELECT DATEADD(DAY, 1, Fecha)
        FROM Fechas
        WHERE CONVERT(DATE,Fecha) < CONVERT(DATE,@FECHA_FIN)),
		
		Empleados AS
        (SELECT P.Persona, dep.[Description] AS Area, P.NombreCompleto, LTRIM(RTRIM(puesto.Descripcion)) AS Puesto, CI.NoGeneraAsistencia,
        E.Estado AS EstadoEmpleado, P.Estado AS EstadoPersona
		FROM AS_CarnetIdentificacion CI
        INNER JOIN EmpleadoMast E ON CI.CodigoCarnet = E.Empleado
        INNER JOIN PersonaMast P ON E.Empleado = P.Persona
        LEFT JOIN hr_puestoempresa puesto ON puesto.CodigoPuesto = E.CodigoCargo
        LEFT JOIN departmentmst dep ON dep.Department = E.DeptoOrganizacion
        WHERE CI.NoGeneraAsistencia = 'N' AND E.Estado = 'A' AND P.Estado = 'A' AND (@Area = 'TODAS' OR dep.[Description] = @Area)
        AND (@Empleado = '' OR P.NombreCompleto LIKE '%' + @Empleado + '%'))

		SELECT E.Persona, F.Fecha, E.Area, E.NombreCompleto, E.Puesto, MT.Motivo, 0 AS [Nro Dias], ' ' AS [Fecha Retorno]
        FROM Fechas F
        CROSS JOIN Empleados E
        LEFT JOIN ReportesApp_RRHH_Asistencias_NuevaAsistencia NA ON NA.Persona = E.Persona AND CONVERT(DATE, NA.FechaIngreso) = F.Fecha
        LEFT JOIN ReportesApp_RRHH_Asistencias_MotivoTardanza MT ON MT.idPersona = E.Persona AND CONVERT(DATE, MT.FechaIngreso) = F.Fecha
        WHERE NA.idAsistenciaN IS NULL AND MT.Motivo IS NULL AND NOT EXISTS(SELECT 1 FROM AS_Accesosdiarios AD
		INNER JOIN AS_CarnetIdentificacion CI ON AD.CarnetID = CI.CodigoCarnet
        INNER JOIN EmpleadoMast EM ON CI.CodigoCarnet = EM.Empleado
		INNER JOIN PersonaMast PM ON EM.Empleado = PM.Persona
        WHERE PM.Persona = E.Persona AND CONVERT(DATE, AD.Fecha) = F.Fecha AND CI.NoGeneraAsistencia = 'N' AND EM.Estado = 'A'
        AND PM.Estado = 'A') AND NOT EXISTS (SELECT 1 FROM PR_VacacionUtilizacion V WHERE V.Empleado = E.Persona AND
		F.Fecha BETWEEN CONVERT(DATE, V.FechaInicio) AND CONVERT(DATE, V.FechaFin))
        AND NOT EXISTS (SELECT 1 FROM HR_Licencias L WHERE L.Estado = 'R' AND L.Empleado = E.Persona
        AND F.Fecha BETWEEN CONVERT(DATE, L.FechaInicio) AND CONVERT(DATE, L.FechaFinal))
        ORDER BY F.Fecha, E.Area, E.NombreCompleto
        OPTION (MAXRECURSION 0)
	END

	IF (@Opcion = 2) BEGIN		-- LISTAR DETALLES DE FALTAS
		;WITH Fechas AS
		(SELECT CONVERT(DATE, @FECHA_INI) AS Fecha
		UNION ALL
		SELECT DATEADD(DAY, 1, Fecha)
		FROM Fechas
		WHERE CONVERT(DATE,Fecha) < CONVERT(DATE, @FECHA_FIN)),

		Empleados AS
		(SELECT P.Persona, dep.[Description] AS Area, P.NombreCompleto, LTRIM(RTRIM(puesto.Descripcion)) AS Puesto
		FROM AS_CarnetIdentificacion CI
		INNER JOIN EmpleadoMast E ON CI.CodigoCarnet = E.Empleado
		INNER JOIN PersonaMast P ON E.Empleado = P.Persona
		LEFT JOIN hr_puestoempresa puesto ON puesto.CodigoPuesto = E.CodigoCargo
		LEFT JOIN departmentmst dep ON dep.Department = E.DeptoOrganizacion
		WHERE CI.NoGeneraAsistencia = 'N' AND E.Estado = 'A' AND P.Estado = 'A' AND (@Area = 'TODAS' OR dep.[Description] = @Area)),

		Base AS
		(SELECT F.Fecha, E.Persona, E.Area, E.NombreCompleto, E.Puesto, CASE WHEN V.Empleado IS NOT NULL THEN 'VACACIONES'
		WHEN L.Empleado IS NOT NULL THEN MA.DescripcionLocal ELSE MT.Motivo END AS Motivo, CASE WHEN V.Empleado IS NOT NULL 
        THEN DATEDIFF(DAY, V.FechaInicio, V.FechaFin) + 1 WHEN L.Empleado IS NOT NULL THEN DATEDIFF(DAY, L.FechaInicio, L.FechaFinal) + 1
		ELSE 0 END AS [Nro Dias], CASE WHEN V.Empleado IS NOT NULL THEN CONVERT(VARCHAR, DATEADD(DAY, 1, V.FechaFin), 103)
		WHEN L.Empleado IS NOT NULL THEN CONVERT(VARCHAR, DATEADD(DAY, 1, L.FechaFinal), 103) ELSE ' ' END AS [Fecha Retorno]
		FROM Fechas F
		CROSS JOIN Empleados E
		LEFT JOIN ReportesApp_RRHH_Asistencias_MotivoTardanza MT ON MT.idPersona = E.Persona AND CONVERT(DATE, MT.FechaIngreso) = F.Fecha
		LEFT JOIN ReportesApp_RRHH_Asistencias_NuevaAsistencia NA ON NA.Persona = E.Persona AND CONVERT(DATE, NA.FechaIngreso) = F.Fecha
		LEFT JOIN PR_VacacionUtilizacion V ON V.Empleado = E.Persona AND F.Fecha BETWEEN CONVERT(DATE, V.FechaInicio) AND CONVERT(DATE, V.FechaFin)
		LEFT JOIN HR_Licencias L ON L.Estado = 'R' AND L.Empleado = E.Persona AND F.Fecha BETWEEN CONVERT(DATE, L.FechaInicio) AND CONVERT(DATE, L.FechaFinal)
		LEFT JOIN MA_MiscelaneosDetalle MA ON MA.CodigoElemento = L.TipoLicencia AND MA.CodigoTabla = 'LICENCIA'
		WHERE NA.idAsistenciaN IS NULL
		AND NOT EXISTS (SELECT 1 FROM AS_Accesosdiarios AD INNER JOIN AS_CarnetIdentificacion CI ON AD.CarnetID = CI.CodigoCarnet
        INNER JOIN EmpleadoMast EM ON CI.CodigoCarnet = EM.Empleado
        INNER JOIN PersonaMast PM ON EM.Empleado = PM.Persona
        WHERE PM.Persona = E.Persona AND CONVERT(DATE, AD.Fecha) = F.Fecha AND CI.NoGeneraAsistencia = 'N' AND EM.Estado = 'A'
		AND PM.Estado = 'A'))

		SELECT Persona, Fecha, Area, NombreCompleto, Puesto, Motivo, [Nro Dias], [Fecha Retorno]
		FROM Base
		WHERE Motivo IS NOT NULL
		ORDER BY Fecha, Area, NombreCompleto OPTION (MAXRECURSION 0);
	END
END

-------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		SEM CHAVEZ
-- Create date: 26-06-2024
-- Description:	LISTAR REGISTRO DE TARDANZAS
-- =============================================
/*
exec ReportesApp_RRHH_Asistencias_ListarTardanzas @Opcion=1,@FechaInicio=N'01-03-2025',@FechaFin=N'14-03-2025',@HoraInicio=N'08:05:59',@HoraFin=N'10:00:00',@Empleado=N'',@Turno=N'M'
*/
ALTER PROCEDURE [dbo].[ReportesApp_RRHH_Asistencias_ListarTardanzas]
@Opcion INT,
@FECHA_INI DATETIME,
@FECHA_FIN DATETIME,
@Sucursal VARCHAR(100),
@Area VARCHAR(100),
@Empleado VARCHAR(250)
AS
BEGIN
	DECLARE @x_Asistencias TABLE(ID int, Nombre VARCHAR(150),Fecha Datetime, Sucursal VARCHAR(50), DNI Varchar(13), Cargo Varchar(150), Area varchar(150))

	IF (@Opcion = 1) BEGIN		-- LISTAR CANTIDAD DE TARDANZAS
		;WITH Base AS
		(SELECT P.Persona, RTRIM(P.NombreCompleto) COLLATE Modern_Spanish_CI_AS AS Nombre, AD.Fecha,
		LTRIM(RTRIM(UPPER(AD.Lectora))) COLLATE Modern_Spanish_CI_AS AS Sucursal, LTRIM(RTRIM(P.Documento)) COLLATE Modern_Spanish_CI_AS AS Documento,
		LTRIM(RTRIM(puesto.Descripcion)) COLLATE Modern_Spanish_CI_AS AS Puesto, dep.Description COLLATE Modern_Spanish_CI_AS AS Area
		FROM AS_Accesosdiarios AD
		INNER JOIN AS_CarnetIdentificacion CI ON AD.CarnetID = RTRIM(CI.CodigoCarnet)
		INNER JOIN EmpleadoMast E ON RTRIM(CI.CodigoCarnet) = E.Empleado
		INNER JOIN PersonaMast P ON E.Empleado = P.Persona
		LEFT JOIN hr_puestoempresa puesto ON puesto.CodigoPuesto = E.CodigoCargo
		LEFT JOIN departmentmst dep ON dep.Department = E.DeptoOrganizacion
		WHERE CAST(AD.Fecha AS DATETIME) BETWEEN @FECHA_INI AND @FECHA_FIN AND CI.NoGeneraAsistencia = 'N' AND E.Estado = 'A' AND P.Estado = 'A'
		AND (RTRIM(P.NombreCompleto) IS NULL OR RTRIM(P.NombreCompleto) LIKE '%' + @Empleado + '%')
		UNION ALL
		SELECT P.Persona, RTRIM(P.NombreCompleto) COLLATE Modern_Spanish_CI_AS AS Nombre, AD.[time] AS Fecha,
		UPPER(AD.device_name) COLLATE Modern_Spanish_CI_AS AS Sucursal, LTRIM(RTRIM(P.Documento)) COLLATE Modern_Spanish_CI_AS AS Documento,
		LTRIM(RTRIM(puesto.Descripcion)) COLLATE Modern_Spanish_CI_AS AS Puesto, dep.Description COLLATE Modern_Spanish_CI_AS AS Area
		FROM [ZKAccess]..acc_monitor_log AD
		INNER JOIN [ZKAccess]..USERINFO CI ON CI.Badgenumber = AD.pin
		LEFT JOIN EmpleadoMast E ON CI.Badgenumber = E.Empleado
		LEFT JOIN PersonaMast P ON E.Empleado = P.Persona
		LEFT JOIN hr_puestoempresa puesto ON puesto.CodigoPuesto = E.CodigoCargo
		LEFT JOIN departmentmst dep ON dep.Department = E.DeptoOrganizacion
		WHERE CAST(AD.[time] AS DATETIME) BETWEEN @FECHA_INI AND @FECHA_FIN AND E.Estado = 'A' AND P.Estado = 'A' AND
		(RTRIM(P.NombreCompleto) IS NULL OR RTRIM(P.NombreCompleto) LIKE '%' + @Empleado + '%')
		UNION ALL
		SELECT NA.Persona, RTRIM(P.NombreCompleto) COLLATE Modern_Spanish_CI_AS AS Nombre, NA.FechaIngreso,
		NA.Sucursal COLLATE Modern_Spanish_CI_AS AS Sucursal, LTRIM(RTRIM(P.Documento)) COLLATE Modern_Spanish_CI_AS AS Documento,
		LTRIM(RTRIM(puesto.Descripcion)) COLLATE Modern_Spanish_CI_AS AS Puesto, dep.Description COLLATE Modern_Spanish_CI_AS AS Area
		FROM ReportesApp_RRHH_Asistencias_NuevaAsistencia NA
		INNER JOIN EmpleadoMast E ON RTRIM(NA.Persona) = E.Empleado
		INNER JOIN PersonaMast P ON E.Empleado = P.Persona
		LEFT JOIN hr_puestoempresa puesto ON puesto.CodigoPuesto = E.CodigoCargo
		LEFT JOIN departmentmst dep ON dep.Department = E.DeptoOrganizacion
		WHERE CAST(NA.FechaIngreso AS DATETIME) BETWEEN @FECHA_INI AND @FECHA_FIN AND E.Estado = 'A' AND P.Estado = 'A'
		AND (RTRIM(P.NombreCompleto) IS NULL OR RTRIM(P.NombreCompleto) LIKE '%' + @Empleado + '%')),

		Marcado AS
		(SELECT *, LAG(Fecha) OVER (PARTITION BY Persona ORDER BY Fecha) AS FechaAnterior
		FROM Base),

		Agrupado AS
		(SELECT *, CASE WHEN FechaAnterior IS NULL THEN 1 WHEN DATEDIFF(MINUTE, FechaAnterior, Fecha) > 10 THEN 1 ELSE 0 END AS NuevoGrupo
		FROM Marcado),

		GruposFinales AS
		(SELECT *, SUM(NuevoGrupo) OVER (PARTITION BY Persona ORDER BY Fecha ROWS UNBOUNDED PRECEDING) AS Grupo
		FROM Agrupado),

		PrimerIngreso AS
		(SELECT *, ROW_NUMBER() OVER (PARTITION BY Persona, CAST(Fecha AS DATE) ORDER BY Fecha ASC) AS rn
		FROM GruposFinales)

		INSERT INTO @x_Asistencias
		SELECT DISTINCT Persona, Nombre, MIN(Fecha) AS Fecha, MAX(Sucursal) AS Sucursal, MAX(Documento) AS Documento,
		MAX(Puesto) AS Puesto, MAX(Area) AS Area
		FROM PrimerIngreso
		WHERE rn = 1
		GROUP BY Persona, Nombre, Grupo
		ORDER BY Nombre, Fecha

		SELECT DISTINCT A.ID Codigo, A.Area, A.Nombre, LTRIM(RTRIM(A.Sucursal)) AS Sucursal, A.Cargo AS 'Puesto', A.Fecha AS 'Tardanzas',
		MT.Motivo, NA.idAsistenciaN
		FROM @x_Asistencias A
		LEFT JOIN ReportesApp_RRHH_Asistencias_MotivoTardanza MT ON MT.idPersona = A.ID AND CONVERT(DATETIME,A.Fecha) = MT.FechaIngreso
		LEFT JOIN ReportesApp_RRHH_Asistencias_NuevaAsistencia NA ON NA.Persona = A.ID AND CONVERT(DATE,NA.FechaIngreso) = CONVERT(DATE,A.Fecha)
		WHERE (@Sucursal = 'TODAS' OR LTRIM(RTRIM(A.Sucursal)) = @Sucursal) AND (@Area = 'TODAS' OR A.Area = @Area)
		AND CAST(A.Fecha AS DATE) BETWEEN CAST(@FECHA_INI AS DATE) AND CAST(@FECHA_FIN AS DATE)
		AND CAST(A.Fecha AS TIME) BETWEEN CAST(@FECHA_INI AS TIME) AND CAST(@FECHA_FIN AS TIME) AND (MT.Motivo IS NULL)
		ORDER BY A.Fecha ASC
	END

	IF (@Opcion = 2) BEGIN		-- LISTAR DETALLES DE TARDANZAS
		;WITH Base AS
		(SELECT P.Persona, RTRIM(P.NombreCompleto) COLLATE Modern_Spanish_CI_AS AS Nombre, AD.Fecha,
		LTRIM(RTRIM(UPPER(AD.Lectora))) COLLATE Modern_Spanish_CI_AS AS Sucursal, LTRIM(RTRIM(P.Documento)) COLLATE Modern_Spanish_CI_AS AS Documento,
		LTRIM(RTRIM(puesto.Descripcion)) COLLATE Modern_Spanish_CI_AS AS Puesto, dep.Description COLLATE Modern_Spanish_CI_AS AS Area
		FROM AS_Accesosdiarios AD
		INNER JOIN AS_CarnetIdentificacion CI ON AD.CarnetID = RTRIM(CI.CodigoCarnet)
		INNER JOIN EmpleadoMast E ON RTRIM(CI.CodigoCarnet) = E.Empleado
		INNER JOIN PersonaMast P ON E.Empleado = P.Persona
		LEFT JOIN hr_puestoempresa puesto ON puesto.CodigoPuesto = E.CodigoCargo
		LEFT JOIN departmentmst dep ON dep.Department = E.DeptoOrganizacion
		WHERE CAST(AD.Fecha AS DATETIME) BETWEEN @FECHA_INI AND @FECHA_FIN AND CI.NoGeneraAsistencia = 'N' AND E.Estado = 'A' AND P.Estado = 'A'
		AND (RTRIM(P.NombreCompleto) IS NULL OR RTRIM(P.NombreCompleto) LIKE '%' + @Empleado + '%')
		UNION ALL
		SELECT P.Persona, RTRIM(P.NombreCompleto) COLLATE Modern_Spanish_CI_AS AS Nombre, AD.[time] AS Fecha,
		UPPER(AD.device_name) COLLATE Modern_Spanish_CI_AS AS Sucursal, LTRIM(RTRIM(P.Documento)) COLLATE Modern_Spanish_CI_AS AS Documento,
		LTRIM(RTRIM(puesto.Descripcion)) COLLATE Modern_Spanish_CI_AS AS Puesto, dep.Description COLLATE Modern_Spanish_CI_AS AS Area
		FROM [ZKAccess]..acc_monitor_log AD
		INNER JOIN [ZKAccess]..USERINFO CI ON CI.Badgenumber = AD.pin
		LEFT JOIN EmpleadoMast E ON CI.Badgenumber = E.Empleado
		LEFT JOIN PersonaMast P ON E.Empleado = P.Persona
		LEFT JOIN hr_puestoempresa puesto ON puesto.CodigoPuesto = E.CodigoCargo
		LEFT JOIN departmentmst dep ON dep.Department = E.DeptoOrganizacion
		WHERE CAST(AD.[time] AS DATETIME) BETWEEN @FECHA_INI AND @FECHA_FIN AND E.Estado = 'A' AND P.Estado = 'A' AND
		(RTRIM(P.NombreCompleto) IS NULL OR RTRIM(P.NombreCompleto) LIKE '%' + @Empleado + '%')
		UNION ALL
		SELECT NA.Persona, RTRIM(P.NombreCompleto) COLLATE Modern_Spanish_CI_AS AS Nombre, NA.FechaIngreso,
		NA.Sucursal COLLATE Modern_Spanish_CI_AS AS Sucursal, LTRIM(RTRIM(P.Documento)) COLLATE Modern_Spanish_CI_AS AS Documento,
		LTRIM(RTRIM(puesto.Descripcion)) COLLATE Modern_Spanish_CI_AS AS Puesto, dep.Description COLLATE Modern_Spanish_CI_AS AS Area
		FROM ReportesApp_RRHH_Asistencias_NuevaAsistencia NA
		INNER JOIN EmpleadoMast E ON RTRIM(NA.Persona) = E.Empleado
		INNER JOIN PersonaMast P ON E.Empleado = P.Persona
		LEFT JOIN hr_puestoempresa puesto ON puesto.CodigoPuesto = E.CodigoCargo
		LEFT JOIN departmentmst dep ON dep.Department = E.DeptoOrganizacion
		WHERE CAST(NA.FechaIngreso AS DATETIME) BETWEEN @FECHA_INI AND @FECHA_FIN AND E.Estado = 'A' AND P.Estado = 'A'
		AND (RTRIM(P.NombreCompleto) IS NULL OR RTRIM(P.NombreCompleto) LIKE '%' + @Empleado + '%')),

		Marcado AS
		(SELECT *, LAG(Fecha) OVER (PARTITION BY Persona ORDER BY Fecha) AS FechaAnterior
		FROM Base),

		Agrupado AS
		(SELECT *, CASE WHEN FechaAnterior IS NULL THEN 1 WHEN DATEDIFF(MINUTE, FechaAnterior, Fecha) > 10 THEN 1 ELSE 0 END AS NuevoGrupo
		FROM Marcado),

		GruposFinales AS
		(SELECT *, SUM(NuevoGrupo) OVER (PARTITION BY Persona ORDER BY Fecha ROWS UNBOUNDED PRECEDING) AS Grupo
		FROM Agrupado),

		PrimerIngreso AS
		(SELECT *, ROW_NUMBER() OVER (PARTITION BY Persona, CAST(Fecha AS DATE) ORDER BY Fecha ASC) AS rn
		FROM GruposFinales)

		INSERT INTO @x_Asistencias
		SELECT DISTINCT Persona, Nombre, MIN(Fecha) AS Fecha, MAX(Sucursal) AS Sucursal, MAX(Documento) AS Documento,
		MAX(Puesto) AS Puesto, MAX(Area) AS Area
		FROM PrimerIngreso
		WHERE rn = 1
		GROUP BY Persona, Nombre, Grupo
		ORDER BY Nombre, Fecha

		SELECT DISTINCT A.ID Codigo, A.Area, A.Nombre, LTRIM(RTRIM(A.Sucursal)) Sucursal, A.Cargo AS 'Puesto', A.Fecha AS 'Tardanzas', MT.Motivo
		FROM @x_Asistencias A
		LEFT JOIN ReportesApp_RRHH_Asistencias_MotivoTardanza MT ON MT.idPersona = A.ID AND CONVERT(DATETIME,A.Fecha) = MT.FechaIngreso
		LEFT JOIN ReportesApp_RRHH_Asistencias_NuevaAsistencia NA ON NA.Persona = A.ID AND CONVERT(DATE,NA.FechaIngreso) = CONVERT(DATE,A.Fecha)
		WHERE (@Sucursal = 'TODAS' OR LTRIM(RTRIM(A.Sucursal)) = @Sucursal) AND (@Area = 'TODAS' OR A.Area = @Area)
		AND CAST(A.Fecha AS DATE) BETWEEN CAST(@FECHA_INI AS DATE) AND CAST(@FECHA_FIN AS DATE)
		AND CAST(A.Fecha AS TIME) BETWEEN CAST(@FECHA_INI AS TIME) AND CAST(@FECHA_FIN AS TIME) AND (MT.Motivo IS NOT NULL)
		ORDER BY A.Fecha ASC
	END
END

-------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		GERARDO REYES
-- Create date: 24-04-2026
-- Description:	CREAR Y ELIMINAR NUEVA ASISTENCIA
-- =============================================
ALTER PROCEDURE [dbo].[ReportesApp_RRHH_Asistencias_CrearEliminarAsistencia]
@Opcion INT,
@idAsistenciaN INT,
@Persona INT,
@Sucursal VARCHAR(100),
@FechaIngreso DATETIME,
@Usuario VARCHAR(20)
AS
DECLARE @Exito VARCHAR(MAX)
DECLARE @correlativo INT

BEGIN TRAN
BEGIN TRY
	IF (@Opcion = 1) BEGIN		-- CREAR ASISTENCIA
		IF (EXISTS(SELECT * FROM ReportesApp_RRHH_Asistencias_NuevaAsistencia WHERE Persona = @Persona AND CONVERT(DATE,FechaIngreso) = CONVERT(DATE,@FechaIngreso))) BEGIN
			SET @Exito = '-1 = Este empleado ya tiene una asistencia registrada en esta fecha.'
			ROLLBACK
			GOTO Terminar
		END

		SET @correlativo = (SELECT MAX(idAsistenciaN) FROM ReportesApp_RRHH_Asistencias_NuevaAsistencia)
		SET @correlativo = ISNULL(@correlativo,0) + 1

		INSERT INTO ReportesApp_RRHH_Asistencias_NuevaAsistencia(idAsistenciaN,Persona,Sucursal,FechaIngreso,UsuarioCrea,FechaCrea)
		VALUES(@correlativo,@Persona,@Sucursal,@FechaIngreso,@Usuario,GETDATE())

		SET @Exito = '0 = Asistencia Registrada Correctamente.'
	END

	IF (@Opcion = 2) BEGIN		-- ELIMINAR MOTIVO
		DELETE FROM ReportesApp_RRHH_Asistencias_NuevaAsistencia
		WHERE Persona = @Persona AND CONVERT(DATE,FechaIngreso) = CONVERT(DATE,@FechaIngreso)

		SET @Exito = '0 = Asistencia Eliminada Correctamente.'
	END
END TRY

BEGIN CATCH
	SET @exito = RTRIM(LTRIM(STR(ERROR_NUMBER()))) + '=' + ERROR_MESSAGE()
	ROLLBACK
	GOTO Terminar
END CATCH

IF @@TRANCOUNT > 0 
	COMMIT;
    --ROLLBACK
    
TERMINAR:
IF LEFT(@Exito,1)='-' OR cast(left(@Exito,1) AS INT)<0
BEGIN
	DECLARE @storedProcedureName VARCHAR(100)
	SELECT @storedProcedureName = OBJECT_NAME(@@PROCID)
	SET @exito = @exito + CHAR(13)+CHAR(13)+'SP Name: '+@storedProcedureName
END
SELECT @exito exito


/*
SELECT * FROM op_tr_viaje WHERE Codigo = '429538'

select * from OP_GE_OTDETALLE WHERE IdViaje = (SELECT IdViaje FROM op_tr_viaje WHERE Codigo = '429538')

select * from op_tr_VIAJEGUIAS WHERE IdViaje = (SELECT IdViaje FROM op_tr_viaje WHERE Codigo = '429538')

UPDATE op_tr_VIAJEGUIAS
SET IdOT = 46596, LineaOT = 33
WHERE IdViaje = (SELECT IdViaje FROM op_tr_viaje WHERE Codigo = '429538') and IdOT = 24492
*/


SELECT * FROM ReportesApp_Operacion_Previaje_Registros WHERE Idtracto = 6519

SELECT * FROM OP_TR_VEHICULO WHERE NumeroPlaca = 'TFM-936'

